[2021-09-16 13:59] miaucl commented on #1397
Haha, your welcome. That's what I thought as I saw that the definition of the api key data in the kickstart and the api differ and short api keys are not allowed via the api or the front end.

[2021-09-16 14:49] robotdan opened #1398 "rendering passwordValidationRules on register page in theme preview may not work"
## rendering passwordValidationRules on register page in theme preview may not work

### Description
When using the theme preview, an error may occur when rendering the `passwordValidationRules`

### Affects versions
Unknown

### Expected behavior
Render correctly.

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community guidelines](https://fusionauth.i

[2021-09-16 18:03] robotdan opened #1399 "AJAX search widget has an empty result if the user does not have an email address"
## AJAX search widget has an empty result if the user does not have an email address

### Description
If you search for a user w/out an email address in one of the several places we use a search widget such as Login Records, Audit Logs, etc - a result will be shown in the drop down but it will be empty.

### Affects versions
Unknown

### Steps to reproduce
1. Create a user w/out a name or email ad

[2021-09-16 18:50] robotdan opened #1400 "Using CAPTCHA through self service registration does not trust device and the user will be prompted a second time"
## Using CAPTCHA through self service registration does not trust device and the user will be prompted a second time

### Description
Currently only an authentication will mark the device as trusted. But there are other routes that should mark the browser as trusted.

Anywhere were a CAPCHA is shown, we should review to ensure we do not continually show CAPTCHA.

### Affects versions
1.30.0

### S

[2021-09-20 10:09] soullivaneuh commented on #1242
It may be fun if the template override is not too overkill. If we want to remove that joke, we have to copy the full template. :-/

The impact is however limited as this default template have to be rewritten in any case.

Also, the referenced link is not existing anymore.

[2021-09-20 13:28] soullivaneuh commented on #492
Note: We have the same issue on the new `oauth2/two-factor-methods.ftl`. Here again the fix is pretty the same thing:

[code]

I have to insist that this request is important to avoid a complete copy of some templates just two modify two line when the helpers file can centralize nearly all the other template for my case.

For that template, here is the complete result:

[code]

As you can see, thi

[2021-09-20 14:31] soullivaneuh commented on #825
The following key is missing on `v1.28.1`: https://github.com/FusionAuth/fusionauth-localization/blob/4b15d67b2eda6202cb44b972a737e88472ebeffb/theme/messages.properties#L93

[2021-09-20 14:50] soullivaneuh commented on #825
Another three required translations on `v1.29.0`:

[code]

[2021-09-20 14:50] mooreds opened #1401 "Implement GNAP"
## Implement GNAP

### Problem

I want to use GNAP.

### Solution

Implement the GNAP proposed standard (as outlined in docs here: https://datatracker.ietf.org/wg/gnap/documents/ )

### Alternatives/workarounds

Use a different provider that implements these.

### Additional context

Note that the GNAP standard is still evolving and has not been solidified.

### Community guidelines
All issues fil

[2021-09-20 17:06] mooreds commented on #261
This should be documented under https://github.com/FusionAuth/fusionauth-site/pull/966

[2021-09-20 17:07] mooreds commented on #420
Closing this, since it is better suited to the forum.

[2021-09-20 17:07] #420 closed

[2021-09-20 17:26] mooreds commented on #459
Should be fixed by https://github.com/FusionAuth/fusionauth-site/pull/969 when that is reviewed and merged.

[2021-09-20 17:29] mooreds commented on #530
Looks like this doc has been updated. From https://fusionauth.io/docs/v1/tech/apis/login/#authenticate-a-user

Closing.

[2021-09-20 17:29] #530 closed

[2021-09-20 20:45] mooreds commented on #679
Should be resolved by https://github.com/FusionAuth/fusionauth-site/pull/973 when merged.

[2021-09-20 20:51] mooreds commented on #712
Removed documentation tag as this seems to be a bug about indexing first/last name now.

[2021-09-20 20:52] mooreds commented on #730
This should be resolved.

[2021-09-20 20:52] #730 closed

[2021-09-20 20:53] mooreds commented on #1071
Closing, this is documented now.

[2021-09-20 20:53] #1071 closed

[2021-09-20 20:53] mooreds commented on #854
This is now published here: https://fusionauth.io/learn/expert-advice/oauth/modern-guide-to-oauth/

Closing.

[2021-09-20 20:53] #854 closed

[2021-09-20 20:56] mooreds commented on #1005
I think this is going to be handled via this issue: https://github.com/FusionAuth/fusionauth-site/issues/785

[2021-09-20 21:39] mooreds commented on #261
Closing, as this is deployed.

[2021-09-20 21:39] #261 closed

[2021-09-20 22:52] robotdan opened #1402 "Setup Wizard may be shown in a multi-node environment after setup wizard has completed"
## Setup Wizard may be shown in a multi-node environment after setup wizard has completed

### Description
There is a timing issue where the setup wizard may still be displayed in a multi-node configuration after it has been completed.

### Affects versions
Unknown

### Expected behavior
Once a single node has completed setup-wizard, all other nodes should exit as well.

### Community guidelines
A

[2021-09-20 23:53] #679 closed

[2021-09-21 08:20] soullivaneuh commented on #430
Indeed.

[2021-09-21 08:20] #430 closed

[2021-09-21 08:26] soullivaneuh opened #1403 "Templates: Move the idendity provider onto separate file(s)"
## Templates: Move the idendity provider onto separate file(s)

### Description

Currently, all the social login button definition and logic are defined in the `_helpers.ftl` file.

Because of that, the file is enormous with more than 65k chars:

[code]

Also, the override process is cumbersome. For my case, I override the helpers file just to change some meta and global design. I don't touch the

[2021-09-21 08:54] soullivaneuh commented on #1403
Note: This also produces the `/usr/bin/jq: Argument list too long` error on my setup script.

Related script part:

[code]

[2021-09-21 10:31] soullivaneuh opened #1404 "Templates: registration verification required does not use the button helper"
## Templates: registration verification required does not use the button helper

### Description

The button to send an another email is currently a raw html definition.

In order to have a consistent helpers override application, it should use it.

Here is the diff I have to apply after a complete copy of the related template:

[code]

Similar to #492

[2021-09-21 16:14] jhale1805 opened #1405 "Misleading JSONException when using the Generic Connector"
## Misleading JSONException when using the Generic Connector

### Description
I recently got the following error while trying to set up a Generic Connector for the first time in FusionAuth.

From System -> Event Log (doesn't matter if Debug Logs are enabled):
[code]

The error message `Failed to parse the HTTP response as JSON` suggests that the issue is improperly formatted JSON in the `HTTP resp

[2021-09-21 17:18] robotdan commented on #1404
Thanks for opening the issue @soullivaneuh. We'll need to look into this one, my guess is that the HTML was used in order to create a different style.

[2021-09-22 13:23] mooreds commented on #1340
Here's the link for the community forum: https://fusionauth.io/community/forum/

Please feel free to continue discussion there.

Closing.

[2021-09-22 13:23] #1340 closed

[2021-09-22 13:55] soullivaneuh opened #1406 "API: Unable to patch a theme template when field are missing after an upgrade"
## Unable to patch a theme template when field are missing after an upgrade

### Description

Some new release provide more templates to provide on the theme.

I have a setup script that will make a `POST /api/theme/${theme_id}` with the `sourceThemeId` body parameter in order to have a copy of it.

Then, I make a `PATCH /api/theme/${theme_id}` with only the templates to change as body parameters.

[2021-09-22 15:26] robotdan opened #1407 "Rate limiting bug"
## Rate limiting bug

### Description
Unable to set the rate limit configuration to 1

### Affects versions
1.30.0

### Steps to reproduce
1. Configure rate limit to 1
2. Try to perform action that should be rate limited

### Expected behavior
Should be able to complete the request at least once

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community g

[2021-09-22 23:39] mooreds opened #1408 "Key master import HMAC action has Key Identifier field"
## Key master import HMAC action has Key Identifier field

### Description

Key master import HMAC action has Key Identifier field. As far as I can tell, this is not used (since key identifiers are, as far as I know, only used when we publish keys, and we'd never publish a symmetric key). It is optional, but why have it at all?

### Affects versions

1.30.1

### Steps to reproduce

Navigate to Key

[2021-09-22 23:53] robotdan commented on #1408
The `kid` or "key identifier" is used for HMAC. When we sign a JWT using an HMAC key, we must write the `kid` to the JWT header so the consumer of the JWT knows how to verify the signature.

[2021-09-23 00:34] epbensimpson opened #1409 "Breaking change in SAML reconcile lambda"
## Breaking change in SAML reconcile lambda

### Description
After upgrading to 1.30.1 our SAML reconcile lambda stopped working with ` Lambda invocation exception. Id: 0e6188ae-e43d-4acb-931c-3434fb90e994 Name: ReconcileSAMLIdentifier TypeError: Cannot read property "id" from undefined in <eval> at line number 6`

I added some debug and it looks like `samlResponse.assertion.subject.nameID` has ch

[2021-09-23 08:46] soullivaneuh opened #1410 "Google connect black square logo"
## Google connect black square logo

### Description

With the Google Connect option, we have a black square instead of the Google Connect logo on the oauth login page.

### Affects versions

1.30.1

### Steps to reproduce
Steps to reproduce the behavior:
1. Activate the google connect provider
2. Go to the login page using this provider

### Expected behavior

A Google Logo, not a black square. :

[2021-09-23 09:33] soullivaneuh commented on #1410
Hmm it looks like the svg itself did not change since many releases. Try with 1.22.0, got the same svg code and the same issue.

Do you have any clue about this issue? :thinking:

[2021-09-23 09:44] soullivaneuh commented on #1410
Workaround: Override the helpers to put a valid SVG logo. For example, this one: https://upload.wikimedia.org/wikipedia/commons/8/8b/Google_2015_logo_colorless_mourning_period.svg

[2021-09-23 14:17] mooreds commented on #1408
Awesome, seems like this isn't a bug. Closing.

[2021-09-23 14:17] #1408 closed

[2021-09-23 14:22] mooreds opened #1411 "Can't set key identifier when generating HMAC secret"
## Can't set key identifier when generating HMAC secret

### Description

Can't set key identifier when generating HMAC secret using key master UI.

### Affects versions

1.30.1

### Steps to reproduce

Go to key master, generate an HMAC key. I can't specify the key identifier.

### Expected behavior

Can specify the key identifier when having FusionAuth generate a HMAC secret.

### Screenshots
<i

[2021-09-23 16:12] mooreds commented on #459
Closing this out since https://github.com/FusionAuth/fusionauth-site/pull/969 is merged.

[2021-09-23 16:12] #459 closed

[2021-09-23 16:18] mooreds commented on #1406
Hmmm. I'm not sure I understand the issue. Are these the steps?

* You have a theme that is valid. (`themeA`)
* You upgrade FusionAuth and new templates are added.
* You create a copy of `themeA`, let's call it `themeB`. This operation succeeds.
* You patch `themeB` to update only a few templates that existed before the upgrade of FusionAuth.
* The patch call fails.

Is that correct?

[2021-09-23 21:42] mooreds opened #1412 "Password retention on form during self service registration"
##  Password retention on form during self service registration

### Problem

I want to use self service registration. When there is a validation error, my prospective user's password (or passwords, if there is confirmation) disappear from registration form.

### Solution

I want to use self service registration. When there is a validation error, I want my user's passwords to be retained on the re

[2021-09-24 08:32] dadasahebp commented on #1363
thumbs up

[2021-09-24 14:24] robotdan commented on #404
Ha.. just realized this issue is #404 - what a funny coincidence.

[2021-09-24 18:08] robotdan commented on #1145
This should be fixed in upcoming `1.30.2` release. We made some modifications to the way this endpoint is performing application and tenant lookups.

[2021-09-24 21:16] robotdan commented on #480
Test setup:
- Create application n roles
- Create a user w/ a registration assigning all available roles
- Retrieve user using the User API

Results:
[code]

There is a stark difference here in how MySQL is performing with a larger number of application roles. We will see if we can optimize this query.

[2021-09-24 22:08] robotdan commented on #480
Planning to release his patch as part of `1.30.2`, but it primarily improves MySQL (see test results above). We have yet to find a major performance issue with PostgreSQL.

[2021-09-27 16:23] jobannon opened #1413 "Migrating Themes Does Not Save Changes"
## Migrating Themes Does Not Save Changes

### Description
When upgrading themes, FusionAuth informs the user via the Themes page that new pages are available or need migration.
When I go into the specific page that needs upgrading, if I copy in the default theme, any changes I make are not saved -- including the default theme.

### Affects versions
1.28 (possibly others)

### Steps to reproduce
S

[2021-09-27 22:08] jobannon commented on #1413
pebkac - closing

[2021-09-27 22:08] #1413 closed

[2021-09-28 03:00] robotdan opened #1414 "Cookie Processor Configuration - Names, attributes, etc"
## Cookie Processor Configuration - Names, attributes, etc

### Problem
FusionAuth uses a number of cookies. The cookie names are hard coded, and the cookies attribute for`SameSite` while configurable, is not configurable per cookie.

Current cookies, may not be exhaustive:

- `access_token`
- `fusionauth.csrf`
- `fusionauth.flash-message`
- `fusionauth.locale`
- `fusionauth.pkce-verifier`
- `fusi

[2021-09-28 03:05] robotdan commented on #705
Closing. https://github.com/FusionAuth/fusionauth-issues/issues/1414 may address this issue.

[2021-09-28 03:05] #705 closed

[2021-09-28 03:06] #882 closed

[2021-09-28 03:06] robotdan commented on #1056
Closing as handed under https://github.com/FusionAuth/fusionauth-issues/issues/1056.

[2021-09-28 03:06] #1056 closed

[2021-09-28 06:13] robotdan opened #1415 "Improve User and Registration API performance"
## Improve User and Registration API performance

### Description
In order to keep track of total registrations and registrations per app, FusionAuth performs an upset on a record to identify registrations /hour.

This strategy has some limitations for scaling user inserts or registration inserts horizontally. Eventually we reach a limit on the IOPS of any particular database.

We need to move thi

[2021-09-28 08:01] pigletto opened #1416 "Change login page shown after logging in to the application that uses a custom protocol"
## Change login page shown after logging in to the application that uses a custom protocol

### Problem
I have an FA application that uses custom protocol as a redirect URI, eg. myprotocol://blah, so that after logging in XDG Open starts external application. The problem is that:

1. Login page is still displayed after user is logged in
2. In case of Login with Google the loader is also shown infi

[2021-09-28 10:28] pigletto commented on #1416
Current behaviour imposes some security risk because when the user logs in, FusionAuth responds with 302 redirect causing XDG open window to pop up. The current page is neither closed nor reloaded which means valid user credentials are still there.
I can imagine situation where:
1. User of the external (eg. desktop) application logs in using FA in external browser.
2. The login screen remains open

[2021-09-28 14:55] robotdan commented on #1416
This is all within the theme, so if you have a custom protocol that is managed through AJAX or something like that, you can do whatever you'd like on a callback.

The in-progress spinner is optional and can be removed, or turned off during a callback.  See `<script src="/js/identityProvider/InProgress.js?version=${version}"></script>` in the `OAuth authorize` template.

In theory we could also pro

[2021-09-28 16:23] mooreds opened #1417 "Add event log message when 'discover endpoints' fails"
## Add event log message when 'discover endpoints' fails

### Problem

I'm setting up an OIDC identity provider. I am using 'discover endpoints'. I have verified that the document at https://hostname/.well-known/openid-configuration looks good.

But I am getting this error message (in the UI, nowhere else): `Invalid oauth issuer. Failed to discover the well known OpenID configuration. Try disablin

[2021-09-28 18:18] mooreds opened #1418 "Using anonymous linking strategy causes exception when user logs in the second time"
## Using anonymous linking strategy causes exception when user logs in the second time

### Description

If I set up an OIDC connection to use the anonymous linking strategy and login two times, I get an exception in my system logs the second time.

### Affects versions
1.30.1

### Steps to reproduce

* Set up OIDC connection (I used FusionAuth running on a different port. If you do this, make sur

[2021-09-28 18:24] pigletto commented on #1416
Hmm, I'm not sure how to handle this _easily_ with the theme without hacking form submit with javascript. Might be my description is not clear enough and we do not understand each other, so to clarify, I don't use Ajax to handle the custom protocol. The issue occurs when the client is a **native (desktop) application** that uses **external user-agent** as described in OAuth2 specs: https://datatra

[2021-09-28 21:13] wassemgtk commented on #106
Any timeline on this feature?

[2021-09-28 21:57] robotdan commented on #1418
Duplicate of https://github.com/FusionAuth/fusionauth-issues/issues/1316

[2021-09-28 21:57] #1418 closed

[2021-09-29 06:12] asif-ICM commented on #119
**i am using   FusionAuth™ version 1.29.2**
1- I create OpenID Connect Idp for Microsoft.
2- when I try to log in, it some time successful and sometimes gives an error.
I- error in browser url `(#error=invalid_request&error_reason=invalid_origin&error_description=Invalid+origin+uri+https:%2F%2Flogin.live.com%2F)`
II- error in Event Log Failed to complete a login for Identity Provider [DDA 1].
[cod

[2021-09-29 06:21] asif-ICM commented on #119
@robotdan please can you help.

[2021-09-29 08:26] soullivaneuh commented on #1406
Not really:

1. At the first installation, the script create a new theme called "Company" based from the default one (`sourceThemeId`)
2. At any new deployment, the script call the `PATCH` resource to update only the templates we override.
3. If a new FusionAuth release, containing new templates, is deployed, the `PATCH` resource will fail because of the missing new templates.

But we don't overri

[2021-09-29 16:17] mooreds commented on #119
@asif-ICM Please open a separate issue with full replication steps if you think this is a bug.

If you are looking for support, please open a support ticket if you have a support contract: account.fusionauth.io/account/support If you don't have a support contract, please use the community forum: https://fusionauth.io/community/forum/

[2021-09-30 10:24] oxyuranus-scutellatus commented on #629
We came across exactly the problem described by @eirikur-grid. In general, it can be said that the upgrade to FushionAuth 1.27.2 apparently solves the problem, but creates a new one: With 1.24.0 the link was valid exactly once.
But if now with version 1.27.2 the link is clicked a _second_ time, the browser gets into an endless loop instead of being considered invalid:
* GET http://localhost:9011/e

[2021-09-30 10:58] janakapdj opened #1419 "SAML + Auth2 SSO not working"
Hi
I am working on implementing SSO with different authentication methods
React Js application with Auth2
Sisense with SAML
I have followed the instruction  as given in https://fusionauth.io/blog/2021/02/09/single-sign-on-sso-with-fusionauth/
Both applications were individually authenticated and return back as expected but it won't work SSO as expecting ( when the user has logged in and authentica

[2021-09-30 14:22] mooreds commented on #1419
Hi @janakapdj

Thanks for using FusionAuth! This appears to be a support question, rather than a bug report with details reproduction steps.

We use GitHub for feature request tracking and detailed bug reports, but not for support. (More here: https://fusionauth.io/technical-support/ )

If you have a support plan, please open a ticket here: https://account.fusionauth.io/account/support

If you do

[2021-09-30 14:22] #1419 closed

[2021-09-30 14:25] mooreds commented on #629
@oxyuranus-scutellatus

Oof, that's no good. Can you please open a new tracking issue for what you see (including as many details and reproduction steps as you can. A HAR file would be great too: https://toolbox.googleapps.com/apps/har_analyzer/ )?

https://github.com/fusionauth/fusionauth-issues/issues

[2021-09-30 15:39] janakapdj commented on #1419
thanks, moorred ill post question on the community

[2021-10-01 23:29] lliu-20200701 opened #1420 "Device Activation Flow with Actively Logged-In FA User"
## Device Activation Flow with Actively Logged-In FA User

### Description

For device activation and account linking, The following 2 flows seem to differ from what we discussed:
#### user_a is logged in to FA in a browser. An idp token that has not linked to any user starts a device activation flow. I am expecting, after the device code is entered, user_a will be logged out automatically; which

[2021-10-04 13:07] oxyuranus-scutellatus opened #1421 "E-Mail Address Verification: second click on link in E-Mail leads to repeated call to verify"
## E-Mail Address Verification: second click on link in E-Mail leads to repeated call to verify

### Description
A user makes a new registration in FusionAuth. The configuration of FusionAuth requires the user to verify his/her e-Mail address and receives an e-mail containing a verification link. The first click verifies the e-mail address. The _second_ click leads to a "loop":

- GET http://local

[2021-10-04 17:12] mooreds opened #1422 "Webhooks have custom data but no UI for it"
## Webhooks have custom data but no UI for it

### Description

Webhooks let you send and retrieve custom data, but it is missing in the UX.

### Affects versions

1.30.1

### Steps to reproduce

* create a webhook with an API call
* update it with an API call and add a data field
[code]
* view the webhook in the UI.

No data is there.

### Expected behavior
Would expect to show data just like the

[2021-10-04 18:09] elliotdickison opened #1423 "Docker image fails due to log file permissions"
## Docker image fails due to log file permissions

### Description
I'm self-hosting FusionAuth on [Fly.io](https://fly.io). It has been working great until very recently when it started failing at startup. The only message I get is:

[code]

This is confusing because according to the docs FusionAuth is not supposed to log to a file when run via a container. Is the issue that FusionAuth doesn't rea

[2021-10-04 20:40] robotdan commented on #1422
Fixed via https://github.com/FusionAuth/fusionauth-app/commit/09eac792bde605da67ff2ed44061d7ac102f802a

[2021-10-04 20:43] robotdan commented on #1423
Can you recreate on vanilla docker? This would narrow it down to something with fly.io.

In theory the Docker image should log everything to `stdout` because of how we start Tomcat. See
https://github.com/FusionAuth/fusionauth-containers/blob/11e432d19fb602d4bfffe8017247f1fab1baa5c6/docker/fusionauth/fusionauth-app/Dockerfile#L83

Did this work with fly.io with an earlier version of FusionAuth?

[2021-10-04 20:46] robotdan commented on #1417
This should only be returned on the API when creating or updating an IdP. Is this where you are seeing the message, or do you configure it - and then find out it is not working at runtime?

[2021-10-04 20:52] robotdan commented on #1420
Re: the 1st workflow: This is working as designed. If we logged out the user, it would effectively defeat SSO.

Re: the 2nd workflow. I would expect that user_a is logged out, and user_b is logged in seamlessly.

[2021-10-04 20:57] mooreds commented on #1402
Workaround: complete the setup wizard with any form field values and you'll be sent to the admin UI.

[2021-10-04 22:55] mooreds commented on #1417
Sorry if this was unclear. I'm creating a new OpenID Connect Identity Provider using the admin UI and the `issuer` host is unavailable to my FusionAuth instance (no network path to it).

[2021-10-04 23:10] elliotdickison commented on #1423
Turns out it _was_ attempting to log to stdout, the [symbolic link to stdout from a logfile threw me off](https://github.com/FusionAuth/fusionauth-containers/blob/11e432d19fb602d4bfffe8017247f1fab1baa5c6/docker/fusionauth/fusionauth-app/Dockerfile#L73). Seems to be an issue with permissions to write to stdout on Fly's end. Thanks for the response!

[2021-10-04 23:10] #1423 closed

[2021-10-05 04:13] robotdan commented on #1417
When you do that, don't you get a UI validation error for that field?

[2021-10-05 05:00] robotdan commented on #1343
I believe this was resolved via the support ticket. Please re-open if this is still an outstanding issue.

[2021-10-05 05:00] #1343 closed

[2021-10-05 12:33] mooreds commented on #1417
Yes. That is the message: 'Invalid oauth issuer. Failed to discover the well known OpenID configuration. Try disabling discover endpoints.'

However, it would be nice to know how the discovery failed. There are a couple of possible ways:

* couldn't connect to the `issuer` server
* found `issuer` server, but no resource at the expected URL
* resource at the expected URL but wasn't valid (not JSON,

[2021-10-05 13:59] fabiosimeoni commented on #706
Does this mean one can no longer reset the `preferredLanguages` (`null` interpreted as empty array)? I'm seeing my clumsy attempts to send a `preferredLanguages:null` return with a `200` and absolute no changes to the field, like with the append-semantics of empty arrays.

If you confirm this, we're in pretty tight spot now:

- cannot overwrite arrays with `PATCH` requests until #441 is delivered.

[2021-10-05 22:26] lliu-20200701 commented on #1420
Realized this behaviour commented by tobotdan suites our needs.

[2021-10-05 23:16] renattomachado commented on #1385
Any forecast to resolve the issue https://github.com/FusionAuth/fusionauth-dart-client/issues/9 ?

[2021-10-05 23:53] mooreds commented on #1385
@renattomachado No current plans. We'd happily review a PR. Here's our general roadmap guidance: https://fusionauth.io/docs/v1/tech/core-concepts/roadmap/

[2021-10-06 13:02] robotdan opened #1424 "Better handling of a truncated deflated AuthN request"
## Better handling of a truncated deflated AuthN request

### Description
Fail more quickly when we encounter a truncated deflated SAML AuthN request.

### Related Issues
https://github.com/FusionAuth/fusionauth-samlv2/issues/5

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community guidelines](https://fusionauth.io/community/forum/topic/1000/code-of-c

[2021-10-06 16:11] robfusion opened #1425 "Allow modification of email/username in Identity Provider reconcile lambda"
## Allow modification of email/username in Identity Provider reconcile lambda

### Problem
The reconcile lambda does not allow modification of the username or email which makes it difficult to modify data before attempting to link on that data.

### Solution
Allow modification of email/username during reconcile and then use the modified data to attempt to link the user.

### Community guidelines
A

[2021-10-06 19:23] mooreds commented on #1361
This also may apply for other types of tokens that are used singly, such as refresh tokens.

[2021-10-07 02:02] davidmw commented on #1213
@robotdan I'm adding on to this related issue, apologies if it should be a new one.

We had a key expire last month and sadly had no notification until a chance encounter with failed customer logins captured in our log. Seems that ADFS defaults to generate public certificates that expire in a year.

System generated key expiration notices could prevent some headaches.

I'm coming at this from a no

[2021-10-07 15:10] #1157 closed

[2021-10-07 15:11] #1182 closed

[2021-10-07 15:56] #676 closed, assigned to robotdan

[2021-10-07 23:31] robotdan opened #1426 "Try to support SAML POST bindings with SSO even when cookie is set to SameSite=Lax"
## Try to support SAML POST bindings with SSO even when cookie is set to SameSite=Lax

### Description
Generally speaking POST bindings and cookies don't work very well due to more recent security enhancements with most browsers.

Using a cookie with `SameSite=Lax` means that a cross origin POST request will not send any cookies. This inherently breaks SSO, SAML v2 Single Logout using POST, etc.

[2021-10-08 10:34] SloEddy opened #1427 "Add managed domains option to SAML v2 Idp Initiated"
## Add managed domains option to SAML v2 Idp Initiated

### Problem
The SAML v2 IdP Initiated identity provider does not have an ability to limit the "managed domains" when being configured. This prevents us from setting up third parties that we only trust within a certain domain and thus makes it unusable when permitting third parties as we cannot prevent them from impersonating other users.

###

[2021-10-08 15:30] robotdan opened #1428 "Default NameID format when not provided on SAML AuthN or Logout requests"
##  Default NameID format when not provided on SAML AuthN or Logout requests

### Description
The spec indicates NameIdFormat should be provided, but there seems to be many integrations that do not send a NameId format by default.

If we default to `urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress` when it is omitted we will work out of the box with more SPs.

### Related
https://github.com/

[2021-10-08 16:14] RhettPrichard opened #1429 "Add get_groups or get_all_applications macro functionality to reconcile lambdas"
## Reconcile lambda's need a way to gain access to all possible groups and all possible registrations.

### Problem
Currently, when I reconcile an active directory user with a lambda, I would have to change the lambda every time I add a new group or applications, so that the lambda would know about those groups or applications and when to add them.
Making changes on a system we do not modify very

[2021-10-08 16:26] robotdan opened #1430 "Review key selection for SAML config in application UI configuration"
## Review key selection for SAML config in application UI configuration

### Description
We should be able to configure a public key / cert w/out a private to verify signatures. Ensure this is working correctly and matches the API validation.

### Affects versions
TBD

### Steps to reproduce
1. Import a certificate into key master
2. See if you can select this a verification key in your Applicatio

[2021-10-08 16:41] chrismoran-blockfi opened #1431 "Add MFA Abandoned and MFA Failed webhooks"
## (Put feature request title here)
Add MFA Abandoned and MFA Failed webhooks to the current user mfa webook group.

### Problem

Risk Assessment is a common use-case for handling webhooks. One particularly useful group of webhooks for risk assessment and preemptive threat prevention is: MFA. Currently there are no webooks for MFA abandonment (user cancels out of a login request once the MFA promp

[2021-10-08 19:16] robotdan opened #1432 "Group memberships may be not be updated during an LDAP reconcile lambda once user already exists"
## Group memberships may be not be updated during an LDAP reconcile lambda once user already exists

### Description
When a user is first created as the result of an LDAP connection, if the Lambda provides group memberships, they memberships are created successfully.

On subsequent logins, any changes in membership from the connector should be reflected, and it appears they may not always be updat

[2021-10-08 23:17] #1430 closed

[2021-10-11 14:59] robotdan opened #1433 "Upgrade Apache Tomcat from 8.5.63 to 8.5.72"
## Upgrade Apache Tomcat from 8.5.63 to 8.5.72

### Description
Upgrade to latest `8.5.x` patch release to pick up bug fixes and security updates.

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community guidelines](https://fusionauth.io/community/forum/topic/1000/code-of-conduct).

[2021-10-12 03:54] jobannon opened #1434 "Add support for tokens obtained from the client credentials grant on the introspection endpoint"
## Add support for tokens obtained from the client credentials grant on the introspect endpoint
### Problem
Currently,  if you obtain a token via client credentials grant, and submit that token to the introspection endpoint, no meaningful data is returned (in fact, the token is recognized a non-valid)

https://fusionauth.io/docs/v1/tech/oauth/endpoints/#introspect

### Solution
Add support for any

[2021-10-12 21:35] mooreds opened #1435 "Connectors have custom data but no UI for it"
## Connectors have custom data but no UI for it

### Description

Connectors let you send and retrieve custom data, but it is missing in the UX.

### Affects versions

1.30.1

### Steps to reproduce

* create a connector with an API call
* update it with an API call and add a data field
[code]
* view the connector in the UI.

No data is there.

### Expected behavior
Would expect to show data just

[2021-10-13 00:42] robotdan commented on #1432
So far I've been unable to recreate. May need additional information or details on a recreate.

[2021-10-13 03:51] jcpreston26 opened #1436 "Support multiple hosts in PostgreSQL URIs"
## Users want to use multiple hosts in their JDBC URL

### Issue
This allows users to configure connection failover.

### Solution

Allow multiple hosts in the url. Or allow any valid JDBC url. See also https://github.com/FusionAuth/fusionauth-issues/issues/1339 which touches on this.

## Original issue

## JDBC PostgreSQL URIs being rejected when using multiple hosts

### Description
The PostgreS

[2021-10-13 14:14] #1316 closed

[2021-10-13 14:21] #1366 closed, assigned to robotdan

[2021-10-13 14:25] #1367 closed, assigned to robotdan

[2021-10-13 15:08] soullivaneuh opened #1437 "Template render crash on Setup password tenant email sendinf"
## Template render crash on Setup password tenant email sendinf

### Description

We have numerous logs with template crashes on the template rendering

### Affects versions

1.30.1

### Steps to reproduce

1. Trigger a send of the `Setup Password` email

### Expected behavior

Sent email without error.

### Screenshots

[code]

### Platform
(Please complete the following information)
 - Device: [

[2021-10-13 15:21] #1368 closed

[2021-10-13 15:23] #1369 closed, assigned to robotdan

[2021-10-13 15:25] #1371 closed, assigned to robfusion

[2021-10-13 17:02] #1392 closed

[2021-10-13 17:26] #1402 closed

[2021-10-13 17:28] #1407 closed

[2021-10-13 17:30] #1435 closed, assigned to robotdan

[2021-10-13 17:34] #1424 closed, assigned to robotdan

[2021-10-13 17:36] #1433 closed, assigned to robotdan

[2021-10-13 18:22] #1428 closed, assigned to robotdan

[2021-10-13 23:03] mooreds commented on #1318
Had a customer mention this would be useful in the context of an IdP (stopping a login based on external information, obtained by an API call from https://github.com/FusionAuth/fusionauth-issues/issues/267 ).

[2021-10-14 02:42] jcpreston26 opened #1438 "LDAP connector loses MFA status of user on subsequent login"
## LDAP connector loses MFA status of user on subsequent login

### Issue

MFA status of a FusionAuth user that is not migrated during a connector authentication is lost.

### Steps to reproduce
Steps to reproduce the behavior:
1. Set up a tenant and link with an LDAP connector.
2. Set up an application in FusionAuth and link it with your web application.
3. User initially logs in, user gets creat

[2021-10-14 16:37] mooreds commented on #1437
Hmmm. Can you cut and paste the entire template with Id `352f5059-d5a2-4a6b-b737-eafa6bdc5c9f`?

[2021-10-14 18:34] mooreds opened #1439 "Themes have custom data but no UI for it"
## Themes have custom data but no UI for it

### Description

Themes  let you send and retrieve custom data, but it is missing in the UX.

### Affects versions

1.30.1

### Steps to reproduce

* create a theme with an API call or duplicating the default FusionAuth theme
* update it with an API call and add a data field
[code]
* view the theme in the UI.

No data is there.

### Expected behavior
Wo

[2021-10-14 23:22] jcpreston26 commented on #1438
Yes.  Or, _a_ system of record.  My thought was: our internal users' passwords authenticating against our existing domain via LDAP, and our external (customer) users' passwords authenticating against the password database within Fusion (or, if requested, that customer's own accessible OIDC or SAML provider).

[2021-10-15 16:25] mooreds opened #1440 "Support in-game authentication options"
## Support in-game authentication options

### Problem

Both Xbox and Steam (and possibly others) have in-game login methods. Would be great if we could "complete a login" with the token handed out by these methods in the same way as we can with an oauth token.

* Xbox XSTS tokens
* Steam SDK user ticket

This was requested by a customer.

### Solution

Extend the 'complete a login' functionality

[2021-10-15 20:15] erick4556 opened #1441 "Error after updating the password"
Hello, I have an issue after updating the password. After I update the password, fusionauth redirects from "myurl/password/change/idUser" theme to "myurl/password/change/change". It shows an error 500 and it doesn't take the change password complete theme.

I attach an image
![error](https://user-images.githubusercontent.com/11901315/137548182-37e53526-2906-4931-ab22-4b74333c7a39.png)

I would app

[2021-10-15 21:07] jobannon opened #1442 "Entity Manager Role Not Able to Add/Edit Grants"
## Entity Manager Role Not Able to Add/Edit Grants

### Description
Entity Manager Role is not Add grants to an entity or edit entity grants.

### Affects versions
1.30.2

### Steps to reproduce
Steps to reproduce the behavior:
1. Assign a user in the admin UI to only have an `Entity Manager` Role
2. Create two entities and an entity type.
3.  Logged in as the user with only the Entity Manager Rol

[2021-10-15 21:21] #1441 closed

[2021-10-15 21:24] erick4556 commented on #1441
I just saw the image error 500 that I've uploaded
FusionAuth version: 1.19.6
I have modified the theme at all. When I update the password, the password changed but fusionauth redirects to myurl/password/change/change theme which it shows the error that i've uploaded and not to password change complete theme. All themes work good only password change complete theme neither works nor is displayed.
S

[2021-10-15 21:53] mooreds commented on #1441
That's a pretty old version of FusionAuth too (released about a year ago: https://fusionauth.io/docs/v1/tech/archive/release-notes/ ). I would recommend upgrading to the latest version and seeing if you can replicate the error.

[2021-10-15 23:18] mooreds commented on #1441
Hi @erick4556 . Fair enough, though there has been a ton of changes in the last year, including many bug fixes.

If you tested in the latest version and the issue still existed, it would definitely be higher priority. You could always test by standing up a copy of your product database, upgrading it, and then seeing if the issue occurs. This would provide more info for us without impacting your pr

[2021-10-16 06:21] bonify-b2b opened #1443 "Unable to add android app as authorised request origin"
## Android app cannot be made authorised origin

### Description

I am trying to add android-app://com.example
as
Authorized request origin URL
in application's OAuth settings

It is rejecting the value with error URL must start with http

### Affects versions
1.30.1

### Additional context

Filed based on this forum post: https://fusionauth.io/community/forum/topic/1289/mobile-origin-url

### Ste

[2021-10-16 15:51] mooreds commented on #1441
Ah, I see you have already opened a forum message: https://fusionauth.io/community/forum/topic/1317/error-after-updating-the-password

Let's continue the conversation over there.

Closing.

[2021-10-18 15:47] mooreds opened #1444 "Update Steam provider to use authorization code grant"
## Update Steam provider to use authorization code grant

### Problem
The steam provider uses the documented steam oauth grant of implicit (`response_type=token`): https://partner.steamgames.com/doc/webapi_overview/oauth

Per internal discussions with a client, the authorization code grant is also supported, though undocumented (`response_type=code`).

### Solution
Update the steam implementation

[2021-10-18 23:22] mooreds commented on #830
If using the API, you can also retrieve a user's JWT via the passwordless flow: https://fusionauth.io/docs/v1/tech/apis/passwordless/#start-passwordless-login

[2021-10-19 08:01] bonify-b2b commented on #1443
One forward slash too does not work.
![image](https://user-images.githubusercontent.com/84437896/137868284-09c10229-f456-47a9-8c6c-481d22355419.png)

[2021-10-19 15:05] mooreds opened #1445 "I want an LDAP IdP"
## I want an LDAP IdP

This was something that came up on a customer call.

### Problem

FusionAuth connectors are great, but they have some limitations when it comes to an LDAP server being the system of record (AKA not migrating).

* there's no way to authenticate just with the LDAP server, not with FusionAuth (policies are executed in the order defined in the tenant)
* connecting to multiple LD

[2021-10-19 20:27] BobbyWhiskey opened #1446 "Unable to customize WebhookTransactionException message during login"
## Unable to customize WebhookTransactionException message during login

### Description
I have a webhook that does validation on user.create event and returns an non-200 error code when validation failed.
I would like to be able to customize the message that is shown to the user on the registration page:
![image](https://user-images.githubusercontent.com/16709076/137980915-b2e76993-755e-43bf-9925

[2021-10-19 22:07] qetzing opened #1447 "OpenID Service provided link does not work with Identity Providers"
## OpenID Service provided link does not work with Identity Providers

### Description

After successfully creating an OpenID Identity Provider, you can activate the registration for a FusionAuth app, so you can register with a UI button via the specific provider.
Though, if you try to use the direct link by your 3rd party service application, you get the following error:

[code]

To be a little m

[2021-10-19 22:55] robotdan opened #1448 "Theme preview for Account edit fails when a self service form is configured"
## Theme preview for Account edit fails when a self service form is configured

### Description
When you use the theme preview option in the admin UI, and you have configured a self service form for a particular application that is then configured to be used in the registration theme preview page, it will cause the Account edit page to fail to render.

### Affects versions
TBD

### Steps to reprod

[2021-10-20 13:33] SaGuse opened #1449 "Unable to remove unused email templates"
## Unable to remove unused email templates

### Description
Removing of an email templates ends in an error message "FusionAuth encountered an unexpected error. Please review the troubleshooting guide found in the documentation for assistance and the available support channels.".

The error occurs also with the API.

Exception from log:
[code]

### Affects versions
1.30.1

### Steps to reproduce
S

[2021-10-20 16:17] mooreds opened #1450 "Allow for rehashs on password change"
## Allow for rehashs on password change

### Problem

When using a plugin, I want to rehash on password change, not just on login.

### Solution

A configuration parameter similar to that defined here: https://fusionauth.io/docs/v1/tech/plugins/custom-password-hashing/#rehashing-user-passwords that lets you rehash on password change.

### Alternatives/workarounds

n/a

### Additional context

Ment

[2021-10-20 17:17] jobannon opened #1451 "Enable Auto Update for FusionAuth Cloud"
## Enable Auto Updates of Releases for FusionAuth Cloud

### Problem
Sometimes FusionAuth releases a bug or patch fix but users don't always have the time or process awareness to upgrade their cloud deployment

### Solution
Allow for an Auto Update methodology within FusionAuth cloud

### Alternatives/workarounds
Update manually

### Additional context
I am no designer, but a pop up like this migh

[2021-10-20 21:04] jcpreston26 commented on #1438
Is the specific issue with MFA being reset going to have to wait on #1445?

[2021-10-20 22:53] mooreds commented on #1438
I'm not sure that #1445 will ever be implemented. Losing MFA status seems like a separate issue.

Sorry, looks like GH automatically closed this; it shouldn't have.

I'll re-open.

[2021-10-21 17:54] johnmaia opened #1452 "Unable to register user right after creating an application"
## Unable to register user right after creating an application

### Description
Using FusionAuth version `1.30.2` we are getting an unexpected error when we register a new tenant, application, roles and then attempt to register a new user using one of the roles. We are getting a bad request error (`404`) indicating that the given `role` does not exist.

### Steps to reproduce
1. Use FusionAuth ver

[2021-10-21 19:34] konfek opened #1453 "Extend FusionAuth reporting with Login/Registration metrics via Social Options (Facebook, Google, etc.)"
## Extend FusionAuth reporting with Login/Registration metrics via Social Options (Facebook, Google, etc.)

### Problem
On our registration page we have the social sign-up options Facebook, Apple and Google enabled.
I'd like to have an option to figure out from FusionAuth reporting how many users signed up or logged in using one of these options?

### Solution
Extra filter on the reporting page

#

[2021-10-22 08:50] david-billings opened #1454 "Allow IP restrictions to be set for individual users"
## Allow IP restrictions to be set for individual users

### Problem
We have certain users that we would like to restrict logins/token issuance to for specific IP addresses. These accounts are sensitive and 2FA is not always an option. IP Restriction would add another layer of security to logins.

### Solution
Allow a simple API/UI interface to allow the exclusive whitelisting of single/multiple I

[2021-10-22 16:59] mooreds opened #1455 "Support JSON Web Token (JWT) Profile for OAuth 2.0 Access Tokens"
## JSON Web Token (JWT) Profile for OAuth 2.0 Access Tokens

### Problem

This standardized the JWT format for OAuth access tokens. Our JWTs are not compliant.

### Solution

Support the standard. From a readthrough it seems like:

* it'd be a break in compatibility for the `typ` header in our issued access token JWTs

and that is about it.

### Alternatives/workarounds
n/a

### Additional context

[2021-10-22 22:26] rscheuermann opened #1456 "Expired passwordless link results in an infinite redirect"
## Expired passwordless link results in an infinite redirect in the browser

### Description
Clicking a passwordless magic link (sent via email) after the expiration time results in an infinite redirect scenario.

Note: This same error includes Email and Registration verification workflows as well.

### Affects versions
version 1.30.2

### Steps to reproduce
Steps to reproduce the behavior:
1. Set

[2021-10-23 02:20] robotdan opened #1457 "Missing validation for Registration API when user does not exist by userId"
## Missing validation for Registration API when user does not exist by userId

### Description
When using the User Registration API, if the user specified on the URL for `userId` does not exist, the validation is not performed properly.

You may receive a `500` status code instead of a `400` with a JSON body.

### Affects versions
Unknown.

### Steps to reproduce
1. call the Registration API with

[2021-10-25 05:30] jaredhughes opened #1458 "Theme Custom Fields"
## Theme Custom Fields

### Problem

In both local development and in production we are referencing static assets for our theme at an external host. This hostname must be hard-coded in the the theme; there is no way to set a custom parameter readable by the theme as part of the application configuration.

### Solution

Introducing custom fields (limited to basic text) in theme configuration would

[2021-10-25 16:59] robotdan opened #1459 "Copying a tenant in the admin UI w/ blocked domain configuration does not keep blocked domain configuration"
## Copying a tenant in the admin UI w/ blocked domain configuration does not keep blocked domain configuration

### Description
If you have domains configured as blocked in a tenant, and you use the duplicate button in the admin UI, the copy does not contain the blocked domain configuration.

### Affects versions
1.30.0

### Steps to reproduce
1. Enable threat detection
2. Enable blocked domains i

[2021-10-25 18:48] robotdan opened #1460 "Send test email for a template may fail with custom data, or if you use the new event info object in 1.30.0"
## Send test email for a template may fail with custom data, or if you use the new event info object in 1.30.0

### Description
When you use the send email option in the admin UI to test a particular email template it may fail to send if you are using custom data (`requestData`), or if you try to use new event info object introduced in 1.30.0.

To replicate:
* log in to the admin UI of an instance

[2021-10-26 00:34] robotdan opened #1461 "Update inversoft-scheduler"
## Update inversoft-scheduler

### Description
Update scheduler to pick up a possible bug where we may not call close on shutdown on a bound service.

[2021-10-26 15:11] robotdan opened #1462 "password grant missing aud claim when client_id only provided as part client authentication using basic authentication"
## password grant missing aud claim when client_id only provided as part client authentication using basic authentication

### Description
If you do not provide the `client_id` in the request body during a password grant, and instead only provide it via a Basic HTTP auth header FusionAuth will not return the `aud` claim correctly.

### Affects versions
TBD

### Steps to reproduce
1. Decode the JWT

[2021-10-26 20:15] mooreds opened #1463 "Customize the TOTP QR Code to allow setting of the name"
## Customize the TOTP QR Code to allow setting of the name

### Problem

When I use a FusionAuth generated QR code for my TOTP MFA, the description of the entry added to my authenticator app appears to be the issuer value of the tenant (though I haven't tested this rigorously).

### Solution

I'd like to be able to customize this on a per tenant basis without changing the issuer value.

### Relate

[2021-10-26 23:07] mooreds opened #1464 "Including the argon2 password hasher causes FusionAuth to fail to start"
## Including the argon2 password hasher causes FusionAuth to fail to start

### Description

Including the sample argon2 password hasher causes FusionAuth to fail to start.

### Affects versions

1.30.2, 1.30.1

### Steps to reproduce

* Download the sample password hasher project https://github.com/FusionAuth/fusionauth-example-password-encryptor/
* Build it `mvn compile package`
* Add the file t

[2021-10-28 05:05] #1458 closed, assigned to nobody

[2021-10-28 18:43] mooreds opened #1465 "Homebrew uses 'unneeded'"
## Homebrew uses 'unneeded'

### Description

Apparently that switch is no longer supported.

### Affects versions
?

### Platform
(Please complete the following information)
 - Device: [e.g. Desktop, iPhone X, Pixel 3, etc]
 - OS: [e.g. iOS, macOS, Windows ME]
 - Browser + version [e.g. chrome, safari plus a version]
 - Database [MySQL | PostgresSQL] & and version

### Community guidelines
All is

[2021-10-29 16:29] mooreds opened #1466 "Seeing on conflict errors in the database logs in docker"
## Seeing on conflict errors in the database logs in docker

### Description

After I run the vanilla docker compose install for a while (noticed it this morning, started docker yesterday) I see these errors in stdout:

[code]

Happens every 10ish minutes.

### Affects versions

1.30.2

### Steps to reproduce

See above. No certain steps.

I did delete a tenant with an application in this instance

[2021-10-29 19:24] lliu-20200701 opened #1467 "Explicit email verification after the password reset flow"
## Explicit email verification after the password reset flow

### Problem
We have set in the tenant that all users’ email accounts need to be verified in order to be authenticated successfully.
We recently noticed a flow where:

1. A user is imported into the system (email unverified)
2. The user initiates a reset password flow
3. The user receives the reset password email and click the reset pass

[2021-10-29 21:22] awoodsprim commented on #229
I also wanted to add that we were trying to use Groups to associate "Roles" to users and then send those "Roles" down in the JWT along with the Group names.  Ideally, we'd have access to all the "Roles" that the user has associated with them whether directly or indirectly through "Groups".  Furthermore, we want to vary this association by a passed in scope.  The lambda seemed like a great place to

[2021-10-29 21:45] mooreds commented on #830
@awoodsprim I do not believe this is on our roadmap, but seems like a great enhancement.

Can you please file a separate github issue because implementing this standard is slightly different than the generic impersonation feature? (Feel free to reference your comment.)

Here's our general roadmap guidance: https://fusionauth.io/docs/v1/tech/core-concepts/roadmap/

[2021-11-01 04:47] matthewhartstonge commented on #1464
FYI I'm currently working on a PR to update the argon2id example to build a shaded variant.

I'm also going to move to using Bouncy Castle to remove the dependency on the java-native bridge/C bindings to slim it down a bit.

[2021-11-01 04:56] jaredhughes commented on #1458
@mooreds This works great! Thanks so much

[2021-11-01 13:14] pmolaro commented on #1333
Could I ask that someone verify that this issue hasn't returned in the latest version, 1.30.2? I'm having the same problem. I can update a user's properties in general. However when I try to update the email or username (we use emails as usernames), nothing changes in the user, and the console shows me a user not found response. My settings seem to be correct in the FA Admin, per the discussion ab

[2021-11-01 15:20] mooreds commented on #229
@awoodsprim just an FYI that this seems like a forum post (because it seems like you are looking for feedback). Here's our forum https://fusionauth.io/community/forum/

If I read that wrong and you are simply sharing a use case that would work better if you had access to more data from a lambda, please feel free to ignore me :).

If you feel like there's an issue with FusionAuth (a missing feature

[2021-11-01 15:22] mooreds commented on #1333
@pmolaro it is best to open a new issue with replication steps as that is more visible. Providing curl commands (like this comment: https://github.com/FusionAuth/fusionauth-issues/issues/1333#issuecomment-891751514 ) is even better as it lets us see quickly if the issue is reproducible in our environment.

Thanks for using FusionAuth!

[2021-11-01 16:11] ktorii opened #1468 "API keys with access to more than one tenant but not all"
## API keys with access to more than one tenant but not all

### Problem
Right now, you're only allowed to set a key to access either all tenants or one tenant, but can't have one key access to multiple tenants.

This is a problem for us because we use one tenant per company, to control the password policies per customer company. We do not want to use one API key to manage all tenants because we w

[2021-11-01 16:22] ktorii opened #1469 "SMTP password does not copy when duplicating tenant"
## SMTP password does not copy when duplicating tenant

### Description
When duplicating a tenant, the SMTP password in the Email tab does not copy. The thing is there is no notice of this, and since we thought duplicating the tenant would just copy all properties of the duplicated tenant, this made us not realize emails were not working for awhile on production.

### Affects versions
1.27.2

###

[2021-11-01 22:26] robotdan commented on #1469
I think not copying the SMTP password is probably the correct choice here.

However, perhaps the correct behavior is if you click on duplicate tenant and try to save the form, should we fail validation and force you to enter the password for the SMTP configuration?

This would make it much clearer that this value was not copied.

[2021-11-01 23:21] robotdan commented on #1466
We'll take a look, we are doing some of this async now to improve performance. It is likely related to deleting the tenant, maybe we aren't properly clearing out pending counts for applications that will be deleted as the result of deleting the tenant.

[2021-11-02 16:42] bguyza commented on #1411
This is working as designed.  We generate a `kid` on creation and is reflected accurately in the documentation.  Unless someone has a technical reason to change this, we will leave it as intended.

[2021-11-02 16:42] #1411 closed

[2021-11-02 16:50] mooreds commented on #1411
What if someone wants to specify a specific key identifier for a generate HMAC key, perhaps to conform to an internal standard?

@bguyza

Anyway, we can keep this closed unilt (if) we hear from a customer. It just seemed weird to have the ability to specify a kid for all the other key types and not HMAC.

[2021-11-02 17:04] #607 closed

[2021-11-02 20:58] bguyza commented on #1360
@robotdan , @mooreds
The test webhooks events are indeed serialized versions of the java objects, but in most (if not all cases), using a minimal set of attributes defined.

Here is a PR that updates the `Audit Log Create` test event to include mock data simulating a User update event:
https://github.com/FusionAuth/fusionauth-app/pull/87

For this issue, do we want to review all events (38 of them

[2021-11-02 21:08] mooreds commented on #1360
Hmm. So you are saying that the JSON we provide in the UI for testing isn't going to be a complete object and may be missing fields that are documented and will be present in the real events?

Cause that is the 'testing' I'm concerned about: the user facing JSON shown in the UI. I see your PR references automated tests, but that isn't what this bug is about. Sorry if I was unclear.

[2021-11-02 22:15] robotdan commented on #1360
Sort of - it looks like @bguyza has a PR to add the `oldValue` and `newValue` to this particular event.

But the `oldValue` and `newValue` are optional fields, and may or may not be present in any particular audit log. The values are also free form, so when FusionAuth creates an Audit Log, it may contain an application or user, but it could contain just about anything.

So I wouldn't say they are

[2021-11-02 22:46] mooreds commented on #1360
I think it helps. From my perspective, I want the test events that I as a user can use to exercise the webhook I might be writing to be as close to the real event as possible. I understand we can't offer every possible permutation but it seems we could offer as much as the sample json in the docs do. Or at least try to offer the important facets of each event.

[2021-11-03 03:02] jasonaowen opened #1470 "Self-service Enable Two Factor forms broken"
## Self-service Enable Two Factor forms broken

### Description
On the Enable Two-factor self service page, the email and SMS "Send a one-time code" forms have an empty hidden `method` element. Instead of sending the code to the entered address or number, the page reloads with the method field highlighted in red.

### Affects versions
A hosted instance of FusionAuth 1.30.2, running with a non-prod

[2021-11-03 10:45] awoodsprim opened #1471 "Implement Impersonation and Delegation Tokens (RFC8693)"
## Implement Impersonation and Delegation Tokens (RFC8693)

https://fusionauth.io/docs/v1/tech/apis/jwt/#issue-a-jwt

### Problem
FusionAuth does not support the RFC method of exchanging one OAuth 2.0 token for another for impersonation or delegation tokens.  These are designed to support the use case of "Service A is calling Service B" either "as user A" (impersonation) or "as ServiceA on behalf

[2021-11-03 10:46] awoodsprim commented on #1471
Original issue: https://github.com/FusionAuth/fusionauth-issues/issues/830

[2021-11-03 14:09] pmolaro opened #1472 "Cannot Update User's Email or Username with patchUser()"
## Using the pathUser() function, I can update all properties on the user model except the email and username (which is also the email)

### Description
I'm having an issue updating a user's email and username (we use email as the username) with the fusionAuthClient.patchUser() method. I'm hoping its developer error, but I also saw an older post where this happened in previous versions (https://gi

[2021-11-03 22:15] mooreds opened #1473 "Roles not combined between user assigned and group memberships"
##  Roles not combined between user assigned and group memberships

### Description

if you have a user with a role in an application, then assign them a group with roles, the user only has the one role until you remove the role individually assigned to them.

### Affects versions

1.30.2
Introduced under https://github.com/FusionAuth/fusionauth-issues/issues/480.

### Steps to reproduce

1. Add a

[2021-11-03 22:53] awoodsprim opened #1474 "JWT Reconcile Lambda can't remove email / email_verified claims"
## JWT Reconcile Lambda can't remove email / email_verified claims

### Description
In an attempt to reduce/remove PII from tokens, I am attempting to remove the email and email_verified information from the id and access token.  Setting those fields to undefined or using the javascript "delete" function doesn't appear to work.  The resulting JWT looks good in the lambda, but the one that is recei

[2021-11-03 23:23] awoodobvio opened #1475 "Ability to remove PII from api (/oauth2/userinfo, /api/user)"
## Ability to remove PII from api (/oauth2/userinfo, /api/user)

### Problem
At the moment, Fusion Auth leaks a lot of personal data into tokens and on endpoints that may not be relevant to the calling applications.  This happens in the /oauth2/userinfo and /api/user endpoints.  There is no lambda function that can remove the data (only add to it via a JWT lambda).

### Solution
Add a lambda for u

[2021-11-03 23:26] awoodsprim commented on #1475
Related to #1474

[2021-11-03 23:27] awoodsprim commented on #1475
An alternative would be to disallow certain id_token or access_tokens access to those endpoints entirely, but the lambda function is likely a better solution.

[2021-11-04 00:22] awoodsprim commented on #1474
Just verified that setting email and email_verified to `null` does seem to remove them.

[2021-11-04 00:22] #1474 closed

[2021-11-04 00:25] awoodsprim commented on #1475
Just tested setting claims "family_name", "given_name", etc. to "null" in the JWT lambda, but it seems to not allow that.  In addition, setting those values to something else like "test" doesn't end up in the profile data either.

[2021-11-04 01:49] jobannon opened #1476 "Email Template for setup password broken"
## Email Template for Setup Password Broken

### Description
When completing a registration/new user - when setting `sendSetPasswordEmail: true`, the email that generates from the shipped email template causes errors.

### Affects versions
1.30.2

### Steps to reproduce
Steps to reproduce the behavior:
0. Create a new user and registration
1. Get a set password email (notice this includes `client_

[2021-11-04 02:00] sedough opened #1477 "Support named entities"
## Support named entities

### Problem
Entities include a textual description, but the names themselves are required to be UUIDs.   When explaining to customers how to perform the client credentials grant, these UUIDs are confusing because they are, well, random.

### Solution
Keep the automatically-generated UUID as the default, but allow any unique string as a name.   That way users can request

[2021-11-04 02:35] sedough opened #1478 "Forms for entity data"
## Forms for entity data

### Problem
The Entities UI supports configuring permissions, but any other custom data associated with the entity (in the "data") field needs to be submitted through the API.    This makes it harder for less-technical users to configure entities.

### Solution
FusionAuth has a nice forms capability that is currently geared to user registrations.   Perhaps this can be exp

[2021-11-04 03:53] robotdan commented on #1476
Internal notes, we could re-think the usage here, and perhaps just allow `client_id` and if we can't re-constitute an OAuth2 flow just don't fail and allow it.

[2021-11-04 04:18] robotdan commented on #1470
@bguyza can you take a look and see if we can recreate in a test? Thanks.

[2021-11-04 13:38] mooreds commented on #1475
Hmm. Have a few questions about this

So the User API endpoint is only accessible via an API key, this is pretty privileged, and you can lock down an API key to disallow access (or only allow write access, not read access). Will this not do what you want w/r/t the User API? You could set up a proxy with the only API key that has access and run all your requests through there. The proxy could then

[2021-11-04 17:24] bguyza commented on #1470
@jasonaowen
Thanks for submitting this report.

I haven't been able to recreate this successfully on my initial attempt. However, the behavior you're experiencing leads me to believe that the javascript that should be running on this page is not setting the `method` value.  Specifically, `js/account/EnableTwoFactor.js?version=1.30.3`.

Could you verify whether or not you have any javascript errors

[2021-11-04 17:45] jasonaowen commented on #1470
I am getting a JavaScript error:

[code]

Which, relatedly, the TOTP QR code is not loading:

![Screen Shot 2021-11-04 at 10 43 36](https://user-images.githubusercontent.com/1494855/140391622-df95289c-2cf6-4cd3-881b-f70e13fa2f9b.png)

That is the only error I see in the console, though.

[2021-11-04 17:47] jasonaowen commented on #1470
I was able to reproduce this error on a different browser: Chromium Version 94.0.4606.81 (Official Build) Built on Ubuntu , running on Ubuntu 18.04 (64-bit).

[2021-11-04 19:50] bguyza commented on #1470
Thanks a ton for confirming @jasonaowen!

It looks like you uncovered a bug with the QR code library.  Here is one of the many open issues on the github repository for your reference: https://github.com/davidshimjs/qrcodejs/issues/78.

Unfortunately, this JavaScript error prevents the event handler from initializing so that `method` is correctly set on load or when selecting a new value.

I will b

[2021-11-04 20:30] mooreds opened #1479 "Ability to turn off email template sending"
## Ability to turn off email template sending

### Problem

I want to use a different templating/email system than FusionAuth.

### Solution

I want to be able to turn off all email templates being sent and also get webhooks for the corresponding events.

I can do the first of these by putting in bogus SMTP info in the tenant email config (though this may affect performance). The second is haphaza

[2021-11-04 22:38] jasonaowen commented on #1470
Ah, yep, I can confirm: disabling TOTP authentication in the tenant MFA settings causes that page to render correctly. That's also a viable workaround for me in the meantime, although we do want to enable TOTP auth soon. Thanks, @bguyza!

[2021-11-04 23:58] matthewhartstonge opened #1480 "Entities don't support the use of special characters (`:`) in permissions"
## Entities don't support the use of special characters (`:`) in permissions

### Description
For our API Consumers, we currently use URNs for our scopes to avoid namespacing issues between backend resources.

For example, as a selection, we have:
- `urn:hero:schools:schools`
- `urn:hero:schools:schools:read`
- `urn:hero:schools:schools:delete`

I could easily load these permissions into FusionAut

[2021-11-05 02:37] matthewhartstonge opened #1481 "Add support for scope aliases for entities"
## Add support for scope aliases for entities

### Problem
The permissions system and naming of scopes is very restrictive, enforcing a FusionAuth styled format for scopes which provides incompatibility with existing OAuth scopes pushed into external solutions that want to _migrate_ to FusionAuth.

For example, given our current OAuth 2.1 implementation, we have a number of API consumers that use

[2021-11-05 04:16] mooreds commented on #1480
Options to consider:

* provide a way to escape `:`
* only split on the first two `:`s, then take whatever is after the second `:` as the permission.
* provide configuration for the separator character in scopes (so you could set the separator to `#` and have the scope requested be `target-entity#b8cdfa71-6578-49ce-aa99-203e3fda83eb#urn:test:scope` for example)

[2021-11-05 14:41] mooreds commented on #1481
Another alternative/workaround would be to build this mapping proxy yourself and insert it between your client and the token endpoint.

[2021-11-05 15:39] mooreds commented on #1472
I am unable to replicate this bug. Here's my curl script:

[code]

Both username and email address can be changed by the patch method.

I'm going to close this because it seems like a support issue (and your last question is definitely a support question :) ).

If you have a paid support contract, please open a ticket here https://account.fusionauth.io/account/support/  Otherwise, please ask a que

[2021-11-05 15:39] #1472 closed

[2021-11-07 00:13] pipefail commented on #929
I would like to add that when there is only 1 tenant, and you make a call to the user search API to search for all users in that tenant (with a global API key) -- the API erroneously returns the error:

[code]
However, when you add a SECOND tenant, and repeat the API call, you get a valid list of users for whichever tenant you specified.

The only reason I was able to figure this out was because t

[2021-11-08 02:54] ric-sapasap commented on #633
I also need this feature for integrating FusionAuth with other services that require authentication that I don't have full control over.

Any updates?

[2021-11-08 13:18] mooreds commented on #633
@ric-sapasap Thanks for checking in. I suggest voting on this issue since when we are considering community feedback, we sort by number of upvotes on the issues in this repo. You can vote by using the plus 1 emoji, like I just did.

Here's our general roadmap guidance:

https://fusionauth.io/docs/v1/tech/core-concepts/roadmap/

We do not have this particular feature on the current release plan nor

[2021-11-08 15:47] #1159 closed

[2021-11-08 16:24] mooreds commented on #929
Added the documentation tag so we can update our docs to make this clear. Thanks @pipefail !

[2021-11-08 18:04] robotdan commented on #1473
@bguyza can you take a look at this this one - not 100% sure if this is a bug or working as designed. If the later, we'll need to review it to understand the original intent and if that still applies.

[2021-11-08 18:22] jyotibhanot opened #1482 "Terraform fusionauth provider crashing when executing terraform apply"
## Terraform fusionauth provider crashing when executing terraform apply

### Description
Terraform fusionauth provider v0.1.47 crashes when trying to create a new resource ( template )

### Steps to produce
Create the template using below resource

[code]
 Execute `terraform apply` with below variables:

[code]

email-passwordless.en.html.tmpl

[code]

**email-passwordless.en.html.tmpl**

[code]

[2021-11-08 20:46] matthewhartstonge commented on #1480
May be good to note - I tested this with URL Encoding, which doesn't work either:

[code]

[2021-11-09 00:37] robotdan opened #1483 "Record original authentication type in the JWT authentication type"
## Record original authentication type in the JWT authentication type

### Description
I want to identify the original authentication method in a JWT produced by using a Refresh token.

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community guidelines](https://fusionauth.io/community/forum/topic/1000/code-of-conduct).

[2021-11-09 09:44] stuellidge opened #1484 "Persist custom JWT properties when refreshing a token"
## Persist custom JWT properties when refreshing a token

### Problem
The Populate JWT lambda makes it possible to set custom JWT properties on a token. For some (for example, capturing the original login instant or preserving the original authentication type) it is not possible to define them on a subsequent token refresh because the original token is not available.

### Solution
We would like th

[2021-11-09 09:46] stuellidge opened #1485 "Preserve original authentication type when refreshing tokens"
## Preserve original authentication type when refreshing tokens

### Problem
We would like to be able to know the original authentication type after a token has been refreshed.

### Solution
Provide the original auth type as a JWT property when refreshing tokens

### Alternatives/workarounds
N/A

### Additional context
N/A

### Community guidelines
All issues filed in this repository must abide by

[2021-11-09 10:18] stuellidge commented on #1485
Duplicate of 1483

[2021-11-09 10:18] #1485 closed

[2021-11-09 14:08] soullivaneuh commented on #1437
# HTML templates

## English

[code]

## French

[code]

# Text templates

## English

[code]

## French

[code]

[2021-11-09 14:36] koshkarov commented on #614
We'd love to have OpenAPI spec, as it will allow us to easily test, generate client, etc. Please consider using it, that'd be super helpful.

[2021-11-09 15:06] mooreds commented on #614
@koshkarov thanks for your feedback; please upvote the issue as that is how we measure community feedback when planning.

[2021-11-09 21:54] bguyza commented on #1473
This is the result of the change that was made [here (issue 480)](https://github.com/FusionAuth/fusionauth-issues/issues/480) to improve query performance.  When we use `COALESCE` as part of the join criteria for `application_roles`, we end up joining on the first non-null value.  Therefore we are not correctly joining roles that are assigned via groups (or via `group_application_roles) since `use

[2021-11-09 22:35] mooreds commented on #1473
my vote, if I get to pick, is 'accuracy' :)

[2021-11-10 02:35] jobannon opened #1486 "Review Timestamps within SAML configuration."
## Timestamps are occasionally skewed in SAML AuthNRequest or invalid

### Description
SAML timestamps come back invalid.

### Affects versions
List the version you are running, and any other versions you have attempted a recreated.

### Steps to reproduce
Steps to reproduce the behavior:
See SAML integration in https://fusionauth.io/community/forum/topic/1328/saml-invalid-timestamp

### Expected

[2021-11-10 21:59] vkorn opened #1487 "API: Deleting tenants doesn't work"
## Tenants stuck in "Deleting" state

### Description
After upgrading to 1.30.2, we're having issues with tenant deletion through the API (golang client, `DeleteTenantAsync`) : request goes through, but tenants are stuck in "Deleting" state. The only way to cleanup is to manually remove records from the DB.

### Affects versions
1.30.2

### Steps to reproduce
Steps to reproduce the behavior:
1. Cr

[2021-11-11 00:10] mjw913 opened #1488 "Remove SAML login page presented to end-user"
## Remove SAML Login

### Problem
We use FusionAuth to handle single signon in our app.  When we connect to a customer's IDP via SAML, we are always presented with a screen where the user must press an additional button.  They also receive a login and password prompt which confuses them
'
### Solution
If a tenant is saml, go right to the customer's IDP

### Community guidelines
All issues filed in

[2021-11-11 01:24] mooreds commented on #1488
You want the `idp_hint` parameter.

[code]

More here: https://fusionauth.io/docs/v1/tech/oauth/endpoints/

If that solves your issue, please close this out.

[2021-11-11 23:25] vkorn commented on #1487
Small update: tried deleting from the UI itself -- having the same problem, tenants aren't deleting, stuck with "Deleting..." label. Nothing in the logs.

[2021-11-11 23:38] mooreds commented on #1487
Can't replicate this, @vkorn but maybe I'm not doing something you are doing.

* stand up a new instance in docker. Don't use kickstart
* proceed through the setup, accepting the license
* create a new tenant
* delete tenant (succeeds)
* create a new tenant
* create a new application in that tenant
* delete the tenant (succeeds, but takes a while )

Can you provide more details about what triggers

[2021-11-11 23:58] vkorn commented on #1487
Hey @mooreds  thx for the reply.

I have two instances of fusion running in cluster in k8s. Initially instances were provisioned long time ago, but were updated to 1.30.2 with all required db upgrade scripts executed.

We're creating new tenants through the API with multiple apps in each tenant.

Some of our test tenants didn't have any users some of them had, I've tried removing all users first -

[2021-11-12 00:07] mooreds commented on #1487
Thanks for the additional details @vkorn .

Do you remember what version the old version of FusionAuth was?

[2021-11-12 00:13] vkorn commented on #1487
Checked history. Just in case here's the full versions' list we've used:

1. Initial setup was with `fusionauth/fusionauth-app:1.23.2`
2. Then it was updated to `fusionauth/fusionauth-app:1.28.0`, deletion was working on that version
3. A few weeks ago we've updated to the `fusionauth/fusionauth-app:1.30.2` -- that's where the problem had started.

I can try rebooting instances and running tests a

[2021-11-12 00:22] robotdan opened #1489 "Update to LTS Java 17"
## Update to LTS Java 17

### Description
Update to the latest LTS Java - JDK 17.  No immediate functional changes, but this means we'll have to ditch Nashorn shortly.

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community guidelines](https://fusionauth.io/community/forum/topic/1000/code-of-conduct).

[2021-11-12 14:46] mooreds commented on #1002
## General app gateway

Place all apps behind a proxy. Have the proxy delegate authentication to FusionAuth. Set up apps to only accept connections from the proxy.

When a user attempts to access an app, the proxy sends them to FusionAuth. They authenticate and are then forwarded on to the application, perhaps with a header or other means of passing on the user info.

See https://news.ycombinator.

[2021-11-12 15:16] robfusion commented on #1132
Should be fixed with recent Locale changes

[2021-11-12 15:18] robfusion commented on #978
Should be fixed with recent Locale changes

[2021-11-12 15:37] crossan007 commented on #566
@robotdan Is there a separate issue I can follow for the "Launchpad" feature?

I'm looking for a kind of "Application directory" for (authenticated) FusionAuth end users where they can see all of the apps available to them, and click a link to launch directly into the app (IdP initiated workflow; _starting from_ FusionAuth).

[2021-11-12 17:54] robotdan commented on #566
Some of this is possible today - depending upon your needs. There is a set of self-service pages you can expose to your user, and a root landing page that can be themed. You may be able to build links or launch points into other applications here by building an OAuth Authorize URL on these pages.

But we don't have an official GH issue open to track the feature for a more built-in configurable lau

[2021-11-12 18:01] robfusion commented on #1165
So this gets a little complicated, bear with me. This behavior is actually the behavior of jackson-databind :

https://github.com/FasterXML/jackson-databind

We use that to do our serialization and deserialization of objects. Jackson will accept a large variety of string representations and convert them to java.util.Locale objects. If you are curious about the complexity of what it will handle as

[2021-11-12 18:21] mooreds commented on #1487
Hi @vkorn .

Hmm. I did the following:

* stood up a docker container running 1.28.0 (https://fusionauth.io/docs/v1/tech/installation-guide/docker/ )
* added a tenant and two applications via the UI
* deleted the tenant (success)
* paused the fusionauth docker container (`docker-compose pause fusionauth`)
* ran the SQL update statements to upgrade from 1.28.0 to 1.30.2 via the psql command line
*

[2021-11-12 18:42] crossan007 commented on #566
@robotdan nice! That may actually fit my needs perfectly, since it seems that there are some security concerns around IdP initiated logins, and launching right into the SP's login page (possibly with a query string instructing the SP to being the SP-initiated login with the FusionAuth IdP) is the preferred mechanism anyway.

[2021-11-12 19:26] robotdan commented on #1487
We have had this issue in the past, but I thought we fixed it. There is a work around documented here: https://github.com/FusionAuth/fusionauth-issues/issues/1075#issuecomment-836873452 if it helps.

[2021-11-12 20:32] robotdan opened #1490 "Do we need to potentially collection birthdate using advanced forms for children under"
## Do we need to potentially collection birthdate using advanced forms for children under

### Description
Related to https://github.com/FusionAuth/fusionauth-issues/issues/702 - we aren't using the logic in the registration form for `collectBirthDate ` when using advanced registration forms.

Assuming we need to - or possibly need to depending upon the family configuration or other COPPA consents

[2021-11-12 20:33] robotdan commented on #1490
Taking with bug until we can identify otherwise.

[2021-11-12 20:48] vkorn commented on #1487
Ok, I think I've figured out what was the problem @mooreds

I've decided to restart nodes and it seem that scheduler wasn't running, after the restart I see bunch of messages

[code]

Those are tenants which I had to manually remove before. Now I can delete tenants.
Is there a way to tell whether scheduler is running or not? I don't see any scheduler exceptions for the past 3 weeks in the logs, so

[2021-11-12 20:49] jobannon commented on #1335
Seen on https://fusionauth.io/community/forum/topic/1351/send-additional-params-to-identity-providers-link/4?_=1636749387444

[2021-11-13 00:00] robotdan commented on #1487
The scheduler always is running, on startup you'll see the message about starting up and running.

[code]

This messaging would indicate that the tenant did end up being deleted. Perhaps the job was stuck in a running state, otherwise it would have been cleaned up - not sure that happens exactly.

Do you see other older messages for `io.fusionauth.api.service.system.AsyncTaskManager` in the log in

[2021-11-13 00:26] robotdan commented on #1479
So another way to say this is that you want a new event in place of FusionAuth sending an email. This event would contain all of the serialized objects otherwise available to the email template.

For example, instead of sending a forgot password email we would:

1. Construct a new event with the user object, tenant object, forgot password code, event information (ip data, user agent etc)
2. Send t

[2021-11-13 01:08] mooreds commented on #1479
Yes, that sums up what the customer was looking for.

[2021-11-13 01:58] vkorn commented on #1487
@robotdan nope, not a single log entry about the task manager for the past 3 weeks besides original startup. Only after nodes restart I can see that tasks being picked up.

[2021-11-13 06:16] MCBrandenburg commented on #1482
@jyotibhanot believe I fixed this in 'v0.1.50'

[2021-11-15 15:55] mooreds opened #1491 "Add a claim when someone has gone through step-up"
## Add a claim when someone has gone through step-up

### Problem

There is no way to determine from a JWT if someone has gone through a step-up auth.

### Solution

Add a claim to indicate this. https://fusionauth.io/docs/v1/tech/apis/login/#complete-multi-factor-authentication should indicate that a user has been through MFA.

### Alternatives/workarounds
A clear and concise description of any a

[2021-11-16 02:42] robotdan commented on #1132
@robfusion do we have a test for `aghem` or is it just implicitly covered since we are now testing against all locales returned by the JDK?

[2021-11-16 04:26] robfusion commented on #1132
Yeah, it's covered by the test of all available locales

On Mon, Nov 15, 2021, 9:42 PM Daniel DeGroff ***@***.***>
wrote:

[2021-11-16 22:26] pendenga commented on #614
I upvoted this, but also like to mention my use case. I've been doing a lot of debugging and support directly in the API using Postman. Postman can build the collection automatically given an OpenAPI spec, so that's my interest. I have my own collection I've been putting together as I go along, but it'd be nice to have one built from a definitive spec.

[2021-11-18 09:45] lingwooc opened #1492 "Kickstart json include eats escaped newlines in imported json"
## Kickstart json include eats escaped newlines in imported json

### Description
I'm putting my theme file in another file and using your json import to include it in the kickstart. This has the unwanted side effect of _appearing_ to remove _some_ instances of \n. If I check the config maps and the files themselves in the container everything is in order. The same json applies to your api without

[2021-11-18 11:20] MikeBroders opened #1493 "Daily registration statistics not shown in Dashboard"
## Daily registration statistics not shown in Dashboard

### Description
The amount of registrations in the dashboard (Registrations today) is displaying 0

### Affects versions
1.30.2

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to FuasionAuth Dashboard

### Expected behavior
Registrations today should show the daily registrations amount

### Screenshots
![image](https://user-im

[2021-11-18 12:14] lingwooc commented on #1492
Ug, no that's not it at all. Just all `\`s in a theme must be escaped as `\\\` (including for quotes). So `\n` should be `\\\n` and `\"` should be `\\\"`. The escaping in text imports however is _quite mad_. I'm not going to try and work that one out.

[2021-11-18 12:14] #1492 closed

[2021-11-18 14:46] mooreds commented on #1492
It may be helpful to use the include directives for these files. Here's an example: https://fusionauth.io/docs/v1/tech/installation-guide/kickstart/#include-text-files

[2021-11-18 17:12] jobannon opened #1494 "Add Back Button to Advanced Registration Forms"
## Add Back Button to Advanced Registration Forms

### Problem
Sometimes when I am in a multipart form, I have users that want to go back to a previous step and make changes before submitting fully.

### Solution
Add a back button to advanced registration forms or any other multipart form in FusionAuth.

### Alternatives/workarounds
There may be ways to do this with the theme and links.  This woul

[2021-11-18 19:17] mooreds commented on #1494
Are you talking about a back button link or button in the form?

Does the browser back button not work currently?

[2021-11-18 20:44] bguyza opened #1495 "Add support for a “Not You?” link on the incoming Device linking flow"
## Add support for a “Not You?” link on the incoming Device linking flow

### Description

### Desired workflow

Add a link such as “Not You?” to the incoming device linking flow for a user to
decide they wish to logout of the current session and instead be presented with
the interstitial page where they may choose to “Login to an existing account” or
“Register as a new user”.

When this flow is t

[2021-11-18 21:29] jobannon commented on #1494
@mooreds This would be a back button on an advance registration form with multiple parts/pages.

If you use the browser back button, you will get a `cache miss err` message as we set `Cache-Control: no-cache`  headers.  So this is expected behavior, per browser spec, as I understand it.  To avoid this error, we would need to add the functionality described in this issue.

[2021-11-19 01:05] robotdan opened #1496 "A URL encoding scheme is assumed when validating a SAML v2 signature for HTTP Redirect Binding"
## A URL encoding scheme is assumed when validating a SAML v2 signature for HTTP Redirect Binding

### Description
When the signature is calculated for an AuthN request when using HTTP Redirect Bindings, the canonical string is built and a signature is built to compare with the one provided.

The SAML spec indicates that because URL encoding is not canonical, you cannot perform your own URL encodi

[2021-11-19 05:14] robotdan commented on #1496
Fixed in `fusionauth-samlv2` under https://github.com/FusionAuth/fusionauth-samlv2/commit/24fcb4be4d9baf3e6eccfdf7bbbb38e0dbfe07e3

[2021-11-19 05:34] robotdan commented on #1496
https://github.com/FusionAuth/fusionauth-api/commit/c1998798dd7773724da74287076f63ddc5cb5bbd
https://github.com/FusionAuth/fusionauth-app/commit/9b7ee7e5d21e893fddf25b2209fd5c28753d2a67

[2021-11-19 05:52] robotdan commented on #1493
This is most likely working as designed.

This report will be calculated using the time zone configured in the System configuration for the report timezone. See `Settings > System > Reports`. Depending upon this configured time zone, and the timezone you're in - the report can appear delayed.

[2021-11-19 10:32] MikeBroders commented on #1493
time zone is set...
![image](https://user-images.githubusercontent.com/29118421/142608183-3f5c52c0-8df3-439f-8a0a-3c61fa4420e9.png)

but no display of daily registrations since update to 1.30.2

[2021-11-19 19:14] #702 closed

[2021-11-19 19:15] #978 closed

[2021-11-19 19:16] #1132 closed

[2021-11-19 19:18] robotdan commented on #1165
Going to close this out for now based upon the comment from @robfusion . @ceefour please re-open if you disagree with this assessment and we can possibly dig into it again.

[2021-11-19 19:18] #1165 closed

[2021-11-19 19:24] #1123 closed

[2021-11-19 19:25] #1171 closed

[2021-11-19 19:34] #1397 closed

[2021-11-19 19:36] #1446 closed

[2021-11-19 19:37] #1448 closed

[2021-11-19 19:41] #1449 closed

[2021-11-19 19:46] #1456 closed

[2021-11-19 19:48] #1457 closed

[2021-11-19 19:50] #1459 closed

[2021-11-19 19:51] #1462 closed

[2021-11-19 19:53] #1466 closed, assigned to bguyza

[2021-11-19 19:56] #1470 closed

[2021-11-19 19:59] #1473 closed

[2021-11-19 20:01] #1476 closed

[2021-11-19 20:04] #1496 closed

[2021-11-19 20:06] #1461 closed

[2021-11-19 20:09] #1306 closed

[2021-11-19 20:16] #1360 closed

[2021-11-19 20:17] #1417 closed

[2021-11-19 20:22] #1425 closed

[2021-11-19 20:22] #323 closed

[2021-11-19 21:05] robotdan opened #1497 "Add support for Federated Logout for Azure and other IdPs"
## Add support for Federated Logout for Azure and other IdPs

### Problem
When logging out of FusionAuth SSO, we do not have the option to allow you to also log out of a federated IdP that may have been used to begin the login process with FusionAuth.

### Solution
Support some capability to perform federated logout. Support for this is on an IdP by IdP basis, and will not always work. But some Id

[2021-11-22 15:46] robotdan opened #1498 "Global count upsert fails"
## Global count upsert fails

### Description
Unclear how this is possible, it seems that it should not be. Needs investigation. At a high level we are inserting counts into a raw table w/out any constraints. Then we select from this raw table `GROUP BY hour` which is the unique constraint on the target table and performa an `UPSERT`.

This was observed on a system in FusionAuth Cloud.

[code]

##

[2021-11-22 18:06] robotdan opened #1499 "Add thread pool metrics for Webhooks to the health check / status endpoint"
## Add Webhook metrics to the health check / status endpoint

### Description
Add some additional metrics to the health check / status endpoint for webhooks.

Such as :
- Number of threads available in the executor pool
- Number of threads in-use in the executor pool
- Number of events waiting to be queued by the executor pool
- Number of events that have failed to be added to the queue and will n

[2021-11-22 18:13] robotdan opened #1500 "Allow the event sender queue / thread pool to be able to handle large spikes by using a better queue type"
## Allow the event sender queue / thread pool to be able to handle large spikes by using a better queue type

### Description
We currently use a `SynchronousQueue` which is a pass through to immediately submit the task to the thread pool. If the configure number of threads are busy, then the callable will fail to be queued.

[code]

We should consider either increasing the available thread count,

[2021-11-22 18:35] robotdan opened #1501 "Event Log search does not reset the page number when building a new query"
## Event Log search does not reset the page number when building a new query

### Description
When a new search is sent in Event Log (and likely Audit Log) we are not asking to reset the page number.

We should review all non Elasticsearch search page.

### Affects versions
TBD

### Steps to reproduce
1. With several pages of events
2. Search on Lambda (for example) and then page over to page 2 or

[2021-11-22 21:23] jobannon opened #1502 "Update JSON response for Malformed Connector"
## Update JSON response for Malformed Connector

### Problem
Using a connector within FusionAuth, with invalid JSON or a JSON object that FusionAuth doesn't expect (per the API interface) results in a `200` response and an exception report to the screen.

### Solution
FusionAuth should return that the JSON is malformed with a `400` or similar error.  Or be more descriptive in the error generated.

[2021-11-22 22:59] mooreds opened #1503 "Can't use /api/jwt/reconcile with Apple IdP"
## Can't use /api/jwt/reconcile with Apple IdP

### Description

The /api/jwt/reconcile doesn't work with Apple IdP

This specifies that you can use it with any identity provider: https://fusionauth.io/docs/v1/tech/apis/jwt/#reconcile-a-jwt

### Affects versions

?

### Steps to reproduce

* Get a token from apple
* Call /api/jwt/reconcile to get a fusionauth jwt

It fails.

### Expected behavior

[2021-11-24 01:16] mooreds commented on #91
Had someone reach out and ask about this use case today. In particular, they are a SaaS company and want to empower their customers to create users of their own. You can do that by building a UX with the FusionAuth APIs, but this role would allow for the administrative UX to serve the same purpose.

[2021-11-24 14:45] awoodsprim commented on #1331
Any documentation for this?  I've tried to enable it by editing the metadata XML and adding the ?idp_hint to the login bindings, but it doesn't seem to pass that through to the login screen and the login screen still shows.

[2021-11-24 17:33] robotdan commented on #1503
This endpoint is really only intended to work with the ExternalJWT IdP.

In practice it is the same endpoint as `/api/identity-provider/login` so if Apple works with that one, it should work with this one, but I believe we document to use `/api/identity-provider/login` with Apple and all other IdPs. But perhaps we need to add some clarification.

[2021-11-24 18:04] awoodsprim commented on #1011
@robotdan Was looking for this exact issue.  I'd like the groups between my external provider and fusion auth to be synchronized.  Any idea if/when this would be considered for the product?

[2021-11-24 18:09] awoodsprim commented on #1475
@mooreds The /api/user endpoint is accessible with the returned access token - see: Retrieve a User using a JWT in your docs here: https://fusionauth.io/docs/v1/tech/apis/users/#retrieve-a-user

[2021-11-24 18:11] awoodsprim commented on #1475
@mooreds The best thing would be to honor the open id "scopes" parameter as per the spec to limit the PII returned.  Then if the access token's scope claim is modified the userinfo endpoint would behave correctly.

However, the lambda would also provide more flexibility (add claims from the user.data section) than what is currently offered.

[2021-11-24 18:12] awoodsprim commented on #1475
@mooreds The only required field as per the spec is "sub".  Otherwise, all other fields are optional (although "iss" and "aud" are suggested)

[2021-11-24 18:20] awoodsprim commented on #484
This is needed when the system is being configured with an external provider as well.  See this scenario:

- All users should login via OpenID Connect identity provider (no username/password allowed) -> this is actually hard to do in fusion auth right now since there seems to be an assumption that we ALWAYS want to allow un/pw logins in addition to external IdP.
- Automatic registration creation t

[2021-11-24 18:41] mooreds commented on #1011
@awoodsprim I don't think this is on the current near term roadmap, otherwise it would be assigned to a milestone.

You can see our general roadmap guidance here: https://fusionauth.io/docs/v1/tech/core-concepts/roadmap/

Please do vote this up with the 'thumbs up' emoji on the issue; that is the primary means we have of assessing community support for particular features.

[2021-11-25 12:26] whizzygeeks commented on #849
Facing same issue with Postgresql as JDBC connection

2021-11-25 12:12:55.513 PM ERROR com.inversoft.maintenance.db.DatabaseSilentModeWorkflowTask - Encountered an error while running silent mode
java.lang.IllegalStateException: Unable to capture database lock. This indicates that the database either doesn't support locks or is misconfigured.
        at com.inversoft.maintenance.db.JDBCMaintenance

[2021-11-25 23:57] robotdan commented on #628
Initial plan is to support this at the tenant email configuration. This means any additional headers configured will be added to all outgoing email for this tenant.

We discussed adding this config per template as an override or augmentation, but the plan is to wait until we see if there is a need or desire for this type of capability. One issue with configuring these headers at a template level i

[2021-11-27 23:58] robotdan commented on #849
Since we closed this one out and it was originally for MySQL, @whizzygeeks can you open a new issue please.

Then add as many details as possible, such as what version of Postgres, what platform (Linux, Windows, macOS, AWS, Azure, etc), more details the better. Thanks!

[2021-11-30 02:53] epbensimpson opened #1504 "Postgres: Contention on last_login_instants table"
## Postgresql: Contention on `last_login_instants` table

### Description
This morning we had a large spike in requests to FusionAuth. We observed FusionAuth being pegged at 100% CPU, our autoscaling kicked in and we went from 2 to 16 instances pretty rapidly:

![image](https://user-images.githubusercontent.com/67403798/143969639-0148c72d-43ca-48a1-8312-d094e73e0cea.png)

![image](https://user-ima

[2021-11-30 10:07] redplane opened #1505 "Keep user in edit theme page after having saved template"
## Keep user in edit theme page after having saved template

### Problem

1. I used theming function provided by fusion auth.
![image](https://user-images.githubusercontent.com/7974095/144026421-6fa4cea5-bb12-4a48-a330-be54d7ca20af.png)

2. Everytime when I saved some lines of code, I was redirected to listing page which can make developers lost their focus on what they are doing.
![image](https:/

[2021-12-01 04:25] redplane opened #1506 "Intellisense for theming"
## Intellisense for theming

### Problem
I'm using fusionauth theming function to create custom OAuth Authorize page.
After doing some researches, the below is what I'm using to create a custom page:

1. Copy the `Freemarker` code to a physical file and [open it with intellij](https://www.jetbrains.com/help/idea/template-data-languages.html)
![image](https://user-images.githubusercontent.com/79740

[2021-12-01 10:09] jegger opened #1507 "Brute force protection against non-existing accounts (prevent username / email fishing)"
## Brute force protection against non-existing accounts (prevent username / email fishing)

### Problem
When entering the credentials in the FA login page an attacker can figure out email addresses / usernames by brute-force. If the account exists, an attacker will run into a "account locked" state for an account.

### Solution
Track the login attempts for non-existing usernames / emails as well.

[2021-12-01 10:24] MikeBroders commented on #1493
any hints on this topic?

[2021-12-01 13:54] dmushkov commented on #180
.well-known/openid-configuration still does not handled by cors filter

[2021-12-01 15:09] mooreds commented on #180
@dmushkov please file a new issue with this info; unfortunately comments on closed issues often get lost.

[2021-12-01 15:50] dmushkov opened #1508 ".well-known/openid-configuration does not handled by cors filter"
.well-known/openid-configuration does not handled by cors filter

When try to access http://{fusionauth}/.well-known/openid-configuration from JS client you got
Access to XMLHttpRequest at 'http://{fusionauth}/.well-known/openid-configuration' from origin 'https://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2021-12-01 18:51] darwinshameran commented on #441
Would love to see support for JSON PATCH in FA!

[2021-12-01 20:45] mooreds commented on #441
@darwinshameran please vote the issue up (with a 'thumbs up'), as that is how we determine community support.

More here: https://fusionauth.io/docs/v1/tech/core-concepts/roadmap/

[2021-12-01 22:28] mooreds opened #1509 "Enable email domain security checks"
## (Put feature request title here)

### Problem
Put some more security around emailed magic links, particularly when the domain is not longer existing. This could also help with some account takeover risks when a domain expires and then is purchased by someone else.

### Solution

Options:
* flag or lock accounts when the email bounces (would probably require some integration with the SMTP server

[2021-12-02 05:02] bguyza commented on #1498
Note to self:
This looks to be related to https://github.com/FusionAuth/fusionauth-issues/issues/1466 if not the same thing that has been fixed.

[2021-12-02 15:28] yaskoo commented on #88
I wonder if supporting the `X-Forwarded-Prefix` header would be easier to integrate.
Recently I had to fix a similar issue in a Spring Boot app which used Spring HATEOAS and [this](https://stackoverflow.com/a/59126519/5316084) resolved the issue.

[2021-12-02 20:56] epbensimpson commented on #1504
Well, I'm happy to report that this was not a FusionAuth issue but something funky going on with the Aurora cluster. After our DBA resolved an issue to do with replication on one of the other databases on the cluster, we are able to scale FA without seeing this contention.

Moral of the story: don't run your FusionAuth database on a shared server.

[2021-12-02 20:56] #1504 closed

[2021-12-02 21:12] robotdan opened #1510 "Support general configuration to write HTTP response headers from FusionAuth"
## Support general configuration to write HTTP response headers from FusionAuth

### Description
There are some security related headers that we may want to write, and these types of headers change and may be specific per client.

We could optionally expose a key value pair configuration to allow HTTP headers to be written to the HTTP response by FusionAuth.

### Related
- https://securityheaders.

[2021-12-02 21:19] chrisgoddard opened #1511 "Filter by entity type when retrieving grants for a userID"
## Add entity-type filter to  `/api/entity/grant/search`

### Problem
When retrieving all grants for a particular user, it is possible to get a very large number of results - most of them might not be relevant to the particular need. It would be very helpful if we could filter the search based on a specific entity type.

### Solution

[code]
OR
[code]

### Alternatives/workarounds

Alternatively,

[2021-12-02 23:16] mooreds commented on #484
@awoodsprim Interesting use case. Why can't you:

* create two applications, a 'dummy' one with self service registration and the 'real' application.
* allow the user to OIDC in to the dummy one
* do your out of band licensing, and on success, add a registration to the 'real' application.

You can remove the username/password form from the login page via a custom theme.

[2021-12-02 23:23] mooreds commented on #1504
Thanks for closing the loop, @epbensimpson !

[2021-12-03 09:15] soullivaneuh commented on #1437
@mooreds Do you have any clue about this issue? Thanks!

[2021-12-03 11:17] pipposepsa commented on #1507
Talking about security this feature is a must.

[2021-12-06 21:00] robotdan commented on #1467
Add missing checks. https://github.com/FusionAuth/fusionauth-api/commit/6dcecc77e322559b0a289505a38502198ad9b1b5

[2021-12-06 23:10] mooreds commented on #484
@awoodsprim

Thanks for clarifying your end use case.

You should be able to do this via a provisioning script:

* add a user to a tenant with an email or username (depending on linking strategy) with a random password that they never need to know
* add the user to a group
* add a registration to the user for particular applications

When you present the login form link to the user, specify an `id

[2021-12-06 23:22] robotdan commented on #1231
Closing for now as working as designed. It is not recommended to send in duplicate primary keys during a user create.

[2021-12-06 23:22] #1231 closed

[2021-12-06 23:25] robotdan commented on #1090
Is this still occurring?

[2021-12-06 23:26] mooreds commented on #1437
Hmmm. I don't have any ideas. Looks like your template contain the `changePasswordId` which is a valid variable here: https://fusionauth.io/docs/v1/tech/themes/template-variables/#oauth-change-password-form

Is there anything in the event log? Sometimes useful info shows up there.

Additional steps you could take:

* seeing if this appears for you in 1.31.0 (I looked at the release notes and it do

[2021-12-06 23:26] robotdan commented on #985
This may have been solved under https://github.com/FusionAuth/fusionauth-issues/issues/1367. Does this still occur?

[2021-12-06 23:28] robotdan commented on #982
Is this still an issue, or is this now possible?

[2021-12-06 23:29] robotdan commented on #1142
I believe this was resolved in https://github.com/FusionAuth/fusionauth-issues/issues/362.

[2021-12-06 23:29] #1142 closed

[2021-12-06 23:30] robotdan commented on #949
This should now be available using the Reactor API.
https://fusionauth.io/docs/v1/tech/apis/reactor/

Please re-open if we are missing any capability.

[2021-12-06 23:30] #949 closed

[2021-12-06 23:31] robotdan commented on #916
This is working as designed. Not sure I see much of a problem with it. Do you have a strong opinion on this one?

[2021-12-06 23:32] robotdan commented on #902
Closing. Let us know if you still can recreate this issue, and please provide all environment variables, fusionauth config files, etc. so we can review. Thanks!

[2021-12-06 23:32] #902 closed

[2021-12-06 23:35] robotdan commented on #1493
Maybe related to this one https://github.com/FusionAuth/fusionauth-issues/issues/1498

[2021-12-06 23:39] robotdan commented on #844
Will email verification gating satisfy this requirement? Email verification gating was delivered in 1.27.0 under GH issue https://github.com/FusionAuth/fusionauth-issues/issues/1191.

[2021-12-07 13:08] awoodsprim commented on #484
Continued here: https://fusionauth.io/community/forum/topic/1392/invite-users-to-tenant-via-email-without-password

[2021-12-07 13:15] awoodsprim commented on #946
As an alternative (until this issue is resolved with a better and more general solution), you can pass the information in the "scope" parameter.  It is a bit of a mis-use of the scope, but it is currently exposed.

_Example use:_

On our testing tenant and application, we are using that to allow developers to simulate "roles" by passing in a scope of:
role:XYZ in the scope parameter and then the l

[2021-12-07 17:11] MikeBroders commented on #1493
thanks for looking into it!

[2021-12-07 20:56] robotdan opened #1512 "Connector - Passwordless Login Workflow prior to migration"
## Connector - Passwordless Login Workflow prior to migration

### Problem
Currently, the Passwordless login workflow requires the user exist in FusionAuth. This means that if you are using a connector, until the user logs in, the user will not yet exist in FusionAuth - and this workflow does not work.

### Solution
Support this workflow prior to migration of the user by allowing a lookup to occur

[2021-12-07 21:52] Mistic92 commented on #849
I have the same issue using latest docker image and trying to connect to PostgreSQL 12 on GCP Cloud SQL

[2021-12-07 22:24] robotdan commented on #849
Thanks for the update @Mistic92 , re-opening.

Still not sure how to debug this one though. We are essentially using the same strategy that Google Flyway (now managed by RedGate it appears) uses for db cross node locking. Perhaps we need to see if they are any fixes or changes in their strategy since we first built this.

https://github.com/flyway/flyway/

[2021-12-08 06:27] ngoc199 opened #1513 "How to change user avatar image on FusionAuth?"
Please consider posting your question on the [FusionAuth forum](https://fusionauth.io/community/forum/).

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community guidelines](https://fusionauth.io/community/forum/topic/1000/code-of-conduct).

I am really new to FusionAuth.

When I navigate to the user in the Admin, I can't change the avatar image, even t

[2021-12-08 14:12] mooreds commented on #1513
Closing this as a support issue.

The forum is the correct place for asking support questions (unless you have a paid plan, in which case please open a support ticket via the account portal).

I see you asked here: https://fusionauth.io/community/forum/topic/1391/how-to-change-user-avatar-image-on-fusionauth

As documented here https://fusionauth.io/technical-support/ we try to answer support ques

[2021-12-08 14:12] #1513 closed

[2021-12-08 15:13] robotdan opened #1514 "When using kickstart on a running system w/ the (tech preview) reset option, it may fail if application themes are in use"
## When using kickstart on a running system w/ the (tech preview) reset option, it may fail if application themes are in use

### Description
Try to do a kickstart reset with a running system in development mode with an application theme configured.

[code]

We probably have an ordering problem in the reset service. In particular I think the issue is that we do not delete the default application,

[2021-12-09 23:12] robotdan commented on #1493
I think we have confirmed this is caused by #1498 - and the fix should be available shortly.

[2021-12-09 23:12] #1493 closed

[2021-12-10 20:49] mooreds opened #1515 "Allow for programmatic creation/management of FusionAuth SSO session"
## Allow for programmatic creation/management of FusionAuth SSO session

This was created based on a customer request.

### Problem

I want to create a user via the registration API, rather than self registration. I don't want to have them have to log in via the hosted login pages. But I want SSO to work after they register.

This also applies when I have one application that I want to log the use

[2021-12-10 21:11] #1514 closed

[2021-12-10 21:11] #1498 closed

[2021-12-10 21:11] #1489 closed

[2021-12-10 21:20] mooreds commented on #1393
This might be useful too: https://github.com/stripe/smokescreen

[2021-12-10 21:22] mooreds commented on #613
Closing because I added these in in PR #1127.

[2021-12-10 21:22] #613 closed

[2021-12-10 21:25] robotdan commented on #1493
@MikeBroders this should be fixed in 1.32.0 which is now available. Please us know if the problem persists.

[2021-12-10 21:39] mooreds opened #1516 "External identifier on user"
## External identifier on user

This was a customer request.

### Problem

Users have identifiers that are tied to other systems. It would be nice to have this be a first class data attribute, like first name.

### Solution

Add an `externalIdentifier` field which is a first class attribute on `user`, searchable via the database query engine, and nullable. It shouldn't be forced to be a UUID or un

[2021-12-10 23:14] Oceanswave opened #1517 "FusionAuth 1.31.0 - OIDC Reconcile lambdas being called multiple times, resulting in cleared registrations, on certain identity providers"
FusionAuth 1.31.0 - OIDC Reconcile lambdas being called multiple times, resulting in cleared registrations, on certain identity providers

### Description
Within four separate containerized environments (dev/uat/prod/local) in different clusters, using the FusionAuth 1.31.0 images, starting with 1.31.0 it is observed that on various identity providers, reconcile lambdas are being called twice.

Wh

[2021-12-11 04:55] robotdan opened #1518 "Jlinked VM packaged with Docker image in 1.32.0 is missing a module"
## Jlinked VM packaged with Docker image in 1.32.0 is missing a module

### Description
The `jdk.logging` module is missing in the jlink'd VM and it may cause an exception on startup, or cause the `fusionauth-app` service to fail during startup.

### Affects versions
1.32.0.

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community guidelines](https://fu

[2021-12-11 04:57] robotdan commented on #1517
Thanks for reporting @Oceanswave . In theory, the only time the lambda should run twice is if you modify or fabricate the email address (when linking by email) or the username (when linking by username) in the lambda.

However, even in that case, we should not expect any data integrity issues. We'll attempt to recreate and patch as quickly as possible.

[2021-12-11 05:40] robotdan commented on #1518
- https://github.com/FusionAuth/fusionauth-containers/commit/111e49c119ce58e8c524190787ee008596a98819
- https://github.com/FusionAuth/fusionauth-app/commit/6230a8d26654be11abe273d5084e4304d44e6a9a
- https://github.com/FusionAuth/fusionauth-app/commit/3d94d06b22eb8a9d9f94a156a0d8c4d1fc3b0842

[2021-12-11 05:55] robotdan commented on #1518
The `1.32.0` and `latest` Docker image tags have been replaced with an updated build. If you have already pulled one of these tags, please delete your local copy and pull again.

[2021-12-11 17:31] robotdan commented on #1517
@Oceanswave if you could provide me a sanitized version of your lambda function that may be helpful as well.

[2021-12-11 19:05] robotdan commented on #1517
Internal
- https://github.com/FusionAuth/fusionauth-app/commit/39fd24566a706606989c6d9fd5b81db50f205b49
- https://github.com/FusionAuth/fusionauth-app/commit/b77bf5ed64f6c2c36b8a28d0aadbf8d1312b7ca8
- https://github.com/FusionAuth/fusionauth-api/commit/f4c8245a3ebc86a3c5ddeaa50973bc639b25c676

[2021-12-11 19:07] Oceanswave commented on #1517
Hey Dan, I was actually able to repro with the default oidc lambda.

The strange part is that the issue varied with the same Azure AD based IdP
(using uid as the id bind) one tenant works fine, another fails, only
difference being the clieent id, secret, authority (url)

On Sat, Dec 11, 2021 at 12:31 PM Daniel DeGroff ***@***.***>
wrote:

[2021-12-11 19:16] robotdan commented on #1517
Ok, thanks @Oceanswave - I think I understand what is going on. I have a patch ready, doing some internal code reviews. Should have a patch out this weekend.

[2021-12-11 19:19] Oceanswave commented on #1517
Sounds great! Thanks for the prompt responses.

On Sat, Dec 11, 2021 at 2:16 PM Daniel DeGroff ***@***.***>
wrote:

[2021-12-12 11:25] oottinger commented on #1518
I'm not sure if this is related, but on MacOS using the install via brew I'm not able to start the v1.32.0 service.

Seeing the error in the logs:
[code]

I tried to execute the bundled java binary and it doesn't work:
[code]

The bundled version of 14 works:
[code]

If needed I can open a separate ticket.

[2021-12-13 17:24] robotdan commented on #1517
So there was a bug that was causing us to invoke the lambda a second time. In theory the only time it should be invoked twice is when the user has not yet been linked, and the email or username is modified or fabricated by the first invocation.

However, this was not the root cause. While incorrect, invoking the lambda the second time should have just been a no-op. But due to an un-expected JDBC c

[2021-12-13 22:23] matthewhartstonge commented on #1184
I would love this!
Have missed the past 2 updates.
We were expecting an email to come through via our cloud deployment, but am now fishing around to try and track it easily.

Understandably fusionauth-app is closed source, but I noticed that [FusionAuth/fusionauth-containers](https://github.com/FusionAuth/fusionauth-containers) seem to track tags with the new versions of fusionauth.

If a Github r

[2021-12-13 22:51] robotdan commented on #1517
Available in 1.32.1.

[2021-12-13 22:51] #1517 closed

[2021-12-13 22:54] robotdan commented on #1518
I think the homebrew thin may have been caused by the Elasticsearch service starting up first - and it was downloading JDK 14 instead of JDK 17. This has been corrected. Can you try upgrading to 1.32.1 w/ home brew and see how it goes? If you still run into an issue, please open a new issue. Thanks!

[2021-12-13 22:54] #1518 closed

[2021-12-13 22:57] #1467 closed

[2021-12-13 23:01] #1495 closed

[2021-12-14 02:10] redplane commented on #907
I face with the similar issue.
CPU & ram were too high when I start Fusion auth service on either desktop or docker.

![image](https://user-images.githubusercontent.com/7974095/145920016-ce9e8dd8-8b5e-4318-a3e1-5fedccff013d.png)

I think there could be memory leak somewhere in fusion auth application.
You can find my repo [here](https://github.com/maint16/FusionAuthDemo)

[2021-12-14 08:42] ewoutquax commented on #814
A webhook can respond to a event with a message. It would be nice to show that message on the frontend.

That way, our code can inform the user what happened, eg: "invalid login-type", instead of the generic "one or more webhooks failed, please try something else."

Even better would be if the webhook can return a code in the http-body, that can be translated via defaultMessages.txt in the theme.

[2021-12-14 18:20] #1310 closed

[2021-12-14 18:21] #1443 closed

[2021-12-14 19:18] #628 closed

[2021-12-14 19:58] robotdan opened #1519 "FastPath Java download may fail on version >= 1.32.0"
## FastPath Java download may fail on version >= 1.32.0

### Description
A missing `CURL_OPT` variable may cause the download of Java to fail during startup when using the `startup.sh` script for a Fast Path installation.

### Affects versions
\>= 1.32.0

### Workaround
**Option 1:**
You can add this to the top of `setup.sh` below `CURL_OPTS="-fSL --progress-bar"`

[code]

**Option 2:**
Use the To

[2021-12-15 00:04] robotdan opened #1520 "Mitigate CVE-2021-44228 log4j in Elasticsearch for good measure"
## Mitigate CVE-2021-44228 log4j in Elasticsearch for good measure

### Description
FusionAuth has been shipping Java 14 since version 1.16.0 which was released in April 2020, and as of version 1.32.0, we are shipping Java 17 LTS.

Elasticsearch has stated that if you are running on Java 9+ - you are not vulnerable. The mitigation to an existing instance of Elasticsearch if you are not running on

[2021-12-15 04:30] robotdan opened #1521 "Verify we are properly using the correct IP from an HTTP header that may contain more than one IP address when looking up IP info"
## (Put bug title here)

### Description
I observed this in a log, I changed the IPs for anonymity. This looks to be caused by a raw login record containing more than one IP address. I think I have observed this in the past and I am fairly certain it has already been fixed.

This came from a system running `1.30.2`, so we need to confirm this has been fixed since this version and if not fix it. I

[2021-12-15 14:06] TimVanHerwijnen opened #1522 "[API] 'jwt.refresh-token.revoke' event not send out when using '/api/logout'"
## 'jwt.refresh-token.revoke' event not send out when using '/api/logout'

### Description
When I use `/api/logout` to logout it does not end out an `jwt.refresh-token.revoke` event. But it **does** revoke the token.

### Affects versions
I am running version 1.31.0

### Steps to reproduce
Steps to reproduce the behavior:
1. Setup JWT auth with refresh-token in front-end app
1. Enable webhook in F

[2021-12-15 15:47] alessandrojcm commented on #437
@robotdan Auth0 also [allows](https://auth0.com/docs/configure/applications/application-settings#application-uris) this. From their docs:

They specify it's only for subdomains, but I think this will cover all use cases as using wildcards for domain names would be too broad. I understand this is out of the spec, but maybe it could be implemented as a development feature? (Ie. only allowed for non-

[2021-12-15 16:34] mooreds commented on #437
Thanks for the feedback @alessandrojcm . Please make sure you upvote this too (I can't tell from the GH UI if you have).

[2021-12-15 16:35] alessandrojcm commented on #437
No prob, yes U just upvoted :smiley:

[2021-12-15 17:04] mooreds opened #1523 "Support m1 chipset"
## Support m1 chipset

### Problem
M1 chipset is not supported.

### Solution

Support it.

### Alternatives/workarounds

Rosetta, perhaps? https://support.apple.com/en-us/HT211861

### Additional context

Pulled over from: https://github.com/FusionAuth/fusionauth-containers/issues/73

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community guidelines](

[2021-12-15 22:48] mooreds opened #1524 "Build out hosted tenant management pages"
## Build out hosted tenant management pages

**Unsure if we'd ever implement this, but wanted to get community feedback**

### Problem

FusionAuth has a great UX for end users (hosted login pages) and for super users (the admin app). But if you are a SaaS building a multi tenant solution, you have to build your own UX to allow your customers to manage their FusionAuth functionality such as adding

[2021-12-15 23:21] matthewhartstonge opened #1525 "Event/Webhook on User IDP link creation"
## Event on IDP user binding

### Problem
When a user has signed in to our application using a social sign in, we want to be able to display what connections have been made.

At the moment, in order to do this programmatically, we have to list all the IDPs, work out which one is which type, then query for the users links, then do some UUID interpolation to work out if they've connected to a given

[2021-12-16 02:59] chrisgoddard commented on #1295
Hey guys! Is there any update/timeline on this feature?

[2021-12-16 05:13] robotdan opened #1526 "Login with Apple may not be working with iOS 12?"
## Login with Apple may not be working with iOS 12?

### Description
A client reported that the login with Apple may not be working with iOS 12.

We need to review the Apple documentation and identify if there are any minimum requirements or changes we may have to make to ensure compatibility.

#### Update
The root issue is that we are using a numeric separator in our `Apple.js` JavaScript. We hav

[2021-12-16 08:39] franklouwers commented on #267
What's the latest on this? This is preventing us from rolling out FusionAuth

[2021-12-16 16:44] mooreds commented on #267
@franklouwers we're been discussing this internally, the update to java17 (included in release 1.32) makes it more straightforward to implement. But in general we can't commit to timelines outside of a signed professional services statement of work. I'm sure you understand that we have multiple competing priorities (haha, doesn't everyone!), but we'd love to get this out because it looks really us

[2021-12-16 17:55] mooreds commented on #1526
Looks like signin with apple is supported on ios 12+: https://developer.apple.com/documentation/authenticationservices

Will see if I can get more details.

[2021-12-16 18:02] mooreds commented on #1525
@matthewhartstonge FYI, the ids of identity providers for all social logins are fixed as documented in the various pages.

https://fusionauth.io/docs/v1/tech/apis/identity-providers/apple/

So if you are only worried about social providers, you could embed a map of the id -> type in your code rather than making a second API call.

That's secondary to your request, but just wanted to note that.

[2021-12-17 03:18] matthewhartstonge opened #1527 ""Sign in with Apple" configurable Redirect URI (Apple Identity Provider)"
## "Sign in with Apple" configurable Redirect URI (Apple Identity Provider)

### Problem
When the code flow is performed, FusionAuth injects it's own server host name (understandable). This breaks as we are running a cloud based deployment behind a reverse proxy to handle the incompatibility between our current OAuth2 scopes and FusionAuth's Permissions at a different URL to where it is currently

[2021-12-17 15:03] mooreds commented on #1527
@matthewhartstonge

Are you setting these four headers in your proxy?

[code]

If so, I'm wondering if we aren't respecting them for this particular operation.

[2021-12-17 16:41] yuriy-maftiyak-verint commented on #88
The workaround, https://github.com/FusionAuth/fusionauth-contrib/blob/master/Reverse%20Proxy%20Configurations/nginx/nginx.nonrootpath.excerpt.conf,  does not work for deployment at my organization.

The workaround has a separate proxy rule for the `/admin` path, but at this path, we have another product deployed.

[2021-12-17 17:08] mooreds opened #1528 "Show if someone has a password change required in the admin UI"
## Show if someone has a password change required in the admin UI

### Problem

If someone has a 'force password' change attribute set, there's no easy place to see it in the admin ui. You can go to the user's source view and search for `passwordChangeRequired`.

### Solution

Display an icon on the user details screen when a user has the `passwordChangeRequired` attribute set to true.

### Altern

[2021-12-17 17:11] mooreds opened #1529 "Add ability to pass along x-forwarded header in the client library"
## Add ability to pass along x-forwarded header in the client library

### Problem

When using the Login API to proxy requests via the php client library, the IP address is that of the proxy. I can't set the `X-Forwarded-For` header.

### Solution

Enable that header to be set on the PHP client lib.

### Alternatives/workarounds

* Use the API directly rather than the client lib.
* Accept that the

[2021-12-17 18:28] mooreds commented on #1526
More details:

* it appears in the ios simulator (you have to install a new simulator, as outlined here: https://stackoverflow.com/questions/60071160/how-install-ios-12-4-4-simulator-on-xcode11 )
* the client is testing on ios 12.2
* the client is using the hosted login pages with the apple idp
* it works fine on later versions of ios (see the support slack channel for videos)

[2021-12-17 20:59] MikeBroders commented on #1493
working again:
![image](https://user-images.githubusercontent.com/29118421/146607289-94e4e52a-cf32-4f26-a9c1-515a12e9b027.png)

thx

[2021-12-17 22:23] robotdan commented on #1529
Not sure it makes sense to do this. This header is generally speaking added by a proxy and not by the request originator. Even if we added this it should be considered complete un-trusted by a proxy because it is user provided.

Did the client have a use case that would require this be provided by the user of a client library instead of a proxy?

[2021-12-17 22:26] robotdan commented on #1527
Hm... allowing a configurable redirect seems like a really big security risk. Are you suggesting that you still want to redirect to FusionAuth, but just not at the URL we think we are hosted at?

If so, perhaps this is really a duplicate of this issue? https://github.com/FusionAuth/fusionauth-issues/issues/88

[2021-12-17 22:38] mooreds commented on #1529
use case was they wrote a wordpress plugin which passed through credentials to FusionAuth. End users then log in to wordpress, but are authenticated against FusionAuth.

Issue was that they wanted to capture the ip address of the end user browser in the login records, but were capturing the ip address of the wordpress instance.

[2021-12-17 23:51] robotdan commented on #1523
This should work as of 1.32.0 in theory.
https://fusionauth.io/docs/v1/tech/release-notes/#version-1-32-0

When we start up on macOS, we download Java 17 for `x86_64` or `arm64` architecture. As far as I know with this change, Rosetta should not be required.

Prior to version `1.32.0` we were only installing Java for `x86_64` on macOS. So in this case, I think it will still work, but it would run

[2021-12-17 23:52] robotdan commented on #1522
Thanks for the excellent write up @TimVanHerwijnen much appreciated. We'll take a look.

[2021-12-17 23:55] robotdan commented on #1522
This should work.

Can you captcha a HAR file for the HTTP request to `/api/logout` if you're doing it in the browser, or otherwise capture the full HTTP request and response to that API?

[2021-12-18 00:06] mooreds commented on #1523
cc @dmitryzan

[2021-12-18 19:12] mooreds commented on #1125
See also this thread on the OAuth mailing list: https://mailarchive.ietf.org/arch/msg/oauth/cJs1TWYrRs5nyrRtbAKUxsli8qY/

[2021-12-18 19:38] dmitryzan commented on #1523
@mooreds Unfortunately the official 1.32.0 nor 1.32.1 versions don't work for me. The same symptoms: high CPU load (100-300% for the java process inside the container according to top) and freezes. But the `jerryhopper/fusionauth-app:1.32.0` works perfect.

Think it's not about the java version you pull inside the container but the container itself. It should be built for aarch64 with multi-arch.

[2021-12-18 20:21] robotdan commented on #1523
Thanks for the details and assistance @dmitryzan - this is helpful.

So you are running the Docker image on macOS and because we are building the image on `linux/x86_64`, it sounds like Docker is likely running this all through Rosetta which is crushing your CPU.

So then the fix for M1 and Docker in general is to not only use the correct Java version (in the Docker image) but to publish an additi

[2021-12-18 20:33] dmitryzan commented on #1523
Thank you Daniel!
I'm not a big expert in building images for multiple architectures but seems you can configure this as a single build process with Multi-Arch builds https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/
(also think the community images and the Jerry's build already use it, as another example).

[2021-12-18 21:55] robotdan commented on #1523
Hacking around a bit, I think I have it working. Feel free to test it out. I published tag `1.32.1_multi` with `linux/amd64` and `linux/arm64` images.

https://hub.docker.com/layers/fusionauth/fusionauth-app/1.32.1_multi/images/sha256-03f95a54f11561c44a2995a42034319b37faeef873f9390433e9884013ccdfb3?context=repo

Jerry is also publishing a 3rd image for `linux/arm/v7`, I tried that and it didn't wo

[2021-12-18 22:11] robotdan commented on #1493
Thanks for letting us know!! Glad to hear it.

[2021-12-18 22:12] dmitryzan commented on #1523
`1.32.1_multi` works much better! Great work Daniel, thank you!
Ran a few tests and clicked through a number of admin pages, no 100% CPU load anymore (20% at most occasionally, think it was always this way).
Will run more next week.

[2021-12-18 22:13] robotdan commented on #1523
Great, I think we are close. Once we iron out a few more things, we should be able to start publishing these additional images with each release.

[2021-12-19 17:28] shimshon70 commented on #88
Our requirement is to install FusionAuth (standalone) in a non-root context path. We should have option to mention "Server Base URL" field in configuration. Rewrite rule in reverse proxy solution proposed above is not working, it is not maintainable, and performance affecting. For example something like [this](https://confluence.atlassian.com/doc/configuring-the-server-base-url-148592.html)

[2021-12-19 17:42] mooreds commented on #88
Thanks for the input, @shimshon70 and @yuriy-maftiyak-verint .

Please make sure you upvote the issue. If you have a support contract, please open a support ticket. Both of these feedback mechanisms help us determine future effort.

Here's our general roadmap guidance: https://fusionauth.io/docs/v1/tech/core-concepts/roadmap/

[2021-12-19 17:42] ceefour commented on #1523
Linking to starter thread https://github.com/FusionAuth/fusionauth-containers/issues/49 :)

[2021-12-20 11:26] TimVanHerwijnen commented on #1522
I generated a HAR file containing only a request to `/api/logout`
This file was created using FireFox dev tools

<details>
  <summary>localhost_Archive [21-12-20 12-20-47].har</summary>

[code]
</details>

[2021-12-20 16:07] robotdan opened #1530 "Upgrade logback to the latest build of 1.3.0"
## Upgrade logback

The logging framework used by FusionAuth is logback. While this library does not have the same vulnerability found in Log4J, due to this post on the logback website, we are updating to the latest version out of an abundance of caution.

### Description

From: http://logback.qos.ch/news.html
[code]

### Additional context
- http://logback.qos.ch/news.html

Is this a question abo

[2021-12-20 16:24] robotdan opened #1531 "Add arch type to the node details on the about panel"
## Add arch type to the node details on the about panel

### Description
Since you can run FusionAuth on `amd64`, `arm64`, and other architecture types, it may be helpful to see which arch type in the about panel.

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community guidelines](https://fusionauth.io/community/forum/topic/1000/code-of-conduct).

[2021-12-20 19:27] robotdan commented on #1531
Added a commit, but currently just using Java system properties for `os.name`, `os.version` and `os.arch`.

This may not give the most accurate info - but outside of this, not sure I can do it in a platform independent way. This may have to be good enough. If anyone else has good ideas, let me know.

[2021-12-20 21:09] jobannon opened #1532 "Allow FusionAuth to log into itself when setting up IDPs"
## Allow setup of an identity provider on a FusionAuth instance that points to itself

### Problem
When testing it might be helpful for FusionAuth to be able to "log into itself" and reference its own URL/instance.

### Solution

### Alternatives/workarounds
Set up a second FusionAuth instance and use that for testing IDPs and other configurations.

### Additional context
Internal context
- https:

[2021-12-20 23:18] mooreds opened #1533 "Add ability to assign registrations based on group membership"
## Add ability to assign registrations based on group membership

This was a feature requested from a customer in a community story: https://github.com/FusionAuth/fusionauth-site/pull/1145

### Problem

"We are still trying to grapple with group-based application registration. If a user is a member of a specific group then they automatically get access to that group’s set of applications. This is

[2021-12-21 05:18] robotdan commented on #1533
We can revisit this, side note is that the current design point was intentional.

Currently groups server two purposes.
1. A logical grouping of users. Group members can be retrieved based upon their membership.
2. A way to manage application roles for existing registration.

We could add a config option to automatically create registrations. However, we would just have to work through all of the

[2021-12-21 05:46] robotdan commented on #1522
Thanks for the `.har` file.

The fact that the response contains a `Set-Cookie` response header for `refresh_token` means we recognized you sent it to the Logout endpoint and that we subsequently revoked it.

I think you mentioned you can confirm the refresh token is deleted/revoked, but you are just not seeing the webhook get fired?

The proxy changing the path seems like it could be factor, alth

[2021-12-21 08:07] lexCerveza opened #1534 "FusionAuth flows assistance"
Good morning.
I'm wondering if FusionAuth solution can assist me in implementing following flows, can you please consult me in those questions ?

First scenario is login / registration of user with login as phone and password + user can reset password using SMS.
Second scenario is login / registration of user with login as phone and password + MFA with SMS code + user can also reset password using

[2021-12-21 08:51] TimVanHerwijnen commented on #1522
Correct

I don't think the setup matters all that much since the user is logged out and the session/refresh token is revoked. This issue also happens in postman when directly contacting the Fusionauth server. It must be something in the Fusionauth server not recognizing the cookie and thus not firing the event. Since it does fire when manually deleting/revoking sessions/refresh tokens.

---
## Re-

[2021-12-21 14:18] mooreds commented on #1534
@lexCerveza Thanks for using FusionAuth!

Unfortunately, GitHub issues is for feature requests and bugs with reproduction steps, not for support.

For support questions such as this one, you have two options.

If you have an edition with a support plan (https://fusionauth.io/pricing/ has more details including pricing) you can file a support ticket at https://account.fusionauth.io/account/support/

[2021-12-21 14:18] #1534 closed

[2021-12-21 14:36] mooreds commented on #1534
Ah, I see you already found our forum and posted: https://fusionauth.io/community/forum/topic/1430/fusionauth-flows-assistance

Glad you made it!

[2021-12-21 16:40] robotdan commented on #1438
@bguyza is this the same issue? https://github.com/FusionAuth/fusionauth-issues/issues/1432

[2021-12-21 16:44] bguyza commented on #1438
@robotdan
I do not believe so unless MFA configuration were to be managed by the identity provider "source of record", or specifically, the LDAP server.

[2021-12-21 17:59] jobannon commented on #1526
Related to -> https://caniuse.com/mdn-javascript_grammar_numeric_separators

Not being supported in 12.2.

[2021-12-21 18:17] mooreds commented on #267
Internal note: https://inversoft.slack.com/archives/C026DDDPQRY/p1640110581003100?thread_ts=1640110546.002900&cid=C026DDDPQRY has a useful example of example lambda code.

[2021-12-21 18:27] robotdan commented on #1530
Rolling this back for now, logback has a bug in their latest version that causes dates to be printed as epoch.

Once they fix this bug, we can take another look.

- https://jira.qos.ch/browse/LOGBACK-1596
- https://jira.qos.ch/browse/LOGBACK-1599

[2021-12-21 18:37] mooreds commented on #1530
Can we go to 1.2.9 instead of 1.3.0?

[2021-12-21 21:30] jerryhopper commented on #1531
how about:

cat /proc/cpuinfo
uname -m

this should work on all archs, except windows :)
But i think the java props are ok.

[2021-12-21 22:00] jerryhopper commented on #1523
This is correct, it seems the image was compiled using the wrong kernel-headers. (compiled on the wrong arch)
As im using github buildX action, it automatically compiles all archs with the correct kernelheaders  - i dont see that in the savant-build script, and lack knowledge of savant.  Also i tried to find info about multiarch building using savant, but couldnt find any usable info.

But, ive wo

[2021-12-22 00:36] robotdan commented on #1531
In general we don't want to do anything that is platform dependent, and we want Java to do that for us. But I could look at it, but we would only be able to to try it and it it fails, fall back to something else.

[2021-12-22 00:36] robotdan commented on #1220
@bguyza can you confirm you were able to reproduce?

[2021-12-22 00:38] robotdan commented on #1220
Hm... I may have this mixed up with https://github.com/FusionAuth/fusionauth-issues/issues/1432.

[2021-12-22 00:39] robotdan commented on #1432
@bguyza please re-open if you can confirm you have reproduced.

[2021-12-22 01:11] bguyza commented on #1432
Was able to reproduce and re-opened.  Hoping for a fix soon.

[2021-12-22 04:11] robotdan commented on #1523
Not really, all we are doing in our Savant build scripts is calling `docker build`, it is just a glorified `ant` script. It sounds like using GH actions is likely the right choice here.

[2021-12-22 15:35] robotdan commented on #628
Overview of email headers https://fusionauth.io/blog/2021/12/15/announcing-fusionauth-1-32/.

Let us know what you think, and if this hits the mark! Thanks!

[2021-12-22 20:56] robotdan opened #1535 "Update PostgresSQL JDBC driver from 42.2.22 to 42.3.2"
## Update PostgresSQL JDBC driver from 42.2.22 to 42.3.2

### Description
Fixing https://nvd.nist.gov/vuln/detail/CVE-2022-21724

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community guidelines](https://fusionauth.io/community/forum/topic/1000/code-of-conduct).

[2021-12-23 00:22] robotdan commented on #1530
Unfortunately can't use `1.2.9`, we have other deps required for Java 17 that require 1.3.0. The above Jira issue is resolved, and a patch is out in `1.3.0-alpha12`.

[2021-12-23 00:29] robotdan commented on #1529
If the Wordpress plugin is using the Login API, they should be capturing the IP address of the user and then passing it in the Login request body. The header is really meant to be added by proxies, and not manually.

[2021-12-23 00:35] robotdan commented on #1522
Thanks for the additional information.

Regarding the scenarios that do not work, are you using the `Set-Cookie` header, or letting Postman send the cookie for you? As a control, can you try using `cURL` or something less sophisticated than Postman?

We can also see if we can try to simulate your config and see if we can get a recreate.

[2021-12-23 01:04] robotdan commented on #1522
I think I recreated the issue.. fix forthcoming.

[2021-12-23 08:44] kenYW commented on #113
Hi @robotdan
I also get stuck with similar condition.
try to deploy fusionauth in Kubernetes with discrete instances.
it works fine with 1 pod running, but fail when increase to 2 pod (with same db) shows err with below msg, when trying to login.
"You must log in to access that page."

![截圖 2021-12-23 下午4 38 46](https://user-images.githubusercontent.com/23077860/147212795-b501dae6-773d-49f2-b81b-f

[2021-12-23 12:32] drjosephbaxter commented on #921
Currently thinking about (well will be after Christmas now) how to implement an SWA like scenario for BigCommerce SSO

https://developer.bigcommerce.com/api-reference/storefront/customer-login-sso

Sound like this would be a big help

[2021-12-23 14:52] jojoserquina opened #1536 "appsecret_proof for Facebook"
## (Put feature request title here)
Adding appsecret_proof for Facebook

### Problem
Currently, Facebook PI does not work when the Facebook setting to require appsecret proof is enabled. The only way for the integration to work is to disable this security setting.

### Solution
A proposed solution is for FusionAuth to dynamicaly create and pass the hashed appsecret_proof value using the app secret

[2021-12-23 15:36] mooreds commented on #113
@kenYW this seems like either a support request, which should be posted to the forum or a support ticket (more here: https://fusionauth.io/technical-support/ ) or a new bug.

If it is a new bug, please open a new issue with details and repro steps.

FYI, 1.15.8 is a very old version of FusionAuth; there have been various improvements in features and security that would warrant an upgrade.

Thanks!

[2021-12-23 19:03] f0rever-johnson opened #1537 "Empty/Invalid JSON object returning when calling "Retrieve all of the User Actions" api"
##Empty/Invalid JSON object returning  when calling "Retrieve all of the User Actions" api

### Description
A clear and concise description of what the bug is.

### Affects versions
Currently using version 1.32.0

### Steps to reproduce
Steps to reproduce the behavior:
Try to retrieve all of the useractions using the api when no useractions are present.

### Expected behavior
Currently there are n

[2021-12-23 19:09] mooreds commented on #1537
Hmmm wonder if this is a documentation issue.

[2021-12-23 19:11] f0rever-johnson commented on #1537
More like user error; oops. I figured out the issue in my code.

[2021-12-23 19:15] mooreds commented on #1537
@f0rever-johnson okay, if this isn't a FusionAuth issue, please feel free to close.

[2021-12-23 20:54] robotdan commented on #1522
Internal PRs
- https://github.com/FusionAuth/fusionauth-java-client/pull/19
- https://github.com/FusionAuth/fusionauth-api/pull/43
- https://github.com/FusionAuth/fusionauth-app/pull/101

[2021-12-24 00:03] robotdan commented on #1438
We are debating this one internally. The connector is the source of record for this user, so we could fix this and preserve the 2FA configuration, but I tend to think it is working as designed.

The connector is currently is charge of returning the source of record for the user until the user is migrated. This includes mostly everything about the user including registrations and group memberships.

[2021-12-24 07:57] TimVanHerwijnen commented on #1522
You're amazing dude, I've got to say I've never seen anyone as fast and helpful on GH like you. Keep up the good work!

[2021-12-24 12:22] endyrocket commented on #849
Facing the same issue as @whizzygeeks. Got this exception during upgrade from 1.30.2 to 1.32.1. Rolling back to 1.30.2 fix the issue.

[2021-12-24 14:02] robotdan commented on #849
@endyrocket can you provide the stack trace of you have it, the version of Postgres and where it is running (local, GCP, RDS, etc)

Thanks!

[2021-12-24 15:53] robotdan commented on #1537
We currently configure our JSON serializer to omit empty collections.

We have discussed changing it to return empty collections. This is likely the better choice.

It will just mean we have to fix a few thousand tests. 😬

But it sounds like this is working as designed.

[2021-12-30 00:59] jcpreston26 commented on #1438
FWIW (with a caveat that I'm coming at it from my perspective and there's likely other approaches):
As a practical matter, I would assume that If I'm enabling 2FA in the Fusion application, it is because I'm intending to have Fusion manage the 2FA as the connector I'm using either can't or doesn't provide that functionality.

[2021-12-30 13:34] JVanopbroeke opened #1538 "Ability to update user.data.* without UI"
Hi,

Is there a way to Update / Add custom user datas without the customization form UI
Our system will have to do ponctual updates and it would be fantastic to have a User API  endpoint for that

I haven't see that option reading the documentation

Thanks in advance

[2021-12-30 13:38] JVanopbroeke commented on #1538
My bad.... https://fusionauth.io/docs/v1/tech/apis/users/#update-a-user

[2021-12-30 13:38] #1538 closed

[2022-01-03 16:27] robotdan commented on #1254
Not sure how to handle this one. I think it is working as designed.

The problem is that we have a defined order of precedence for configuration. The current order is:

- Environment variable
- Java system property
- Config file

So in the Maint. mode form, you enter a username and password, which causes us to update the configuration file. But when we resolve the value we will prefer the environm

[2022-01-03 17:06] robotdan commented on #1254
Closing as working as designed for now.

The UI for Maint. mode is really only intended for development and local testing. In production you'll want to be using silent mode w/ environment variables so the Maint. mode screens aren't shown to an end user. Also when using Maint. mode UI - it only updates the config file, which means it is not multi-mode friendly - which is another reason you wouldn't

[2022-01-03 17:28] trevorr commented on #1254
I'm fine with the precedence, but I'm requesting some indication in the UI that the value can't be set there if the env var is set. It's very easy to forget/overlook the value being set elsewhere, such as docker-compose.yaml, and pull your hair out for an hour over why the password you keep pasting in the form isn't working. If you're only bringing up FA in isolation, this might seem easy to figur

[2022-01-03 18:13] bguyza opened #1539 "MFA cannot be enabled if a user is assigned to a external connector as the source of record"
## MFA cannot be enabled if a user is assigned to a external connector as the source of record

### Problem
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Solution
A clear and concise description of what you want to happen.

### Alternatives/workarounds
A clear and concise description of any alternative solutions or workarounds you've considered.

[2022-01-03 20:13] robotdan commented on #1508
Is this just working as designed? There is a CORS configuration in FusionAuth, so in theory you would just need to add the host to the allowed origins? Or are you suggesting that this endpoint should be handled separately from the CORS configuration?

[2022-01-03 22:46] robotdan commented on #1254
Thanks for the feedback @trevorr, that seems like a reasonable solution.

Re-opening.

Internal: Let's review the Maint. mode UI and pre-fill fields as appropriate if environment variables are defined, and disable the fields with some copy on the panel indicating why fields are disabled and how to proceed if you do indeed wish to use Maint. mode UI configuration.

[2022-01-05 18:40] mooreds commented on #1383
Just moved to "Proposed standard" https://www.ietf.org/archive/id/draft-ietf-oauth-iss-auth-resp-04.html

[2022-01-05 22:41] rscheuermann commented on #1523
Thanks so much @robotdan ! I'm going to test the latest `1.32.1_multi` image for about a week. I was regularly experiencing runaway memory leaks and core dumps on the Jerry's image. Your image already seems faster and more stable.

[2022-01-05 23:17] mooreds commented on #1385
@renattomachado from looking at the codebase, it seems like we upgraded the dart client to a null safe version a few months ago in this commit: https://github.com/FusionAuth/fusionauth-dart-client/commit/b8496c5e0699f0722e462864136f8b6dba9300d7

Can you test and see if this is resolved?

[2022-01-07 15:15] mooreds commented on #1240
Here's one approache (postgresql only)

[2022-01-07 15:22] mooreds opened #1540 "Login with Xing"
## Login with Xing

### Problem
Xing is a big social network in Europe (similar to linkedin). https://www.linkedin.com/pulse/linkedin-xing-7-comparison-points-2-amazing-business-platforms-zuber/

Would be great to have a 'login with Xing' option. I can file this as a public issue and see if we get any upvotes.

https://dev.xing.com/docs/authentication (you have to sign up for xing before they let

[2022-01-07 16:58] matt1hathcock opened #1541 "Enhance Refresh Token Import API to support tokens greater than 191 characters"
## Enhance Refresh Token Import API to support tokens greater than 191 characters

### Description
Internally we limit a refresh token length to `191` characters, and this is enforced on the Refresh Token Import API.

This limit in in place for db indexing purposes. KeyCloak, and perhaps other IdPs use JWTs for refresh tokens which causes them to exceed this length limitation.

This means if you t

[2022-01-07 20:40] jobannon opened #1542 "Add Tooltip for All Applications Configuration in Webhooks"
## Add Tooltip for All Applications Configuration in Webhooks
- https://fusionauth.io/community/forum/topic/1433/events-not-comings-to-webhook/4
### Description
Provide additional in-app guidance when disabling or enabling `all applications` toggle under applications through a tooltip

Is this a question about how to use FusionAuth? Please consider posting on the [FusionAuth forum](https://fusiona

[2022-01-07 22:07] dpankros commented on #1235
Just to clarify a bit here.  There are two real use-cases for Hashicorp Vault and Fusionauth to be used together.

First, there is the vault-plugin scenario where services might need credentials from Fusionauth injected into their k8s pod, for example.  For this, Vault would ask Fusionauth to generate credentials and pass them to a client (the k8s pod, in this example).  Often, the credentials hav

[2022-01-07 23:18] robotdan opened #1543 "Webhook enhancements"
## General Webhook enhancements

### Problem
As we look forward to enable FusionAuth as a SCIM client we want to enhance webhooks to have some additional capability that will make it easier to support SCIM.

### Solution
This is a general issues to enhance webhooks. Some specific features we'd like to deliver:

1. Persist a historical log of all webhooks
2. Allow a retry from a webhook event that

[2022-01-07 23:21] robotdan commented on #1354
The enhancements proposed here https://github.com/FusionAuth/fusionauth-issues/issues/1543 should make this much less confusing.

[2022-01-07 23:21] #1354 closed

[2022-01-07 23:27] robotdan commented on #106
Initial support will likely only include FusionAuth acting as the SCIM Server, and then the SCIM Client coming shortly afterwards.

[2022-01-08 22:27] fabianlindfors commented on #1240
Hi @mooreds! I'm the creator of Reshape and author of that post. Let me know if you'd be interested in using Reshape, I'd be happy to help in any way I can.

The tool is still experimental but I'm eager to work with users and bring it to a production-ready state.

[2022-01-10 04:51] ngoc199 opened #1544 "FusionAuth does not allow array object in custom user data"
## FusionAuth does not allow array object in custom user data

### Description
I am trying to add a child to a user in FusionAuth. Since I don't really need to create accounts for the children, so I would like to put them as custom user data.

I use this code

[code]

The custom user data after executing that code:

![image](https://user-images.githubusercontent.com/53241275/148719696-e37607c0-c69

[2022-01-10 05:31] ngoc199 commented on #1544
Sorry. It's really my bad.

I place the `push` function, which returns a number, in the request. That's why the data type is number.

[2022-01-10 07:34] ngoc199 commented on #1544
After updating the code, I still have this issue. Since it does update the `children` object, but it's just an object, not an array object.

Is there any way to create an array object as custom user data in FusionAuth?

Here is my updated code

[code]

[2022-01-10 09:39] TroubleShutter commented on #1525
Maybe you shouold use reconcile lambda to put IDP Link to user.data object and then use it in webhooks?
https://fusionauth.io/docs/v1/tech/lambdas/openid-connect-response-reconcile/

[2022-01-10 10:11] ngoc199 commented on #1544
I have managed to do a workaround with `JSON.stringify` and `JSON.parse` to store the array object.

I don't know if there is still another way or this issue should be a feature request, so I will let this issue be here.

[2022-01-10 16:35] robotdan commented on #1544
We do not place any limits on the type of JSON sent to the API for `user.data`.

Either of these should work.

[code]

 or

[code]

[2022-01-10 17:20] stuellidge commented on #1484
Hi - I'm afraid not. We thought about that as a possible option, but a user can have multiple concurrent sessions and so you can't guarantee which token's data is being stored in the user.data. Thanks for checking though.

[2022-01-10 17:39] BugShooter opened #1545 "user.data populated on a user.registration event isn't available in a populate access token lamda for the first created access token"
## user.data populated on a user.registration event isn't available in a populate access token lamda for the first created access token

### Description
I try add userId from custom database to JWT access token.
1. on a user.create event in webhook I create a user record in custom DB (let's say customUserId)
2. on a user.registration event we already have saved user in FA's DB (because I use trans

[2022-01-10 20:22] ansonallard opened #1546 "User Self Service Account Management "Keep Me"
## Self Service Account Management Login Bug - Unchecking "Keep me signed in" prevents user access

### Description

I created an application in a tenant for a user to log into to edit their profile using FusionAuth's Self Service Account Management tool.

My relevant OAuth configuration for the application is as follows:

client_id: \<application id\>
client_secret: \<obscured\>
Client Authentica

[2022-01-10 21:11] jobannon commented on #1546
@ansonallard Thanks for the report.  I can seemingly replicate the same behavior -- we will take a look!

[2022-01-10 22:54] asimmon opened #1547 "No error feedback when changing a registration email for an email already used by another user"
## There is no error feedback when changing a registration email for an email which is already used by another user

### Description
When changing a registration email for an email which is already used by another user, there is no feedback that the new email is already used by someone else, unlike the default registration form. No email is sent to the already used email, which is fine.

Although

[2022-01-11 00:23] robotdan commented on #1541
Internal. PR's

- https://github.com/FusionAuth/fusionauth-database/pull/9
- https://github.com/FusionAuth/fusionauth-api/pull/44
- https://github.com/FusionAuth/fusionauth-app/pull/104

[2022-01-11 02:25] mooreds commented on #1544
Let's move this discussion to the forum since this appears to be a support request, rather than a bug. If it turns out to be a bug we can re-open this issue.

Forum post: https://fusionauth.io/community/forum/topic/1456/custom-user-data-as-array

[2022-01-11 02:25] #1544 closed

[2022-01-11 05:31] robotdan opened #1548 "Potential memory leak when sending a large volume of transactional emails"
## Potential memory leak when sending a large volume of transactional emails

### Description
When sending a large volume of transactional email through FusionAuth, a possibility exists that a thread leak could occur.

This bug may have existed for some time, however a few recent changes may cause the theoretical problem to become real.

This may only affect those running on JDK 17 which was intro

[2022-01-11 05:35] robotdan commented on #1547
@jobannon can you recreate please, and advise?

[2022-01-11 05:38] robotdan commented on #1541
Internal: Doc
- Review Import Refresh Token API to ensure we no longer mention the `191` character limitation.

[2022-01-11 14:49] robotdan commented on #1227
Resolved via https://github.com/FusionAuth/fusionauth-issues/issues/1489.

GH issue https://github.com/FusionAuth/fusionauth-issues/issues/571 is not yet resolved because Nashorn is available as a jar now that is compatible with JDK 17.

[2022-01-11 14:49] #1227 closed

[2022-01-11 14:58] robotdan opened #1549 "Internal issues placeholder"
## Internal issue placeholder

- https://github.com/FusionAuth/fusionauth-internal-issues/issues/24
- https://github.com/FusionAuth/fusionauth-internal-issues/issues/171
- https://github.com/FusionAuth/fusionauth-internal-issues/issues/169

[2022-01-11 15:39] CaLxCyMru commented on #1484
@mooreds Hi, picking this for @stuellidge

Given we have a `JWT Populate` lambda using the following code:

[code]

When we first login using a passwordless method (in our case `HYPR`) we correctly have the following JWT payload if we decode our token;

[code]

The `source` in this case is the property that we'd like to maintain through all refresh events.

For example, when POSTing to the `/oauth

[2022-01-11 18:33] mooreds commented on #1484
Thanks for the additional explanation @CaLxCyMru .

It sounds like there are two approaches that might solve the issues:

* allowing access to the original JWT when a refresh is made
* persisting certain fields (as defined through configuration) across refreshes

[2022-01-11 21:32] jobannon commented on #1547
@robotdan Can validate that this occurs as described.  Additional configuration that I used was an email explicit gate (to make testing easier

[2022-01-11 22:10] robotdan opened #1550 "parentEmail not removed from the search index when child becomes part of a family"
## parentEmail not removed from the search index when child becomes part of a family

### Description
When a child has a `user.parentEmail` value defined, once the user becomes part of a family, the field is removed. The field needs to be updated in the search index as well.

Currently it won't be removed from the search index until the user is indexed again, such as during a user update, login, e

[2022-01-11 22:12] robotdan commented on #1550
Internal:
- https://github.com/FusionAuth/fusionauth-search/pull/3
- https://github.com/FusionAuth/fusionauth-api/pull/45
- https://github.com/FusionAuth/fusionauth-app/pull/105

[2022-01-12 01:28] epbensimpson opened #1551 "Add an option to disable IdP linking strategies"
## Add an option to disable IdP linking strategies

### Problem
There is no option to disable automatic linking for an IdP

### Solution
An option should be provided to completely disable automatic linking for any given IdP. Using this strategy, if there is no existing link to a user then authentication should fail.

### Alternatives/workarounds
Use the "Create pending link" or "anonymous" strateg

[2022-01-12 01:43] robotdan commented on #1490
Internal:
- https://github.com/FusionAuth/fusionauth-java-client/pull/17
- https://github.com/FusionAuth/fusionauth-java-client/pull/20
- https://github.com/FusionAuth/fusionauth-api/pull/38
- https://github.com/FusionAuth/fusionauth-app/pull/97

[2022-01-12 03:14] robotdan commented on #1551
I think this already works how you're describing.  Selecting one of the following linking strategies will cause the login to fail if the user does not already exist by `username` or `email` respectively.

- `Link On Email. Do not create the user if they do not exist.` (LinkByEmailForExistingUser)
- `Link On Username. Do not create the user if they do not exist.` (LinkByEmailForExistingUser)

https

[2022-01-12 03:22] robotdan commented on #1438
Thanks for the feedback @jcpreston26.

I think this is a valid perspective. It is likely common that the connector will not provide this function.

The tricky part is that we would either need to open up some additional config to allow you to configure this is your desired behavior, or we'd have to keep track of how owns the 2FA config in particular (FusionAuth or the current connector), and then

[2022-01-12 03:29] epbensimpson commented on #1551
Yeah this latter bit is what we're looking at - just want to use the API to manage the links explicitly :)

[2022-01-12 03:45] matthewhartstonge commented on #1527
@mooreds can confirm, required some extra forwarding headers!

Thanks ❤️

[2022-01-12 03:45] #1527 closed

[2022-01-12 03:49] matthewhartstonge commented on #1527
@robotdan as an FYI, I sort of came to a conclusion that it must be configurable as the [API supports it as a field](https://fusionauth.io/docs/v1/tech/apis/identity-providers/apple/#complete-the-apple-login) when manually performing the sign in step by setting `data.redirect_uri` in the request body.

[2022-01-12 03:50] robotdan commented on #1527
Ah, ok. Got it. Yes, I suppose it is configurable in a sense. When using the FusionAuth login pages with this IdP, we set this to our own callback URI, and of course it must be registered ahead of time with Apple.

From the API perspective you can send in whatever your callback would be (if you're not using our login pages), and then as long as it is registered with Apple it should work just fine.

[2022-01-12 03:57] robotdan commented on #1547
Thanks @jobannon. Bug confirmed.

[2022-01-12 04:06] robotdan commented on #1484
This could work. One possible issue may be that if a custom claim is based upon use data, or user state, the claim may be "stale" so to speak if we just copy it along. Maybe this is buyer beware if you enable this feature.

If you were to present the existing JWT during the refresh request (we don't persist this), I suppose it is plausible that we could provide that as an argument to a populate la

[2022-01-12 13:29] bboure opened #1552 "Passwordless Authentication through SMS (Twilio)"
## Passwordless Authentication

### Problem
We'd like to be able to provide Passwordless Authentication through SMS in addition to email

### Solution
The user should be able to use his/her phone number as a username, receive an OTP code and use it to authenticate

### Alternatives/workarounds
A workaround is to use the API to generate a code and send it ourselves.
In order to use the phone as the

[2022-01-12 13:33] bboure opened #1553 "Use Passwordless Authentication only"
## Use Passwordless Authentication only

### Problem
We want to be able to limit authentication to the passwordless workflow only. This will remove the need to store any password (even if encrypted).

### Solution
Allow disabling Password authentication; do not store any password. Users are only allowed to log in by email [or phone](https://github.com/FusionAuth/fusionauth-issues/issues/1552).

##

[2022-01-12 19:10] spsaucier commented on #782
I'm getting this same issue as well (cURL) -- Generate Refresh Tokens is ticked on the Application -> Security page, and I'm including that client's `applicationId` in the request.

[2022-01-12 22:24] voidmain opened #1554 "Advanced registration validation not working with some regex"
### Description
This regex does not appear to work with advanced registration forms:

`^(?!http).+$`

[2022-01-13 00:05] robotdan opened #1555 "Fix UI license error message for features that require threat detection enabled in addition to a license"
## Fix UI license error message for features that require threat detection enabled in addition to a license

### Description
There is some confusion in the UI because when you try to enable a feature that requires threat detection it says you must have a license, but you do have a license. It should say you need threat detection enabled or something like that.

### Related
- https://github.com/Fus

[2022-01-13 00:22] elliotdickison opened #1556 "Login id input does not have correct type attribute"
## Login id input does not have correct type attribute

### Description

When "login type" is set to "email", the loginId input (rendered by the "OAuth register", "OAuth authorize", and "Forgot password" templates from the default theme) has a `type="text"` attribute instead of `type="email"`. This is mostly a problem on mobile - instead of the device showing an email keyboard (with keys like "@"

[2022-01-13 01:31] robotdan opened #1557 "Add config to re-hash on password change"
## Add config to re-hash on password change

### Description
We currently have a config to re-hash on login. There has been some confusion about why the password is not also re-hashed on password change when this configuration is enabled.

We should either decide to use this config to also re-hash anytime we rebuild a hash such as password change, or add an additional configuration for re-hash on

[2022-01-13 03:19] mooreds commented on #1557
My vote: I can't think of a reason to rehash on login and not rehash on password change (or vice versa), so I'd argue for rehashing every time the user provides a password in cleartext.

[2022-01-13 03:22] robotdan commented on #1556
The `loginId` field can be a username or email address. I don't know if there would be any negative implications to change it to `email` when using a username.

The preferred option would for you to modify the default theme to change it from `text` to `email` if in your case you know the user's will be entering an email address and it allows for an improved mobile experience.

[2022-01-13 07:57] elliotdickison commented on #1556
Good idea, we'll do that for now. I just thought it would be nice if the built-in theme automatically adapted based on login type (so "text" when login type is username, "email" when login type is email). Maybe I should have filed under "feature request" instead of "bug report". I think ideally you would expose the login type as a variable to the themes and then update the default theme files to c

[2022-01-14 05:09] hughevans commented on #1543
Would this cover the use case we have where in our development instance we have multiple tenants and each tenant needs to have unique webhook URLs. Another solve would be for webhooks to belong to tenants.

[2022-01-14 12:42] stuellidge commented on #1484
Thanks for the consideration @robotdan @mooreds and for the explanation @CaLxCyMru

[2022-01-14 17:01] robotdan opened #1558 "Add support for OpenSearch in addition to Elasticsearch"
## Add support for OpenSearch in addition to Elasticsearch

### Description
FusionAuth depends upon Elasticsearch and we also use this in FusionAuth Cloud. Within FusionAuth Cloud we will likely need to move to OpenSearch, and if we do so- it may make sense to just support OpenSearch in a more general sense, and either continue to support Elasticsearch, or just document a change in supported versi

[2022-01-14 17:43] robotdan commented on #1554
Click testing locally, works for self-service user edits, and advanced registration. Strange, perhaps there was a bug that got fixed. Needs more investigation.

[2022-01-14 18:32] robotdan commented on #1554
Not a bug in FusionAuth. Some config issues that I resolved.

[2022-01-14 18:32] #1554 closed

[2022-01-14 22:35] robotdan opened #1559 "Allow an async delete tenant to be retried in case of some unknown failure"
## Allow an async delete tenant to be retried in case of some unknown failure

### Description
We have seen a few times in the field, where a tenant is deleted async, and we go into a pending delete state. The delete job seems to terminate, but the tenant state is left in pending delete.

This means you can't attempt the delete process again and the tenant is stuck in this state. Technically it do

[2022-01-14 22:42] robotdan commented on #1556
That is an option. Everything we build uses our own API, including our login pages. Currently the Login API takes a `loginId` input parameter which can be either a `username` or `email`.

We are working towards making identify types extendable, so we may have a phone number, email, username, govt. id, etc. as an identify. When we get there.. perhaps we should revisit this and allow the system to b

[2022-01-15 00:10] robotdan opened #1560 "Basic registration validation may affect an advanced registration form"
## Basic registration validation may affect an advanced registration form

### Description
There is an edge case where you may have a field defined for use in an advanced registration form that is also available in the basic registration configuration. In this edge case, if the field is marked as required in the basic config, but optional in the advanced configuration, it may not honor the advance

[2022-01-15 00:31] robotdan opened #1561 "Need additional API validation for User Create when Family is enabled"
## Need additional API validation for User Create when Family is enabled

### Description
When family is enabled at the tenant level, you have an option to allow children to register, and you also have an option to require a parent email.

This all works correctly when using self-service registration using the hosted FusionAuth pages. But if you create a user with the API, we do not currently vali

[2022-01-15 00:32] robotdan commented on #1561
@voidmain moving this one from our internal issues repo. See description above regarding `user.birthDate` and `user.parentEmail` and let me know if you have an opinion.

[2022-01-15 22:29] voidmain opened #1562 "Add a new stylesheet option for themes that is served as a URL rather than embedded into the HTML"
## Problem
Currently, the stylesheet for a theme is embedded into each HTML file. This is fine for smaller CSS snippets, but doesn't work well for large CSS files or for using frameworks that compile into a single CSS file.

## Solution
It would be great to have the ability to upload a CSS file into the theme (or drop it in via the editor) and have FusionAuth serve it as a URL. This would allow Fu

[2022-01-16 20:53] voidmain commented on #1438
The only issue I can see is how to distinguish between the lack of MFA support at the Connector and the Connector disabling MFA. We could store the MFA Connector separately from the authentication Connector and that might allow this to work as desired.

[2022-01-18 01:22] robotdan commented on #1561
Internal
- https://github.com/FusionAuth/fusionauth-app/pull/106
- https://github.com/FusionAuth/fusionauth-api/pull/46

[2022-01-18 03:27] mooreds commented on #782
@spsaucier can you try on the latest version (1.32)?

[2022-01-18 18:13] mooreds opened #1563 "FusionAuth localization messages file isn't automatically updated on release"
## FusionAuth localization messages file isn't automatically updated on release

### Description

This is placeholder in this repo for this issue: https://github.com/FusionAuth/fusionauth-localization/issues/48

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community guidelines](https://fusionauth.io/community/forum/topic/1000/code-of-conduct).

[2022-01-18 22:00] robotdan commented on #1555
Example of new messaging in the API response.

Unlicensed: (no change)

[code]

Licensed, but not for Threat Detection:
[code]

The UI will get a similar updated message.

[2022-01-18 22:40] robotdan commented on #1555
Internal:

- https://github.com/FusionAuth/fusionauth-app/pull/108
- https://github.com/FusionAuth/fusionauth-api/pull/47

This is a partial PR to review the new pattern.

[2022-01-18 22:52] spsaucier commented on #782
@mooreds Just upgraded to 1.32.1 to test, and it appears to still be a problem:

[code]

[code]

[2022-01-18 23:29] mooreds commented on #782
Hmm. Can you please share your application configuration. The easiest way may be to retrieve it via the API and just share the JSON: `curl -H 'Authorization: APIKEY' https://...net/api/application/APPLICATION_UUID`

I will also try to replicate on 1.32.1.

[2022-01-18 23:36] mooreds commented on #782
I was not able to replicate this issue.

One other thing to make sure of: Is the user registered for the application? If the user is not, then they won't get a refresh token even if you provide the application id.

[2022-01-19 00:54] pendenga commented on #1155
I thought I'd add a note here because we were getting the same error, "A request to the OpenID Connect Token API has failed. Unable to complete this login request." Our issue ended up being that the client secret in the Identity Provider record was wrong. This is the client secret from the Azure AD application that's configured as a FusionAuth IDP. Looking at the audit logs in the FusionAuth conso

[2022-01-19 13:48] juansedo opened #1564 "Redirect configuration for more screens"
## Redirect configuration for more screens

### Problem
FusionAuth implements a regular and inmutable flow for each process. For example, when I am doing the "Forgot password" request, I must go through this pages: *Forgot password* => *"Email was sent" message* => *Change password* (process-end form) => *Access to application*

That's good, but if I want to redirect user to login after change pas

[2022-01-19 13:50] mooreds commented on #1564
Can you modify the theme to do an HTML redirect (on the change password page)? Would that work?

[2022-01-19 14:03] juansedo commented on #1564
I tried but it didn't work for me. Password didn't change since I modified the regular flow

[2022-01-19 16:43] robotdan commented on #1309
Internal:
- Update Login API response. This probably affects any Login API that can return a JWT. IdP Login, Two Factor Login, Login, SAML v2 Login, etc.

[2022-01-19 17:03] robotdan commented on #1564
If you start the forgot password flow from the hosted pages, it will attempt to complete a login and a redirect after it is completed.

If you remove the `client_id` from the form submit when filling out the forgot password form (entering the email address), when the user completes the change they will be redirected to a landing page indicating the request is complete. Here you can perform a redir

[2022-01-19 17:43] stellanhaglund opened #1565 "Where can I find the linkedin access token?"
On the website it says.

[code]
but in the UserRegistration object I can only find `linkedin.id`

[2022-01-19 18:24] mooreds commented on #1565
@stellanhaglund This seems like a support request. Please either open a support ticket https://account.fusionauth.io/account/support (if you have an edition which includes support) or post in the community forum: https://fusionauth.io/community/forum/

[2022-01-19 18:24] #1565 closed

[2022-01-19 19:09] mooreds opened #1566 "Allow for plugins to extend messaging capabilities"
## Allow for plugins to extend messaging capabilities

This is something that came up discussing messenger options with a partner.

### Problem

I'd like to be able to use some other form of delivering a code than Twilio SMS and the generic messenger. I'd like to be able to add a plugin the same way I can with password hashing.

### Solution

Come up with a generic interface/base class that I can

[2022-01-19 19:18] mooreds commented on #782
I'm going to close this issue as I believe the documentation update addresses the root cause.

@spsaucier @kejvi-doko if I am incorrect, please re-open.

[2022-01-19 19:18] #782 closed

[2022-01-19 19:19] mooreds opened #1567 "Add a debug log message when someone requests a refresh token and the user isn't registered for the application"
## Add a debug log message when someone requests a refresh token and the user isn't registered for the application

### Problem

When a user is logging in, they may request a refresh token as well as a JWT. If they are not registered for the application in question, they will receive a valid JWT, but not a valid refresh token. This can be confusing.

### Solution

Add a debug option to the login a

[2022-01-19 19:34] spsaucier commented on #782
Not seeing any blatant issues with my configuration:
[code]

[2022-01-19 20:32] mooreds commented on #782
I think that OAuth honors the scope presented, per the spec (if you present `offline_access` we'll give you a refresh token) but the login API doesn't have scopes and relies on user and application configuration.

Glad you figured it out!

[2022-01-20 10:12] kingfishx23 opened #1568 "Cannot POST to registration api using node axios"
I'm trying to register a user with this json payload to /api/user/registration

[code]
console.log shows:
[code]

I'm calling the api from a nextjs api route as a proxy (which should not be a problem I suppose)
this is the axios request code
[code]

However, fusionauth always respond with this error:
[code]

I tried with regular post request in the browser, and it works. But for some reason, using

[2022-01-20 11:57] kingfishx23 commented on #1568
Solved. Although a little unintuitive, i added content-length header and it worked

[code]

[2022-01-20 11:58] kingfishx23 commented on #1568
Solved. Although a little unintuitive, I've added content-length header and it worked

[code]

[2022-01-20 11:58] #1568 closed

[2022-01-20 16:12] alexrMEI opened #1569 "OpenId connect does not send client_id on the authorization request"
OpenId connect does not send client_id on the authorization request

Hi, I’m using FusionAuth as a SSO and need to create an OpenID connection to Feide API so that users can login with their Feide accounts. The problem is that the authorization request sent to Feide API does not contain a client_id, even though I configured it on the Identity Providers section on my FusionAuth admin panel.

Fusion

[2022-01-20 17:58] lucas-av7 opened #1570 "Possibility of retrieving all API Keys"
## Possibility of retrieving all API Keys

### Problem
Currently is only possible to retrieve a single API Key given the UID

### Solution
Add retrieve_api_keys() method and endpoints

### Alternatives/workarounds
None

### Additional context
None

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community guidelines](https://fusionauth.io/community/forum/

[2022-01-21 13:58] mooreds commented on #1025
Interesting blog post about this spec: https://neilmadden.blog/2022/01/20/why-the-oauth-mtls-spec-is-more-interesting-than-you-might-think/

[2022-01-21 18:45] rscheuermann commented on #1523
@robotdan Is there anything blocking `1.32.1_multi` from being pushed as the standard `latest` build? Do you have an ETA?

So far, after 2 weeks of running `1.32.1_multi`, we've not encountered any crashes.

[2022-01-21 23:58] mooreds commented on #614
Hi folks, we have experimental openapi support that I just released.

Here's the github repo: https://github.com/fusionauth/fusionauth-openapi with the spec and a readme with known issues.

It's also available via the https://fusionauth.io/docs/v1/tech/client-libraries/openapi/

Please pull down the openapi doc (only for 1.32.1 right now) and give it a whirl. Would welcome feedback about:

* how i

[2022-01-22 19:47] #1569 closed

[2022-01-24 02:41] mooreds commented on #1569
@alexrMEI did you resolve this?

[2022-01-24 09:17] alexrMEI commented on #1569
Yes, I did resolved it. Thanks for the reply

[2022-01-24 18:34] robotdan commented on #1570
This was intentional omission when we shipped the API key API. The primary reason is due to security concerns, and the large threat surface this feature would provide.

Perhaps we can revisit and make this capability an opt-in feature and leave it off by default.

[2022-01-24 18:44] robotdan commented on #1546
This is working as designed. The self-service account pages use SSO for authorization. If you disable SSO by unchecking "remember me" - the user has no SSO session.

If we wanted to build out a separate token and session for self-service outside of SSO and treat it like a separate application we could look into that. Or possibly just allow you to send a JWT along on the Authorization header.

[2022-01-24 18:47] robotdan commented on #1566
We built the generic messenger for this use case. We don't have any intention to open up this up through a plugin.

Is there any particular limitation of the Generic Messenger that would be solved by the plugin?

[2022-01-24 18:49] robotdan commented on #1567
This is really just an integration issue, while it may be helpful to generate an event log, this could extremely noisy in the log. If you turned this debug capability on in a large deployment, you could crush the database.

If we were going to do something like this, we should come up with a digest view instead of an event on each occurrence.

[2022-01-24 19:11] mooreds commented on #1570
@lucas-av7 can you please share more about your use case?

[2022-01-24 19:21] lucas-av7 commented on #1570
@robotdan  IMO, this API for retrieving by id and retrieving all should be requested only by a key manager API key.

@mooreds In our company, we have 4 environments. The PO decided to have 4 FA apps in each environment rather than use Tenants. In order to have the same configuration in every environment, I created an automation project using python and the FA Client to act as Terraform does. I hav

[2022-01-24 20:35] mooreds commented on #1570
Thanks for the explanation, @lucas-av7 . As @robotdan said, this was a conscious choice due to security concerns. We'll see how the rest of the community feels about this (as shown by the number of upvotes) and think about the issues.

Thanks for your feedback!

[2022-01-24 20:36] lucas-av7 commented on #1570
Thank you!!

[2022-01-24 21:37] awoodsprim commented on #1546
@robotdan Then there should be no "remember me" on the login or you can get to a situation where you can't login.

So, basically, the self service editor is not "embeddable" in our application based on this unless the user checks "remember me"?

[2022-01-24 23:47] mooreds commented on #1546
@awoodsprim

You can always add a hidden field to ensure that 'remember me' is always true.

Then make sure that the SSO session length is small enough and that the logout button is prominent enough that your users won't be inadvertently leaving themselves vulnerable on a shared computer (if that is a common use case).

[2022-01-25 00:29] robotdan commented on #1570
I agree. Currently only a key manager API key can use the API key API. If we were open this up further to retrieve all, this same restriction would apply.

[2022-01-25 00:34] robotdan commented on #1566
Ah, ok, I think I see where you are coming from.

The intended use of the generic connector is not to directly connect to 3rd party systems. As you point out, this would likely never work.

Instead, we expect the implementor to write glue code to accept a request from the Generic connector and then make a request to the 3rd party.  So essentially you would write a small proxy between FusionAuth an

[2022-01-25 00:38] robotdan commented on #1546
That is correct.

@mooreds is exactly correct - you do not have to provide the user an option to un-check the box, instead, using the theme, modify this checkbox and make it a hidden field and hard code the value so that the user always has an SSO session.

If you want to de-couple this feature from SSO, you could open a request to use a separate session, or to take a JWT issued from your applicat

[2022-01-25 00:44] mooreds commented on #1566
That's good to know. We should update the documentation. Will take a todo.

[2022-01-25 01:17] robotdan commented on #1566
I though we did describe this already in the doc, but it is possible we are making too many assumptions and it isn’t clear enough.

[2022-01-25 04:56] awoodsprim commented on #1546
We had plans to replace the editor with our own, this will just accelerate them.  We had hoped to use the editor "as is" for a bit to allow users to modify their settings.

I can work with the theme option, thanks @mooreds and @robotdan for the ideas!

[2022-01-25 21:35] robotdan opened #1571 "Allow userId as an alternate to loginId on Two Factor Start API."
## Allow userId as an alternate to loginId on Two Factor Start API.

### Description
In addition to the `loginId`, allow a `userId` on the Start Two Factor API request.

### Community guidelines
All issues filed in this repository must abide by the [FusionAuth community guidelines](https://fusionauth.io/community/forum/topic/1000/code-of-conduct).

[2022-01-25 21:38] robotdan commented on #1571
Doc: Update Start API

[2022-01-26 19:11] mooreds opened #1572 "Create a k8s operator for FusionAuth"
## Create a k8s operator for FusionAuth

### Problem

I want to use FusionAuth as an operator in k8s. More on operators here: https://kubernetes.io/docs/concepts/extend-kubernetes/operator/

### Solution

Make a supported FusionAuth operator.

### Alternatives/workarounds
N/A

### Additional context

Pulling this over from https://github.com/FusionAuth/charts/issues/80

### Community guidelines
Al

[2022-01-26 19:43] kferrone commented on #1572
I was tasked with provisioning all the FusionAuth resources into an instance running in k8s. When I saw what I needed to do I couldn't help think this is what Kubernetes operators are for. My only option right now is to use helm hooks to run jobs that CRUD these resources for each 'app' we have.

I imagine something like this:

[code]

[2022-01-26 23:43] robotdan commented on #1450
Duplicate of https://github.com/FusionAuth/fusionauth-issues/issues/1062.

[2022-01-26 23:43] #1450 closed

[2022-01-26 23:44] robotdan commented on #1557
Duplicate of https://github.com/FusionAuth/fusionauth-issues/issues/1062

[2022-01-26 23:45] robotdan commented on #1062
Per discussion in #1450 and #1557 we could just update the doc to indicate that the current configuration causes the password to be re-hashed anytime we have the option to do so. This would mean we do not need any additional configuration.

[2022-01-26 23:45] #1557 closed

[2022-01-26 23:52] mooreds opened #1573 "No error message is returned for a failed generic messenger call"
## No error message is returned for a failed generic messenger call

### Description

If I set up a generic messenger and it returns a status code outside of 200-299 range, I'd expect some kind of notification. But it appears that the error message is swallowed.

### Affects versions

1.32.1

### Steps to reproduce

1. Set up a user and tenant with SMS MFA.
2. Create a generic messenger. Have the

[2022-01-26 23:53] mooreds commented on #1566
Closing this because it's handled in this PR: https://github.com/FusionAuth/fusionauth-site/pull/1198

[2022-01-26 23:53] #1566 closed

[2022-01-27 00:10] robotdan commented on #1218
I don't think it would make sense for FusionAuth to handle product specific headers.

Assuming you could either configure CloudFront to use the header we recognize, or pass it through a proxy and re-write the header. Assuming you can do that with a cloud front lambda of some sort.

[2022-01-27 00:20] robotdan commented on #1170
As of 1.30.0, we should now have User-Agent, IP address, IP location (if Threat Detection is enabled), and any other data provided on the login request event info.
https://fusionauth.io/docs/v1/tech/release-notes/#version-1-30-0

Please re-open if we are still missing something you'd like to see.

https://fusionauth.io/docs/v1/tech/apis/login/#authenticate-a-user

It may be that the new event info

[2022-01-27 02:14] mooreds commented on #1170
Nope, it's not documented. We'll need to do that.

[2022-01-27 09:14] ramuklihtnes commented on #171
Hi floks,

How to implement SSO Cross domain/Sub domain authentication In high level for .NET Projects

I have angular project and .net framework project how to implement for both project in common way
Please guide me, I didn't get proper way

[2022-01-27 13:20] mooreds commented on #171
@ramuklihtnes This seems like a support question rather than a bug.

If you have a paid edition with support, please open a ticket at https://account.fusionauth.io/account/support/ . If you do not, please post in our community forum: https://fusionauth.io/community/forum/

[2022-01-27 14:39] mooreds commented on #1218
Closing this as wontfix. Will add notes about this to the 'to-be-written' proxy guide.

[2022-01-27 14:39] #1218 closed

[2022-01-27 15:35] robotdan opened #1574 "Add debug/error event logging to generic messenger and other enhancements"
## Add debug event logger to generic messenger

### Description
When a request to a generic messenger fails, we should create an event log.

- See if we need a debug flag on the messenger to produce debug event logs for integration assistance.
- Add error event logs when we get a failure from the generic messenger
- Review if we should add the parameters used to build the message string to the gen

[2022-01-27 15:39] robotdan commented on #886
This should be available in the template if you started from a normal login and clicked password less.

In the template, it should be `state.timezone`.

[2022-01-27 19:12] jobannon opened #1575 "User Roles May Not be Immediately Available for use in user registration"
## User Roles May Not be Immediately Available

### Description
When creating new users roles, they are not immediately available to assign to a user registration.

### Affects versions
List the version you are running, and any other versions you have attempted a recreated.
Local dev - 1.32.1

### Steps to reproduce
1. Make an application role
2. Immediately try and assign it to a user and registr

[2022-01-27 19:21] #563 closed

[2022-01-27 19:22] #344 closed

[2022-01-28 16:35] SinghDivneet commented on #1575
What do mean by immediately assign?
Since I am facing a scenario where after assigning the correct roles to a user, the user doesn't have access.

[2022-01-28 18:14] jobannon commented on #1575
@SinghDivneet Likely your issue is unrelated.  This is related to the timing of role creation and then the assignment of the newly created role to user registration.

If you feel that you have another bug, please feel free to file an issue.  If you feel, rather, that your issue is related to how you are integrating your application and user roles, please feel free to post in the Forum for addition

[2022-01-28 20:17] robotdan commented on #1523
This test image should have support for 3 arch types. If this works, next release will include all images.
`fusionauth/fusionauth-app:1.32.1_multi_test_1`

[2022-01-30 22:57] robotdan commented on #1523
I didn't want to leave out the IBM i, p and z series servers. So I added a few more arch types. Not sure if we'll publish these going forward or not, but we could. 😁

![image](https://user-images.githubusercontent.com/1148709/151721404-75afdf55-62cf-43eb-9fcd-9c83af95e839.png)

[2022-01-31 08:25] arihant30 opened #1576 "Cannot register user for multiple Applications using GO-client Library."
## Cannot register user for multiple Applications using GO-client Library.
### Description
I am trying to use the go-client library to integrate fusionauth. Comments on the github repo (https://github.com/FusionAuth/go-client/blob/master/pkg/fusionauth/Client.go#L2761) say that if I only pass the UserRegistration object, the user will be registered for the application whose ID is provided.
But whe

[2022-01-31 15:37] mooreds commented on #1576
I think this is a duplicate of https://github.com/FusionAuth/go-client/issues/48

@arihant30 there is a workaround mentioned in that issue.

[2022-01-31 15:47] mooreds commented on #800
@MJEND7 hmmm. Can you please open a new issue with reproduction steps, including your version of FusionAuth, linking strategy and any other details you can share?

[2022-01-31 15:53] arihant30 commented on #1576
Yes I found the post later and managed to follow the workaround mentioned.

Another problem which I've realized is related to this is: since we cannot send the User object if we want to register an existing user for a different application, we can't have a user set different passwords for different applications. Is there a way around that?

[2022-01-31 15:58] nunovieira220 commented on #1452
@robotdan sorry, I know this issue is closed and it is supposed to be solved on the version `1.31` but we are still dealing with the same error on the version `1.32.1`.

[2022-01-31 16:10] mooreds commented on #1452
@nunovieira220 can you please provide repro steps like @johnmaia did?

[2022-01-31 16:12] mooreds commented on #1576
@arihant30 that seems more like a support question. The right place for support questions:

* if you have a paid edition which includes support, please open a support ticket: https://account.fusionauth.io/account/support/
* if you do not, please post in the forum for community support: https://fusionauth.io/community/forum/

Thanks!

[2022-01-31 16:17] mooreds opened #1577 "Sign up users who download FusionAuth for newsletters by default"
## Sign up users who download FusionAuth for newsletters by default

### Problem

Currently users can check a box on maintenance mode to sign up for the monthly FusionAuth newsletter. This is to say, the user has to opt-in.

### Solution

In order to both increase the number of newsletter subscribers and make it easier for folks to be informed of FusionAuth news, it'd be great to default users to

[2022-01-31 16:24] robotdan opened #1578 "Allow option for step-up or re-auth when changing email or password via self-service forms"
## Allow option for step-up or re-auth when changing email or password via self-service forms

### Problem
When using the self-service forms in FusionAuth, if you configure the email address, username or password as an option for the user to change, this can be done without additional step-up or re-auth.

### Solution
Provide some additional options for these forms such as:

1. Require MFA step up

[2022-01-31 16:40] nunovieira220 commented on #1452
@mooreds they are the exact same but using `1.32.1` version instead of `1.30.2`.

[2022-01-31 16:49] mooreds commented on #1452
Thanks. Just so I'm clear, I wanted to confirm that you've run the curl scripts in this comment: https://github.com/FusionAuth/fusionauth-issues/issues/1452#issuecomment-949658134 and seen the issue described in this bug?

@nunovieira220

[2022-01-31 17:55] nunovieira220 commented on #1452
@mooreds sorry I didn't run the curl script before and I can not reproduce the issue when running it, so it seems it is working properly. In fact, and I apologized for not being more expliciti beforehand, the problem is more related with the role changing process

[code]

The bash script above is returning the error we are looking for but if we uncomment the penultimate curl request, everything wo

[2022-01-31 18:41] robotdan commented on #1452
Perhaps same issue described here https://github.com/FusionAuth/fusionauth-issues/issues/1575 - will review.

[2022-01-31 19:10] mooreds opened #1579 "Can try to assign entities in one tenant to a user in a different tenant in admin UI"
## Can try to assign entities in one tenant to a user in a different tenant in admin UI

### Description

In the user interface, I can see entities that are associated with a different tenant. If I try to assign the user the entity, I get an exception in the UI and the logs (Event Log entry attached).

### Affects versions
1.30.1, 1.32.0

### Steps to reproduce

1. Create two tenants, A and B
2. C

[2022-01-31 22:36] asimmon opened #1580 "Verification email is sent during registration although the user.create webhook failed"
## Verification email is sent during registration although the user.create webhook failed

### Description
Verification email is sent during registration although the `user.create` webhook failed by returning a non-successful HTTP status code.

### Affects versions
- 1.32.1
- 1.32.0

### Steps to reproduce
Steps to reproduce the behavior:
1. Create a webhook for the event `user.create` that always

[2022-02-01 14:29] mooreds opened #1581 "Support php 8.1 with the client library"
## Support php 8.1 with the client library

### Problem

I want to upgrade my app to php 8.1, but can't because of the fusionauth client library.

### Solution

Create a new client library to support php 8.1, which is incompatible with php 8.

### Alternatives/workarounds

* use the OpenAPI spec to generate a client lib
* keep app on php8

### Additional context

Pulled over from https://github.co