[2020-06-01 20:12] trevorr opened #661 "JWT augmentation"
## Add ability for application to request an augmented JWT

### Problem
I would like to put dynamic, application-specific data (such as user permissions) into a FA JWT (so my application does not need to look up permissions on every request).

### Solution
The JWT Issue endpoint (or one like it) could allow an application to obtain a new JWT with additional claims based on the original JWT and an

[2020-06-01 21:02] robotdan commented on #648
You can leave it open, I'll use this to track the issue to completion. It will be fixed in version 1.17.0.

[2020-06-01 21:10] robotdan commented on #649
Can you show your log right after you save your Kafka configuration? It seems to me the cache reload isn't working.

To test this theory, try these steps and report back on each test.

1. Edit your Kafka configuration, save, wait 2 minutes, enter the config and use the Test button
2. Edit your Kafka configuration w/out saving, use the Test button before saving.

[2020-06-01 21:58] mooreds opened #662 "Passwordless returns 404 when non existent user provided but this isn't documented"
## Passwordless returns 404 when non existent user provided but this isn't documented

### Description

When the user in the `/api/passwordless/start` call doesn't exist, we return 404, but this isn't documented in the apis as a possible return value: https://fusionauth.io/docs/v1/tech/apis/passwordless#start-passwordless-login

### Expected behavior

Update docs to reflect the 404 value.

### Pla

[2020-06-02 00:02] robotdan commented on #623
I have a fix for this, plan to release it as part of 1.17.0.

[2020-06-02 01:27] ashokgelal opened #663 "Cannot login using Intuit"
## Cannot connect using Inutit as an OpenID Connect Provider

The log tells me:
[code]

Some links:
* [Intuit Discovery Document](https://developer.api.intuit.com/.well-known/openid_sandbox_configuration)
* From their forum about the same issue [1](https://help.developer.intuit.com/s/question/0D50f00005GO7tC/invalidclient-error), [2](https://help.developer.intuit.com/s/question/0D50f000052aM6j/inv

[2020-06-02 01:37] robotdan commented on #663
Config looks ok from a quick view of it.

You can double check the client id and secret are correct and don't have any trailing white space when entered in the FusionAuth config.

[2020-06-02 01:40] ashokgelal commented on #663
I made sure of that. I also tried with different set of Id and Secret to be extra sure.

[2020-06-02 01:41] robotdan commented on #663
If I can dig up an Intuit account I may be able to attempt a recreate to see what is failing.

[2020-06-02 01:44] ashokgelal commented on #663
For the callback: http://localhost:9011/oauth2/callback

Good point about scope. I'll double check it and report back.

[2020-06-02 01:46] ashokgelal commented on #663
Changed the scope to `openid profile` but still getting `invalid_client` error. I can send you a temporary secret and the id from a sandbox account that you can use to try it out. Not sure how to send you a DM though. I can email you.

[2020-06-02 01:52] robotdan commented on #663
Send me an email. daniel at fusionauth io.

[2020-06-02 03:15] robotdan commented on #663
I was able to recreate your symptoms, their APIs don't seem to be working well with the `client_secret_basic` authentication method.

 Their discovery document indicates they support both `client_secret_post` and `client_secret_basic`.

[code]

The default OpenID Connect config in FusionAuth will use `client_secret_basic`.

I found a thread indicating others are also having problems with the Basic

[2020-06-02 15:29] asabolansky commented on #657
I have not been able to prove what you have sent me. I hope this afternoon I can do it and send you a feedback

Regards
Alejandro

[2020-06-02 16:07] ashokgelal commented on #663
That seems to have done the trick. This is a top notch support. Thank you!

[2020-06-02 16:07] #663 closed

[2020-06-02 17:54] robotdan commented on #219
Update from comment https://github.com/FusionAuth/fusionauth-issues/issues/219#issuecomment-625928513

We have added a developer plan which will include LDAP for those who do not wish to purchase an edition that includes support. https://fusionauth.io/pricing

[2020-06-02 18:23] gordody commented on #554
@ulybu I basically copied the code from the generated content into the signup template, you can check it out in action on the signup page of design.famous.co

Here is my code from oauth2Register.ftl:

[code]

[2020-06-02 22:59] #608 closed

[2020-06-02 23:05] mooreds opened #664 "Support generating elliptic curve keys within FA"
## Support generating elliptic curve keys within FA

### Problem
Right now you can import elliptic curve keys into FA, but you can't generate them. From what I've read, RSA is problematic and we should encourage people to use elliptic curve keys.

### Solution
The same way you can generate HMAC or RSA keys from the `Key Master` screen, you can generate EC keys.

### Alternatives/workarounds

Gener

[2020-06-03 00:44] robotdan commented on #664
You can generate EC keys.

API: https://fusionauth.io/docs/v1/tech/apis/keys#generate-a-key
UI:
![image](https://user-images.githubusercontent.com/1148709/83583240-0bd0b900-a501-11ea-86c9-816624595d3b.png)

[2020-06-03 00:50] #578 closed

[2020-06-03 00:51] #626 closed

[2020-06-03 00:54] #648 closed

[2020-06-03 00:56] #623 closed

[2020-06-03 00:59] robotdan commented on #535
There are some new properties in the theme bundle.

[code]

see https://github.com/FusionAuth/fusionauth-localization/tree/master/theme

[2020-06-03 00:59] #535 closed

[2020-06-03 01:04] #645 closed

[2020-06-03 02:00] mooreds commented on #664
I can't believe I missed it! Doh!

[2020-06-03 02:00] #664 closed

[2020-06-03 02:48] robotdan commented on #664
Is this one of the items that you open just so we don't suspect you're a robot?

[2020-06-03 02:53] mooreds commented on #664
![dancingrobot](https://user-images.githubusercontent.com/91825/83590507-2744bf80-a513-11ea-8699-6bc38998f3da.gif)

[2020-06-03 03:17] #394 closed

[2020-06-03 03:17] #336 closed

[2020-06-03 15:08] mgetka opened #665 "GUI fails silently on RSA private key import"
## GUI fails silently on RSA private key import

### Description
The _Import private key_ option introduced in 1.17.0 fails silently on an attempt to import RSA private key. EC keys can be imported with no difficulties. The docs are not yet updated but I've tried to find a way to perform this operation via API. This way I have found out that to import RSA private key I need to also specify hashing

[2020-06-03 15:24] robotdan commented on #665
Thanks for the report!

Yes, for RSA keys, the algorithm is required. If this is missing from the UI we will fix that.

[2020-06-03 16:30] soullivaneuh opened #666 "Add a link to return to login from the register page"
## Add a link to return to login from the register page

### Problem

As a user, I'm redirected for an oauth connection:

1. I click on "register" (self-register)
2. I fill some field with invalid data and submit
3. I go away for some days
4. When I go back to the app, I'm directly redirected to the register page.

But there is no link to go back to the logic base, which is quite a basic in my opi

[2020-06-03 16:31] soullivaneuh commented on #666
Note: Sorry for the hell issue. :trollface:

[2020-06-03 16:33] robotdan commented on #666
666, yikes. I guess it had to happen eventually.

[2020-06-03 20:13] mooreds opened #667 "PATCH clears out language value, username and timezone from registration when updating registration.data with a PATCH"
## PATCH clears out language value from registration when updating registration.data

### Description
A clear and concise description of what the bug is.

### Steps to reproduce
Steps to reproduce the behavior:
1. Create a user in the admin ui. Assign them to an application. Add a language to the registration.
2. Run this curl command (assuming you've created an API key with access):
[code]
3. Exa

[2020-06-03 20:36] robotdan commented on #667
I think this is a known limitation of patch.
See this for more info.
https://github.com/FusionAuth/fusionauth-issues/issues/441

[2020-06-03 20:56] mooreds commented on #667
Are language, username, and timezone all arrays? #441 seems to be talking only about arrays, unless I'm missing something.

[2020-06-03 21:08] voidmain commented on #667
Preferred languages is an array. Username and timezone aren't. Username is a unique identifier, so that might also behave differently than other attributes. Timezone is a mystery though. We'll have to write a test to verify what is happening with each of those.

[2020-06-04 19:29] jayaimzzzDM opened #668 "Add support for InCommon Federation"
## Add support for InCommon Federation

### Problem
As an SP (service provider), I would like to create and register one entityId (and its metadata, certs, etc.) and have it be accessible to be used by multiple IdPs (Identity Providers) that are registered with InCommon.

When trying to add the SP metadata generated by FusionAuth to InCommon, it is tied to just one IdP. The metadata is also missin

[2020-06-04 20:15] trevorr commented on #441
FWIW, I think something as simple as RFC 7396 Merge Patch is adequate most of the time and causes the least surprise (e.g. overwriting as opposed to appending to arrays). RFC 6902 JSON Patch is nice to have, but I've rarely seen it used in practice.

[2020-06-05 16:12] ashokgelal opened #669 "What is New showing older release notes"
I got the latest version 1.17.0 (using docker) but What is New greeting is showing me release notes from 1.16.0. ![Here is a screenshot](https://cln.sh/SAZthT).

[2020-06-05 16:43] mooreds commented on #669
I see that as well with the zip file.

[2020-06-05 17:25] robotdan commented on #669
We currently use a cookie to hide that What is new panel, if you have never opened that  instance of FusionAuth with that browser, you'll see What is new.

We didn't add an update for What is New for version 1.7.0, so all that is there is version 1.6.0.

Not a bug, just working as designed. We could look at using a different strategy to identify what versions we want to show you in the "what is ne

[2020-06-05 19:24] ashokgelal commented on #669
ok. It wasn't blocking me or anything, I just wanted to alert you guys. Thanks for confirming this.

[2020-06-06 13:24] soullivaneuh commented on #457
This issue is closed quite quickly. :-/

Can we make it happen soon or later?

Why not with a file or interface configuration entry? Something configurable on CI jobs.

This is the way I did for my projects, it works very well. :+1:

[2020-06-06 13:26] soullivaneuh commented on #652
@robotdan Nevermind, this was an error from I because of a missing base64 encoding. :upside_down_face:

[2020-06-06 17:09] robotdan commented on #457
Perhaps I don't know what you're asking for, but at runtime when we send an email, we do not know the hostname or IP address of resolvable end user address of the server.

Are you looking for a global variable either just for email templates or otherwise so that you don't have to set it in the template itself?

[2020-06-07 00:46] mreschke commented on #439
If it were our own application using FusionAuth then your idea of letting our code "determine if they user is authorized" is fine...but with third party apps this is not always possible.  I found this thread while integrating ERPNext to use FusionAuth as its 'social login' feature using the oauth2 client and secret.  Everything works as expected except for this registration problem.  FA user has z

[2020-06-09 10:05] soullivaneuh opened #670 "Dashboard indirect access and error handling"
## Dashboard indirect access and error handling

### Description

If an authenticated but not admin user try to go to the FusionAuth homepage, it immediately leads to a security system error page.

This is intended, but not user friendly at all. We have many customer using your platform who bookmarks the FusionAuth login page for some reason or just go back to the URL, leading to this error with n

[2020-06-09 10:06] maurobennici opened #671 "Unable to reset password"
## Error in the recovery password procedure

### Description
When users try to do a reset password they receive a 500 error message at the form submission.

### Platform
Ubuntu 18.04
Fusionauth 1.16.1 and 1.17

The error in the log is:

Jun 09, 2020 9:56:18.543 AM ERROR io.fusionauth.app.primeframework.error.ExceptionExceptionHandler - An unhandled exception was thrown
java.lang.UnsupportedOperati

[2020-06-09 10:08] soullivaneuh commented on #670
This issue is kind of UX improvement request, like #666.

[2020-06-09 10:10] soullivaneuh commented on #436
@robotdan I didn't a manual import script before this feature and the last time I checked it, it was offering not enough flexibility to move on to it.

I'll try to get a look soon.

Still, this method is not the simplest IMO. You still have to use an API to configure templates. This is quite heavy.

It would be much simpler for CI deployment to just have to leave files to the right folder to see t

[2020-06-09 10:12] soullivaneuh commented on #425
Yes, I think this should fit my need.

[2020-06-09 11:29] maurobennici commented on #671
The problem is on the redirection url. The password reset email is sent, but the user see an error

/password/sent?metaData.device.type=UNKNOWN&tenantId=993edbee-4782-4986-9dac-dd3f24049e46&tenantId=993edbee-4782-4986-9dac-dd3f24049e46

The tenantId is duplicated, removing one of them the message is OK.

[2020-06-09 14:48] mooreds commented on #425
@soullivaneuh make sure you vote on issue #437 if you feel it'd be helpful. Thumbsup votes are how we incorporate community feedback for future roadmap discussions.

[2020-06-09 14:51] mooreds commented on #670
This seems like a duplicate of https://github.com/FusionAuth/fusionauth-issues/issues/632 . @soullivaneuh would you agree, or do you feel they are different?

[2020-06-09 19:01] mooreds opened #672 "Shutdown.bat missing"
## Shutdown.bat missing

### Description

When you download the windows zip installer using https://fusionauth.io/download you have a startup batch file but not a shutdown batch file.

It's unclear how you should cleanly shut down FA.

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to https://fusionauth.io/download
2. Click 'windows'
3. Follow instructions
4. run `ls fusionauth\bin`

[2020-06-09 19:10] mooreds opened #673 "Logs not written to log directory for windows zip file install"
## Logs not written to log directory for windows zip file install

### Description

When you download the windows zip installer using https://fusionauth.io/download and start things up you don't have a logs directory.

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to https://fusionauth.io/download
2. Click 'windows'
3. Follow instructions to download
4. run .\fusionauth\bin\startup

[2020-06-09 19:56] robotdan commented on #672
This is intentional, there is no `shutdown.bat` for the Windows Fast Path install.

[2020-06-09 19:58] robotdan commented on #673
Related : https://github.com/FusionAuth/fusionauth-issues/issues/672

This is because the services are running interactively and the logging is written to to `stdout`.

[2020-06-09 20:18] robotdan commented on #671
Thanks for the report @maurobennici .

We'll get this fixed in the upcoming patch release.

Here is what I think is happening, let me know if you have a different set of recreate steps that allow you to observe this error:

1. Request forgot password
2. Let the link timeout (10 minutes is the default, this is configurable and may be different for you)
3. Click the link.
4. You will receive a messa

[2020-06-09 20:36] #672 closed

[2020-06-09 20:37] mooreds commented on #673
Ah, if this is intentional I'll just close.

[2020-06-09 20:37] #673 closed

[2020-06-10 09:53] nulian opened #674 "Use password forget flow api without mail template when send mail is false"
We use the password forgotten flow without sending the mail from fusionauth.
But it is mandatory to set a password forgotten mail template even though we never send mail from fusionauth.
Would be nice if it's possible to use it without having to set a fake template.

Had issue on fusionauth 1.15.8

[2020-06-10 17:56] mgetka opened #675 "Unrestricted verification emails sending via /email/verify endpoint"
## Unrestricted verification emails sending via `/email/verify` endpoint

### Description
I've been playing around with `/email/verify` endpoint and stumbled upon one aspect of its behaviour that raised my doubts. Namely, it is possible for unauthenticated user to send an unlimited number of verification messages. Malicious user may try to annoy legitimate user of our service with verification ema

[2020-06-10 20:08] patrickvalle opened #676 "Is there a way to populate the username in any of the SAML lambdas?"
## Is there a way to populate the `user.username` in any of the SAML lambdas?

### Description
I have a business case for populating the `user.username` field based off of fields returned on the SAML response. I've used the SAML v2 Reconcile lambda to populate other `user` fields with success, but I've been unable to map any value to the `user.username` field.

If this is functioning as intended,

[2020-06-11 03:09] robotdan commented on #676
You cannot set the `username` using a reconcile lambda, we ignore it if you attempt to set it.

The reason for this is that a `username` is not globally unique. I could set a username called `robotdan`, and I could log in using this `username` in FusionAuth. Then if we connect FusionAuth to SAML or some other IdP where you have a username of `robotdan` we are unable to understand if this is the sa

[2020-06-11 11:03] eirikur-grid opened #677 "Make it possible to specify the "Reply-To" address when sending email"
## Make it possible to specify the "Reply-To" address when sending email

### Problem
We would like to leverage FusionAuths emailing features when one user invites another to use our product. It would be preferable if the email were to originate from the actual sender, rather than some no-reply address of ours.

Example: Richard invites Jared to view a GRID document. In this case, it would be idea

[2020-06-11 13:18] mooreds commented on #675
Just to confirm, is this the endpoint you're referring to?

https://fusionauth.io/docs/v1/tech/apis/users#verify-a-users-email

[2020-06-11 13:21] patrickvalle commented on #676
@robotdan What you're saying makes sense and I can understand why it's implemented that way. In my scenario, I'm trying to generate a deterministic and globally unique username in the reconcile lambda (e.g. using the Identity Provider's ID + the IdP's username). It sounds like I may have to find an alternate path to accomplish the goal.

Thanks as always for the prompt support!

[2020-06-11 13:23] mgetka commented on #675
No, I'm not referring to the API, but to public views available at `/email/verify` (eg. https://login.fusionauth.io/email/verify) and `/password/forgot` (eg. https://login.fusionauth.io/password/forgot).

[2020-06-11 13:44] soullivaneuh commented on #457
Exactly, yes! :+1:

I'm aware as email are sent from cli instances, we don't have access to the request variables, as the request does not exist.

What I would like is just to have access to a `host` and `port` variables related to the FA instance configuration.

I think this way is possible.

[2020-06-11 14:46] robotdan commented on #676
If you want to be able to login with this value, yes.

One alternative method would be to use the lambda to build this unique value (IdP Id + Idp Username) and set it into user or registration data. Then using a webhook for the Change User or Change Registration event, we send the old and the new values. If the value for this unique username has changed or has been added, you could use the Update

[2020-06-11 15:16] robotdan commented on #677
Thanks @eirikur-grid this is a good idea. Bonus points for your examples with Richard and Jared. 👍

For the API, it would be easy enough to add this as an additional field and when defined would override any default provided by the tenant or the email template.

When FusionAuth sends "transactional" emails such as forgot password, etc - then we would still use the configured "From email" fields co

[2020-06-11 15:20] patrickvalle commented on #676
@robotdan I've just tested this out using the webhook events listed below. It appears as though on first login for SSO users, these webhooks all get fired off before the user has actually been committed to the database. This results in a `404` when I try to update the `username` via the  Update User API. I have the webhook transaction setting as "All the webhooks must succeed".

- `user.create`
-

[2020-06-11 15:25] fdlk commented on #629
Same thing happens for Email Verification

[2020-06-11 15:34] robotdan commented on #676
You're correct. In the scenario where the webhook is required to succeed and it returns failure, we have to roll back the transaction.

Are you attempting to call the Update User API within the webhook request? In other words, which one of the following workflows are you doing:

1. `user.create` fires
2. You consume `user.create`
3. Call Update User API
4. Return `200` from webhook

Or

1. `user.c

[2020-06-11 15:35] patrickvalle commented on #676
@robotdan The first scenario- my intent is to ensure that all users have usernames by the time they are using my app.

[2020-06-11 15:49] mooreds commented on #662
This has been fixed and released.

[2020-06-11 15:49] #662 closed

[2020-06-11 19:07] robotdan commented on #676
This is a reasonable point, but because each event type can optionally be configured to require the webhook to succeed, it is inside of a TX on our end.

I'll have to think more about this, perhaps there is a better way for us to handle this scenario.

[2020-06-11 20:03] patrickvalle commented on #676
@robotdan Thanks again for the support 🚀

[2020-06-11 21:38] eirikur-grid commented on #677
I believe so. I just want to emphasize that the presence of the "Reply-To" field may be crucial in avoiding spam filters. See this [thread on StackOverflow](https://stackoverflow.com/questions/4728393/should-i-use-the-reply-to-header-when-sending-emails-as-a-service-to-others) for more context.

[2020-06-11 21:59] ashokgelal opened #678 "Registration with Identity Providers"
## Registration using Identity Providers buttons is missing

I believe I have seen the buttons before but somehow they got disappeared. I've enabled `Create Registration` setting as well. Am I missing something to enable something?

![image](https://user-images.githubusercontent.com/401055/84443293-89c94a00-abfc-11ea-9ade-0eaa4011fbc6.png)

![image](https://user-images.githubusercontent.com/401055

[2020-06-11 22:16] mooreds commented on #678
I'm sorry, I'm not sure exactly what you're trying to accomplish. The `create registration` setting in the application form just lets FusionAuth create a registration (associating a user with an application) once the identity provider (google, for example) tells FA the user exists.

Can you explain a bit more about what you want to do?

[2020-06-11 22:20] ashokgelal commented on #678
Basically, I'm trying to let user see the `Login with Google` button on the register page as well. I understand that if they use Login with Google button on the login page, it will let you register as well. But I need the button on the register page as well. Here is an example from DigitalOcean:
![image](https://user-images.githubusercontent.com/401055/84444605-681d9200-abff-11ea-958a-3bbce5b5e55c

[2020-06-11 22:26] mooreds commented on #678
Ah, thank you for clearing that up.

I believe this issue is the same one: https://github.com/FusionAuth/fusionauth-issues/issues/554

If so, this functionality can be achieved by modifying your template, as outlined in #554, but isn't something that comes out of the box. (Though it is a bit confusing because they reference sign in in the template.)

[2020-06-11 22:30] ashokgelal commented on #678
That's what I figured. So, I created a new theme based on FusionAuth template, made some tiny adjustments just to play with it and for last 10 minutes I'm struggling on how to actually apply the theme. I watched the video too but I don't see anyway to enable/apply this new theme 😥

[2020-06-11 22:42] ashokgelal commented on #678
Ok. Just found this: https://fusionauth.io/community/forum/topic/42/how-do-you-assign-a-theme-to-an-application?_=1591915213809
I think the [Theme documentation](https://fusionauth.io/docs/v1/tech/themes/) needs to be updated to mention that a theme can be applied by going to the Tenant page.

[2020-06-11 22:45] mooreds opened #679 "Theme docs don't mention how to apply a theme"
## Theme docs don't mention how to apply a theme

### Description
https://fusionauth.io/docs/v1/tech/themes/ docs don't mention how to apply a theme (go to the tenant page).

### Expected behavior

Docs should be updated.

### Platform
n/a

### Additional context

Arose on this issue: https://github.com/FusionAuth/fusionauth-issues/issues/678

[2020-06-11 22:46] mooreds commented on #678
Ah, glad you figured it out. I filed an issue about the theme docs being a bit out of date.

https://github.com/FusionAuth/fusionauth-issues/issues/679

If your question is answered, please feel free to close this issue.

[2020-06-11 22:52] ashokgelal commented on #678
Thank you!

[2020-06-11 22:52] #678 closed

[2020-06-12 16:08] joydeb28 commented on #649
Sorry for the delayed response.
LOGS:
1.
[code]

2.
[code]

[2020-06-12 17:04] #592 closed

[2020-06-12 17:21] robotdan opened #680 "Feature: Custom Registration Forms"
## Custom Registration Forms

The self service registration option provided with FusionAuth does not currently support custom fields and validation.

### Solution
Build a re-usable registration form builder with fields and validation to allow for custom registration workflows to be built into the FusionAuth registration workflow.

### Alternatives/workarounds
Currently you can build your own regis

[2020-06-12 22:52] keithotto opened #681 "Maintenance mode: Normal user doesn't support username@hostname"
## (Put bug title here)
Maintenance mode: Normal user doesn't support username@hostname

### Description
When using a managed postgres db hosted on Azure, they expect usernames in the format of username@hostname. This works for the super user field in the maintenance mode setup screen, but throws an error for the normal user.

`Unable to create the ordinary user using the username and password you

[2020-06-15 03:30] paustint commented on #78
I am having memory issues at well. I have the env var set to 512MB and my instance is crashing every hour or so. I have 0 logins and am not using the system while this is occuring and used the Docker deployment.

I am using Render.com to host my service and the metrics show that the memory usage slowly increases then has a huge spike for seemingly no reason.

I have increased my server capacity fr

[2020-06-15 03:55] robotdan commented on #78
@paustint 512 should be adequate. Can you describe your config? Total user count, tenant count , lambda count, etc. Version of FusionAuth, search type, DB type.

[2020-06-15 08:28] nulian commented on #674
Yes because we don't use that template and use our own forgot password flow.
With the sendForgotPasswordEmail flag always set too false.

It is a bit weird we need to set the mail template to make it work.

[2020-06-15 08:37] sanderkooger commented on #95
@mooreds Do you have an idea on how to connect to an azure mysql Database, I have set up an environment to troubleshoot this one.

[2020-06-15 10:17] sanderkooger commented on #95
I took a deepdive;
on localhost DB works (mysql 8.0)
Using mysqlfor azure does not work ( version 8.0) with above problems

I migrated the local working DB to mysqlforazure.  including a user with full rights and the same password.

I changed the connectionstring in the fusionauth.properties file.

[code]

[code]

As soon as i restart the service it leads me to the installation wizzard. When i cha

[2020-06-15 10:31] sanderkooger commented on #681
@keithotto I have the same issue with mysqlforazure as described in #95

[2020-06-15 10:45] sanderkooger commented on #681
PS @keithotto I tested with mysqlforAzure and for logins with phpmyadmin it does not need a fusionauth@server kind of username, Its only required for the root account.

[2020-06-15 13:54] paustint commented on #78
@robotdan - I just got FusionAuth setup for the very first time over the weekend for a system where we do not yet have any users.

**Here is my configuration**:
1. production mode
1. 2 users
1. 1 tenant
1. ran 1.71.0 database scripts, so I have the templates/lamdas that came with this but nothing extra so far
1. one application
1. database search
1. postgres - I am using a hosted database solution

[2020-06-15 14:12] robotdan commented on #78
We don't restart ourselves, so I'm assuming this is due to a threshold configured in k8s or whatever container manager you're using?

[2020-06-15 14:32] robotdan commented on #441
Thanks for that feedback @trevorr that is helpful.

[2020-06-15 15:43] keithotto commented on #681
@sanderkooger My initial guess is that when maintenance mode checks to see if it needs to create a new user it checks the full string including everything after the @, which it doesn't find so it tries to create it and fails. Where as if you leave the @ out it can create the user, but obviously then cannot log in. If that's the case it should be a relatively easy fix to just parse out the username

[2020-06-15 15:43] robotdan opened #682 "Feature : End user self service account management"
## End user self service account management

### Enhancement
If you want to allow your end users to edit, view or delete their account you will need to build custom pages/forms into your app and utilize the User APIs.

### Solution
When using the FusionAuth login pages, the user will have an SSO session and we could allow the user to manage their own profile based upon a configuration policy.

The

[2020-06-15 16:12] sycured opened #683 "Error during complete OIDC Login with Microsoft Azure AD"
Error during complete OIDC Login with Microsoft Azure AD

### Description
I try to use OIDC API to complete a login linked to Microsoft Azure AD.

### Steps to reproduce
Steps to reproduce the behavior:
1. Register new application on FusionAuth
2. Register new application on Azure AD
3. Register new OpenID Connect IdP on Fusionauth to use Azure AD
4. Get authorization code by Azure AD API (https:/

[2020-06-15 17:38] mooreds commented on #674
Gotcha, thanks for the explanation.

[2020-06-15 17:42] mooreds commented on #95
@sanderkooger unfortunately I think that this aspect of FA needs a bit of work, as outlined in this issue. My only suggestion would be to run the SQL manually using the advanced installation: https://fusionauth.io/docs/v1/tech/installation-guide/fusionauth-app#advanced-installation

which should hopefully sidestep the installation wizard.

[2020-06-15 17:49] sanderkooger commented on #681
@keithotto Even if i create the database as an exact copy with exactly the same username as my local mysql has, and i edit the connectionstring in the config file, it will not find the db and revert back to maintenance mode.

[2020-06-15 17:51] sanderkooger commented on #95
I already did. I even went as far as to copy over a working database from a local mysql server, adding the same user with the same password and changing the config file. Even then it does not want to work.

You are more than welcome to troubleshoot with me.

[2020-06-15 18:00] robotdan commented on #95
@sanderkooger If you have a URL we can test with that may help, otherwise we'll have to stand up a similar environment in Azure and do some testing to either identify a work around or a fix on our end.

[2020-06-15 18:49] sanderkooger commented on #95
@robotdan the Database is not in use yet so i could just give you the root credentials in private. I woudl be glad to be of service.
If needed I am also willing do temporary deploy a postgress server for you guys so you could help #681 out too.

Feel free to shoot me a mail on sander@thisisfashion.tv

[2020-06-15 20:39] #671 closed

[2020-06-15 20:39] #665 closed

[2020-06-15 23:33] mooreds commented on #683
Which version of FusionAuth are you using?

This issue may have some relevant information as well: https://github.com/FusionAuth/fusionauth-issues/issues/153

[2020-06-16 01:06] sycured commented on #683
Version: 1.17.1 (using rpm package because we use RHEL 8)
About #153 , sorry but it's the same issue with the specific url or using the automatic way using  https://login.microsoftonline.com/TENANT_ID/.well-known/openid-configuration/

[2020-06-16 13:58] robotdan commented on #681
@sanderkooger and I worked on this offline.

Testing with a MySQL cli based upon this Microsoft doc.
https://docs.microsoft.com/en-us/azure/mysql/quickstart-create-mysql-server-database-using-azure-cli#connect-to-the-server-using-the-mysqlexe-command-line-tool

Line breaks added for readability:
[code]

This worked, so based upon this example, we came up with the following configuration that worke

[2020-06-16 14:02] robotdan commented on #95
Re: MySQL in Azure, see comments in https://github.com/FusionAuth/fusionauth-issues/issues/681#issuecomment-644784111

[2020-06-16 14:47] robotdan commented on #681
We can leave this open so we can recreate a few more times, perhaps we can make an enhancement to our maintenance mode to better handle this scenario.

[2020-06-16 15:19] mooreds commented on #36
Can we close this issue, @robotdan ?

[2020-06-16 15:19] mooreds commented on #683
Thanks. Have you seen this document?

https://fusionauth.io/docs/v1/tech/identity-providers/openid-connect/azure-ad

It looks like FA only supports v1.0 of Azure AD. There are known issues with Azure AD v2.0. Can you confirm you are using Azure AD v1.0?

Thanks!

[2020-06-16 17:12] mooreds opened #684 "Better copy/paste support in admin ui"
##  Better copy/paste support in admin ui

### Problem

I'd like better copy/paste support from the admin UI. I'm often copying and pasting user ids or other long guids and would like the ability to double click on them and have them selected.

On the Users screen I can do so, but it picks up extra whitespace:

`     917cc000-7126-48c1-a63a-568d596550e7 `

### Solution

I'd like to be able to doub

[2020-06-16 18:15] joydeb28 commented on #34
Can you please update the LinkedIn changes also?

[2020-06-16 18:17] robotdan commented on #34
@joydeb28 did you try the above configuration?

[2020-06-16 18:19] joydeb28 commented on #34
Yes. I am getting "A request to the OpenID Connect Token API has failed. Unable to complete this login request." at the time of login.

[2020-06-16 18:21] robotdan opened #685 "Possible email template validation errors for legit values"
## Possible email template validation errors for legit values

### Description
If you are using family templates with user or parent objects, you may fail to validate the template during editing.

For example: `${parent.email}` or `${child.firstName}`.

### Expected behavior
For this to pass validation ok.

### Work around
To work around the issue, simply make these null safe traversals.

Change `

[2020-06-16 18:24] keithotto commented on #681
@robotdan I've tried to recreate these steps using both a MySQL and PostgreSQL DB and so far have been unsuccessful.

**1)** First step is filling out the initial info with super user and normal user as you have outlined above:

![Step1](https://user-images.githubusercontent.com/65916460/84812085-77bc2280-afd3-11ea-8eec-c4c7e677830a.jpg)

**2)** After submitting the form I get the following error:

[2020-06-16 18:25] robotdan commented on #34
If you enable debug on the OpenID Connect IdP configuration what is in the debug event log? (System > Event Log)

[2020-06-16 18:27] robotdan commented on #681
@keithotto what version of FusionAuth are you on, and what version of the MySQL connector are you using?

The MySQL connector can be found in either `/usr/local/fusionauth/fusionauth-app/apache-tomcat/lib` or `/usr/local/fusionauth/fusionauth-app/web/WEB-INF/lib`.

[2020-06-16 18:28] joydeb28 commented on #34
Event Logs:
Request to the [https://www.linkedin.com/oauth/v2/accessToken] endpoint failed. Status code [400]

Error response is
{
  "error" : "invalid_request",
  "error_description" : "A required parameter \"client_secret\" is missing"
}

[2020-06-16 18:31] robotdan commented on #684
I think there are also ways to do this without JS, it could be that we can put values we think users will want to copy into some semantic tag.

[2020-06-16 18:34] robotdan commented on #34
I think LinkedIn is looking for the `client_secret` in the request body.
https://docs.microsoft.com/en-us/linkedin/shared/authentication/authorization-code-flow?context=linkedin/consumer/context

So in your OpenID Connect IdP config, change Client Authentication method from "HTTP basic authentication" to "Request body".

[2020-06-16 18:35] joydeb28 commented on #34
I changed the Client authentication method to "client_secret_post" and it worked. I got the token.
But getting the below error.
{
  "elements" : [ {
    "handle~" : {
      "emailAddress" : "joydebmondal28@gmail.com"
    },
    "handle" : "urn:li:emailAddress:655618093"
  } ]
}
6/16/2020 06:31:03 PM GMT The identity provider was unable to reconcile the email address. An email address is required t

[2020-06-16 18:36] joydeb28 commented on #34
I added the reconcile lambda as you mentioned. But the above error I am getting now.

[2020-06-16 18:40] robotdan commented on #34
Dump the contents of the incoming `jwt` to see what is in it, and then adjust your lambda accordingly.

Example:

[code]

It could be the example Lambda above is not longer correct.

[2020-06-16 18:46] keithotto commented on #681
@robotdan I'm launching it as a container instance using the fusionauth/fusionauth-app:latest image.

Here's the mysql-connnector file in the WEB-INF/lib directory.
![image](https://user-images.githubusercontent.com/65916460/84814867-b6ec7280-afd7-11ea-91de-008a60bbb382.png)

[2020-06-16 18:48] joydeb28 commented on #34
In the Event logs, I am getting only this.
[code]

[2020-06-16 18:48] robotdan commented on #36
We could, I initially opened this to add a full typed integration for "Login with Microsoft" such as described here : https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-asp-webapp

But you can in most cases "sign in with Microsoft" via OpenID Connect, or SAML v2. I don't know how many people would "sign in with Microsoft" in a similar sense to Twitter, Facebook or Google.

[2020-06-16 18:58] robotdan commented on #34
Ok, so the lambda looks correct. This "hack" used to work, I think a change we made in 1.17.0 may have broken that.

If I am correct, it will work on 1.16.0, but not 1.17.0.

We'd either have to fully support a LinkedIn login option, or add another configuration option to allow a reconcile lambda to override the `user.email` field.

[2020-06-16 20:03] keithotto commented on #681
Even though the user already exists it seems to be stuck just trying to recreate the user every time I submit the form. So I never reach the next step to create the tables.

![image](https://user-images.githubusercontent.com/65916460/84822474-56166780-afe2-11ea-9520-649a147afae9.png)

[2020-06-16 21:10] ashokgelal opened #686 "Taking a user directly to the registration page"
Continuing the discussion from [here](https://fusionauth.io/community/forum/topic/165/taking-a-user-directly-to-the-registration-page/3):

My use case is that we'd like to add a `Register` button on the marketing site that would take a user directly to the registration page and after completing the registration, it would take the user back to the main app (as determined by a redirect URL set in th

[2020-06-17 01:50] mooreds commented on #686
So what you'd like is a way to provide an application id and get back a valid registration link, the same way you can get back `application.oauthConfiguration.logoutURL` from an application.

Is that a correct summation, @ashokgelal ? Or are you looking for something else?

[2020-06-17 02:34] voidmain commented on #686
I'm going to guess that @ashokgelal is looking for a pattern that can be used to create a URL directly to FusionAuth's registration form. If that's the case, then the form of the URL is this:

[code]

Here's a reified version:

[code]

This will drop you directly into the registration process and it will complete the OAuth process correctly. I've verified that the above pattern works on a local co

[2020-06-17 03:07] sycured commented on #683
We followed your link and you're still with the problem

@vpelissi can you add logs or more info?

[2020-06-17 03:19] mooreds commented on #686
@voidmain do we make any guarantees about the future proofing of that URL?

[2020-06-17 03:23] oliverwreath commented on #642
IMHO, you need the PostgreSQL.
And that piece of key information is missing from the docker-compose.

[2020-06-17 03:34] oliverwreath opened #687 "Error 401, Fusion Failed to access ElasticSearch"
## Error 401, Fusion Failed to access ElasticSearch

### Description
Fusion failed to connect to ElasticSearch, with the ElasticSearch's built-in basic authentication turned on.

### Steps to reproduce
Steps to reproduce the behavior:

1. Run the commands from the "Using FusionAuth with Docker-compose" guide:

[code]

2. Add these ElasticSearch Environments:
![image](https://user-images.githubuser

[2020-06-17 03:50] voidmain commented on #686
@mooreds yes for anything inside an OAuth workflow. The reason we keep these URLs consistent is that we are inside OAuth and eventually have to complete the OAuth grant we are in.

There might be new parameters in the future but likely they wouldn’t be required.

We are also planning on adding the registration URL to the ”View” dialog for Applications in the Integration section so that it makes it

[2020-06-17 04:04] mooreds commented on #687
Can you try with the basic auth credentials in the search url, as mentioned here: https://github.com/FusionAuth/fusionauth-issues/issues/531 ?

That is, set FUSIONAUTH_SEARCH_SERVERS to https://user:password@exampleelasticsearchhost.com

[2020-06-17 05:15] joydeb28 commented on #34
For now any suggestion to make it ready?

[2020-06-17 09:42] soullivaneuh opened #688 "Locked users list filter"
## Locked users list filter

### Problem

In order to do some analysis, I would like to list quickly all the **locked** account.

### Solution

A a flag filter to display All/Only locked/Only unlocked filter here:

![image](https://user-images.githubusercontent.com/1698357/84882405-80722e80-b08f-11ea-855c-c1319cdc9004.png)

### Alternatives/workarounds

Not so much instead doing some database quer

[2020-06-17 14:21] joydeb28 opened #689 "Ok, so the lambda looks correct. This "hack" used to work, I think a change we made in 1.17.0 may have broken that."
Ok, so the lambda looks correct. This "hack" used to work, I think a change we made in 1.17.0 may have broken that.

If I am correct, it will work on 1.16.0, but not 1.17.0.

We'd either have to fully support a LinkedIn login option, or add another configuration option to allow a reconcile lambda to override the `user.email` field.

_Originally posted by @robotdan in https://github.com/FusionAuth/

[2020-06-17 14:40] robotdan commented on #689
Is this an request for something?

[2020-06-17 14:43] robotdan commented on #688
When using Elasticsearch, you can search using `active:false`.

If you're using db search you'd need to search using a wild card and then paginate through the users looking for `active:false` on the user object.

[2020-06-17 14:46] robotdan commented on #34
No work around at the moment.

We've discuss removing this limitation on the lambda, and allowing it to set the `user.email` field and just add a warning to the Lambda configuration indicating the risks.

[2020-06-17 14:47] robotdan commented on #686
As @voidmain mentioned we can just add this link to the integration details in the View dialog to make it easier to find and integrate.

[2020-06-17 14:50] voidmain commented on #689
Looks like a duplicate of #34

[2020-06-17 14:54] #689 closed

[2020-06-17 15:16] mooreds commented on #642
That's a really good point @oliverwreath !

@retendo do you have a remote database set up which is configured to accept connections from this JDBC URL? `jdbc:postgresql://xxxxxxxxxxmydb-connectionxxxxxx`

In that case postgres shouldn't be needed in the docker compose file.

[2020-06-17 15:27] robotdan commented on #21
It is possible we would address this issue under this feature. https://github.com/FusionAuth/fusionauth-issues/issues/680

[2020-06-17 16:05] TanguyGiton opened #690 "Lambda not used"
## Lambda not used

### Description
I've just updated to 1.17.1.

I use Azure AD as an Identity Provider with a custom lambda to reconcile the user:

[code]
Since the update, I can't use Azure AD to connect. This is what I get when I active the Identity Provider Debug mode:

[code]
I have also activated the debug mode for the lambda, but there is nothing in the Event log.

It seems that the lambda

[2020-06-17 17:36] mooreds commented on #690
Can you tell me what you see in the event log with this code?

[code]

[2020-06-17 18:15] TanguyGiton commented on #690
Still nothing in the event log. I tried twice: with lambda debug enabled and not.

[2020-06-17 18:27] mooreds commented on #690
Great, thanks.

What version of Azure AD are you using? Per https://fusionauth.io/docs/v1/tech/identity-providers/openid-connect/azure-ad we only support 1.0 at this time.

[2020-06-17 18:40] TanguyGiton commented on #690
I use Azure AD for Office 365 only for Office 365 users. I don't know which version it is, but I assume it is v.2.

However I don't think this is a compatibility problem for two reasons:
- it was working with FusionAuth v.1.15.8, and
- the `OpenID Connect IdP Response Debug Log` show that I receive the correct information from the IdP.

I think the problem is at the reconcile step.

[2020-06-17 19:26] robotdan opened #691 "Allow a reconcile lambda to set username and or email"
## Allow a reconcile lambda to set username and or email

### Problem
To protect the integrity of the `email` claim coming back from an IdP, the lambda reconcile that is optionally assigned to an IdP cannot change the `email` claim.

Additionally, because a `username` is not globally unique FusionAuth does not allow the `username` to be the unique claim used to look up the user in FusionAuth. It m

[2020-06-17 19:27] robotdan commented on #34
Added an issue to review allowing the `email` claim to be modified by a lambda which would allow this use case to work. https://github.com/FusionAuth/fusionauth-issues/issues/691

[2020-06-17 19:31] robotdan commented on #690
This is an issue with the latest release of FusionAuth. We sort of closed a loop hole, that I think was allowing some existing integrations to work.

We have opened an issue to potentially repeal this decision and just ensure we adequately describe the risks.  https://github.com/FusionAuth/fusionauth-issues/issues/691

[2020-06-17 19:53] robotdan commented on #690
Planning to reverse this in a patch.

[2020-06-17 20:33] mooreds opened #692 "Device Verification URL disappears"
## Device Verification URL disappears

### Description

In the admin UI, the device verification url sometimes disappears.

### Steps to reproduce

Steps to reproduce the behavior:
1. Log in to the admin UI
1. Create a new application and save it
1. Edit the application
1. Go to the 'OAuth' tab
1. Check the 'device' checkbox in enabled grants
1. Uncheck the 'authorization code' checkbox
1. The 'de

[2020-06-17 21:30] broodfusion opened #693 "Feature request: Include group name in returned response"
## Include group name in returned response under user.memberships array

### Problem
We have a use case where we need the names of the groups a user belongs upon logging in a user or getting a user. However that information is not included and would require additional requests to hit the `/api/group/:id` route for each `user.memberships[x].groupId`

### Solution
Please include the group name in th

[2020-06-18 00:24] brennan-karrer opened #694 "Feature Request: Include User Information when Requesting Group"
## Include User Information when Requesting Group

### Problem
We have a use case where we need to see the users who belong to a specific group; however, no user information is returned when retrieving an individual group and requires us to execute an additional request to the `/api/user/search` API.

### Solution
Please include a subset of user information in the response for the specific group.

[2020-06-18 03:57] #685 closed

[2020-06-18 03:59] robotdan commented on #690
This should work for you again in version 1.17.2

[2020-06-18 03:59] robotdan commented on #34
This should work for you again in version 1.17.2

[2020-06-18 09:35] TanguyGiton commented on #690
I upgraded Fusion Auth to v.17.1.2 and I still have the same problem.

Here's the IdP log:

[code]

And still no log for the lambda.

I also tried to recreate another OpenId IdP with the same configuration, but the same thing is happening.

Do you have an idea of another OpenId IdP other than Azure AD that I can easily test?

[2020-06-18 09:48] TanguyGiton commented on #690
In version 1.15.8, the logs looked like this:

[code]

Now, it looks like the lambda is skipped.

[2020-06-18 11:54] joydeb28 commented on #34
Thanks for this quick fix.

[2020-06-18 15:11] #237 closed

[2020-06-18 16:03] crocodile2u commented on #238
I can confirm the same for linux, with MySQL connection. In my dev environment, I prefer not to set a password for DB.

[code]

logs of fusionauth container:
[code]

logs of mysql container:

[code]

[2020-06-18 16:10] crocodile2u commented on #238
Update: after I changed config to be this:

[code]

I was able to see the maintainance mode page but when I try to provide an empty password for root mysql user from there, the action fails with error:

[code]

User root without password is what I use to connect to db service from the application and from command line.

[2020-06-18 16:16] mooreds commented on #238
Looks like if you don't pass an env var to docker-compose it assumes it is an empty string: https://github.com/docker/compose/issues/3768

Can you try omitting the `DATABASE_ROOT_PASSWORD` variable from the docker compose file and see if that works?

[2020-06-18 16:24] crocodile2u commented on #238
It's getting curioser.

DB tables have been created. The normal DB user has been created, I can connect via mysql console with credentials I provided on the Maintenance Mode screen. Fusionauth still show the Maintenance Mode screen if I restart container.

I found this in logs, going to try to fix it:

[code]

[2020-06-18 16:41] crocodile2u commented on #238
OK, I got it to work with settings:
[code]

[2020-06-18 16:49] mooreds commented on #238
Ah, yes. Here's more about that, from https://fusionauth.io/docs/v1/tech/reference/configuration

If you've solved the issue, please feel free to close it.

[2020-06-18 17:46] robotdan commented on #34
@joydeb28 let me know if it works for you, there may be an edge case yet where this may not work as you'd like.

[2020-06-18 20:53] pericson004 opened #695 "FusionAut should send a confirmation email when a user resets their password"
## FusionAuth should send a confirmation email when a user resets their password

### Problem
When a user resets their password for the first time, a password reset confirmation email should be sent to convey next steps to new users.

Further, password reset confirmation is a security enhancement in cases where a user's account has been hijacked.

### Solution
Two webhooks would be ideal
1. user.f

[2020-06-18 22:53] TanguyGiton commented on #690
Yes, I can confirm that.

For information, I changed some uuid in the log for confidentiality reasons. So don't be surprised if there are inconsistencies.

The last log I sent corresponds to the case where it was working, i.e. with version 1.15.8 (see date).

I tried 3 different lambda: my original function, the function proposed by @mooreds and the default function for OpenId. None of them works.

[2020-06-18 22:57] mooreds commented on #695
Sorry, do you want an email to be sent, or a webhook, or both?

[2020-06-18 23:00] TanguyGiton commented on #690
I set up Google as IdP and it's working. And in the logs, you can see that the two steps have been reversed, hence the current problem :

[code]
[code]
6/18/2020 11:01:12 AM GMT Updating user:
{
  "breachedPasswordLastCheckedInstant" : null,
  "breachedPasswordStatus" : null,
  "encryptionScheme" : null,
  "factor" : null,
  "id" : "1d8e48a5-a612-47cd-8495-6961e0ce4c0e",
  "password" : null,
  "pa

[2020-06-18 23:08] robotdan commented on #690
Yes, you are correct. We changed the order of operation.

The reason for this is that it allows the lambda to operate on the actual user when the user exists, and it allowed us to remove a bunch of gnarly merging logic.

I'll think about this one more, one option may be to run the lambda a second time if we detect the email changed.

For example, currently it does this:

1. Assume `email` claim is

[2020-06-19 00:40] pericson004 commented on #695
prefer email over webhook.
-Thanks!

[2020-06-19 10:05] mgetka commented on #675
Insights on _reset password_ functionality mentioned in an update to the original post, are also applicable to passwordless login via _magic link_.

[2020-06-19 13:20] davidmw commented on #178
Another possible enhancement, seeking more flexibility and control. Let us specify, on the request URL, the IdP by name or short ID. eg: www.myfusion.com/idp/google

This forwards user to the IdP and could allow us end run around the managed domain scenario.

[2020-06-19 13:44] robotdan commented on #178
This is a good idea @davidmw . One of the issues we closed as dup to this one mentioned a similar use case. https://github.com/FusionAuth/fusionauth-issues/issues/544

[2020-06-19 14:39] gregoriopellegrino opened #696 "Unable to connect to your database"
## Unable to connect to your database using the superuser username and password, verify your connection information. If it is correct, make sure the database is running before continuing

### Description
I'm doing a fresh new installation and on the Maintenance page, after entering the data, this error appears:

The credentials for the DB are correct and I've tested them several times...

I'm usin

[2020-06-19 17:29] gregoriopellegrino commented on #696
Fixed! It was the `database.mysql.enforce-utf8mb4` issue: https://fusionauth.io/community/forum/topic/135/can-t-get-by-maintenance-mode/16

Added this line in my.cnf and restarted MySQL:

[code]

[2020-06-19 17:29] #696 closed

[2020-06-19 18:55] mooreds opened #697 "No error message displayed when making a large Elasticsearch query"
## No error message displayed when making a large Elasticsearch query

### Description

When making a query against the User API using the query_string syntax, if the query is too large it will fail with no message in the error logs.

### Steps to reproduce
Steps to reproduce the behavior:
1. Make sure you are using the elasticsearch engine
1. Create a very large ES query (seen when there were 40k

[2020-06-19 20:08] mooreds commented on #614
This has been mentioned before: https://github.com/FusionAuth/fusionauth-issues/issues/50

[2020-06-19 21:26] sedough commented on #632
+1   I've had several customers report errors to me because they went to the FusionAuth URL instead of my application URL.     I'm not sure how they're ending up at the wrong URL, but it would be nice if this kind of user mistake could be handle more gracefully.

[2020-06-20 05:33] sycured opened #698 "OIDC with GitHub and Discord: impossible to set user.username"
Hello,
In addition to Microsoft Azure AD (we're still investigating on it…), I'm working on GitHub and I've a little problem with username.

On my GitHub, I set my email to private so the jwt has ```"email": null```

So I try to set the ```user.username = jwt.login``` but I just see it inside registration and not the "parent":

<img width="1366" alt="Screen Shot 2020-06-20 at 00 22 18" src="https:

[2020-06-21 07:34] joydeb28 commented on #34
@robotdan
Not still the same problem.

[2020-06-21 12:13] godguide1 opened #699 "Can we add Identity Provider sign in/ login buttons to custom registration / login page built with Vue.js?"
## Can we add Identity Provider sign in/ login buttons to custom registration / login page built with Vue.js?

### Description
Kudos to you guys for the wonderful job you've done. I must confess that FusionAuth is sweet!

Is it possible we add Identity Provider sign in and login buttons to our custom registration and Login page (Vuejs) respectively, just as we call register and login API?

[2020-06-21 15:50] retendo commented on #642
I do have a managed digitalocean Postgres db that I am targeting. The connection works when I manually connect via pgAdmin for example. I don’t know if there are any additional requirements for JDBC.

But from what I see in the error log I posted, there are issues with elasticsearch, not with the connection to Postgres

[2020-06-22 14:53] robotdan commented on #699
Great request @godguide1 - this has been requested previously as well under Issue https://github.com/FusionAuth/fusionauth-issues/issues/554

I'll close this one out as a duplicate. If you have any details not covered by issue #554 feel free to add additional comments. Thanks!

[2020-06-22 14:53] #699 closed

[2020-06-22 16:08] TanguyGiton commented on #690
Okay, I get it. It's a shame that Azure AD is not OpenId compliant.
 Unfortunately, it's a must-have Identity Provider.

How about two hooks in the process?

A first lambda, before reconciling the user that would only allow to manipulate the JWT.

A second lambda, after having reconciled the user allowing to manipulate the user (like the lambda already present).

Thus, these two lambda are explici

[2020-06-22 17:12] robotdan commented on #690
@TanguyGiton yes, this is an option for sure. While, perhaps not as flexible, if we wanted to keep these steps discrete, we could also add a parameter to the OpenID Connect config to identify the name of the claim.

It would default to `email`, and it could be modified to find the email under a different claim such as `upn` with Azure.

This would work as long as we can find a claim using a JSON p

[2020-06-22 17:34] mooreds commented on #698
This is working as designed, we don't allow the username field to be modified in a JWT when reconciling the user account from an OIDC provider.

From https://fusionauth.io/docs/v1/tech/lambdas/openid-connect-response-reconcile

We have an open feature request to change this behavior: https://github.com/FusionAuth/fusionauth-issues/issues/691

Please feel free to either vote for that issue, add you

[2020-06-22 17:37] robotdan commented on #698
If you only want the username from GitHub or Discord for display purposes, you can set it on the registration.

[code]

Or you could set it anywhere else in user or registration data. But the `user.username` which can be used to authenticate cannot currently be set by the lambda as mentioned by @mooreds .

[2020-06-22 22:19] godguide1 commented on #554
Thanks @robotdan for the quick response.

We built our custom registration and login page using Vue js, and we just called the register and login API. We also want to add, on these pages, Identity Providers button. My question is, is this something we can achieve on our Vue.js custom pages?

![signup](https://user-images.githubusercontent.com/37475078/85340725-f52ee800-b529-11ea-840d-2676ca1c6598.

[2020-06-23 04:19] oliverwreath commented on #687
yes that works thanks a lot!

[2020-06-23 04:19] #687 closed

[2020-06-23 04:40] robotdan commented on #34
@joydeb28 once version 1.17.3 is available, you should be able to make LinkedIn work again. I updated the comments for the workaround in the main description above.

The configuration will have a new field for Email claim which will default to `email. For LinkedIn you'll be able to set it to `elements/0/handle~0/emailAddress`.

[2020-06-23 04:42] robotdan commented on #690
@TanguyGiton Once version 1.17.3 is available you should be able to make this work again. There will be a new configuration option for OpenID Connect called Email claim. This will default to `email`, but for Azure you'll be able to change it to `upn`, `unique_name` or whatever claim the email happens to be under.

[2020-06-23 05:05] #698 closed

[2020-06-23 10:09] TanguyGiton commented on #690
Thank you !

I had also thought about that but I found it interesting to use a lambda for more flexibility. Especially concerning Azure AD which is inconsistent depending on whether it is a personal or professional account.

[2020-06-23 12:35] sycured commented on #698
Ok thank you and I'll work on server side (micro service) to know which user has what fusionauth id.

For example, when GitHub's user without email (because set at private) and he comes back with for example LinkedIn or Google, it's different because I've the email and username so I'll look how I can do to reconcile correctly.

Maybe adding another provider connection inside it's profile, I'll loo

[2020-06-23 13:32] TanguyGiton commented on #690
Confirming that it's functional again. Thank you again.

[2020-06-23 13:38] #690 closed

[2020-06-23 13:54] robotdan commented on #554
If you aren't using our themed login pages, but building your own registration workflow using our APIs, then yes, you could build this yourself.

You'd use the Identity Provider APIs to complete the Google, Facebook or Twitter logins after retrieving a token from the identity provider.
https://fusionauth.io/docs/v1/tech/apis/identity-providers/

[2020-06-23 16:53] patrickvalle opened #700 "Does FusionAuth support SAML requests with embedded signatures when FusionAuth is the SP?"
## Does FusionAuth support SAML requests with embedded signatures?

### Description
SAML newbie here, so I'll apologize in advance for any confusion. I'm wondering if FusionAuth supports SAML requests with embedded signatures (HTTP-POST binding), similar to what's outlined @ https://www.samltool.com/generic_sso_req.php. I'm trying to figure out how to sign the SAML requests coming from FusionAuth.

[2020-06-23 17:51] mooreds commented on #700
Yes, it should. For example, Zendesk uses the HTTP POST binding: https://support.zendesk.com/hc/en-us/articles/203663676-Enabling-SAML-single-sign-on

And we've implemented FusionAuth as an IdP for Zendesk: https://fusionauth.io/docs/v1/tech/samlv2/zendesk

Which SP are you trying to integrate with?

[2020-06-23 17:58] robotdan commented on #700
Possibly related to issue https://github.com/FusionAuth/fusionauth-issues/issues/365.

[2020-06-23 18:36] joydeb28 commented on #34
Thanks @robotdan
It's working, now I am getting the email.
I set `scope=r_liteprofile%20r_emailaddress%20w_member_social` but I'm not getting the profile details.

[2020-06-23 19:12] patrickvalle commented on #700
@mooreds Sorry, I should have been more clear- I'm using FusionAuth as the SP and wondering if I can make HTTP-POST binded AuthnRequests to an IdP.

[2020-06-24 03:25] davidmw commented on #178
@robotdan Issue #389 can probably be closed as a dup of this one.

[2020-06-24 04:00] davidmw commented on #439
I'd like to see this go a step further. If Self Registration is off, but Google SSO is enabled - anyone with a valid Google hosted email account can attempt a login, resulting in the creation of an account on FusionAuth with no app registrations.

We manage user accounts from our app. A new user gets an account on our backend and is created and registered on FusionAuth via the API.

Today we creat

[2020-06-24 04:10] davidmw commented on #439
Actually the workaround described above is risky - not a great idea to delete an account causing an email address collision since it might be a valid account. Might be safer if we first confirm that target account has no registrations.

[2020-06-24 14:08] umangbholasamagra opened #701 "Unable to fetch user data after 10,000 users"
## Unable to fetch user data after 10,000 users

### Description
I am trying to fetch the user list on Fusion Auth Console, whenever the pagination crosses number of users beyond 10,000, it renders an error.
The same issue crops up whenever I try to hit Search Users API (api/user/search), and send startRow beyond 10,000
### Steps to reproduce
Steps to reproduce the behaviour:
1. Go to Fusion Auth

[2020-06-24 14:11] mooreds commented on #700
So I imagine you've seen this doc, but if not it's worth a read: https://fusionauth.io/docs/v1/tech/identity-providers/samlv2/

I haven't implemented this myself, but I think the process of signing a SAML request when FusionAuth is the SP goes like this:
* find the public key
* import it into the FusionAuth keymaster
* select that as the `verification key`
* FusionAuth should sign the request with

[2020-06-24 14:15] mooreds commented on #701
Thanks for the feedback!

This looks like a duplicate of https://github.com/FusionAuth/fusionauth-issues/issues/494

If you agree, please close this issue. If not, please add more details on how it is different.

[2020-06-24 14:27] mooreds commented on #642
That makes sense, @retendo . When you are starting up, do you see any issues with the elasticsearch process? If you are in the FusionAuth docker instance, can you connect to elasticsearch using `http://search:9200`?

[2020-06-24 17:32] patrickvalle commented on #700
@mooreds My understanding of the `verification key` field you're referencing is that it's used to verify the **response** coming _back_ from the IdP. What I'm trying to do (I think) is to encrypt my **request** going _to_ the IdP.

[2020-06-24 20:21] mooreds opened #702 "Requiring Birthdate on self registration form when also requiring parent email on registration causes exception"
## Requiring Birthdate on self registration form when also requiring parent email on registration causes exception

### Description

If you have birth date as a required registration field and also have particular family settings enabled at the tenant level, you can't register:

[code]

### Steps to reproduce
Steps to reproduce the behavior:
1. Turn on family settings at the tenant level
1. Allow

[2020-06-24 20:22] mooreds commented on #702
[birthdate-doubled-error.txt](https://github.com/FusionAuth/fusionauth-issues/files/4827735/birthdate-doubled-error.txt)

[2020-06-24 20:38] mooreds commented on #700
Ah, you are correct, that is the role of the `verification key`.

I don't believe FusionAuth supports signing our SAML response when we are acting as the SP.

I didn't see anything in /admin/identity-provider/add/SAMLv2 config screens nor in the API docs: https://fusionauth.io/docs/v1/tech/apis/identity-providers/samlv2

Can share which SAML IdP requires this?

[2020-06-24 20:41] mooreds commented on #700
Here's the forum post: https://fusionauth.io/community/forum/topic/188/does-fusionauth-support-saml-requests-with-embedded-signatures-when-fusionauth-is-the-sp

[2020-06-25 00:22] ulybu opened #703 "Sign in with Apple idp config ignore overrides"
## Sign in with Apple idp config ignore overrides

### Description
I've set up Apple as an IDP and want to provide overrides for my staging environment. It looks like those overrides are ignore and FA uses my main config

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to IDP/apple
2. Fill in bogus service id value
3. Enable one application, select "overrides" and here enter the corr

[2020-06-25 04:33] davidmw opened #704 "Passwordless - new request auto expires pending requests"
## Passwordless - new request auto expires pending requests

### Description

If a user requests passwordless login, gets impatient and requests again, the first is expired by the second request.

This is problematic with kids, in particular, or in situations where there is delay in email arrival to the client.  After the 2nd or 3rd request, the 1st email arrives, which is now invalid. This could

[2020-06-25 04:39] davidmw commented on #704
It might be tempting to change Fusion to throttle the request spacing for a single account, for example one every 2-3 minutes. This doesn't seem like an ideal solution since it would bake in more delays when we are looking for a fast login process.

[2020-06-25 13:47] mooreds commented on #700
@patrickvalle happy to convert this to a feature request if you can provide more details about the use case.

Cheers!

[2020-06-25 15:51] johnmaia commented on #547
@robotdan this is no longer an issue thanks to the introduction of lambda functions on each identity provider (version `1.17.0`).

[2020-06-25 15:51] #547 closed

[2020-06-25 16:37] mooreds commented on #704
Yes, I ran into this when writing the passwordless guide.

Curious about your thoughts on desired behavior. I can think of two options to ameliorate this issue:

* have more than one token be valid at a time, which has security implications (as well as implementation complications)
* present a message to the user that a request is in-flight and they should expect an email "any minute now" when the

[2020-06-25 16:45] robotdan commented on #704
To add to @mooreds this is working as designed. We are always open to improving the user experience, so perhaps there is some room to improve this without sacrificing security.

[2020-06-25 16:52] robotdan commented on #703
If you inspect the DOM on the login page where the Apple button is rendered, what is the value for `data-services-id` on the Apple login button?

[code]

[2020-06-25 17:01] robotdan commented on #703
Update, I was able to recreate and identify the issue. Thanks for reporting!

[2020-06-25 19:36] robotdan commented on #652
I believe this has been resolved. Please re-open if you have questions.

[2020-06-25 19:36] #652 closed

[2020-06-25 21:54] davidmw commented on #704
On the security concerns: The repeated requests for passwordless link might come from different IPs / devices but even then - the request is silently ignored if the account doesn’t exist and links are only sent to the requester.

Having multiple short lived tokens active and in route, or having the same token on multiple emails without extending the lifespan of the original occurrence, don’t reall

[2020-06-26 02:41] davidmw commented on #704
I suppose that any passwordless link email could be forwarded to a different email address and if there are multiple tokens active there could be forwards to multiple accounts.

I've previously been told that FusionAuth isn't designed to prevent multiple login sessions on a single user account. The multiple active passwordless token concept isn't much different, possibly allowing multiple simultan

[2020-06-26 05:20] robotdan commented on #703
This should be fixed in 1.17.4.

[2020-06-26 13:00] ulybu commented on #703
Fantastic !

[2020-06-26 13:48] JuliusPC opened #705 "Session cookie misses `Secure` attribute"
## Session cookie misses `Secure` attribute

![fusionauth-cookie](https://user-images.githubusercontent.com/15018932/85863724-da77a000-b7c3-11ea-9c2c-81aec17178ce.png)

### Description
Since it is safe to assume that nobody wants to use FusionAuth without HTTPS in production, the `Secure` attribute should be set.

[2020-06-26 14:10] #692 closed

[2020-06-26 14:10] #697 closed

[2020-06-26 14:10] #703 closed

[2020-06-26 14:27] mooreds commented on #705
Interesting. When I'm running locally but behind apache serving over HTTPS, it is marked secure (because I'm connecting via AJP, I suppose).

<img width="297" alt="Screen Shot 2020-06-26 at 8 21 44 AM" src="https://user-images.githubusercontent.com/91825/85867420-1c81f100-b786-11ea-9ed9-c50aa78d3864.png">

What happens when you sign in via https://localhost:9013/ ? You'll get a self signed SSL cer

[2020-06-26 14:29] mooreds commented on #704
OK, so it sounds like you're advocating for having more than one passwordless token be valid at a time. Each passwordless token would live for the configured lifetime and if there were three in flight (aka requested by an energetic child) any of the three would work.

I suppose once any one of the three were used, we'd want to invalidate any of the others.

Is that basically the feature as you ima

[2020-06-26 14:40] davidmw commented on #704
That would create the desired result. Or if the implementation is easier to resend the same user token if it is still valid - then clicking the link from any of the emails would complete the login based that one token.

[2020-06-26 14:58] robotdan commented on #705
The `Secure` attribute is true if you are using `https`. I'm assuming you're in development and running over `http`.

[2020-06-26 19:34] mgetka opened #706 "API: Unhandled exception while clearing user's preferredLanguages attribute via PATCH request"
## API: Unhandled exception while clearing user's `preferredLanguages` attribute via `PATCH` request

### Description

In various parts of API documentation, there is following note about `PATCH` requests behaviour:

An attempt to clear `user.preferredLanguages` array via patching it with `null` causes an unhandled exception.

### Steps to reproduce
1. Try to remove `user.preferredLanguages` attri

[2020-06-26 22:03] mooreds commented on #706
Nice find!

[2020-06-26 22:50] mooreds commented on #155
When this is implemented, we should update this guide: https://github.com/FusionAuth/fusionauth-site/pull/96

[2020-06-28 14:49] sachinmour opened #707 "Cannot login user after successful registration"
## User login fails with 401.

### Description
I'm following guidelines from here https://fusionauth.io/docs/v1/tech/tutorials/register-user-login-api
I register a user with a single api call
<img width="1680" alt="Screen Shot 2020-06-28 at 4 47 27 PM" src="https://user-images.githubusercontent.com/11920517/85950796-404c5f00-b95f-11ea-908b-67dd99e6d0b9.png">

and then i try to login user and it re

[2020-06-28 15:09] #707 closed

[2020-06-28 15:10] sachinmour commented on #707
It was because of api-key permissions to that url

[2020-06-29 02:43] shortstack opened #708 "Integrating FusionAuth with TheHive 4.0.0-0.3RC3 / OAuth / SSO"
## Integrating FusionAuth with TheHive 4.0.0-0.3RC3 / OAuth / SSO

### Description

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to TheHive login screen
2. Click on 'Sign in with SSO'
3. Redirects back to login screen
4. Login doesn't happen

### Expected behavior
Click button, auth with FA, log in

### Screenshots
<img width="1079" alt="Screenshot 2020-06-28 22 35 16" src="https:

[2020-06-29 03:03] shortstack commented on #708
## Scenario 1: Clicking the button

[code]
<img width="687" alt="Screenshot 2020-06-28 22 58 15" src="https://user-images.githubusercontent.com/1244979/85968467-3ba19e00-b993-11ea-8656-ad3848f4b134.png">

## Scenario 2: Opening /oauth2/authorize in new tab
[code]
<img width="724" alt="Screenshot 2020-06-28 22 58 54" src="https://user-images.githubusercontent.com/1244979/85968601-84595700-b993-11ea

[2020-06-29 03:07] shortstack commented on #708
TheHive config:

[code]

Additionally, we have FusionAuth integrated as SSO for other platforms with the same FA application/client ID/secret (ex: RocketChat) and it works fine.

[2020-06-29 08:13] soullivaneuh commented on #632
We are experimenting the same issue with some of our customer.

It looks like they add the new login board URL to browser favorite without the get parameters, leading to this problem.

@mooreds The need is quite a must in my opinion, can you maybe provide a quick alternative feature such as a default redirect on failure as an option? Maybe you do also have some workarounds to share?

[2020-06-29 08:16] JuliusPC commented on #705
Thank you for your replies!

Yes. I forgot about the proxy.

No, but FusionAuth is behind a reverse proxy 🤦 and therefore "seeing" HTTP.

What is the recommended way to deal with this issue?

1. Proxying port 1013 and configure the reverse proxy to accept FusionAuth's self signed cert? ([Something like this.](https://docs.nginx.com/nginx/admin-guide/security-controls/securing-http-traffic-upstream

[2020-06-29 13:53] robotdan commented on #705
If you're behind a proxy providing TLS termination, your proxy should be adding the `X-Forwarded-Proto` header.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Proto

[2020-06-29 14:25] mooreds commented on #632
@soullivaneuh thanks for your feedback. I agree this is not a great user experience. However, I can't commit to any timelines for an in-app fix as suggested. The engineering team is currently heads down on some other features for 1.18.0.

The best available workaround is to set up a proxy (like nginx or haproxy) which can then control access and add the default `application_id`, as mentioned in my

[2020-06-29 14:39] shortstack commented on #620
tracking here for v4

https://github.com/FusionAuth/fusionauth-issues/issues/708

[2020-06-29 14:39] mooreds commented on #708
@shortstack , can you please share your FusionAuth application config (redacted as needed)? Also, which version of FusionAuth are you running?

[2020-06-29 14:41] shortstack commented on #708
@mooreds  which part of the app configuration would be most helpful?

upgraded to 1.17.4 this morning, but same everything

[2020-06-29 14:43] mooreds commented on #708
I'm unsure exactly which part would be helpful, to be honest. Do you mind providing the entire config as json?

[2020-06-29 14:48] shortstack commented on #708
[code]

[2020-06-29 15:35] ashokgelal opened #709 "Consistently hitting validateDbConstraints error while importing a user"
I'm trying to import just one user for testing. I'm using basically the same data provided [here](https://fusionauth.io/docs/v1/tech/apis/users#import-users) but I keep getting `This is most likely due to a unique key constraint which would indicate one or more of the users in the import request already exist in FusionAuth. Re-attempt the request with additional validation by using the [validateDb

[2020-06-29 15:41] robotdan commented on #709
Can you run the Import request with the `validateDbConstraints` enabled and see what the output is?

[2020-06-29 15:48] ashokgelal commented on #709
Sorry I missed out an important detail:

With the following settings, I am able to import it on a local instance but when I try to do the same thing over to a test server served over https, I run into this import issue. I've successfully created an application on this server though.

![CleanShot 2020-06-29 at 09 42 00](https://user-images.githubusercontent.com/401055/86026847-2fe2c580-b9ed-11ea-8c

[2020-06-29 15:48] ashokgelal commented on #709
I've set `validateDbConstraints` to false in .net client but I just tried setting `validateDbConstraints` to true in Paw and I got the same error.

[2020-06-29 15:50] robotdan commented on #709
Can you show me the import request JSON when you enable `validateDbConstraints` ?

[2020-06-29 15:52] ashokgelal commented on #709
Here it is: https://cln.sh/PZz9to

[2020-06-29 15:55] robotdan commented on #709
That screenshot looks like it is sending text, can you confirm you are sending the body as `JSON` with the `Content-Type` set to `application/json`?

[2020-06-29 15:57] ashokgelal commented on #709
I believe it is (I just switched to Text to take the screenshot to make it easy to see the data I'm sending over): https://cln.sh/L4taxq

[2020-06-29 16:03] mooreds commented on #708
I confess, I'm at a loss. Short of downloading and installing The Hive and playing around with the SSO integration, I'm not sure what the next steps would be. I'll watch https://github.com/TheHive-Project/TheHive/issues/1342 as I see there's some activity over there as well.

[2020-06-29 16:04] robotdan commented on #709
A couple of options.

1. Ensure an application exists with the Id specified in the registration by `applicationId`
2. Try the import w/out unicode in the registration username. If you are on MySQL, it is possible your db is not configured properly for unicode.

[2020-06-29 16:06] shortstack commented on #708
the fusionauth docs say that when it returns a 200, that it's returning the auth form "the response will contain an html form to collect login credentials"

but i don't understand why it's pulling back the 200 from the SSO button vs a 302

[2020-06-29 16:09] ashokgelal commented on #709
1. Application exists with the ID specified (I've made sure of it)
2. It's s Postgres database and I've confirmed that it doesn't contain any unicode characters.

[2020-06-29 16:10] robotdan commented on #708
To confirm, this is what you're seeing:

1. Click "Sign in with SSO" on the Hive login page (302 to FusionAuth)
1. You are redirected to FusionAuth where you see a login page (200, HTML renders)
1. You enter credentials, submit the form to login to FusionAuth

After this (if correct) what happens?

From your debug output:

[code]

It seems to indicate that it is redirecting to itself instead of Fu

[2020-06-29 16:14] shortstack commented on #708
## scenario 1: button
1. Click "Sign in with SSO" on the Hive login page
2. I go nowhere (200 response seen in network requests instead of expected 302)

## scenario 2: open the `/oauth2/authorize` endpoint (the same link that thehive is supposed to direct to via that button) in a new tab
1. Paste `https://fusionauth/oauth2/authorize?state=319830de-b9f3-4d3b-ae6c-50798a805da0&scope=openid&redirect

[2020-06-29 16:15] mooreds commented on #709
Do the server logs on the test server show any interesting error messages?

[2020-06-29 16:22] shortstack commented on #708
@robotdan i have a screen recording if i can share this somehow--best method for private link for you?

[2020-06-29 16:23] ashokgelal commented on #709
Unfortunately, nothing interesting. FusionAuth is running in a docker container and I was hoping that FA would spit out some log on each access but doesn't seem to log anything for an API request. Is there a way to enable the log?

[2020-06-29 16:27] robotdan commented on #708
Sent you an email that you can respond to with a link. Thanks.

[2020-06-29 17:28] SebastianCanonaco commented on #381
@scottvelasquez Same problem here, the CPU Utilization just fires up to 100% and my EC2 instance of FA running of ECS just resets, did you manage to resolve it?

[2020-06-29 17:29] mooreds commented on #709
Sorry, I'm a bit confused. Have you tried loading this data with 'Mausbar' rather than 'Mausbår' for the username and seen the same issue?

Can you attach the log files that show up when you run this?

I don't think there's a great way to enable more detailed debugging log output.

[2020-06-29 20:55] voidmain commented on #708
A HAR file might be really helpful for this as well since it seems to be all happening in the browser.

[2020-06-29 21:10] robotdan opened #710 "Selecting an Application in the UI advanced search controls builds a query that fails on ES7"
## Selecting an Application in the UI advanced search controls builds a query that fails on ES7

### Description
Using the form controls, select an application which builds a query such as

[code]

This fails on ES7, but works on ES6.

Error from ES

[code]

The Validate API returns

[code]

[code]

### Steps to reproduce
1. Log into the UI, select Users from the left Nav
2. Click Advanced on the

[2020-06-29 21:22] robotdan commented on #708
I've recreated most I believe (some of my notes are over here : https://github.com/TheHive-Project/TheHive/issues/1342 ).

I get an `OPTIONS` request from TheHive for the Authorize request, it passes, and I see the `OPTIONS` request in the browser debugger. The next request is the `GET` request but it shows as not having a response body.

I never see a request to the Token endpoint, I think I'd ha

[2020-06-29 22:09] shortstack commented on #708
yep, i get a 204 followed by the 200, instead of a 302 back to thehive/api/ssoLogin

[2020-06-29 22:31] shortstack commented on #708
i will get an HAR file soon

[2020-06-29 23:34] shortstack commented on #708
HAR file emailed to @robotdan

[2020-06-30 11:18] nikos opened #711 "Searching with raw Elasticsearch query string leads to invalid-search-json-error"
## Searching with raw Elasticsearch query string leads to invalid-search-json-error

When making use of the API for searching users as described in
https://fusionauth.io/docs/v1/tech/apis/users#search-for-users
with the help of FusionAuth Java SDK (Kotlin example):

[code]

communicating with a FusionAuth 1.15.5 server the following error is thrown on the server:

[code]

[2020-06-30 11:21] shortstack commented on #708
this is disheartening :(

so now what

<img width="400" alt="Screenshot 2020-06-30 07 20 56" src="https://user-images.githubusercontent.com/1244979/86120439-4e56c880-baa2-11ea-86d0-4cf30053b718.png">

[2020-06-30 11:39] shortstack commented on #708
i added the CORS everywhere plugin in firefox and that did nothing. additonally, i don't see any CORS errors/messages in the developer tools console.

[2020-06-30 11:42] shortstack commented on #708
<img width="1625" alt="Screenshot 2020-06-30 07 41 59" src="https://user-images.githubusercontent.com/1244979/86122095-346ab500-baa5-11ea-9c21-abff330f60e6.png">

[2020-06-30 13:22] JuliusPC commented on #705
nginx does, but FusionAuth doesn't add the Attribute anyway. I solved the problem by proxying `https://127.0.0.1:9013` instead of 9011.

The JSESSIONID cookie is now marked as secure. The cookies fusionauth.wn (maybe to save the "What is new" state?) and fusionauth.locale are not. Not critical, but why bother handling those different?

[2020-06-30 13:26] robotdan commented on #705
`fusionauth.wn` and `fusionauth.locale` are cookies written and utilized in JavaScript, we may be able to mark them as secure, but they are not sensitive.

[2020-06-30 13:27] robotdan commented on #711
Thanks for reporting @nikos . This was recently fixed under issue https://github.com/FusionAuth/fusionauth-issues/issues/697 and is available in 1.17.4.

[2020-06-30 13:27] #711 closed

[2020-06-30 13:45] nikos commented on #711
Related issue: https://github.com/FusionAuth/fusionauth-issues/issues/30

[2020-06-30 13:51] nikos opened #712 "User searching for first and lastname not possible"
When using FusionAuth 1.15.5 with the Java SDK it seems that the documented fields (see https://fusionauth.io/docs/v1/tech/apis/users#search-for-users) do NOT work:
* `last_name`
* `first_name`
* `full_name`
but only the field named `fullName` (camel case) is returing the expected users.

Related issue: https://github.com/FusionAuth/fusionauth-issues/issues/30

[2020-06-30 14:19] robotdan commented on #712
If you're not using Elasticsearch, the ES Query String DSL does not work. Your query should be `queryString = "Joe"`.

There is also a doc bug, those field should be `lastName`, `firstName` and `fullName`. But the note in the doc is only meant to say those are the only fields that will be searched.

[2020-06-30 14:22] robotdan commented on #712
@mooreds do you want to take a look at any of our search doc and see if we need to clarify how to use the search APIs when not using Elasticsearch?

In this case @nikos was using `fullName:Joe` - but we don't support this DSL without Elasticsearch. This may not be clear in our documentation. The doc is intended to indicate when you search with a string, we will compare the documented fields, but y

[2020-06-30 14:23] JuliusPC commented on #465
Using and _enforcing_ Back-Channel Logout improves protection from CSRF attacks (e.g. by tricking an user clicking on a link pointing to the Logout endpoint -- Yes, that is not dangerous per se).

[2020-06-30 14:24] robotdan commented on #708
Re: https://github.com/FusionAuth/fusionauth-issues/issues/708#issuecomment-651731195

Is that a response from TheHive team, or from yours? It seems to indicate there is possibly an CORS issue in TheHive?

[2020-06-30 14:42] shortstack commented on #708
this morning has been a rollercoaster of emotions.

working with one of their devs this morning. they said it was a known CORS issue (screenshot above) and that they fixed it in RC2 (i wish this had been mentioned days ago).

i rolled back to RC2, and ran into another issue where it was not redirecting as expected (team says that /api/ssoLogin is supposed to redirect to the frontend and it was not

[2020-06-30 14:53] nikos commented on #712
@robotdan  Thanks for coming back so quickly to my question.

I am a bit confused, since I thought FusionAuth is currently only available with ElasticSearch as search backend (at least the last time I tried it, this might be back to 1.11? starting was unhappy with ES missing). So we are using an ElasticSearch full text index, the mapping looks like:

[code]

So it seems like for example `fullName`

[2020-06-30 15:10] mooreds opened #713 "`aud` claim is provided for a non registered user during the authorization code grant"
## `aud` claim is provided for a non registered user during the authorization code grant

### Description

The login and oauth APIs should return the same JWTs for a user who is authenticated. But this doesn't seem to be the case when a user is not registered for an application. In this case, the login API doesn't return the `aud` claim, but the oauth code flow does.

### Steps to reproduce
Steps

[2020-06-30 15:19] mooreds commented on #712
@nikos as of release 1.16, elasticsearch is optional. More details here: https://fusionauth.io/docs/v1/tech/release-notes#version-1-16-0-rc-1 ("Support for using the database as the user search engine. ")

Here's a doc about switching between them: https://fusionauth.io/docs/v1/tech/tutorials/switch-search-engines

[2020-06-30 15:22] robotdan commented on #708
That is great! Can you share your configuration and version of Hive? (assuming RC2?)

[2020-06-30 15:49] mooreds commented on #712
Regarding your questions about the mapping, this is working as designed. I think the docs need make it clear that the firstName and lastName specific field searches only work with the database search engine (though of course we could change that, if it is important to you, please file a feature request).

There's no dependencies between the engines--if you are using elasticsearch, it is getting th

[2020-06-30 15:56] mgetka commented on #713
TBH, I don't not exactly understand why `aud` claim should not be present in such JWTs. In the JWT, there are FusionAuth specific fields, like `roles` and `applicationId`, which presence or absence determines whether the user is registered in the application or not. For me, it is a clear solution - registrations are a concept specific for the FusionAuth domain, and thus they have influence on Fusi

[2020-06-30 16:02] joydeb28 opened #714 "Login With GOOGLE"
## Login With GOOGLE
I was trying to login with GOOGLE and I noticed user.create webhook event that doesn't have the registration parameter whereas user.delete contains.
But in the source under user details, I am getting the details. Only its not coming in user.create.
![user create and delete](https://user-images.githubusercontent.com/25972361/86148922-e55e6780-bb18-11ea-85c8-442c83f75303.png)

[2020-06-30 16:03] mooreds commented on #713
Thanks for the further insight. I raised this as an issue because of the forum post but also because of this Slack message: https://fusionauth.slack.com/archives/CG00HG935/p1593525399189800?thread_ts=1593102805.170300&cid=CG00HG935 :

This user is having issues with the [ambassador](https://www.getambassador.io/docs/latest/topics/using/filters/jwt/) proxy, and having a hard time distinguishing bet

[2020-06-30 16:05] mooreds commented on #714
I think you might want the [user.registration.create](https://fusionauth.io/docs/v1/tech/events-webhooks/events#user-registration-create) event rather than (or perhaps in addition to) the user.create event.

I'm not sure what you mean by:

Can you explain further?

[2020-06-30 16:12] mgetka commented on #713
RFC states that the field is optional, so implementer is free to decide when and if at all the claim should be present. So yes, mentioned _possible interpretation_, is just me, with my head in the clouds, wondering how one could interpret situation where some abstract service, sometimes include the claim and sometimes not :grinning:

[2020-06-30 16:40] shortstack commented on #708
one caveat, while auto user creation worked in RC3, it doesn't work in RC2 :( which means we'll have to programmatically create the users in thehive and assign them to the correct org when we create them in fusionauth. but better than it was yesterday. thanks so much for your help and extra sets of eyeballs.

[code]

[2020-06-30 16:43] robotdan commented on #713
We may have an inconsistency with the Login API and the OAuth2 workflow. In the Login API (`/api/login`) the `aud` claim is not returned unless the user is registered. In the OAuth2 workflow, the `aud` claim is always returned as indicated here.

In both cases, the `applicationId` and `roles` claims only exist if registered.

At a minimum we should make these consistent. I kind of like having the

[2020-06-30 16:46] #708 closed

[2020-06-30 16:48] joydeb28 commented on #714
I started both user.create and user.registration.create event but still getting the same response.

[2020-06-30 16:59] robotdan opened #715 "JWKS Endpoint should return x5t attribute when a certificate is stored in FusionAuth"
## JWKS Endpoint should return x5t attribute when a certificate is stored in FusionAuth

### Description
If we have a public key, we are currently only using this value to build the JSON Web Key. If we have a certificate we should prefer that when building the JSON Web Key because it will then also contain the `alg`, `xt5t` and `x5t_256` values when viewing the JWKS endpoint.

[2020-06-30 18:57] mooreds commented on #714
So, just so I understand, the issue is that you are not getting the `registration` data in a webhook when a user signs up for a FusionAuth application using Google as the identity provider? And that you are have tried both the `user.create` and `user.registration.create` webhooks?

Is that correct?

[2020-06-30 19:12] nikos commented on #712
Thanks @mooreds for taking action and clarifying on the different aspects regarding database and fulltext/ES search capabilities (side note: I would prefer if the search client does not have to distinct between the search engines, but can use the same field names).

Coming back to my original question: when making use of the FusionAuth Java client API (1.15.4) against an FusionAuth+ES (1.15.5) ser

[2020-06-30 19:58] mooreds commented on #712
Hmmm. What do you mean? You can use `queryString` for both, it just has different limitations. I'm not sure what you mean.

I only see `fullName` in the mapping. What am I missing?

We don't create a field on `firstName` or `lastName`, but you can use wildcards to search on them in the queryString:

`queryString = "Joe*"`

`queryString = "*Smith"`

I realize that doesn't quite get you what you wan

[2020-06-30 20:43] mooreds commented on #713
One reason to do the opposite is so that people filtering on only standard claims can have a way to differentiate between authenticated and authorized users. (See https://github.com/FusionAuth/fusionauth-issues/issues/713#issuecomment-651890429 for an example.)

[2020-06-30 20:49] robotdan commented on #713
Internal note: We currently expect the `aud` claim to be present when using the `id_token_hint` on the OAuth2 logout endpoint even when the user is not registered. If we remove the `aud` claim for non-registered users in the OAuth2 flows, we'll need to account for this use case.

[2020-06-30 21:03] ashokgelal commented on #709
So after digging into it more, I found out that the culprit was DigitalOcean's hosted Postgres database combined with the fact that the database schema needs to be imported first to make it work with FA (different issue). Since this was only for testing/QA, I'm now running both the database and FA on a single server and I was able to import all the users. I'm still not sure why it doesn't work wit

[2020-06-30 21:03] #709 closed

[2020-06-30 21:07] ulybu opened #716 "Crash when exchanging refreshToken from tenant A with tenant B in the x-tenant header"
## Crash when exchanging refreshToken from tenant A with tenant B in the x-tenant header

### Description
If you try to exchange a refresh token for an access token with the `POST /oauth2/token` mismatching the tenantID in the header and refreshtoken origin tenant's, FA crashes

### Steps to reproduce
Steps to reproduce the behavior:
1. Grab a valid `exchange a refresh token for an access token` c

[2020-06-30 21:17] nikos commented on #712
This is working when querying users with the Java client API: `queryString = "firstName:Joe"`
as opposed to `queryString = "lastName:Smith"` (of course just sample values, in reality those are matching to existing users and their given last resp. first names ;-)

[2020-06-30 21:19] nikos commented on #712
For an application developer it should not make a difference if the search is using database or elasticsearch capabilities regarding the names of the fields, or which do only exist if the search engine type is `database`.

[2020-06-30 22:28] SlothFriend opened #717 "DELETE Application Role - Fails with 500 Internal Server Error"
## DELETE Application Role - Fails with 500 Internal Server Error

### Description
Calling the Delete Application Role endpoint returns a 500 error. Following the documentation here: https://fusionauth.io/docs/v1/tech/apis/applications#delete-an-application-role

### Steps to reproduce
Steps to reproduce the behavior:
1. Make an HTTP call to `DELETE https://{{HOST}}/api/application/{{APP_ID}}/role

[2020-06-30 22:44] mooreds commented on #717
Hmmm. I'm unable to recreate. I tried both a role that a user had and one without.

Here's my curl script:

[code]

Where `a5d84462-193d-4c0d-9f20-d05a8a584710` is my app id and `4f275011-7e97-4858-9507-7fe7aabcd396` is my role id.

A few questions:
* What do the server logs show?
* Anything in particular special about the role? (default, superadmin?)
* What version of FusionAuth are you running?

[2020-06-30 23:26] mooreds opened #718 "User consent giver doesn't show up in the admin UI"
## User consent giver doesn't show up in the admin UI

### Description

When I grant a user consent, I provide both the id of the user receiving consent and the user giving it, per https://fusionauth.io/docs/v1/tech/apis/consent#grant-a-user-consent

When I do so, both values are recorded in the user consent object and the user receiving consent has a new consent in the admin screen (on the user d

[2020-07-01 04:24] joydeb28 commented on #714
Yes.

[2020-07-01 04:35] sycured commented on #683
Fixed, the problem was at one microservice, FusionAuth with Azure AD v1.0 fully working.

[2020-07-01 04:35] #683 closed

[2020-07-01 05:56] nikos commented on #712
Added some more general questions on how to use the user search in detail over at https://github.com/FusionAuth/fusionauth-site/pull/118#issuecomment-652205369

[2020-07-01 07:20] eirikur-grid commented on #629
@robotdan The solution method that you propose looks good to me

If there's any chance this could be prioritized, then that would be appreciated. We do not feel comfortable with enabling magic links for our users while this issue persists.

[2020-07-01 07:25] nikos commented on #712
I revised my code and currently use the query string `fullName:Joe*` as first name equivalent and `fullName:*Smith` as search for the last name, until hopefully first and last name will be supported also for ElasticSearch as search engine.

[2020-07-01 13:30] shortstack commented on #620
closing because not an issue with FA, tracking here https://github.com/TheHive-Project/TheHive/issues/1342 and https://github.com/FusionAuth/fusionauth-issues/issues/708 for v3 and v4

[2020-07-01 13:30] #620 closed

[2020-07-01 13:59] robotdan commented on #629
I do want to get to this one, we have several large projects underway at the moment.

[2020-07-01 14:24] robotdan commented on #712
Internal: Any reason not to index each of these fields?

- `firstName`
- `middleName`
- `lastName`

Currently we are indexing a single field called `fullName` which is built from `fullName` if provided, or it is built using a combination of `firstName`, `middleName` and `lastName`.

[2020-07-01 14:29] mooreds commented on #712
I can't think of any reason not to index these fields. Seems like a good move to me from the user perspective.

However, if I were implementing, I'd  consider:
* additional time to index
* additional memory/space constraints

I am afraid I don't know enough about the internals to have a valid opinion on that stuff.

[2020-07-01 14:37] voidmain commented on #712
I believe we wrote the original indexing to use `fullName` and let Elastic handle that as more of a document than a single value. Elastic should tokenize and make each piece of the name searchable. The only issue will be when different name components are the same. Like a `lastName` of `John`. Or a middle name of `Smith`.

[2020-07-01 14:44] mgetka opened #719 "Unable to delete an user with a consent"
## Unable to delete an user with a consent

### Description
On an attempt to delete an user with a consent granted, FusionAuth encounters an error due to foreign key constraint violation in the database.

### Steps to reproduce
1. Create an user and grant some consent
2. Try to delete the user
3. See an error

### Expected behavior
User is being deleted

### Platform
FusionAuth 1.17.1 in docker &

[2020-07-01 15:12] ehoxha4 opened #720 "Registration Fails under specific age"
## Registration Fails under specific age

### Description
If COPPA is activated, at the moment that age is less than a specified value registration fails.

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to Edit Application -> Registration and enable Self service registration.
2. Go to Edit Tenant -> Family and enable Family settings.
3. Go to login page and click Create an account.

[2020-07-01 15:17] mooreds commented on #720
I believe this is a duplicate of https://github.com/FusionAuth/fusionauth-issues/issues/702 which has the workaround of not requiring the birthday on the registration page.

Can you take a look and let me know if this is the same issue?

[2020-07-01 15:36] mooreds commented on #714
So I just tried to recreate and I saw the `user.registration.create` event fire when I signed up with fusionauth that had a google identity provider configured. Here's what I saw in the webhook:

[code]

So from this, you basically have everything that the `user.delete` webhook gives you in the `registrations` object (`applicationId`, the `id` of the registration, `insertInstant`, `lastLoginInstan

[2020-07-01 17:46] mooreds commented on #700
@patrickvalle should I convert this to a feature request? If so, would love as many details as you can provide.

Or should I close this?

Thanks!

[2020-07-01 18:42] ehoxha4 commented on #720
Yes it works fine if you remove birthday.
Thank you!
Closing now.

[2020-07-01 18:42] #720 closed

[2020-07-01 19:59] robotdan commented on #624
@bguyza it is possible this was resolved under issue https://github.com/FusionAuth/fusionauth-issues/issues/468 which came out in 1.15.8.

We can test with the old version of the template to confirm.

This is the "old" version of the template

[code]

[2020-07-01 20:01] mooreds opened #721 "Warning in log from mybatis: "An illegal reflective access operation has occurred""
## Warning in log from mybatis: "An illegal reflective access operation has occurred"

### Description

When you first create a user after FusionAuth has started up, you see this message in the logs:

[code]

### Steps to reproduce
Steps to reproduce the behavior:
1. Install FusionAuth via Docker
1. Start it up
1. Create a user via the API (this also happens if you add a user via the admin ui )
[c

[2020-07-01 20:04] robotdan commented on #721
This is just an issue with JDK 14 and MyBatis. Just a warning that this usage may not be allowed in a future version. Not much we can do until MyBatis fixes it.

[2020-07-01 20:26] bguyza commented on #624
Yep, I was able to recreate the error when using the old template.  It looks like this is no longer an issue as of this commit:
https://github.com/FusionAuth/fusionauth-app/commit/6ddde2e93e73a69c3cd7a2cfc119f0f769e02b9d

[2020-07-01 20:27] #624 closed

[2020-07-01 20:30] mooreds opened #722 "Adding an email+ consent to a user causes an exception in the UI"
## Adding an email+ consent to a user causes an exception in the UI

### Description
A clear and concise description of what the bug is.

### Steps to reproduce
* Create a consent, make sure it has email plus enabled. I just used the default email templates.
* Create an application
* Create a parent account:
[code]

* Create a child account associated with a parent account.
[code]

* If you view t

[2020-07-01 20:48] mooreds commented on #721
Looks like they fixed it in 3.5.3. We could upgrade mybatis to 3.5.5 (the latest version).

https://github.com/mybatis/mybatis-3/issues/1156#issuecomment-537478388

Looks like mybatis 3.5.x requires java8 or later. Not sure if that is a deal breaker: https://github.com/mybatis/mybatis-3/releases

[2020-07-01 20:59] robotdan commented on #721
Ok, great. I'll take a look. We can use this issue to upgrade that dep.

[2020-07-02 14:04] HamzaMoiyadi opened #723 "Entering incorrect credentials removes the query parameters leads to locale change issues"
## Entering incorrect credentials removes the query parameters, leading to some unexpected issues with locale.

### Description
When a user navigates to the `oauth/authorize` endpoint,  enters incorrect credentials and submits, upon error the refreshed page removes the query parameters. While this does not prevent the user from signing in if he/she enters the correct credentials, If I change the l

[2020-07-02 14:27] robotdan commented on #723
This looks to be a duplicate of https://github.com/FusionAuth/fusionauth-issues/issues/623 which is fixed in version 1.17.0. Can you confirm you are on version 1.17.0 or later?

[2020-07-02 14:30] HamzaMoiyadi commented on #723
Ah, my bad. We are on 1.16.

Apologies for the inconvinience!

[2020-07-02 14:30] #723 closed

[2020-07-02 21:18] mooreds opened #724 "Email Plus email never sent"
## Email Plus email never sent

### Description

When using the email plus consent, a second email is never sent.

### Affects versions

1.17.4 and 1.17.0 have been tested.

### Steps to reproduce

Steps to reproduce the behavior:
* Enable families in your tenant. Allow child registrations.
* Create two users (I added ages but don't know if that is needed)
[code]
* Create a family for the parent
[

[2020-07-03 04:17] joydeb28 commented on #714
I got your point.
But in the screenshot what I shared you can see for `delete webhook` registration data is coming.
But in `create webhook` it is not coming.
![user create and delete](https://user-images.githubusercontent.com/25972361/86431345-35544e80-bd12-11ea-8b99-2fb4f9b0f0af.png)

[2020-07-03 04:19] joydeb28 commented on #649
Hi @robotdan and @mooreds

Any update on this??

[2020-07-03 13:43] mooreds commented on #714
Hiya.

Are you doing a user create or a user create + registration?

If the former, there's no registration affiliated with the user at the time of the event, so that data won't be present.

If the latter, you'd have to catch the `user.registration.create` event, which should give you what you need.

Maybe I don't understand your use case; can you explain to me what you're trying to do?

[2020-07-03 14:01] robotdan commented on #714
There may be some confusion on what will be in the events, I see the doc had some errors with the example JSON response. These are fixed now. https://fusionauth.io/docs/v1/tech/events-webhooks/events

User Create Event -> User only (no registrations)
[code]

User Register Create -> User (no registrations) + New Registration
[code]

User Delete -> User (everything)
[code]

So when you log into Goog

[2020-07-03 14:33] robotdan commented on #649
I'll take a look at this shortly.

[2020-07-03 19:19] robotdan commented on #649
Fixed in version 1.17.5. Let me know how it goes! Thanks for reporting.

[2020-07-03 19:19] #649 closed

[2020-07-03 19:19] #605 closed

[2020-07-03 19:19] #666 closed

[2020-07-03 19:19] #710 closed

[2020-07-04 06:48] joydeb28 commented on #714
@robotdan
I have enabled both `user.create` and `user.registration.create`.
But as I shared with you I am not getting the details of the registrations.

[2020-07-04 15:17] robotdan commented on #714
Thanks for posting those events, that is helpful. I'll take a look at what is going on here.

[2020-07-04 17:05] joydeb28 commented on #34
@robotdan
Can you please help me to get the full profile?

[2020-07-04 17:12] robotdan commented on #34
You'll have to use the Microsoft documentation to identify the correct scope or URL to use.
https://docs.microsoft.com/en-us/linkedin/shared/authentication/authorization-code-flow?context=linkedin/consumer/context

[2020-07-04 18:11] shortstack opened #725 "Passwordless login/magic links with O365 email addresses not working/invalid"
## Passwordless login/magic link with O365 email addresses

### Description
User has an O365 or other email account with O365 underneath
Requests magic link and all links report back as invalid/expired despite not being expired
Can't log in via magic link / passwordless option :(

### Affects versions
Any

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to website behind FusionAuth
2

[2020-07-04 18:15] mooreds commented on #725
Is this a duplicate of https://github.com/FusionAuth/fusionauth-issues/issues/629 ? It seems to similar.

[2020-07-04 18:33] shortstack commented on #725
sweet didn't see that one!

[2020-07-04 18:45] mooreds commented on #725
Great, if it is a dupl, please feel free to close this one.

[2020-07-04 18:50] shortstack commented on #629
+1 for this!

it keeps us from being able to use passwordless logins for a large percentage of clients :(

[2020-07-04 19:00] shortstack commented on #725
yep, will continue to track the above

[2020-07-04 19:00] #725 closed

[2020-07-06 08:56] joydeb28 commented on #714
@robotdan Thanks for taking it as an high priority.
Please let me know once it is available.

[2020-07-06 14:06] satazor opened #726 "/api/jwt/refresh sends Set-Cookie for refresh_token without expiration"
## `/api/jwt/refresh` sends Set-Cookie for refresh_token without expiration

### Description

When "Refresh Token expiration" is set "Sliding Window" and/or "Refresh Token usage" is set to "One time only", the `/api/jwt/refresh` response contains a `Set-Cookie` for `refresh_token`. However, there's no Expires nor Max-Age present. The `/api/login` endpoint correctly sets both Expires and Max-Age pa

[2020-07-06 14:55] satazor commented on #726
Just some more context: not sending expires / max age turns the refresh token into a session cookie, meaning users will loose login status after they close the browser. That’s a really severe bug which impacts the UX.

[2020-07-06 19:12] mooreds opened #727 "You can create a family, add a child, and then remove all adults"
## You can create a family, add a child, and then remove all adults

### Description

If you create a family, you are required to have the first user in that family be an adult. Yet, after you add a child, you can remove that adult, leaving the family with no owner and no users with the adult role.

### Affects versions

FusionAuth 1.17.4

### Steps to reproduce
Steps to reproduce the behavior:
1.

[2020-07-06 20:47] mooreds opened #728 "You can't resend the confirm child or parent registration emails"
## You can't resend the confirm child or parent registration emails

### Problem

There are times when you might want to resend the confirm child or parent registration emails when using the family feature. You can resend the family registration emails (which occurs when self registration is disabled for children), using this [API call](https://fusionauth.io/docs/v1/tech/apis/families#request-pare

[2020-07-06 23:54] satazor opened #729 "Passing an invalid or expired refresh token to /api/jwt/refresh returns 400 instead of 401"
## Passing an invalid or expired refresh token to /api/jwt/refresh returns 400 instead of 401

### Description

Passing an invalid or expired jwt/refresh responds with 400. The documentation states that a 401 response status code should be returned instead, see https://fusionauth.io/docs/v1/tech/apis/jwt#refresh-a-jwt

### Affects versions

- 1.17.5
- Possibly older ones

### Steps to reproduce

S

[2020-07-07 00:53] satazor opened #730 "refreshTokenUsagePolicy missing from docs"
## `refreshTokenUsagePolicy` missing from docs

### Description

`refreshTokenUsagePolicy` (and possibly other settings associated to refresh tokens) are missing from tenant / application api docs.

[2020-07-07 01:23] gordody opened #731 "Support for alternative registration flow"
## Registration flow issues

### Description
The current registration flow only supports the following flow:
Register --> Log in + Send Confirmation Email --> When the user click the link in the email, validate them

The desired flow:
Register --> Show window with registration info, don't log user in --> When the user click the link in the email, validate them, redirect to custom URL

### Affects

[2020-07-07 02:06] satazor opened #732 "refreshToken missing from response body / cookies in api/jwt/refresh"
## `refreshToken` missing from response body / cookies in `api/jwt/refresh`

### Description

The `refreshToken` and `refresh_token` response field and cookie respectively are missing from the docs.

[2020-07-07 11:12] saul-gush opened #733 "Getting started in dev/staging - Fusionauth eating up all database connections"
## Fusionauth using up all Postgresql connections

### Description
We just got going with Fusionauth. I love Fusionauth btw - Ive been testing out a few auth solutions, particularly Golang (our stack) and although I think Fusionauth is a bit of a resource hog, I think on the balance of things, its the best. I am running it in a Kubernetes pod. We are busy implementing the introspection through an

[2020-07-07 15:26] mooreds commented on #420
Added a forum post: https://fusionauth.io/community/forum/topic/210/can-you-use-fusionauth-behind-kong/2

[2020-07-07 16:58] mooreds commented on #733
Heya,

Thanks for using FusionAuth!

I moved this discussion to the forum, which is a better place for open ended questions like this: https://fusionauth.io/community/forum/topic/212/question-about-dev-staging-and-databases

We offer integration assistance through our paid editions. If you encounter a bug please open an issue with recreate steps and other relevant system information.

[2020-07-07 16:58] #733 closed

[2020-07-08 07:26] saul-gush commented on #95
Managed Mysql on Digitalocean cant load all the tables from mysql.sql - each table requires a primary key, something to do with performance on replication.

[2020-07-08 08:00] saul-gush commented on #95
I am now getting this error for Mysql and I cant figure out what causes it
[code]

[2020-07-08 09:16] retendo commented on #642
Update: It seems to work on my own machine...I will try to figure out why it doesn't work on the DO server and keep you posted.

[2020-07-08 10:11] retendo commented on #642
So, it still doesn't work on the server, even though I use the exact same docker compose files, I even replaced the environment vars with literal values.

@mooreds
I tried the following, which seems to work:
`docker exec -u 0 -ti root_fusionauth_1 ping root_search_1`
Output:
[code]

[2020-07-08 10:25] kejvi-doko opened #734 "Email Verification Failed"
## Email Verification Failed

### Description
I have deployed an instance of FusionAuth to AWS ECS service.

I configured FusionAuth Application. OAuth and Email template for registration verification and also configured the SMTP. When I try to register a user I get the following email that I have configured.

[code]

When I click the link to confirm my account I get an error as described on the i

[2020-07-08 10:43] retendo commented on #642
Ok, restarting just the FusionAuth container sometimes works...it seems to be a weird timing issue.

[2020-07-08 11:20] davidmw opened #735 "Email template needs support for dynamic subject"
## Dynamic email template subject needed

### Problem
Some email clients including Gmail and Gmail mobile will group inbound emails sharing FROM address and subject into conversations. Gmail by default shows the most recent emails at the bottom of the stack, rather than the top, and is reluctant to show the email subject and email body on the most recent email, while showing a couple lines of olde

[2020-07-08 13:53] voidmain commented on #95
Just to leave a little more information on this issue.

FusionAuth is not designed to work on constrained or non-standard systems. It assumes that the JVM is a standard JVM, the server behaves like a standard Linux/Windows installation, and the database behaves like a standard installation of PostgreSQL or MySQL.

We can look into changing this in the future, but as it stands, some hosting environ

[2020-07-08 13:59] voidmain commented on #735
@davidmw - The subject does actually support variables. I looks like we just don't have the icon indicating that it does in the UI, but the docs are correctly stating that the subject field is FreeMarker capable.

Have you tried using a variable in the subject field? It could be tricky to get an expression that spits out unique text each time, but FreeMarker has a lot of features that could help w

[2020-07-08 14:08] mooreds commented on #734
Hiya,

What version of FusionAuth?

What happens if you copy the link? Same message?

If you request another email verification to be sent, do you see the same issue?

Is the account this email is sent to an Office 365 account? If so, https://github.com/FusionAuth/fusionauth-issues/issues/629 may be the root issue.

If that is not the case, can you share your email verification duration, under Ten

[2020-07-08 14:12] mooreds commented on #642
Hmmm. Even if the FusionAuth docker container can ping the elastic search container, that doesn't mean elasticsearch is up. Can you run a curl command on the FusionAuth docker container against elasticsearch?

Also, unless you need advanced searching capability or have a large number of users, you may be able to get by with the database search engine, and drop elasticsearch entirely. Here's a doc

[2020-07-08 15:03] kejvi-doko commented on #734
- I have fusion auth 1.17.3
- Configuration under External Identifier Duration https://prnt.sc/te5su9
- Client email is Google (Gmail) account
- Even if you copy-paste the confirmation link the problem still persists.
- Is my External Identifier generation too complex? https://prnt.sc/te5u1j

[2020-07-08 15:09] voidmain commented on #734
Can you test this by changing your email template to not include the URL or even an anchor tag? Instead, can you just print out the ID into your email template? Then you'll copy that ID and manually type the URL into your browser's address bar by hand while appending the ID from the email to the end of the URL? You'll also need to ensure that you manually copy and paste over the `tenantId`.

This

[2020-07-08 15:42] mooreds commented on #735
https://freemarker.apache.org/docs/ref_builtins_date.html looks useful:

[code]

[2020-07-08 15:54] soullivaneuh commented on #632
@mooreds I see what you want me to try, but I'm not sure what to concretly put on the nginx configuration.

May you have a working complete sample for the use case?

[2020-07-08 16:30] robotdan commented on #735
@voidmain the UI does show the subject field as FreeMarker compatible.

[2020-07-08 17:48] voidmain commented on #735
You are correct. It's on the right side as an add-on. We should change that so that all the fields have the same indicator. The Text areas have it in the label. Probably best to move it there for the other fields as well.

[2020-07-08 18:15] EronWright commented on #155
An interesting tidbit in support of this feature request.  Auth0 recently implemented a cap of 100 OAuth2 clients for its non-Enterprise plans, making it less attractive for machine-to-machine flows ([reference](https://auth0.com/docs/policies/entity-limits)).  This feature would make FusionAuth more attractive as an alternative.

[2020-07-08 18:39] mooreds commented on #632
I don't, unfortunately. Here's a stackoverflow question that gets you partway there:

https://serverfault.com/questions/706694/use-nginx-as-reverse-proxy-for-multiple-servers

Instead of multiple servers (as in the question) you have multiple urls on the same server, but the idea is the same (just don't change `server_name`.

[2020-07-08 18:43] mooreds commented on #632
@soullivaneuh also, if you are able to contribute your nginx configuration back to the FusionAuth community, we love PRs here: https://github.com/FusionAuth/fusionauth-contrib

[2020-07-08 19:39] robotdan commented on #155
Thanks @EronWright that is good to know. We have a few larger features in progress at the moment..  but this is something we want to get to.

To be transparent, this feature may be delivered with a few other features that we are designing for IoT and a general asset model. If that is the case it would require a paid edition of FusionAuth. However, we do offer a  developer edition which includes pa

[2020-07-09 03:18] robotdan commented on #95
Re: the warning that @saul-gush is seeing - that is simply a warning as far as I can tell. If the system is not starting up or not connecting to the database, I don't believe that is the root cause. That is just JDK 14 complaining.

[2020-07-09 09:08] retendo commented on #642
The FusionAuth docker container doesn't have curl installed though as it's build on alpine. I can probably install it retroactively, which also takes time, and if it is a timing issue, then this might not be the best thing to do. Building from a different base image would be possibility but this also takes more effort and it might have other outcomes out of the box.

In general it might be worth c

[2020-07-09 10:20] soullivaneuh commented on #632
For anyone using FusionAuth with **Traefik**, here is my hacky setup:

[code]

With that, any request matching `/login` with `userState=AuthenticatedNotRegistered` parameters match will be redirected to my website.

This is not the perfect regex I guess, any suggestion is welcomed.

@mooreds Feel free to add it to the example case if you want to. :+1:

[2020-07-09 11:28] kejvi-doko commented on #734
I tried to copy-paste the verification code but still, the problem persists. https://prnt.sc/teofco

The full url: http://www.auth.esportsinabox.com/email/verify/4aq6-nQYc8Drb7xkEBl_avRsyuWzp1PoLfFRXEY39CE?tenantId=31663633-6534-6466-3833-656437393037

[2020-07-09 13:57] voidmain commented on #734
@kejvi-doko - it looks like you still have a URL and an anchor tag in your email. You will need to remove those complete and **ONLY** put the code in the email. Then you will have to manually build the URL.

An example email template might look like this:

[code]

As you can see, this template has no links, URLs or Anchor tags. Then I would copy the code from the email and manually build the URL i

[2020-07-09 15:39] mooreds commented on #632
Great, added it. Thanks! https://github.com/FusionAuth/fusionauth-contrib

[2020-07-09 17:34] mooreds commented on #145
See also https://github.com/FusionAuth/fusionauth-issues/issues/507

[2020-07-09 17:34] mooreds commented on #507
See also https://github.com/FusionAuth/fusionauth-issues/issues/145

[2020-07-09 22:14] mooreds opened #736 "Subsequent family owners may be any age"
## Subsequent family owners may be any age

### Description

The user who creates a family must be older than the "Minimum owner age" family tenant setting. But subsequent adults and owners added to the family can be any age.

### Affects versions
1.17.4

### Steps to reproduce
Steps to reproduce the behavior:
* create a user with a birthday of 2020-01-01
* try to create a family with that user
*

[2020-07-09 22:21] mooreds opened #737 "Users with the Adult role in one family may be added to the Child role in another"
## Users with the Adult role in one family may be added to the Child role in another

### Description

Users with the 'adult' family role are only allowed to be in one family. However, you can add a user who has the adult role in a family to another family as a child.

### Affects versions
1.17.4

### Steps to reproduce
Steps to reproduce the behavior:
* create a user with a birthday of 1980-01-01

[2020-07-10 05:51] davidmw commented on #735
Ah, I didn't pay attention to the field add-on since I'm expecting controls there. But great news that Name and Subject can take Freemarker - thanks!

[2020-07-10 09:21] kejvi-doko commented on #734
The problem occurred when you were logged in with another account and tried to verify the email on the current browser session.
If you logout from the browser and retry to verify the email everything works ok.  Thanks 👍

[2020-07-10 09:21] #734 closed

[2020-07-10 09:24] soullivaneuh opened #738 "Identity provider does not prevent user registration"
## Identity provider does not prevent user registration

### Description

If a not registered user use an identity provider to authenticate, is account will be created regardless the given configuration.

Our apps are not open for registration yet and are configured for it. It should not accept registration from identity providers too.

### Affects versions
v1.17.5

### Steps to reproduce

1. Crea

[2020-07-10 09:41] kejvi-doko opened #739 "forgot password on a custom theme doesn't send"
## forgot password on a custom theme doesn't send

### Description

I have configured a FusionAuth instance and configured 1 tenant and 1 application. I have linked this tenant with a custom theme.
I have also configured the email SMTP for this tenant. If I perform forgot password from the default tenant and default theme the forgot password link is sent, if I perform forgot password from custom t

[2020-07-10 13:54] davidmw commented on #735
This is basically working:

`  [#assign timeToLive = (tenant.externalIdentifierConfiguration.passwordlessLoginTimeToLiveInSeconds)!300]
    [#setting time_zone = (user.timezone)!"NZ/Auckland"]
    [#setting time_format = "h:mm a"]
    Expires at: ${((.now?date?long + timeToLive * 1000)?number_to_time)?string}`

passwordlessLoginTimeToLiveInSeconds doesn't seem to be available and it looks like we

[2020-07-10 14:48] mooreds commented on #717
@SlothFriend is this still an issue? Can you help with replication steps?

[2020-07-10 14:56] mooreds commented on #739
Hiya,

Thanks for the logs!

A few additional troubleshooting steps:

* Did you modify the custom theme at all? If so, can you share the "Forgot password" .ftl file as well as the helpers.ftl file?
* Can you verify that your SMTP settings for the new tenant work? (Try to send a test email from the "General" tab of the "Tenant" details page.)

Thanks!

[2020-07-10 15:00] mooreds commented on #738
Hiya,

Are you seeing a registration being created for your application, or just a user being created? That is, when you view the user details page for the user who authenticated via Google, do you see anything under the 'Application' tab?

If only a user is created, then this may be a helpful thread to read: https://fusionauth.io/community/forum/topic/5/can-you-limit-a-user-s-login-authentication

[2020-07-10 15:02] soullivaneuh commented on #738
A new user is created, but I'm not sure what you mean by "for your application".

The new user seems to end to a page like this:

![image](https://user-images.githubusercontent.com/1698357/87168690-2a2f8e80-c2cf-11ea-804b-02c6cb1a804a.png)

Does it help?

[2020-07-10 15:03] voidmain opened #740 "Add Caisson ID check for account recovery"
## Add Caisson ID check for account recovery

### Problem
Currently, if a use has lost their phone with their MFA key and is locked out of their account, it requires that they call support in order to have their account unlocked. In many cases, this requires that they do a screen share with support and show them a government issued ID (driver's license, passport, etc). The support agent then needs

[2020-07-10 15:06] robotdan commented on #735
Re: TTL values in the template, I think that is covered under issue https://github.com/FusionAuth/fusionauth-issues/issues/612.

[2020-07-10 15:08] mooreds commented on #738
Ah, can you show me a screencap of the admin ui for this user's details page? Here's an example:

<img width="1627" alt="Screen Shot 2020-07-10 at 9 07 02 AM" src="https://user-images.githubusercontent.com/91825/87169196-d603ba80-c28c-11ea-9034-3f3ba3265b49.png">

(Also, I misspoke, it is the 'Registrations' tab, not the 'Application' tab.)

[2020-07-10 15:09] robotdan commented on #738
That is working as designed. The user will be created, but not registered.

The way we approach is is that when you enable an identity provider you're indicating that this external provider is an additional SoR (Source of Record). When the user successfully logs into this provider such as Google, Google has told us the user exists and their credentials are valid. In return we accept this source or

[2020-07-10 15:16] mooreds commented on #735
I copied some of this discussion to the forum: https://fusionauth.io/community/forum/topic/220/can-i-customize-the-passwordless-link-email-subject-with-the-time-the-link-expires/2

[2020-07-10 15:23] robotdan commented on #737
@voidmain do you remember if this was intentional? I know we wanted to keep it flexible. IRL - you could be an adult with a child, and still be a child of someone else.

[2020-07-10 15:31] robotdan commented on #740
How do they differentiate a selfie from a high res photo either in print or on my monitor? Maybe they make you blink before it will take the photo?  🤔

[2020-07-10 16:16] mooreds commented on #737
Fair point. I was fixated on child being defined by age when I filed, but perhaps that's overly narrow.

[2020-07-10 16:16] mooreds commented on #737
Whoopsie, hit the wrong button.

[2020-07-10 16:29] voidmain commented on #737
I don't know if we defined it that clearly. The family roles might need some work honestly. The `adult`, `teen` and `child` seem to indicate age in some ways. The `owner` does not indicate age as much. Perhaps the `ageDefinition` should be dynamic based on ages but the `roles` should be defined.

[2020-07-10 16:37] soullivaneuh commented on #738
Thanks for the detailed explanation.

So if I well understand, I can't prevent this directly with FusionAuth?

In that case yes, can we consider this issue as a feature request then? This is exactly what I need. :+1:

This feature will be useful for semi-internal/internal web app with controlled user flow.

[2020-07-10 16:40] soullivaneuh commented on #738
One more thing I'm not sure to understand: Why is the purpose to prevent registration creation if the user can still authenticate with Google and then leading to a not helpful error page? :thinking:

[2020-07-10 17:04] derekg commented on #740
Great question! We’ve seen a few of these, and have a number of ways to protect against spoofing. We have built a special purpose tensorflow model to protect against basic fake selfie attempts on every ID Check, and we have an upgrade module that can do “liveliness” tests for our customers that benefit from stronger assurances.  We offer a bunch of flexibility depending on each customer's needs.

[2020-07-10 17:05] voidmain commented on #738
I think the error message is what you are looking for. Here's what I think you require:

You have an application that is locked down - meaning that an admin needs to grant users permissions to it in order for them to access it. However, you want to leverage an external system, such as G-Suite, to authentication users. Therefore, FusionAuth needs to display some type of error message once the user

[2020-07-10 17:13] robotdan commented on #740
Thanks for the explanation @derekg

[2020-07-10 17:35] EronWright commented on #155
Thanks @robotdan for the insight.  It seems reasonable to me that M2M at scale would be a paid feature, e.g. at "Premium" level. I'd expect to be able to create thousands of OAuth2 clients and to issue a great many access tokens, in support of my scenario which is to authenticate API clients of a SaaS product.

[2020-07-10 19:20] soullivaneuh commented on #738
It looks like, yes, but like for https://github.com/FusionAuth/fusionauth-issues/issues/632, I can't do anything from fusion auth to personalize the behavior.

[2020-07-10 20:20] mooreds commented on #389
Closing as duplicate of https://github.com/FusionAuth/fusionauth-issues/issues/178

[2020-07-10 20:20] #389 closed

[2020-07-10 21:14] jlusky commented on #406
X-Forwarded- headers aren't working at all for me with nginx.  And I've confirmed with wireshark that nginx is really adding them.  I see these headers and broken redirect when I do curl https://login.mydomain.com:

tshark -V -i lo  port 9011 | egrep 'X|ocation:|Host:'
Running as user "root" and group "root". This could be dangerous.
Capturing on 'Loopback'
    X-Forwarded-Proto: https\r\n
    X-F

[2020-07-10 21:20] jlusky commented on #406
The workaround for me in nginx is these two lines:
proxy_set_header Host "login.mydomain.com";
proxy_redirect http:// https://;

This doesn't actually fix FusionAuth, it just makes nginx rewrite the broken Location header from FusionAuth.

[2020-07-13 08:26] nikos commented on #480
A related problem seems to be that when removing the group memberships from this problematic (long-loading) user, the application roles seem to stick with the user but the group membership was deleted successfully. I leveraged the Java API with `deleteGroupMembers(MemberDeleteRequest(groupIds: List<UUID>))` and was able to delete group memberships (incl. application roles) for users with smaller a

[2020-07-13 16:15] nattyp opened #741 "Unable to get past Change Password Required"
## Unable to get pass Change Password Required

### Description
I am unable to login via the API.  I keep getting RC 203, even after resetting the password

### Steps to reproduce
I am using Postman 7.2.7.1 Mac desktop client.

when I login,

[code]

I get a 203 response instead of a 200 response.
[code]

If I change the password with
[code]

I get back a 200 response (no body), and when I try to

[2020-07-14 11:03] JuliusPC commented on #77
I would like to add some thoughts about WebAuthn. First, support by devices:

- Many users already unknowingly use a device capable of WebAuthn:
  - Devices with Android > 7 (and probably only with Google Play services installed)
  - recent Versions of Windows 10 and a computer with a TPM
- relatively inexpensive hardware tokens (starting from $20) are available (Google Titan, Yubikeys -- especial

[2020-07-14 12:59] mooreds commented on #741
Looks like it might be a regression? Poster here: https://fusionauth.io/community/forum/topic/225/all-password-change-apis-failing was able to get the change password API to work if they rolled back to 1.16?

[2020-07-15 05:38] dakkafex opened #742 "How to open idp directly?"
## (How to open idp directly?)

### Description
How do i let my user go directly to an identity providers login when they press the button "login with..."
 on my app. I dont want to send them to my servers login form first (kind of annoying for the user to be redirected twice from my app and just increases the chance they will walk away)

I have tried to hardcode a url but that doesnt work, there

[2020-07-15 15:19] uhon opened #743 "Allow sending Emails to non existing users"
### Problem
FusionAuth API only allows sending emails for existing users.
If a service wants to offer a user invitation feature, allowing existing users to invite other people by specifying only their email address, then FusionAuth can't be used to send such an invitation email through its API.
While the endpoint `POST /api/email/send/{emailTemplateId}` allows specifying additional CC and BCC addr

[2020-07-15 15:21] mooreds commented on #742
I think this forum post may be of interest to you.

https://fusionauth.io/community/forum/topic/229/how-to-open-identity-provider-directly

Let's continue this discussion on the forum, please.

[2020-07-15 15:21] #742 closed

[2020-07-15 15:45] mooreds commented on #712
@nikos I just pushed a fix for the search engine documentation which hopefully makes things more clear and addresses your other questions. https://fusionauth.io/docs/v1/tech/apis/users#search-for-users

[2020-07-15 17:56] saul-gush opened #744 "JSON Web Key Set (JWKS) always come back empty?"
## JWKS keys always come back empty

https://fusionauth.io/docs/v1/tech/oauth/endpoints#json-web-key-set-jwks

### Description
https://<fusionauth url>/.well-known/jwks.json

Response I am getting - not sure what I am doing that is wrong.
{   "keys" : [ ] }

I also tried using tenantid and with Authorization header.

[2020-07-15 18:05] robotdan commented on #744
Do you have any eligible keys configured in Key Master that would be returned?

[2020-07-15 18:07] saul-gush commented on #744
I am not sure if these are eligible or not:

![image](https://user-images.githubusercontent.com/63714857/87579806-6e0b0500-c6ce-11ea-93b3-ee5fae4bb959.png)

[2020-07-15 18:14] robotdan commented on #744
Symmetric keys are not returned on the JWKS endpoint. If you create an RSA or EC key which is an asymmetric key pair - the public key will be returned on the JWKS endpoint.

[2020-07-15 18:14] #744 closed

[2020-07-15 18:14] saul-gush commented on #744
OK Thanks :)

[2020-07-15 22:25] jzhuk commented on #635
There are two types of errors that start with "Error parsing HTTP request header"
1)Invalid character found in the HTTP protocol
2) Invalid character found in method name.
In that case Tomcat log the error and does not send any response back to the client.
The socked is not closed and one more Open File added to LFOS (log for open files).
Eventually number of open files is increased to the limit a

[2020-07-16 07:48] srothery opened #745 "Improve searching and filtering when using the database engine"
## Improved searching and filtering when using the database engine

### Problem
For simple setups the default database engine is great, however when using the user search API you are quite limited as to what you can do. If you are searching for a particular user and already know something about them the search will allow you to return the full information on them. If you are wanting a full list of

[2020-07-16 10:42] harenadata opened #746 "Custom Password Plugin fails to generate correct hash"
## Custom Password Plugin fails to generate correct hash

### Description
I have deployed a fusion auth instance on AWS ECS. Fusion auth version 1.17.5. I create a python script that imported all my users from the current database to fusion auth using python client. I imported also the password hash and the salt.
I created a plugin in java and installed it on fusion auth.

[code]
The password for

[2020-07-16 15:06] robotdan commented on #561
Bug is likely in the date picker widget.

https://github.com/inversoft/prime.js/blob/master/src/main/js/Widgets/DateTimePicker.js
https://github.com/inversoft/prime.js/blob/master/src/test/js/Widgets.DateTimePickerTest.js

If anyone wants to take a crack at it and fix it, a PR would be great.

[2020-07-16 15:44] brennan-karrer opened #748 "Support Pagination for List of Applications"
## Support Pagination for List of Applications

### Problem
Retrieving a list of all applications via `GET /api/application` returns the entire set of applications with no ability for pagination. As our application list grows, this becomes an expensive operation and pagination would help reduce the payload size. Additional capability to retrieve only active or inactive applications would be desire

[2020-07-16 16:58] bguyza commented on #741
@nattyp ,
I have been trying to recreate your issue on both the most current version and `1.16.0`.  Unfortunately I have not been able to.    Could you confirm your Tenant Password Settings as indicated in the screenshot above? It might be helpful to see your Application's "Login API Settings" too.  Finally, if you happen to have any additional logging that you think might be informative, I would

[2020-07-16 21:09] voidmain commented on #614
Just so we don't forget: we'll need to evaluate how to parse the Java domain objects and spit out OpenAPI domain definitions.

[2020-07-17 04:20] robotdan commented on #748
Excellent idea! Thanks for the suggestion @brennan-karrer .

This is on our list.. hoping to get to it soon. This is a duplicate of an issue we have open for this very issue.
https://github.com/FusionAuth/fusionauth-issues/issues/374

[2020-07-17 04:24] robotdan commented on #614
We can likely tweak our Java-2-JSON library to build the DSL expected by OpenAPI.
Perhaps we should open source it.  https://github.com/inversoft/java2json

[2020-07-17 08:03] EddieWhi opened #749 "Verification Email not sent when user created with null email then subsequently changed"
## Verification Email not sent when user created with null email then subsequently changed

### Description

Verification emails are not sent to users when their email address is changed from null to a value even though the tenant is configured to send verification emails on email address change.

### Affects versions
Hosted v 1.15.8

### Steps to reproduce
Steps to reproduce the behavior:
1. Conf

[2020-07-17 18:00] brennan-karrer commented on #748
Oh I should've done a bit more thorough combing through the current open issues. My apologies. I'm glad it's on your radar!

[2020-07-17 19:41] brennan-karrer opened #750 "Querying Users by Application ID Reflects Stale Data"
## Querying Users by Application ID Reflects Stale Data

### Description
After removing a user's registration to a specific application, searching by that application ID on the user list page is still returning that user as if he is still registered to the application. It would appear that there is some issue with keeping the database and Elasticsearch in sync when removing a user's registration t

[2020-07-18 04:45] sycured opened #751 "Permit user to add directly their social account to an existing account"
## Permit user to add directly their social account to an existing account

### Problem
When an user used one email address different than their email returned by identity provider like Facebook or Google, we have 2 differents users.

#### Examples:
##### Classic
User registered using email/password
A day, this user try to connect using Facebook and we've a different account because it's not the s

[2020-07-18 06:35] robotdan opened #752 "Document more configuration options and make all of them available via Environment, config or CLI arg."
## Improve Configuration options

Current config stuff is documented here.
https://fusionauth.io/docs/v1/tech/reference/configuration

### Description
There are some more internal config options for db connection pools, etc that are not documented. We should document all options and then provide a consistent way to use any of them via an environment variable, config value in `fusionauth.properties

[2020-07-18 06:38] robotdan opened #753 "Additional Admin Form Types"
## Additional Admin Form types

In version 1.18.0 FusionAuth added custom registration forms via https://github.com/FusionAuth/fusionauth-issues/issues/680.

The next phase of this feature will be additional admin form types.

- Admin - Available in the admin UI to allow FusionAuth admins to manage custom data for users and registrations

### Future work

- User - Available for use on a user self

[2020-07-18 06:39] robotdan opened #754 "Show the IP Address on the node panel in the About menu in the UI"
## Show the IP Address on the node panel in the About menu in the UI

### Problem
In a multi-node configuration, it may be helpful to see the node IP address in the admin UI.

### Solution
Show the IP address on the about panel.

### How to vote
Please give us a thumbs up or thumbs down as a reaction to help us prioritize this feature. Feel free to comment if you have a particular need or comment

[2020-07-18 06:43] robotdan opened #755 "Add insertInstant and lastUpdate instant to more objects"
## Add insertInstant and lastUpdate instant to more objects

### Problem
Not all objects have an `insertInstant` and `lastUpdate` instant on the object returned from the API.  Apart from the audit log, it may be helpful to understand when things were created and updated for auditing purposes.

### Solution
Add these values.

- Tenant
- Application
- Group
- Group Member
- User Action
- User Action

[2020-07-18 18:02] seanadkinson commented on #178
@robotdan Any timeline available on this enhancement?

Our use case:

* User is logged into Customer Portal with Customer IdP (portal is a separate app, not managed by us)
* Customer Portal provides a link to open our Application, which uses FusionAuth
* Our Application is configured to use Customer IdP for authentication
* User is prompted with FusionAuth login screen, and chooses Customer IdP
*

[2020-07-19 22:55] robotdan commented on #748
Closing as duplicate. Thanks for your contribution @brennan-karrer !

[2020-07-19 23:18] uhon opened #756 "Changes to messages in custom themes do not reflect in UI"
### Description
I'm struggling with changing messages in themes. I added a custom theme with a couple of custom messages. Changing these messages does not have effect in the UI.
Caching in the browser is turned off. I cleared all application-data and also tried incocnito mode.
The behavior is consistent. Adding new messages to the theme works and they also get translated when switching locales. Ch

[2020-07-20 00:07] robotdan opened #757 "Customize message that a webhook failed during login"
## A webhook TX failure displays an error on the login page that is not modifiable by the theme.

### Problem
The following event occurs

[code]

In this case, the message is expected because the webhook failed. We would like to customize this message so we can display something user friendly on the login UI.

### Solution
Allow this exception code to be translated in the theme.

### How to vote
P

[2020-07-20 11:03] srothery opened #758 "Changing a users password produces a nullreference error"
## Changing a users password produces a nullreference error

### Description
When the edit user UI is used to change a user's password and the save button is pressed a message pops up saying `FusionAuth encountered an unexpected error. Please contact support for assistance`. Checking the log shows an invalidReference exception and a long series of errors reported (see attached [fusionauthlog.txt](

[2020-07-20 16:56] robotdan commented on #635
Thanks @jzhuk can you post your exact exception? Or is it identical to the one I have in the description?

[2020-07-20 18:32] jzhuk commented on #635
Hi Daniel!

Thank you so much for looking into that.

Invalid characters in the encrypted request make invalid URI and invalidate the protocol.
Tomcat does not provide a response with the Error number, like 500, but just throws the Exception below.

16-Jul-2020 06:31:52.793 INFO [http-nio-80-exec-167] org.apache.coyote.http11.Http11Processor.service Error parsing HTTP request header
 Note: further

[2020-07-20 18:33] jzhuk commented on #635
Hi Daniel!
I just posted a comment to:
https://github.com/FusionAuth/fusionauth-issues/issues/635

Jeff (Yefim) Zhuk | 720-299-4701 | http://ITUniversity.us
http://ITofTheFuture.com | http://FixingEducation.us

    On Monday, July 20, 2020, 10:56:49 AM MDT, Daniel DeGroff <notifications@github.com> wrote:

Thanks @jzhuk can you post your exact exception? Or is it identical to the one I have in the

[2020-07-20 18:59] jzhuk commented on #635
You can see my config here:
https://javaschool.com/server.xml
https://javaschool.com/catalina.properties

[2020-07-20 19:43] robotdan opened #759 "Upgrade to 1.18.0 with PostgreSQL may cause an error when creating a new user"
## Upgrade to 1.18.0 with PostgreSQL may cause an error when creating a new user

### Description
If you are upgrading to 1.18.0 and have existing users, you may encounter an error when creating a new user.

### Affects versions
1.18.0

### Steps to reproduce
1. Attempt to create a user
2. Receive error

If you have access to the `fusionauth-app.log` you may see an exception that looks like this:

[2020-07-20 19:46] robotdan opened #760 "Unable to save application changes in the admin UI after upgrade to 1.18.0"
## Unable to save application changes in the admin UI after upgrade to 1.18.0

### Description
Unable to save application changes in the admin UI after upgrade to 1.18.0. Attempting to save the form results in a 500.

### Affects versions
1.18.0

### Steps to reproduce
1. Edit or create a new application in the admin UI by. navigating to `Applications` in the left nav.

### Expected behavior
No er

[2020-07-20 19:46] #760 closed

[2020-07-20 19:51] #759 closed

[2020-07-20 20:06] robotdan commented on #714
Fix is available in 1.18.0.

[2020-07-20 20:08] #719 closed

[2020-07-20 20:08] #714 closed

[2020-07-20 20:09] #724 closed

[2020-07-20 20:11] #726 closed

[2020-07-20 20:14] robotdan commented on #219
Initial support for LDAP connectors is in version 1.18.0. More LDAP features to come. We'll close out this issue and use separate issues to track additional LDAP features.

[2020-07-20 20:14] #219 closed

[2020-07-20 20:15] #680 closed

[2020-07-20 20:15] #686 closed

[2020-07-20 20:19] #754 closed

[2020-07-20 20:20] #409 closed

[2020-07-20 20:20] #755 closed

[2020-07-20 20:21] #715 closed

[2020-07-20 20:44] mooreds opened #761 "Can create a custom registration form field with a space in the name"
## Can create a custom registration form field with a space in the name

### Description
I can create a form field with a space in the name (registration.data.favorite Color) which is saved, but causes a failure when I go to the registration page.

The error on the page begins with:

[code]

### Affects versions
v1.18.1, need a license key

### Steps to reproduce
Steps to reproduce the behavior:
*

[2020-07-20 21:26] robotdan opened #762 "Form & Form Field Issues"
## Form Field Issues

### Description
- [x] Adding fields to a form in the admin UI shows the type and control type in lowercase, but when the page is rendered later it will show uppercase.
- [x] Options for radio, lists or checkboxes are not shown on the edit form field form
- [x] Optionally show a custom form with steps on the theme preview
- [x] When we redirect the user through complete-regist

[2020-07-20 23:12] mooreds opened #763 "Allow an application to require two factor authentication"
## Allow an application to require two factor authentication

### Problem

Currently there's no way to enforce two factor authentication without coding your own login page. This is a great 'default secure' option for many applications.

### Solution
It'd be great to be able to configure an application to require two factor authentication for all users logging into  and then have the standard Fusio

[2020-07-20 23:22] LukeHallett opened #764 "Cannot connect to any SMTP server"
## Cannot connect to any SMTP server

### Description
I am trying to send a test email, however any SMTP server I have tried, FusionAuth refuses to connect to.

### Affects versions
1.17.5

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to 'Tenants'
2. Click on a tenant
3. Click on 'Email'
4. Enter SMTP details
5. Click on 'Send test email'
6. Click on 'Send'
7. Wait until error

##

[2020-07-20 23:36] voidmain commented on #764
Are you certain that you can connect to that DNS name on that port from the server you are running FusionAuth on? I tested it with Telnet like this and it worked fine making the connection:

[code]

I'm just wondering if your server has egress blocked, DNS issues, or something like that.

[2020-07-20 23:43] LukeHallett commented on #764
I have tried that, with no successful response. Must be something that something is blocked.

[2020-07-20 23:45] robotdan commented on #764
If you are certain that is the correct port for SSL, I would suggest you try SWAKS to debug the issue.

https://www.jetmore.org/john/code/swaks/

If you can connect with Swaks using your creds, etc - then we can look into FusionAuth further. It is usually an SMTP config or network issue.

[2020-07-20 23:46] LukeHallett commented on #764
I have just figured out the issue, my provider blocks all SMTP ports by default.

[2020-07-20 23:46] #764 closed

[2020-07-20 23:48] robotdan commented on #763
Similar or duplicates of
https://github.com/FusionAuth/fusionauth-issues/issues/51
https://github.com/FusionAuth/fusionauth-issues/issues/197
https://github.com/FusionAuth/fusionauth-issues/issues/647

[2020-07-20 23:49] robotdan commented on #764
Thanks for the update, glad you got it figured out @LukeHallett !

[2020-07-21 09:35] kucherenko opened #765 "Connect to database with unix socket"
## Connect to database with unix socket

### Description
I'm trying to connect to database with unix socket and use following property:
[code]
or
[code]
But can't connect to the database.

In log I can see following error:
[code]

[2020-07-21 10:24] LukeHallett opened #766 "Support for mailing APIs, not just SMTP"
## Support for mailing APIs, not just SMTP

### Problem
FusionAuth only supports SMTP, which can be an issue on some hosting providers, as it may be blocked or limited.

### Solution
Add support for mailing APIs, such as MailGun or SendGrid.

### Alternatives/workarounds
I've had to contact my hosting provider to get SMTP ports unblocked.

### How to vote
Please give us a thumbs up or thumbs down

[2020-07-21 13:28] voidmain commented on #765
This article from PostreSQL and their JDBC driver might be helpful: https://jdbc.postgresql.org/documentation/head/connect.html

It looks like you need to specify a Unix Socket Factory and ensure that the JAR file for that is on the classpath. FusionAuth doesn't support this currently, so use at your own risk.

[2020-07-21 14:27] kucherenko commented on #765
Thank you for the answer.

One more question, is it possible to connect to mysql database via unix socket?

[2020-07-21 15:07] nattyp commented on #741
As I have passed this issue, if you are unable to recreate it based on what I have provide, I am willing to close this issue.

[2020-07-21 18:13] voidmain commented on #765
Here's an article I found on that: https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-unix-socket.html

There's likely a lot of resources out there, so just search around and see what you can find for Unix sockets and JDBC.

[2020-07-21 20:16] robotdan commented on #741
Thanks @nattyp closing for now. If you run into this again, please re-open or let us know! Thanks.

[2020-07-21 20:16] #741 closed

[2020-07-21 20:21] robotdan commented on #766
Related to https://github.com/FusionAuth/fusionauth-issues/issues/310.

Thanks @LukeHallett we've discussed this option in the past. The primary reason we have not done this yet is due to the vast number of providers. We could make an investment in SendGrid, Twilio, etc - and that would still not cover everyone's use case.

SMTP is great for this reason because it is a common transport that most p

[2020-07-21 20:22] robotdan commented on #766
I'll close this one out as a duplicate of #310 . If you feel we are missing any details to cover your use case, please add additional comments to #310. Thanks!

[2020-07-21 20:22] #766 closed

[2020-07-21 20:33] robotdan commented on #746
For your existing hashes, are they produced by a well known library or system where the hash is documented, do you know the factor used to calculate the hash?

If I understand correctly, you're saying your control data is a user with a plain text password of `HtZX28CECnaL` and a salt of `18f` (that salt looks really short)  and you expect the hash (according to your existing system) to be `df6cb6d

[2020-07-21 20:51] robotdan commented on #749
Thanks for the excellent recreate steps! I've recreated the issue, if the previous email was not defined we were not going through the verification process again.

[2020-07-21 22:51] harenadata commented on #746
The hashes are generated by another system (PHP), but I have replicated the logic in the script above in JAVA. If you refer with factor to the number of iterations I think is 1. Yes, the salt is short but is inherited from the previous system and I can't change that.

I have tested the java plugin locally and with the combination of plain text password of `HtZX28CECnaL` and salt of `18f` it genera

[2020-07-22 04:17] robotdan commented on #746
I apologize, I'm not really clear on the problem yet.

If I can clarify, here is what I understand.

1. You are confident the hashing logic is ok, so this is not a concern.
2. You have imported users using the Import API `/api/user/import`.
3. On the import request:
  - a) You specified the `encryptionScheme` equal to the value you have bound your encryptor.
  - b) You specified `1` for the `facto

[2020-07-22 08:26] harenadata commented on #746
@robotdan yes all your assumptions are correct

[2020-07-22 10:36] kucherenko commented on #765
Thank you for the answer

In general I going to run fusionauth in GCP Cloud Run. For database connection GCP suggest use sockets only. I have couple of  ideas how I can implement it:
1. Use `junixsocket ` for connection to the socket, but I can't understand how I can provide junixsocket.file and socketFactory to the fusionauth container via ENV variables.
2. Use tools like `socat` for make forward

[2020-07-22 14:52] johnmaia opened #767 "Patching an identity provider with a large number of applications takes too long"
## Patching an identity provider with a large number of applications takes too long

### Description
When patching an identity provider to activate it on a particular `application` and its already activated on a large number of `applications` the request takes too long to complete.

We've encountered this issue our development environment where we have 2K+ `applications` that already have Google I

[2020-07-22 14:55] robotdan commented on #767
Thanks @johnmaia yes - this is something we want to enhance in the near future. When we deliver Issue https://github.com/FusionAuth/fusionauth-issues/issues/374 we plan to review a bunch of code paths that may be currently negatively affected by a large number of applications.

[2020-07-22 15:19] robotdan commented on #750
Thanks for reporting @brennan-karrer . This is a bug. The issue will resolve once the user is indexed again, such as during a login event, or other update operation.

[2020-07-22 15:45] robotdan commented on #758
Do you mean you are using Kickstart? If so, can you post your kickstart JSON file with any sensitive information removed?

The only way this exception could occur is if the tenant does not have a refresh token usage policy. However, in the 1.17.0 migration this value should be set, and it is also defaulted during a create or update.

Version 1.16.1 does not have this error (or any warnings) and th

[2020-07-22 16:04] robotdan commented on #756
I am unable to recreate. Are you running in a multi-node FusionAuth configuration?

[2020-07-22 16:22] voidmain commented on #765
My guess is you'll have to experience with this by adding various properties and settings described in those articles I linked to. However, this might not be possible without modifying the FusionAuth database code. If that's the case, then we'd need for the community to upvote this feature request in order to get it prioritized.

Or if you have a business requirement for this and have a support co

[2020-07-22 18:13] mrspartak commented on #95
Can't figure out how to set up with DigitalOcean managed Postgres.
I have Docker service running. Set up a database with schema from the website. I made a configuration file
Also, DigitalOcean asks to provide ?sslmode=require and I got error parsing JDBC when I provide it.

[code]

ENV configuration
[code]

And this is my log from service with an error
*org.apache.catalina.LifecycleException: The

[2020-07-22 19:39] robotdan opened #768 "Add Email Template configuration overrides for each application"
## Add Email Template configuration overrides for each application

### Problem
Currently the Passwordless login template, setup password, change password, and verify email templates are configured at the tenant level.

We are white labeling FusionAuth, and we have templates we want to customize both by content and the from name and email address per application.

It may be possible to customize t

[2020-07-22 19:41] robotdan opened #769 "Theme configuration per application"
## Theme configuration per application

### Problem
Currently a theme may be selected per tenant. I am white labeling FusionAuth but I only have a single tenant and customize templates currently be using a different stylesheet per `client_id`.

### Solution
Allow a theme selection at the application level to override the tenant level configuration.

### Alternatives/workarounds
Use the one theme p

[2020-07-22 20:52] robotdan commented on #757
This already works.

Add a message to your theme bundle as follows, customize, and you're good to go.

[code]

[2020-07-22 20:54] #757 closed

[2020-07-23 09:44] seanadkinson opened #770 "Kickstart Email Template doesn't allow usage of tenant fields"
## Kickstart Email Template doesn't allow usage of tenant fields

### Description
When using Kickstart to create a Forgot Password email template, I'd like to use the `tenant.issuer` variable, but I get the following error:

[code]

Documentation shows `tenant` with "AVAILABLE SINCE 1.18.2", so it should be accessible.

### Affects versions
I'm using FusionAuth version 1.18.2, and have not tried e

[2020-07-23 11:40] kejvi-doko commented on #746
@robotdan I finally managed to find the fix, it was related to the password expiry field being an expired date and the factor number had to be 1 for the imported user. Thanks a lot for your support.

[2020-07-23 15:29] robotdan commented on #746
That is great news @kejvi-doko can we close this issue out?

[2020-07-23 15:48] #746 closed

[2020-07-23 18:17] ulybu opened #771 "/api/identity-provider/login doesn't return refreshToken"
## /api/identity-provider/login doesn't return refreshToken

### Description

I'm using my own login form (iOS) for login with Google and Sign in with Apple, and want to reconcile/register the user with FA right after that with the `/api/identity-provider/login` endpoint

The call succeeds but we get no refreshToken in the return payload.
The [documentation](https://fusionauth.io/docs/v1/tech/apis

[2020-07-24 12:58] mooreds commented on #771
As mentioned in the forum post, this is at the least a documentation bug, because the docs referenced clearly mention that a refresh token is returned.

Note also that if you use the normal google login flow (with a button provided by the fusionauth UI) you get a refresh token if you provide the correct scope (`offline_access`).

[2020-07-24 13:49] ulybu commented on #771
Yes I can confirm that, we had no issues until we moved to building our own login form

[2020-07-24 15:03] mooreds opened #772 "Ability to register users in bulk"
## Ability to register users in bulk

### Problem

Sometimes a new application is created and I want to add a large group of users (usually retrieved from a search) to that application.

### Solution

I'd like a way to add one or more registrations to a group of userss, the same way I can import many users.

Ideally it'd be an endpoint in this set of APIs: https://fusionauth.io/docs/v1/tech/apis/r

[2020-07-24 17:02] mooreds opened #773 "Support Paseto tokens"
## Support Paseto tokens

### Problem

JWTs are complicated. Paseto looks easier.

### Solution
Support generation of paseto tokens any place you support creating a JWT.

### Alternatives/workarounds
I guess you could run some kind of proxy in front of FusionAuth to convert from JWT to Paseto.

### Additional context

There are several open source paseto java libraries which might be a good place

[2020-07-24 17:44] atrauzzi commented on #772
Thanks @mooreds!

In our case, what I'm doing right now is iterating over all of our users from our application and adding them to applications via the API.  This saves us from having to paginate via FusionAuth.

What would be nicer is one of two things:

 - Have groups actually result in its members being considered as "registered", thus obviating the need for direct registration between users an

[2020-07-24 18:06] patrickvalle-transloc commented on #494
This would be a great ticket to get in- as it is, when running ES 7, I can't get an accurate count of the total # of users in FusionAuth via the FusionAuth API.

[2020-07-24 18:44] robotdan commented on #494
Thanks for the feedback @patrickvalle-transloc.

We may not actually change the query response to request the total number of hits. I suppose we could make this a configuration option, but there will be a performance hit to request the total hit count.

Currently the UI will change the description of the pagination when the hit count is equal to 10k to indicate there may be more results.

To get t

[2020-07-24 20:06] #762 closed

[2020-07-24 20:06] #761 closed

[2020-07-24 20:06] #749 closed

[2020-07-24 20:06] #750 closed

[2020-07-24 20:07] #770 closed

[2020-07-24 20:07] #630 closed

[2020-07-24 22:34] mooreds commented on #732
This should be resolved: https://fusionauth.io/docs/v1/tech/apis/jwt#refresh-a-jwt

[2020-07-24 22:34] #732 closed

[2020-07-25 18:55] saul-data opened #774 "Getting back to the original protected url on oauth flow"
## What is the best way to get back to the original url?

We have successfully implemented Fusionauth oauth flow. The only part that we aren't sure about is how to get back to the original url where the user requested but wasn't logged in.

I have gone through the Gatsby & PKCE example (https://fusionauth.io/blog/2020/06/25/using-oauth-and-pkce-to-add-authentication-to-your-gatsby-site) and all th

[2020-07-27 12:27] harenadata commented on #743
Not sure I agree with the proposed solution of allowing any email in the To field, but want to chime in that the concept of an invitational feature is also very important to our platform and we're searching for implementation methods as well.  Would be nice to have native support for "invitation codes" which would be used to pre-fill some personal information and also could be passed back to the p

[2020-07-27 13:03] soullivaneuh opened #775 "Two Factor Challenge: Cleanup code on failure"
## Two Factor Challenge: Cleanup code on failure

### Description

Currently, if we submit the wrong two factor challenge verification code, we have an error and the code is still present on an input.

![image](https://user-images.githubusercontent.com/1698357/88544636-ff0ca500-d019-11ea-87e3-d2bd1f5cfa01.png)

It's more usual to have the form cleaned up on that case.

A two factor code is always

[2020-07-27 23:56] bguyza opened #776 "NullPointerException when using basic self-service registration."
## NullPointerException when using basic self-service registration.

### Description
When an Application is configured (all default options) and enabled for self-service registration using the `basic` option, a NPE is thrown when attempting to register.

### Affects versions
1.18.3

### Steps to reproduce
Steps to reproduce the behavior:
1.  Edit an Application
2. Select the Registration tab
3. En

[2020-07-28 00:38] bguyza commented on #776
Non-issue.

[2020-07-28 00:46] robotdan commented on #776
Was this just a side effect of another issue?

[2020-07-28 01:12] bguyza commented on #776
Either that or my local environment was in a borked state.  I was not able to recreate it walking through my steps after doing a refresh to my dev environment.

[2020-07-28 07:22] srothery commented on #758
Yes - I've attached my kickstart file with keys redacted.
 [kickstart.txt](https://github.com/FusionAuth/fusionauth-issues/files/4986596/kickstart.txt)

We are just using the default tenant.

[2020-07-28 14:36] LohithBlaze opened #777 "User account override when doing social login"
## User account is overriden when doing social login

### Description
User account is overriden when doing social login. When we create a new user in fusionauth with email id and password and if we use the same email id is used to login using google, login API is returning change password id.

### Affects versions
any version <1.18.3

### Steps to reproduce
Steps to reproduce the behavior:
1. Crea

[2020-07-28 18:45] robotdan commented on #777
I'm unable to recreate. Are you doing anything in your reconcile lambda?

[2020-07-28 18:54] ulybu commented on #771
Hi guys, could you confirm if it's a documentation bug or the expected behavior ?

[2020-07-28 19:39] ulybu commented on #771
Additional information:

1. Also don't get `token` nor `refreshToken` when GET `/api/user/registration/{userId}/{applicationId}` unlike the [documentation](https://fusionauth.io/docs/v1/tech/apis/registrations#retrieve-a-user-registration) says it should

1. getting 0 refreshTokens when trying GET `/api/jwt/refresh/:userId` for that newly created user

1. Here is what I see in the `Event Log` page

[2020-07-29 03:14] LohithBlaze commented on #777
No, I'm doing these operations through API.

1. Create a user with email id and password using registration API(create user and registration API)
2. logout using API(logout api)
3. login to google with the same email id(identity provider login with create registrations enabled)
4. logout from fusionauth again(logout api)
5. Use the username and password from the initial time you had created the us

[2020-07-29 10:52] johnmaia opened #778 "Apple IdP using a mobile/desktop app"
## Apple IdP using a mobile/desktop app

### Description
During the past week we've being implementing Apple login on our mobile app and I have to say that, thanks to FusionAuth, this implementation was fairly easy to achieve. But we did encounter some issues along the way and I wish to share them we you because I'm afraid that our solution may break in the near future.

By reading FusionAuth's do

[2020-07-29 11:25] ulybu commented on #771
Found the issue.
the `/identity-provider/login` uses the "Login API" and therefore I need to allow JWT refresh for the "Login API", even if that app use to properly deliver when used with oauth previously.

![image](https://user-images.githubusercontent.com/2479249/88794395-b7635600-d19e-11ea-81d7-ddd4c2e88877.png)

I'm not closing because I'll let you guys decide whether or not this should have b

[2020-07-29 15:34] robotdan commented on #573
This was delivered in milestone 1.17.0 under issue https://github.com/FusionAuth/fusionauth-issues/issues/394.

The feature allows you to configure a refresh token usage policy and select one time use, or re-use.

[2020-07-29 15:35] #573 closed

[2020-07-29 15:39] robotdan commented on #774
There are different strategies you can use to accomplish this behavior. One option is to encode the URL in the `state` parameter, and then decode it once you hit the `oauth/callback` endpoint and then perform a final redirect.

You could also drop a cookie before you redirect to FusionAuth, and then pick it back up when you hit the `oauth/callback` URL.

Or, if you have a finite number of URLs, yo

[2020-07-29 15:42] robotdan commented on #771
Thanks for the update @ulybu. We can take a look at the documentation, perhaps we need to add some additional clarifications on the API response for the User and Registration APIs to indicate that the `refreshToken` is returned if enabled by the Application security configuration.

[2020-07-29 15:43] saul-gush commented on #774
This is very helpful helpful thank you. I would suggest putting the state
parameter suggestion in your documentation, others might find it useful
too. :)

On Wed, 29 Jul 2020 at 16:39, Daniel DeGroff <notifications@github.com>
wrote:

[2020-07-29 15:50] ulybu opened #779 "identity-provider/login broken json validation of `appleUser`"
## identity-provider/login broken json validation of `appleUser`

### Description
When using `identity-provider/login` with Apple, FusionAuth reject the call with the following 400 error

[code]

It's seems that FA is expecting `data.appleUser` to be a String, but the [documentation](https://fusionauth.io/docs/v1/tech/apis/identity-providers/apple#request-body-3) says it should be an object:
![ima

[2020-07-29 16:01] robotdan commented on #779
Currently the `data.appleUser` needs to be a string. If you escape the JSON returned from Apple and set it as a string into the `data` object, it should work for you.

I can review this path to see if we can optionally handle this value as an object or a string.

[2020-07-29 16:13] ulybu commented on #779
Oh! Giving it a try right now, thanks for your answer!

I'm absolutly fine with serializing the object, not a big painpoint.
The doc is clearly wrong though as it shows an object (cf my screenshot in the OP)

[2020-07-29 16:52] robotdan commented on #779
Yes, good point, at a minimum we need to fix the doc. Thanks for opening the issue.

[2020-07-29 20:10] pendenga commented on #153
Just wanted to comment on our resolution to this same issue. We noticed that since this discussion, there's a new field in the OpenID Connect Configuration Settings screen for "Email Claim". (we noticed the difference in the screenshot). We noticed in the JWT response from Azure (v.1) the email claim was labeled 'upn', so in this configuration we put "upn" in the "Email Claim" field. This made it

[2020-07-29 21:47] robotdan opened #780 "Registration object not available in JWT Populate Lambda when using self service registration"
## Registration object not available in JWT Populate Lambda immediately following registration

### Description
If you are using a populate lambda, and basic self service registration the JWT populate lambda invoked to generate a JWT on the Token exchange will not have access to the registration object.

If you have code such as the following example, the `registration` object may be `null` and ca

[2020-07-29 22:09] robotdan commented on #776
I recreated.

[2020-07-29 22:42] robotdan opened #781 "Add debug mode to OAuth grants"
## Add debug mode to OAuth grants

### Problem
Similar to the `debug` mode for a Lambda, or IdP config, adding this feature to OAuth grants would be helpful during development.

For example, using the incorrect `redirect_uri` on the Token endpoint will fail validation and return auth code not found. This is part of the spec, so it is fine, but creating a debug event log during dev could assist in

[2020-07-29 22:54] pendenga commented on #153
Another update. The above is for Active Directory Version 1 using this address for the issuer in the FusionAuth config: https://login.microsoftonline.com/[azure-tenant-id]

We were able to configure it for Active Directory Version 2 by using this address for the issuer in the FusionAuth config: https://login.microsoftonline.com/[azure-tenant-id]/v2.0. You can check this with your Azure tenant id b

[2020-07-29 23:22] robotdan commented on #778
Thanks for the feedback @johnmaia .

To summarize,

1. Update doc to indicate the required values on the `/api/identity-provider/login` endpoint when using Apple.This is currently missing `redirect_uri`.
2. Make the `redirect_uri` optional so you can use this API with your own non-web based login solution. Currently with this restriction, you have to register a value with Apple and send it on this

[2020-07-29 23:28] robotdan commented on #778
Doc fix: https://github.com/FusionAuth/fusionauth-site/commit/c18291fc312d90ecf170ac4ab517c1a111d62731

[2020-07-30 11:42] johnmaia commented on #778
Yes, that's correct.

I understand the confusion with Apple's SSO implementation. I also have a hard time navigating/understanding their documentation. They've really used their slogan as motto (think different) :P

Probably the solution will pass by accepting both values (`service_id` and the identifier `bundle_id`), and require at least one of them, on FusionAuth's Apple IdP configuration and va

[2020-07-30 12:10] tombeany commented on #133
We have done something similar and used FusionAuth to facilitate this

We have several API's that are used by our public Web Applications, other Service API's or back office applications running tasks etc. We needed a way to provide API keys that our applications could use to pass around without being a particular user. But we also wanted FusionAuth to handle the authentication. In this particular

[2020-07-30 13:01] kejvi-doko opened #782 "Missing refresh token when login using python client"
## Missing refresh token when login using python client

### Description
I have an instance of fusion auth using version 1.17.5. I am using python client to login using from API but I don't get back the `refreshToken` even so I am sending the `applicationId` as described in the documentation.

[code]

I get the following response:

[code]

I also changed the configuration on application/ security

[2020-07-30 14:31] robotdan commented on #773
Is this compatible with OpenID Connect, or would it just be an option at the API level?

[2020-07-30 15:08] robotdan commented on #743
Thanks for the feedback @harenadata this is helpful.

[2020-07-30 15:09] robotdan commented on #775
This is our standard form validation handling. Perhaps this is an outlier, but in most cases we want to show the user input so they can correct it.

Because the themes are modifiable, if you would like, you can clear the input using JavaScript or modify the template to set the value to empty when a field error is displayed.

[2020-07-30 15:10] #775 closed

[2020-07-30 15:31] robotdan commented on #778
Ha.. yes, of all of our IdP configurations, the Apple integration was the most difficult, perhaps just ahead of Twitters documentation for OAuth v1.

The only way for us to figure out how it all went together was to read third party blog posts since navigating the Apple documentation just took us in circles.

In any case, thanks for the details, we can do some more testing and see if we can either

[2020-07-30 15:39] robotdan commented on #133
Thanks for your detailed use case and explanation @tombeany. That is great!

[2020-07-30 15:42] robotdan commented on #153
Thanks for the update @pendenga - if I understand you correctly, you have been able to get AD v2 configured using OpenID Connect?

If that is correct, then our warnings about v2.0 in our Azure OpenID Connect documentation is no longer accurate?
https://fusionauth.io/docs/v1/tech/identity-providers/openid-connect/azure-ad

[2020-07-30 20:16] robotdan commented on #729
Thanks @satazor we'll take a look. Either the doc is wrong, or the code is wrong. Not sure which yet. :-)

[2020-07-31 00:24] robotdan opened #783 "JavaScript bug may cause reports not to fully render in the admin UI"
## JavaScript bug may cause reports not to fully render in the admin UI

### Description
A JavaScript exception may cause some of the reports to fail to render in the UI.

Error on the JavaScript console:

[code]

### Workaround
Edit `web/js/admin/Report.js`

Change
[code]

To:
[code]

### Affects versions
1.18.0 - 1.18.4

### Additional context
Add any other context about the problem here.

[2020-07-31 00:27] #780 closed

[2020-07-31 00:27] #776 closed

[2020-07-31 00:27] #716 closed

[2020-07-31 17:34] sw-waterford opened #784 "Unable to view system logs when using symlink to /var/log"
## System logs are blank when using a symlink to /var/log

### Description
We are currently running a 2 server cluster I can see both nodes exist but I am unable to view the logging from either node the system indicates that there are no log files available. When I SSH into the host I am able to view the log information.

### Affects versions
FusionAuth™ version 1.17.0

### Steps to reproduce
Step

[2020-07-31 18:03] robotdan opened #785 "Add login record retention per tenant"
## Add login record retention per tenant

### Problem
Currently this is only available system wide. There may be tenants that contain accounts used for status or service checks that you do not need to preserve login records. If these service accounts are pinging services, they may account for a large number of login records.

### Solution
Add a policy per tenant to preserve login records for a cer

[2020-07-31 18:58] robotdan opened #786 "Performance issue with recent login query on MySQL"
## Performance issue with recent login query

### Description
Upon login to the FusionAuth admin UI, the dashboard includes recent logins.

The performance of this query can be quite slow if you have 3-4M + login records. I have noticed this performance issue particularly with MySQL.

### Solution
After optimizing the query, the query goes from ~90s to sub 1ms.

PostgreSQL is seemingly optimizing

[2020-07-31 20:39] karice opened #787 "Set-Cookie is not setting refresh_token cookie"
## Set-Cookie is not setting refresh_token cookie

### Description
We are using the API to sign-in (api/login), refresh (api/jwt/refresh), and sign-out (api/logout). Each of these requests are supposed to set the refresh_token cookie in the browser but they are not getting set. My guess is the browser isn't setting it because the date/time format for the Set-Cookie expire date is not correct. I co

[2020-07-31 22:26] robotdan commented on #787
The cookie header is set by Tomcat. It looks like they are still adding the `Expires` value for compatibility with IE.

See [Rfc6265CookieProcessor.generateHeader](https://github.com/apache/tomcat/blob/c180b3e160aff5e2374fcf987bac9c0e589b0b94/java/org/apache/tomcat/util/http/Rfc6265CookieProcessor.java#L103) and [CookieProcessorBase.COOKIE_DATE_PATTERN](https://github.com/apache/tomcat/blob/ec782a

[2020-08-01 00:52] karice commented on #787
I changed the SameSite policy to Lax (also tried None) but it didn't make a difference. I have FA setup at auth.domain.com and my site at admin.domain.com so it shouldn't make a difference. I have another cookie on the request from AWS ALB which is set without issue. The expire timestamp format and FA additionally has HttpOnly.
`set-cookie: AWSALBCORS=zwntaZShsRQ2/N2PIQd06gh4CPQAnCL/x07VUnuInekx3k

[2020-08-01 02:45] robotdan opened #788 "Format y-axis with locale specific number separators in Admin UI"
## Format y-axis with locale specific number separators in Admin UI

### Description
Currently the y-axis shows up as `10000` for `10,000` as an example.

Ideally we'd format these larger numbers with separators, and ideally locale specific.

[2020-08-01 05:42] hongkongkiwi commented on #576
I would also like this!

[2020-08-02 21:17] robotdan commented on #576
We have a client that has built a provider, and they are working to open source it. Stay tuned.

[2020-08-02 21:30] robotdan commented on #784
This works for me:

[code]

[2020-08-03 13:59] mam1101 opened #789 "Long indexing times for new users"
## Long indexing times for new users

### Description
We had a user created on July 30th who was not showing up in our Elasticsearch searches in the UI until August 2nd. I would prefer not to reindex every time I require finding a new user. Are there any current solutions to resolve this or is this a symptom of having many users?

[2020-08-03 15:47] mooreds commented on #133
@tombeany I was curious, I see mention of the username, but not the password. How are you handling passwords in your scenario? Are you using application authentication tokens https://fusionauth.io/docs/v1/tech/tutorials/application-authentication-tokens ?

[2020-08-03 16:03] tombeany commented on #133
@mooreds You have a couple of options.

1. As mentioned previously an API key can be as good as a password, so you could use the FA user id itself as the password. You can generate a uid when creating the user and set that as both the user id and pwd. The key itself can then be passed as the login id and the pwd
2. Use some sort of internally known pwd that only your API services know which you ca

[2020-08-03 16:19] karice commented on #787
I think I have a better understanding of what is going on. We have auth.domain.com doing the authentication and admin.domain.com for the site. The cookies are not set because these endpoints are different sub-domains regardless of the SameSite setting.

We also have an Electron application using auth.domain.com but it will store the refresh_token cookie if the SameSite mode is set to None. Electro

[2020-08-03 16:19] #787 closed

[2020-08-03 19:18] ulantiger commented on #635
Add this **relaxedQueryChars="[,]"** , in your  Tomcat server.xml

It should look like:

    _<Connector port="8080" protocol="HTTP/1.1"
               connectionTimeout="20000"
               redirectPort="8443"
	       compression="on"
               URIEncoding="UTF-8"
               compressableMimeType="text/html,text/xml"
               **relaxedQueryChars="[,]"**
		 />_

[2020-08-03 19:20] robotdan commented on #787
Glad you got it figured out @karice .

If you haven't come across the authentication workflows - they may be helpful.

This may be close to what you are doing.
https://fusionauth.io/learn/expert-advice/authentication/webapp/oauth-authorization-code-grant-jwts-refresh-tokens-cookies

In this example, the "store" (application) is writing back cookies to the browser so that the correct domain can be

[2020-08-03 19:23] robotdan commented on #789
The user should be available in the ES index within milliseconds. If this is not the case you likely are having some issues with your Elasticsearch configuration.

If you are running more than one instance of Elasticsearch in a cluster configuration, you'll want to ensure that the cluster is in the `green` status and all nodes are communicating correctly.

[2020-08-04 01:32] myfingersarebroken opened #790 "Connection with MySQL RDS"
## Connection error with MySQL AWS RDS

### Description
I've attempted to deploy Fusionauth in Kubernetes with minimum setup and without Maintenance Mode but it can't connect to my database with root user and password. I'm using Rancher 2 to orchestrate my kube cluster.

### Affects versions
- 1.18.4

### Steps to reproduce
Steps to reproduce the behavior:
- View the screenshots below

### Expecte

[2020-08-04 02:33] mooreds commented on #782
Your configuration settings look correct. Can you test with this curl command to see if you get the refresh token? I do, but am running against 1.18.4.

[code]

[2020-08-04 02:36] #783 closed

[2020-08-04 02:36] #786 closed

[2020-08-04 02:36] #788 closed

[2020-08-04 06:09] davidmw commented on #178
@robotdan On this topic, I'm now running into a problem due to the global nature of managed domains across all tenants and applications. Our tenants are configured to support test / staging / production environments.

So lets just talk about the test environment. We have three apps and when attempting to support some enterprises and their particular SSO solution - each app is assigned a different

[2020-08-04 11:54] robjanssen commented on #717
Hi! I think I found something that may help.

## Deleting an Application role fails with a 400 error

### Description
Deleting an application roles causes an error.

### Affects versions
1.17.5

### Steps to reproduce
Steps to reproduce the behavior:
0. Log into the FusionAuth installation
1. Go to Applications and create a new application
2. Create a new Role for this application (no Super role,

[2020-08-04 12:53] markschmid commented on #789
I just wanted to open an issue, then I found this one. We're using the FusionAuth API and are experiencing the following:
Right after we've created a new user, we're searching for all users (via query, in ES), yet the newly created user is not part of the result set. If we delay by let's say 500ms, we're fine.
Seems to me that once the API responds with success to the creation of a new user, that

[2020-08-04 15:49] robotdan commented on #789
@markschmid this is likely working as design, Elasticsearch is async, so there will be some delay in consistency.

We could delay the response on the API until the search index is consistent, this tradeoff in latency and performance is generally not idea.

If you need to immediately query the index after an update, you could try calling the Search Engine Flush API. Generally this is not required,

[2020-08-04 17:04] myfingersarebroken commented on #790
I've logged into container and in the fusionauth.properties the database is not updated to correspond with the value in the env DATABASE_URL
<img width="1585" alt="Captura de Tela 2020-08-04 às 14 02 05" src="https://user-images.githubusercontent.com/4641737/89322938-639fb380-d65b-11ea-8370-09cf3722b771.png">

[2020-08-04 22:48] robotdan commented on #790
If you're using silent mode which is indicated by your first screenshot, you're using environment variables.

The environment variables take precedence over the values found in the `fusionauth.properties` file.
https://fusionauth.io/docs/v1/tech/reference/configuration#environment-variables

[2020-08-05 00:58] myfingersarebroken commented on #790
Ok. But do you have some clue on why Fusionauth can't connect with MySQL?

[2020-08-05 04:27] myfingersarebroken commented on #790
Why Fusionauth forces the database to use utf8mb4 as the default character_set_server and why not set this char set on database creation???
<img width="900" alt="Captura de Tela 2020-08-05 às 01 24 36" src="https://user-images.githubusercontent.com/4641737/89371812-c83e2b00-d6ba-11ea-8c27-e60dbf4a59ed.png">

[2020-08-05 12:27] markschmid commented on #789
@robotdan OK, it's what I was expecting. Thanks for the hint with the Flush API, I'll look into it.
It's actually all documented, very specific to my use case: 😊
```In practice it is unlikely you’ll find a need for this API in production unless you are performing search requests immediately following an operation that modifies the index and expecting to see the results immediately.```

[2020-08-05 15:30] robotdan commented on #790
https://fusionauth.io/docs/v1/tech/installation-guide/database#mysql-and-unicode

https://fusionauth.io/docs/v1/tech/reference/configuration

[2020-08-05 15:57] myfingersarebroken commented on #790
Ok. So, how can I override this configuration in docker setup? I've searched in this docs and I don't found it.
https://fusionauth.io/docs/v1/tech/installation-guide/docker

[2020-08-05 16:50] robotdan commented on #178
Thanks for the feedback @davidmw.

We initially envisioned an IdP for `Acme Corp.`, and that IdP would manage all users with an email address ending in `@acme.com`.

In your example, this this only problematic in test, or is there a production use case where you have different IdP configurations managing the same domain and then you manage the separation by only assigning an IdP to the correct app

[2020-08-05 17:02] robotdan commented on #751
Thanks for opening this issue @sycured . This is something we want to handle at some point. This will partially be possible once we deliver multiple identity support via issue https://github.com/FusionAuth/fusionauth-issues/issues/1.

There are edge cases and difficulties with ensuring user owns these other accounts, but it is something we would like to support.

[2020-08-05 19:36] mooreds opened #791 "More flexible breached password reporting"
## More flexible breached password reporting

### Problem

I'd like more flexible and powerful breached password reporting.

### Solution
I'd like to see two things:

* Moving the breached password reporting from under the 'Reactor' tab to the 'Reporting' tab
* Adding a graph for the breached password reporting in the same format as the 'registrations' or 'login' reports. The three y-axis variable

[2020-08-05 20:55] mooreds commented on #790
I don't see a way to do that with an environment variable at present.

I'm not super familiar with k8s, but can you mount a directory containing the fusionauth.properties (with the `database.mysql.enforce-utf8mb4` value set to false)?

Alternatively, can you try using postgresql, which doesn't have this limitation?

[2020-08-05 21:03] robotdan commented on #790
We do have an overhaul coming in the next release or two for configuration values so they can be modified using environment, properties or Java system properties.

In the current version, one option is for you to mount your own version of the `fusionauth.properties` file in your container to turn off this validation.

As a side note, I would highly discourage turning off this validation. You do no

[2020-08-05 21:18] myfingersarebroken commented on #790
I've created a custom image from fusionauth/fusionauth-app:1.18.5 where I copy a custom fusionauth.properties to the /usr/local/fusionauth/config container folder. It resolved my problem and now we can control updates with git.
For MySQL the problem is that I'm not the database administrator and I think it's been running like this since It's deployment. The responsible for the database said that t

[2020-08-05 21:18] #790 closed

[2020-08-05 21:22] robotdan commented on #790
Glad you found a working solution @myfingersarebroken !

[2020-08-06 00:49] davidmw commented on #178
Hi @robotdan. This is a problem in production as well. Handling it by application would certainly be an improvement. And allowing IdP identification on the URL to override this would be fantastic.

Even before this multi app issue came up, I've found a need to configure a SSO for managed domain use AND need to put the same SSO's button on the login screen.

For example, some schools tell us they w

[2020-08-06 02:39] robotdan commented on #178
Thanks for this use case @davidmw this is helpful.

[2020-08-06 09:04] davidmw commented on #178
@robotdan I've found an existing solution. If I set up one IdP with managed domains, enable it for all apps in our suite, and use overrides for each app to support the multiple OAuth client_ids provided by the customer it works as needed.

Still need to create a second IdP that is unmanaged to get the SSO button to appear but this is a minor thing.

[2020-08-06 13:06] carlreid commented on #15
Hey @voidmain, you mentioned getting to this over the summer. Does this still look likely to be implemented soon?

[2020-08-06 13:19] saul-gush opened #792 "Linking social with accounts with different email"
## Linking social with accounts with different email

I have often come across different email addresses across social identity/account with other projects I've been involved with. Particularly Facebook where personal/business email addresses are different. I want to see what is the best way to handle this scenario with Fusionauth.

### Description

Scenario: Register with social e.g. Facebook

Th

[2020-08-06 13:54] robotdan commented on #792
Is this the same as https://github.com/FusionAuth/fusionauth-issues/issues/751 ?

[2020-08-06 15:08] saul-gush commented on #792
Yes I think it is - its super important and very common. I used to deal with support tickets where the user logged in via Facebook and then wasnt receiving the verify email because they didnt realise that it was going to another email address. Thats when we asked the user to confirm their email address on the second step. They often changed it to something else.

For scenario one - that should be

[2020-08-06 15:51] mooreds opened #793 "Better error message when test webhook run from the admin UI fails"
## Better error message when test webhook run from the admin UI fails

### Problem

It would be nice to get a better error message when a webhook test, run from the webhook screen in the admin UI fails.

Currently, this is the message displayed when a webhook fails:

"The webhook returned an invalid response"

This is true whether the webhook is inaccessible, returns the wrong http status code, or

[2020-08-06 17:04] saulfrank commented on #751
After going through this, I think this is what it could look like on the admin.

![image](https://user-images.githubusercontent.com/22662385/89560607-34ca3e80-d80f-11ea-8b14-086e6f1d6355.png)

[2020-08-06 17:12] saulfrank commented on #751
@robotdan - I saw there is thinking around multiple emails per account. I actually think that linking social is not necessarily about the email. I would have thought its more to do with the the IDs from oauth. I think having multiple email addresses per account is a separate issue and in my opinion, would be cleaner /safer to link up multiple social ids to one user id.

[2020-08-06 18:35] sycured commented on #751
@saulfrank I totally agree, my issue is about linking social account to an existing account created via email/password or another social account.

Having multiple emails on one account can be more like:
- primary email
- emergency email (forgotten access…)
But it's not this issue

[2020-08-06 19:31] voidmain commented on #15
This feature has a lot of upvotes, which is a great sign that it should be prioritized.

This year is a balance for us to ensure that we can generate revenue to sustain the company while still implementing features that are the most needed. I can see an implementation where this feature requires a license but I could also make a case for it being in the free version.

If we decide that it will go

[2020-08-06 19:51] mooreds opened #794 "Adding an OpenID Connect identity provider with invalid urls hides the error messages"
## Adding an OpenID Connect identity provider with invalid urls hides the error messages

### Description

If you add an OpenID Connect identity provider and choose not to 'Discover endpoints' and provide an invalid url (perhaps missing the `https://` section), you don't see any error messages when you click save. You just are taken back to the same page, and the 'Discover endpoints' checkbox is s

[2020-08-06 19:52] mooreds commented on #792
@saul-gush please upvote number #751. Since it's a duplicate, I'm going to close.

[2020-08-06 19:52] #792 closed

[2020-08-06 20:51] carlreid commented on #15
I'd say this is a fundamental feature that most people would look for when looking into solutions. That might also be why the likes are on the higher side.

If this was a paid feature, then how could someone test it out to ensure that it works for a given use case? Essentially that's what I'm trying to do right now with various providers.

Of course you guys need to earn something from your work b

[2020-08-07 06:43] ashish1247 opened #795 "unable to start fusionauth-search!"
Given below is the output from "systemctl status fusionauth-search.service". I am currently working on Ubuntu 20.04 LTS.

fusionauth-search.service - LSB: Start FusionAuth
     Loaded: loaded (/etc/init.d/fusionauth-search; generated)
     Active: failed (Result: exit-code) since Thu 2020-08-06 23:20:47 PDT; 4s ago
       Docs: man:systemd-sysv-generator(8)
    Process: 7852 ExecStart=/etc/init.d/