[2019-04-25 09:19] blanchonvincent opened #145 "Audit log does not show action that have been made from the API"
Here an example of our audit log:

<img width="1258" alt="Screen Shot 2019-04-25 at 1 16 42 PM" src="https://user-images.githubusercontent.com/1580512/56724676-86ef6980-675c-11e9-9006-cdc2b43085d6.png">

Since so far almost 100% of our actions come from the API, we have almost nothing in our Audit Logs (except the actions related to users in FusionAuth app)... is there a chance to record as well t

[2019-04-25 19:54] bdwakefield commented on #36
Being able to authenticate with Azure AD and/or ADFS would be key for us; is the only way to achieve this through OpenID?

[2019-04-25 20:07] robotdan commented on #144
We do preserve the `insertInstant` on the User and Registration during import. Currently it is just not utilized when we increment the registration count.

This is likely something we can fix, I'll follow up when I know more.

[2019-04-25 21:48] robotdan commented on #36
OpenID is an option, in version 1.6.0, we will also support SAML federation. I believe the Azure AD may only be supporting OpenID Connect.

https://github.com/FusionAuth/fusionauth-issues/issues/104
https://fusionauth.io/docs/v1/tech/release-notes/

[2019-04-26 00:48] robotdan commented on #145
When making requests via the UI, we audit our own API requests by using the Audit API. You can audit anything you like using the API.

https://fusionauth.io/docs/v1/tech/apis/audit-logs#add-an-entry-to-the-audit-log

We have discussed providing automatic auditing of the API through configuration. The longer term plan is to audit the API requests (optionally) once the API request can be made using

[2019-04-28 04:37] blanchonvincent commented on #145
@robotdan ok I got the idea.

`We have discussed providing automatic auditing of the API through configuration` that would be amazing :)

[2019-04-28 04:43] blanchonvincent opened #146 "We should be able to limit a user action to the app scopes"
### Problem
We would like to create a user action that is restricted to the users that have registered to specific app(s).

### Solution
We could add a the list of the apps with checkbox

<img width="1134" alt="Screen Shot 2019-04-28 at 8 40 26 AM" src="https://user-images.githubusercontent.com/1580512/56858798-75db6e00-6991-11e9-8265-81b9d9384355.png">

This action will be displayed only to the u

[2019-04-28 04:48] blanchonvincent commented on #125
@robotdan  Also, I think this link should also generate an access token and transfer this token as a parameter. Indeed, if this link goes to our admin area for example, we will need to get authenticated directly, so if the link send a token as the same time, we can just get this token, call fusion auth to verify it and the user will be logged in automatically :)

[2019-04-28 04:54] robotdan commented on #146
To clarify, the User Action is scoped to an application at the time it is applied. You would like to create the User action as scoped to a particular application(s) ahead of time such that it may ever only be applied to the pre-determined applications?

[2019-04-28 04:57] robotdan commented on #125
Thanks @blanchonvincent that is a good idea!

[2019-04-28 05:05] blanchonvincent commented on #146
`To clarify, the User Action is scoped to an application at the time it is applied`
I am not sure to understand that. Where in FusionAuth can we scope a user action to an application?

[2019-04-28 06:33] blanchonvincent opened #147 ""Login today" in the dashboard is not smart"
In our dashboard we have this number:

<img width="276" alt="Screen Shot 2019-04-28 at 10 30 25 AM" src="https://user-images.githubusercontent.com/1580512/56859780-bf7f8500-69a0-11e9-9320-85d8fbc00d33.png">

It shows that we have -78% logins. But it is comparing a full day with a day where it is 10 am only.

It has two issues:

- We should compare the number of logins today at 10 am VS yesterday 1

[2019-04-28 19:54] hengel2810 commented on #115
It's working with the manual setup now. Thank's for your help @plunkettscott @robotdan

[2019-04-28 19:54] #115 closed

[2019-04-28 20:00] robotdan commented on #115
Thanks for the update @hengel2810. We will be enhancing the maintenance mode auto db configuration to work better with these managed systems in the near future.

[2019-04-28 21:59] fogelfish opened #148 "Retrieve lists of contained objects?"
## Retrieve lists of contained objects?

### Description
In my use case, I will have to retrieve lists of objects where results satisfy "has-a" or "belong-to" conditions.  For example, I might need a list of applications that belong-to one tenant; a list of user registrations that belong-to one application; a list of groups that belong-to one tenant; a list of groups that have-a particular role (o

[2019-04-28 22:26] robotdan commented on #148
Hi @fogelfish thanks for your question.  I think you should be able to accomplish each of these tasks.

When making this API request using an API key assigned to a tenant, or by providing a request header, only applications belonging to the tenant will be returned. See https://fusionauth.io/docs/v1/tech/tutorials/tenants.

For example, you can add this HTTP request header where `24b325e1-c1b8-4cc6

[2019-04-28 23:49] plunkettscott commented on #115
Glad you got it working, @hengel2810!

[2019-04-29 01:29] #144 closed

[2019-04-29 01:29] #142 closed

[2019-04-29 01:31] robotdan commented on #122
Fixed in 1.6.0, and we'll also now have the option to override and add additional SMTP mail properties if we run into this type of thing in the future.

[2019-04-29 01:31] #122 closed

[2019-04-29 01:33] robotdan commented on #61
This should be available in 1.6.0. The doc is coming shortly.
https://fusionauth.io/docs/v1/tech/lambdas/jwt-populate

I should also be able to provide you an example here for your use case with Hasura if that is helpful. Let me know.

[2019-04-29 01:36] robotdan commented on #109
Fixed in 1.6.0

[2019-04-29 01:36] #109 closed

[2019-04-29 01:37] robotdan commented on #102
Fixed in 1.6.0

[2019-04-29 01:37] #102 closed

[2019-04-29 01:37] robotdan commented on #110
Fixed in 1.6.0, let me know if you still have issues with this one.

[2019-04-29 01:37] #110 closed

[2019-04-29 01:39] robotdan commented on #3
Available in 1.6.0, enjoy!
https://fusionauth.io/docs/v1/tech/samlv2/overview

Doc is in progress, should be complete this week.

[2019-04-29 01:39] #3 closed

[2019-04-29 01:39] robotdan commented on #104
Available in 1.6.0, enjoy!
https://fusionauth.io/docs/v1/tech/identity-providers/samlv2

[2019-04-29 01:39] #104 closed

[2019-04-29 01:40] robotdan commented on #36
This should now work with the OpenID Connect IdP in version 1.6.0, if you run into issues, open a bug. Thanks!

[2019-04-29 01:42] robotdan commented on #33
In version 1.6.0, you should be able to use the OpenID Connect IdP in FusionAuth to login with GitHub. Their impl is not OpenId Connect, but it will work, we'll be documenting how to configure this shortly.

https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/

The GitHub user will have to have their email public for this to work.

[2019-04-29 01:43] robotdan commented on #134
This will work now in FusionAuth 1.6.0, let me know if you run into issues. The user logging in will need to have their email public for this to work.

You can use the Lambda for OpenID Connect reconcile if you want to do anything custom with the user object returned by GitHub.

https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/

[2019-04-29 01:46] robotdan commented on #141
FusionAuth 1.6.0 is out, if you want to try configuring the GitLab SAML v2 Service Provider to connect to FusionAuth let me know how it goes.

https://docs.gitlab.com/ee/integration/saml.html
https://fusionauth.io/docs/v1/tech/samlv2/overview

[2019-04-29 01:51] robotdan opened #149 "Feature: COPPA Support"
## COPPA

### Problem
I need to record consent and manage a parent and child relationship in support of COPPA.

### Solution
Add relationships to FusionAuth and record consent, possibly support email plus or other consent types.

### Alternatives/workarounds
NA

### Additional context
https://www.ftc.gov/enforcement/rules/rulemaking-regulatory-reform-proceedings/childrens-online-privacy-protection

[2019-04-29 04:26] davidmw commented on #142
Sorry for the delayed response - looks great!

[2019-04-29 07:25] davidb-e4s commented on #112
Hi Dan,

Just an update I've been swamped but hoping to look at this early this week.

Thanks

[2019-04-29 07:36] Nosherwan opened #150 "Error: Invalid Authorization Code"
## Authorization code grant completion request sends error stating "Invalid Authorization code"

### Description
I am using version 1.4.0 of fusionAuth. I am using Authorization code grant flow.

1. I register a front end web app and successfully redirect to the login page, "https://auth.chargetogether.com/oauth2/authorize?"
2. Upon completion of login, my web server callback is called with the ne

[2019-04-29 10:04] Nosherwan opened #151 "After upgrading to version 1.6.0 form 1.4.0 I get an error on login screen"
## After successful upgrade to v 1.6.0 form 1.4.0 I get an error on login page

### Description
After successful upgrade to v1.6.0 from 1.4.0 I get an error on the login page. Even though I can login successfully after that and the admin panel seems fine.

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to https://auth.chargetogether.com
2. See error

### Expected behavior
There shou

[2019-04-29 13:58] robotdan commented on #151
Have you modified any of the pages using the theme feature? My initial thought is that you have modified the `_helpers.ftl` https://fusionauth.io/docs/v1/tech/tutorials/login-theme#helpers and not the `authorize.ftl`

In 1.6.0, we added a new macro in `_helpers.ftl` called `link`.

[code]

If you have modified the `_helpers.ftl` in your theme, you can try disabling the theme temporarily to see if

[2019-04-29 14:31] robotdan commented on #150
Hmm.. your code to call the Token endpoint looks ok upon initial inspection. The default TTL on the auth code is 30 seconds. Is it possible you're exceeding this timeout during testing?  If so, we will have expired the auth code, this could cause the error you're seeing.

You can increase this value in the System Settings. Settings --> System --> Advanced --> External Identifiers, and modify `Auth

[2019-04-29 16:52] fogelfish commented on #148
Thanks, @robotdan.  This is very helpful guidance.  I'm glad you'll be adding documentation for applying Elasticsearch in FusionAuth because I suspect (tho I don't actually know) that there is more speed and power to be gained by utilizing queries and filters there rather than cherry picking the JSON response.

For example, is there a way to instruct Elasticsearch to return only specific values fr

[2019-04-29 23:19] Nosherwan commented on #150
@robotdan thank you for the quick response :).

However TTL was not the issue here.

I have figured out the issue. The redirect_uri defined in the above code is not the same as the one on which the first redirect request is received. So here is the explanation:

1. We have two callbacks defined in fusionAuth applications settings: edit application -> options -> `authorized redirect urls`. (screens

[2019-04-29 23:46] Nosherwan commented on #151
Thank you for the quick response again @robotdan.

You were right, it seems like there was some modification of the theme, however reseting the `_helpers.ftl` as you suggested has fixed the issue.
👍🏼

[2019-04-29 23:50] robotdan commented on #151
Great, thanks for the update. We hope to find some better ways to make this less error prone.

[2019-04-30 05:07] blanchonvincent opened #152 "Which template is used by FusionAuth by default?"
We would like to integrate our admin area with fusion auth. In order to do that, we would like to apply the same template to our admin area.

Could we know where we can find/buy this template?

[2019-04-30 20:23] robotdan commented on #112
Thanks for the update @davidb-e4s , let us know if you run into issues. In version 1.6.0 you should see a large warning on the dashboard page if the we detect `X-Forwarded-` headers are necessary and are missing.

[2019-04-30 20:38] robotdan commented on #150
Thanks for the update @Nosherwan, glad you got past this issue.

The OAuth2 specification states that the `redirect_uri` parameter provided on the Token Request match the one provided on the Authorization request. This is the reason for the validation.

https://tools.ietf.org/html/rfc6749#section-4.1.3

Because the response to the Token endpoint is a `200` with a JSON body, the redirect URI is the

[2019-04-30 20:44] robotdan commented on #152
Are you looking for the theme / style that we use in FusionAuth?

The style and layout we build is part of another project called `inversoft-style`, we have not yet open sourced that, but we could. This project contains all of the example layouts, CSS, widgets etc.

Is this what you're looking for?

[2019-04-30 20:47] stevenrombauts opened #153 "OpenID connect fails with Azure AD"
## OpenID connect fails with Azure AD

### Description

Hi! Following the 1.6.0 update that fixes the OpenID Connect issue mentioned in #36, I'm still unable to use Azure AD for authenticating. The OpenID Connect button will send me to microsoft login page, which redirects back correctly to FusionAuth, but then fails with the following message:

The redirect URL looks like this:

`/oauth2/authoriz

[2019-04-30 21:05] robotdan commented on #153
Hi, thanks for reporting this issue. I apologize for the inconvenience.

Another user reported a similar issue, I think Microsoft is sending back a field in the Token Response that is not specified by OpenID Connect.

FusionAuth should probably allow for some flexibility in what the IDP returns in this HTTP response.

If you review the logs, do you see an exception like this? `/usr/local/fusionaut

[2019-04-30 21:29] stevenrombauts commented on #153
Hi @robotdan, thanks for your quick response! I had a look at the logs and I'm seeing two errors being logged. They seem to be happening randomly:

1. One is the `ext_expires_in` field you described above,
1. The second one is `Read timed out`

I've tried a couple of consecutive login attempts, and I get both errors randomly. I've attached my log file: [fusionauth-app.log](https://github.com/Fusio

[2019-04-30 22:50] robotdan commented on #153
Ok, great thanks for the additional information. The `ext_expires_in` issue is for sure the same, the other exceptions are likely a side effect of the former.

I should have a patch out for the issue shortly. I have confirmed with the other user that encountered this issue that my patch works.

[2019-04-30 23:17] Nosherwan commented on #150
Nice explanation @robotdan.

I understand where you are coming from and why that particular error is sent back, however I would suggest instead of sending back a specific error than maybe a more generic error message would do. Something along the lines of `incorrect request params sent please review`.

Thank you for the details I will contact you in future at some point in time.

I have one more s

[2019-04-30 23:54] robotdan commented on #150
@Nosherwan re: self service registration. Not sure if I understand.

Do you mean that only The Authorization Code grant is working for self service registration, and not The Implicit Grant?

[2019-05-01 00:26] Nosherwan commented on #150
@robotdan no I was probably not able to explain properly.
What I meant was I had to go through github issues to figure out that we had to send an authorization request from our client web application to redirect users to login/register page. It may not be apparent for first time users that they need to do that once self service registration is enabled for the application via fusionAuth.
Hope that

[2019-05-01 00:48] robotdan commented on #150
Ah, ok. I think I see what you mean. You are redirecting users from your own application to the self-register page in FusionAuth.

I suppose that is do-able, the reason that isn't documented is because it wasn't how we intended it to be used. :-) We handle all of the redirects to that page.

We intended it to be used without any code or modification on your end at all. For example, the following w

[2019-05-01 02:39] Nosherwan commented on #150
@robotdan that is a good question as I would like to understand this more.

So far my understanding is:

1. we just redirect to the oauth login page at `/oauth2/authorize?` endpoint in fusionAuth with code,client_id & redirect_uri.
2. That page then has everything (login/register/forgot password) so far I have tested both login and register and in both cases the tokens plus user_id is passed back

[2019-05-01 02:58] robotdan commented on #150
The end of each example I described acts just like a login completion. In other words, from your end it will be transparent, the user will be redirected back to your app the same as if self service registration was not enabled. There will be no change in how you expect the user to return to your application.

Did that answer your question? Have you been able to try self service registration using

[2019-05-01 03:01] martinec opened #154 "Update a user registration while retaining the authentication token"
## Update a user registration while retaining the authentication token

### Description
Hi. I'm currently using version `1.6.0` of fusionAuth and experimenting with the generation of authentication tokens for user registrations. The basic case is as follows:

1. Create a user registration (for an existing user) via `POST /api/user/registration/{userId}`

Request Body:
[code]
Response (excerpt):
[c

[2019-05-01 03:09] Nosherwan commented on #150
I have tried at-least one example.
where my app takes user to fusionauth login page, then I register as a new user it re-confirms my password ( I assume this is self service registration), it asks for firstname, lastname (they are enabled), and then redirects the app to our web server app. But this is all triggered by redirecting to `/oauth2/authorize?` endpoint.
If however I understand correctly

[2019-05-01 03:11] robotdan commented on #150
You've got it. You use the FusionAuth login page, and you get the rest for free.

[2019-05-01 03:14] Nosherwan commented on #150
However the registration link doesnt show up, I think redirect from our app is required for that.

[2019-05-01 03:19] robotdan commented on #154
FusionAuth doesn't currently support merging a user or registration. We do plan to support the `PATCH` HTTP method at some point to allow this type of behavior.

See https://github.com/FusionAuth/fusionauth-issues/issues/121

For example we may have a `[PATCH] /api/user/registration/data` to allow you to only send user data to merge into the User Registration without having to send in the entire o

[2019-05-01 03:22] robotdan commented on #150
Hmm., ok, so you have Self Service registration enabled for the application in question that owns the `client_id`?

Self Service registration was added in `1.4.0`, if you have enabled a theme and modified the `authorize.ftl` template you may not have the latest version. Is that possible?

[2019-05-01 03:27] Nosherwan commented on #150
@robotdan I think we are on the same page just to clarify I send users from my web app to the following ur: `https://my.fusionauth.com/oauth2/authorize?client_id=xxxxxxxxxxxx&response_type=code&redirect_uri={your URI here}` that represents the application that has Self Service Registration enabled. This page has login plus registration links.
I am on version `1.6.0` right now.

[2019-05-01 03:36] martinec commented on #154
Thank you for the prompt reply and clarification. The Retrive-Merge-Update workaround should suffice for now!

[2019-05-01 03:53] robotdan commented on #150
This sounds correct.

The redirect that you build to FusionAuth does not change just because you have Self Service registration enabled.

You should see a login that looks like this:

![image](https://user-images.githubusercontent.com/1148709/57005129-670fd980-6b92-11e9-9ae4-4646919f90fb.png)

[2019-05-01 04:02] Nosherwan commented on #150
Confirmed I can see similar page as that screenshot you have just provided above.

[2019-05-01 04:18] robotdan commented on #150
Does that all make sense then? You'll just redirect to the `/oauth2/authorize` URL and we'll take care of the rest. Feel free to open other GitHub issues if you get stuck on anything or want to provide additional feedback.

[2019-05-01 04:40] Nosherwan commented on #150
Thanks alot @robotdan yes it does all make sense now. I will definitely refer back to issues here or create more if required. 👍🏼

[2019-05-01 04:58] #154 closed

[2019-05-01 07:04] stevenrombauts commented on #153
@robotdan Ok, great, thanks again. I'll be happy to test that patch as soon as its available then :)

[2019-05-01 13:10] blanchonvincent commented on #152
@robotdan yes exactly :)

[2019-05-02 04:59] robotdan commented on #142
@davidmw you made the release notes! https://fusionauth.io/blog/2019/05/01/fusionauth-update-saml

[2019-05-02 11:59] joaonice opened #155 "OAuth Client Credentials Flow"
## OAuth Client Credentials Flow

### Problem
I'm using fusion auth to handle the user's registration and authentication. After a successful login, the JWT is returned and can be used to call the backend authenticated endpoints on my frontend application.
The problem is, I want to give my users and SDK so they can use it on their backend to call some of my backend's endpoints.

### Solution
If eac

[2019-05-02 15:20] robotdan opened #156 "Feature: Android Client Library"
## Feature: Android Client Library

### Problem
Need a native FusionAuth client for Android

### Solution
Build an Android client for FusionAuth!

### Alternatives/workarounds
Tweak the Java Client to remove Java8 features that aren't supported on Android.

### Additional context
https://github.com/FusionAuth/fusionauth-java-client/issues/2

### How to vote
Please give us a thumbs up or thumbs dow

[2019-05-02 15:21] robotdan commented on #156
I've started a stub repo.

https://github.com/FusionAuth/fusionauth-android-client

See if you can follow the instructions from the client builder repo to get started.
https://github.com/FusionAuth/fusionauth-client-builder

Here is the template for the Android client:
https://github.com/FusionAuth/fusionauth-client-builder/blob/master/src/main/client/android.client.ftl

When you run the build com

[2019-05-02 15:48] robotdan commented on #155
Thanks for the request @joaonice this is on the roadmap for sure. Could you use the Password grant in the same fashion since each client credential pair would belongs to a user?

So they would each just have an email and password, or a username and password instead of a client id and client secret?

Or do you have use cases where the client credential pair does not belong to a user and instead to

[2019-05-02 15:59] joaonice commented on #155
Hi @robotdan, thank you for the quick response.

Exactly, I have some use cases where the client credential pair does not belong to a user.

I'll keep watching the future versions!

Thanks!

[2019-05-02 16:50] robotdan commented on #153
Available in 1.6.1

[2019-05-02 16:50] #153 closed

[2019-05-02 17:53] robotdan commented on #155
Great, thanks for the feedback. This will likely make it into the upcoming release or two. We have been brainstorming on this and other features to build to better support IoT use cases.

So feel free to open features, or provide other feedback if you identify other features that would make your life easier - especially in context of IoT.

Thanks!

[2019-05-07 15:48] robotdan commented on #61
@jakobrosenberg and @colundrum were you able to get this to work with Hasura using the Lambda?

[2019-05-07 22:55] robotdan commented on #148
I think you're asking to prune the JSON response to only return the `id` and `name` fields (for example)?

This is not possible currently. Do you ask due to performance concerns with the size of the JSON response body? Or do you have another use case in mind?

[2019-05-07 23:27] fogelfish commented on #148
You're right.  I'm new to FusionAuth and Elasticsearch and simply wanted to know if streamlining the JSON response with Elasticsearch filters would be possible.  Thank you.

[2019-05-08 01:30] Nosherwan opened #157 "Cannot find "allowTokenRefresh" option in application settings"
## Cannot find "allowTokenRefresh" option in application settings

### Description
I am trying to use the login api provided by fusionauth server to login users for a particular application. (/api/login)
Doing so responds back with a 'token' which I believe is `access_token(jwt)` that can be returned to the user, in addition to returning other user info.
However "refresh_token" is not being sent b

[2019-05-08 01:55] robotdan commented on #157
This is configured in the Application configuration.

See Applications --> Security Tab.

There you will find a toggle that says Generate refresh tokens.

Let me know know if you don't see it.

[2019-05-08 02:29] Nosherwan opened #158 "Resource owner password credentials grant failing"
## Resource owner password credentials grant failing

### Description
I am trying to get tokens on behalf of a user by using `/oauth2/token` endpoint. However I receive different errors based on the following code in my web server app:

[code]

I suspect there is some requirement for the call that I have missed.

[2019-05-08 02:49] robotdan commented on #158
Can you provide the error you're seeing? Also, in your example code, assuming you're using the actual client Id and client secret in the authorization header and the request body?

[2019-05-08 03:14] #151 closed

[2019-05-08 03:15] #150 closed

[2019-05-08 03:29] Nosherwan commented on #157
Thanks @robotdan however those two options are already on as you can see from my screenshot:
<img width="314" alt="Screen Shot 2019-05-08 at 1 28 29 pm" src="https://user-images.githubusercontent.com/138489/57347325-40a2fd00-7195-11e9-8f03-3888ebe3bf84.png">

[2019-05-08 03:35] Nosherwan commented on #158
Yes all of the above are being sent as you have suggested already. I just replaced the actual ids in the code above.
the error that I get is:
`data:
 { error: 'invalid_request',
error_description: 'The request is missing a required parameter: grant_type',
error_reason: 'missing_grant_type' } } }`

[2019-05-08 03:40] robotdan commented on #157
Great, ok, so you have it configured correctly.

In order to receive a refresh token, you'll need to be logging into an application, so be sure you're passing an `applicationId` in the request body.

For example, where `f5cd2ca4-d9d2-4006-9c80-54b13ed34b25` is your Application Id:

[code]

https://fusionauth.io/docs/v1/tech/apis/login#authenticate-a-user

[2019-05-08 03:54] Nosherwan commented on #157
All right thanks this is working now.

[2019-05-08 03:54] robotdan commented on #158
Can you confirm the correct `Content-Type` header is set correctly? The request body looks correct otherwise, but I am not familiar with axios.

[2019-05-08 04:06] Nosherwan commented on #158
Yes I have specifically set the content-type in the header has you requested, still got the same error.

[2019-05-08 04:34] robotdan commented on #158
There must be something strange about how axios is encoding the request body.

Your issue looks to be similar to this one.
https://medium.com/@siwanyt/axios-x-www-form-urlencoded-issue-55de9564f8c0

[2019-05-08 05:08] Nosherwan commented on #158
Thanks @robotdan yes that was the issue I had to encode the data. I am however not getting refresh_token, only access_token.

[2019-05-08 05:13] robotdan commented on #158
In order to receive a refresh token, you'll need to add the `offline_access` scope parameter to the request.

https://fusionauth.io/docs/v1/tech/oauth/endpoints#resource-owner-password-credentials-grant-request.

[2019-05-08 05:25] #157 closed

[2019-05-08 05:26] Nosherwan commented on #158
Thanks @robotdan that solves it 👍🏼

[2019-05-08 05:30] robotdan commented on #111
Closing, not much we can do when the host VM runs out of memory. If you think you're running into a FusionAuth issue let us know! Thanks.

[2019-05-08 05:30] #111 closed

[2019-05-08 05:32] #112 closed

[2019-05-08 05:34] robotdan commented on #86
I think this is coded, waiting release and testing. It is currently on a branch, but we'll be separating it out into a separate project.

https://github.com/FusionAuth/fusionauth-csharp-client/tree/ClientLibsWithDomain

@tyduptyler13 can you update this issue once we've published the .NET core version in a new repo?

[2019-05-08 15:53] #158 closed

[2019-05-08 16:22] bertiehub opened #159 "Add support for response_mode=form_post during Implicit grant"
authorize responce_type=id_token&response_mode=form_post returns a query

Version 1.5.0 did not return 'id_token', but 'code'. That was not a problem.
Version 1.6.1 returns 'id_token', but uses redirect (response_mode=query). Maybe the next version could use 'form_post' instead.

[2019-05-08 17:37] robotdan commented on #159
Hi  @bertiehub , can you please expand upon the issue?

We do not currently support the `response_mode` parameter, and therefore do not support the `form_post` for any grant type. I do not believe there was any change in this behavior between `1.5.0` and `1.6.1`.

Support for implicit grant was new in `1.5.0`, so when requesting the Implicit Grant by providing a `response_type` of `id_token`, we w

[2019-05-09 07:04] bertiehub commented on #159
yes, it is better to use "code". No problem.
But the authorize response is different in 1.6.1. 1.5.0 returns code, 1.6.1 returns id_token (if id_token was requested).
The client code (AspNetCore.Authentication … yes, it is another story) could not handle query/get response having id_token ( I would have implemented it).

This shows the difference:
1)
FusionAuth version 1.6.1
======================

[2019-05-09 14:33] robotdan commented on #159
Thanks for that additional info - that is helpful. Do you have self service registration enabled?

We fixed a bug that was in 1.50 where we returned a `query` response instead of the `fragment` for the implicit grant when self service registration was also enabled.

We should have never been returning a `query` response to the implicit grant, this was a bug and outside of the OAuth2 specification.

[2019-05-09 16:09] bertiehub commented on #159
I have self service registration ON.
If the client asked "id_token", 1.5.0 returned code after user creation, and also, if the user already exists. (this was handled ok by the client)
1.6.1 returned 'code' after user creation, but id_token if the existing user was just logging in.
(now I use 'code'. That is fine. Maybe an idea of getting id_token in form_post comes from an analog to SAML post)

[2019-05-09 23:36] netadvanced opened #160 "Missing JWTConfiguration.js"
## Missing JWTConfiguration.js

### Description
There is a 404 error for /js/admin/JWTConfiguration.js when loading the home page and others.
http://fqdn:9011/js/admin/JWTConfiguration.js?version=1.6.1
The same error seems to exist in 1.6.0, haven't tried others

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to the homepage and any subsequent pages
2. You'll find the 404 error on t

[2019-05-09 23:47] robotdan commented on #160
Thanks @netadvanced for reporting this issue! This is a known issue that has been resolved and will be fixed in the upcoming release.

There is not adverse side affects of this error as far as I am aware.

[2019-05-09 23:48] #160 closed

[2019-05-10 10:58] stevenrombauts commented on #153
@robotdan Thanks, I've upgraded and tested this again and the `ext_expires_in` error is gone. However, the `read timed out` one is still present. The error shown on the login UI is also still the same.

Here's a recent log excerpt: [fusionauth-app.log](https://github.com/FusionAuth/fusionauth-issues/files/3166142/fusionauth-app.log)

Want me to create a new ticket for this?

[2019-05-14 06:34] blanchonvincent opened #161 "What is the difference between "monthly" daily active user and the "monthly active user""
Here two graphs:

- from "daily active user" with "monthly" as dimension:
<img width="1018" alt="Screen Shot 2019-05-14 at 10 33 24 AM" src="https://user-images.githubusercontent.com/1580512/57675725-d0342a00-7633-11e9-8ab9-6473ec708b7f.png">

- from "monthly active user"
<img width="933" alt="Screen Shot 2019-05-14 at 10 33 32 AM" src="https://user-images.githubusercontent.com/1580512/57675738-da

[2019-05-14 14:12] voidmain commented on #161
Hi @blanchonvincent. The difference is how the number of logins are counted. Let's say that you have a user named John. If John logs in 4 times on Monday May 13th, he will be counted as 1 Daily Active User for Monday and 1 Monthly Active User for May. If John then logs in 2 times on Tuesday, he will be counted as 1 Daily Active User for Tuesday and 0 Monthly Active User for May. This is because he

[2019-05-14 14:12] #161 closed

[2019-05-14 15:05] robotdan commented on #153
It does seem to be a different issue. But we can work it here if you'd like.

For whatever reason we get a socket timeout from the Microsoft endpoint. `https://login.microsoftonline.com/common/oauth2/v2.0/token`

[code]

Can you show me each endpoint you have configured in the OpenID Config for the authorize, token and userinfo fields? Or are you using the auto discovery with the issuer field?

On

[2019-05-14 15:10] robotdan commented on #146
Hi @blanchonvincent sorry for the delay, this one fell under the radar.

When the action is taken on a user, an Application can be specified with the exception of an action that restricts login. For example, in the attached screenshot, I am taking an action on a user, and selecting just one application.

![image](https://user-images.githubusercontent.com/1148709/57709267-efc55580-7627-11e9-81bc-45

[2019-05-14 15:16] blanchonvincent commented on #146
`Or are you asking to create the action with a pre-determined, one or more applications that the action can ever be taken on?`

yes exactly.

Let's say I have three app, X, Y and Z.
When I create the action "Mute", I will say (during the creation) that this action can be taken on user that have subscribed the app X or Z.

So if I go to the profile of the user A that subscribe app X, Y, I can use t

[2019-05-14 15:26] robotdan commented on #146
Ok, thanks @blanchonvincent for that additional context, I understand the feature request.

[2019-05-15 15:23] stevenrombauts commented on #153
Thanks @robotdan for looking into this further.

I tried replacing `common` with our tenant name, and that no longer triggers the `read timed out` error. However, the following error is now shown:

[code]

I've extended the `scope` values to read `openid email profile`, which should return all the required information.

I am also using the auto-discovery feature. I have now also tried configuring

[2019-05-15 15:51] robotdan commented on #153
Great, glad that helped. I have no idea why the other endpoint would not work. But if we are getting a socket timeout, they must not be responding to our connection request for some reason.

FusionAuth will require an email address claim to be returned so we can complete the reconcile process.

Depending upon your configuration, they may not be sending back the email address, or not sending it bac

[2019-05-15 16:32] robotdan opened #162 "Feature: Integration with Gatsby.js"
## Authentication Integration with Gatsby

### Problem
I use FusionAuth and I want to authenticate my Gatsby site

### Solution
Support authentication to Gatsby either with OIDC or using their suggested authentication mechanism.

### Alternatives/workarounds
If there is an OIDC plugin out there somewhere, that will likely work, or you could use `passport.js` with an OpenID Connect strategy.

https

[2019-05-16 19:08] marcpearson commented on #15
Any update about this feature ?

[2019-05-17 00:08] nraibaud commented on #61
Hi,
I called FusionAuth api/login, the token checked from jwt.io does not contains :

[code]

The lambda is not called.
But if i use FUSION AUTH by a third party using OAUTH2, the lambda is called.

1) Is the lambda working for API LOGIN?
2) Is there another issue like the jwt object modified from the lambda is the one that is a returned to create the JWT and not a cloned one.

[2019-05-17 00:16] robotdan commented on #61
How are you calling the Login API? If you omit the `applicationId` parameter, it will not execute the Lambda because the Lambda is application specific.

https://fusionauth.io/docs/v1/tech/apis/login

[code]

If you are passing an `applicationId` on the Login API, the Lambda should be executed. Also ensure the Lambda is configured the application in question. See the `JWT` tab in the application c

[2019-05-17 01:31] nraibaud commented on #61
Hi @robotdan ,
I used the REST API

1) the applicationId is correctly passed
2) the applicationId is the good one.
3) the applicationId and lambda is correctly assigned in fusion auth
4) Event log show datas! when i pressed reset, it was not there... COOL

But hazura say that the bearer does not contains claims informations.

[2019-05-17 01:41] robotdan commented on #61
To clarify, was there an exception in the event log?

Can you attach a screenshot of your application JWT configuration screen, and the lambda function you've defined?

[2019-05-17 01:59] nraibaud commented on #61
@robotdan

![image](https://user-images.githubusercontent.com/2615311/57898153-2aadd000-7858-11e9-9772-2aedb08255b0.png)
![image](https://user-images.githubusercontent.com/2615311/57898158-313c4780-7858-11e9-8f6a-9f9ef98fd1e2.png)

[2019-05-17 02:03] robotdan commented on #61
Can you send the actual Lambda function you coded, I'll try to recreate.

[2019-05-17 02:04] nraibaud commented on #61
`// Using the user and registration parameters add additional values to the jwt object.
function populate(jwt, user, registration) {
  //  When writing a lambda we've added a few helpers to make life easier.
  //  console.info('Hello World');         # This will create an EventLog of type Information
  //  console.error('Not good.');          # This will create an EventLog of type Error
  //  cons

[2019-05-17 02:06] nraibaud commented on #61
@robotdan just to precise, on my jwt log, i can see jwt["https://hasura.io/jwt/claims"]

[2019-05-17 02:11] robotdan commented on #61
Ok, thanks. I'll see if I can recreate.

[2019-05-17 04:41] robotdan commented on #61
So I haven't been able to recreate yet.

Here is my Lambda:

[code]

These `console.log` statements will produce an event log which contains the following output:

[code]

Then the following JWT is produced by calling the Login API:

[code]

This JWT decoded contains the following JSON body

[code]

![image](https://user-images.githubusercontent.com/1148709/57903539-b2c9b080-782b-11e9-9678-b6c1cc1

[2019-05-17 04:54] nraibaud commented on #61
@robotdan oh.. it works!
Many thanks...
But the lambda should be applied to ID for JWT no?

[2019-05-17 04:58] robotdan commented on #15
Hi @marcpearson, no update to share yet.

We are currently swamped trying to keep up with our existing feature pipeline and pro-serve requests. If we can get enough interest in the feature, it is possible we'd get to it this summer.

If you're interested in us prioritizing this feature to build it out for you, you can use the contact form on https://fusionauth.io and we can put together an estimat

[2019-05-17 05:02] robotdan commented on #61
The Id Token is part of the OpenID Connect spec, so it will only be returned by an OAuth2 grant when the `openid` scope is requested.

The Login API is separate from the OAuth2 grants, this API only returns an access token (JWT).

So, you can certainly apply the lambda to either the id token or access token, but you'll only receive an access token on the Login API. If you were to use the OAuth2 Pa

[2019-05-17 14:50] stevenrombauts commented on #153
@robotdan Thanks again for your help! It works fine if I use the v1.0 of the API, then email is included and log in works.

 v2 doesn't include it all and so far I have not been able to figure it out yet. But it's definitely related to way the Microsoft account and Azure AD is configured, not FusionAuth.

Thanks again!

[2019-05-17 15:32] robotdan commented on #153
Thanks for the update @stevenrombauts, we'll try to do some additional testing with v2 to see if we can do anything to be more compatible, or build out the documentation on how it needs to be configured to work with FusionAuth.

We are in the middle of a feature release, but once that is out, we'll be circling back to documentation. I hope to get several common OpenID Connect providers documented

[2019-05-18 11:26] unkis opened #163 "No "user.update" Webhook after email verification."
## No "user.update" Webhook after email verification.

### Description
Hello no "user.update" Webhook after email verification with setup password.

if you create a user via API and go to email and click on the setup password link and after up you pass

### Steps to reproduce
Steps to reproduce the behavior:
0. setup "user.update" Webhook
1. create a user via API without password but with email ve

[2019-05-19 16:44] ghost opened #164 "FIDO U2F for multi factor auth"
## FIDO U2F for multi factor auth

### Problem
Permit usage of security key (USB stick) like Google, OVH and others permit for multi factor authentication

### Solution
Implement U2F in FusionAuth

### Alternatives/workarounds
None, because OTP will be required to access account when USB doesn't work or when using mobile

### Additional context
It's also to have the possibility to use FusionAuth f

[2019-05-20 10:59] petechungtuyco opened #165 "Adding mobilePhone in User Search"
## Adding mobilePhone in User Search

### Description
In my use case, I need to check whether the mobile number has been used by another user. But when I try to search in the user using `mobilePhone:<number>` it returns 0 user. Is there any way to add the mobilePhone in the search index of Fusion Auth.

Thanks in advance!

[2019-05-20 15:08] robotdan commented on #165
Hi @petechungtuyco thanks for making this request.

Yes, this is something that should be in the search index, we'll get this into the upcoming release.

[2019-05-20 15:52] robotdan commented on #164
Related to https://github.com/FusionAuth/fusionauth-issues/issues/77

[2019-05-20 15:54] robotdan commented on #164
Thanks @colundrum for opening this request! This is definitely on the roadmap, we hope to get support for FIDO U2F out this summer.

[2019-05-20 15:57] robotdan commented on #163
Hi @unkis thanks for reporting this issue. You're correct, currently the `user.update` event is not sent when the user's email address is marked as verified.

I'll review with the team to see if we want to fire the full update event, or add a new event type as you suggested.

Thanks.

[2019-05-21 09:41] tristanbabasa opened #166 "Webhook custom error response"
## Webhook custom error response

### Description
Hello Team.

We are implementing extended validations on the user.create event via webhook.
But unfortunately we are only receiving this type of response when sending errors on webhook.

`{
    "generalErrors": [
        {
            "code": "[WebhookTransactionException]",
            "message": "One or more webhooks returned an invalid response

[2019-05-21 14:09] robotdan commented on #166
Thanks for taking the time to open this issue @tristanbabasa .

Do you have more than one webhook configured to receive the event?

One option would be to create an event log which is viewable from the UI and retrievable from an API. We may also be able to enhance this error to contain additional information.

I'll look into what the options could be to make this error more helpful.

[2019-05-21 19:14] Lg0enga opened #167 "Select multiple tenants on application"
### Problem
For my architecture I have multiple tenants for one application. I would like to know if it is possible with FusionAuth that there can be more tenants on one application in the future.

### Solution
I would like to select multiple tenants when creating an application. This allows me to save a connection string to the tenant and use the same application with multiple tenants with other

[2019-05-21 19:24] robotdan commented on #167
Hi @Lg0enga thanks for taking the time to open this issue.

An application can only live in one tenant by design, there are no plans to change this architecture. If you can explain your use case a bit further, I may be able to suggest an alternative approach.

[2019-05-21 19:43] Lg0enga commented on #167
Thanks @robotdan

I have an application that multiple companies can log in to. The companies are the tenants.
One tenant (company) has its own database and its own users, but use the same application.

So all tenants (companies) use the same application with their own database and own users.

My idea was to use a tenant to build a connection string for the logged-in user in the application used by

[2019-05-21 20:04] robotdan commented on #167
You'll likely just want to create an application per tenant. In this case each application will represent the same application on your end.

A common way this is done is by modifying the sub-domain. For example, Zendesk provides each client a different URL so that they know who is logging into their website. Zendesk is one application, but each of their clients is a "tenant" in that I have my own

[2019-05-22 06:32] tristanbabasa commented on #166
@robotdan Currently we only have one webhook to have a custom check on some parameters passing through the event. So we need a way to pass some parameters on the error response to be handle by the UI.

I'll look into event logs as an interim solution.

Thanks.

[2019-05-22 18:13] robotdan commented on #166
In case I confused the issue, this is not available yet. This is something we could add on our end. One option you have now is to use the test feature.

If you navigate to your Webhook configuration, you'll see a purple icon in the table of webhooks. If you click on that you can build different events to send to your webhook to ensure it responds properly.

<img width="628" alt="Screen Shot 2019-0

[2019-05-22 23:21] AlvMF1 opened #168 "Is there a way to get the JWT exp in the response object?"
## JWT exp in the response object

### Description
I'm currently login in users using the `/api/login` endpoint. In my app, every request needs to check if the JWT is still valid (not expired).
I know I could decode the JWT to check the exp date. But I was wondering if there's a way to get that info in the first `/api/login` request.
Thanks!

[2019-05-22 23:30] robotdan commented on #168
I think what you're asking is if the Login API response could return a human readable expiration of the token? This isn't currently available.

Since you're using the Login API, the OAuth2 equivalent would be the Password grant.
https://fusionauth.io/docs/v1/tech/oauth/endpoints#resource-owner-password-credentials-grant-request

This response will return an expiration.

[code]

The `expires_in` va

[2019-05-23 10:05] lamuertepeluda commented on #133
Hi, first of all thank you for your hard work!

I'd also like to have this kind of mechanism implemented for managing browser and non-browser  authentication and knowing which user is consuming an application/service (and limiting and tracking and so on).

I try to briefly descrive a use case here:

For instance imagine I have a service that makes some useful computation and I want (_all_ or _some

[2019-05-23 12:58] trollr opened #169 "Application webhooks not firing"
Application webhooks not firing

### Description
If you create a webhook `user.create` for all applications an event will be sent. However if you select only one application nothing happend

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to 'Settings->Webhook'
2. Create a webhook for user.created event
3. Goto Settings->webhooks->applications and select only one application
4. Goto

[2019-05-23 13:03] trollr opened #170 "Feature: Silent install and configuration using an answer file"
## Silent Install & Configuration

### Problem
Code driven infrastructure needs the possibility to import and configure fusionauth on startup without any pain eg. first time configuration (admin user) via ui :(

### Solution
Huge JSON File with all configurations (initial user, application, webhooks etc). Parse the configuration file and use the api methods to push it

- Initial User(s) and roles

[2019-05-23 14:30] robotdan commented on #170
Thanks for taking the time to open this feature @trollr. This is a great idea and we've been kicking around an idea similar to this one for a while - it is definitely on the road map.

[2019-05-23 14:54] robotdan commented on #169
Hi @trollr thanks for opening this issue.

In step 5 of your reproduce, you register a new user.  If you're only creating a new registration for an existing user you will not see the `user.create` event be fired, but you should see the `user.registration.create` event. This event was added in version `1.6.0`.

Let me know if I've misunderstood your recreate steps.

[2019-05-24 00:26] arkrozycki opened #171 "Single Sign-On (SSO) Cross Domain Support"
## Does FusionAuth support cross domain single-sign on?

### Description
The features list on fustionauth.io mentions SSO support. But I'm not sure to what extent. Looking through the documentation I'm unable to find any information related to SSO. In my use case I'm attempting to evaluate the feasibility of using FusionAuth to support cross domain SSO.

[2019-05-24 01:07] robotdan commented on #171
SSO can be achieved in a few different ways.

The most common way will be to utilize the Authorization Code grant.
https://fusionauth.io/docs/v1/tech/oauth/overview#example-authorization-code-grant

In this workflow, once a user is logged into FusionAuth a session is created, and the next time you try to login using a separate application that also uses the FusionAuth login, the user will be redir

[2019-05-24 09:03] tristanbabasa commented on #166
@robotdan

Understood, Currently creating my own event logs from my webhook retrievable by my own custom registration page as an interim.

[2019-05-24 21:25] arkrozycki commented on #171
Let me add some more color to the initial request. I should have added _auto-login_ requirement. We have two scenarios for auto-login.

Consider we have the following resources:

_auth.domain.com_ (fusionauth)
_a.domain.com_
_b.domain.com_
_another-domain.com_

A. Sub-domain auto-SSO
Here the _auth.domain.com_ drops an httponly cookie to _.domain.com_ which allows the cookie to be shared between s

[2019-05-24 22:15] voidmain commented on #171
Hi @arkrozycki. I'm not completely certain I understand the use case. Let me repeat back what I'm thinking and you can tell me if that is correct. I'm going to use terms like User, Browser and Server.

Also, it might be helpful for you to review our Authentication Workflows and let me know which of them looks the closest to your needs. Those are located at https://fusionauth.io/articles/logins/typ

[2019-05-24 23:23] arkrozycki commented on #171
Do you mean, FusionAuth which resides on `auth.domain.com` will not drop a cookie to `domain.com`?

As far as I know its impossible to have `cross-domain` cookies for security reasons, however, setting a cookie such as `Set-Cookie: name=value; domain=domain.com` will be shared across all subdomains for that domain. This would allow `a.domain.com` and `b.domain.com` to have access to the same cooki

[2019-05-25 12:01] Kovah opened #172 "FusionAuth Docker container not working"
## Fusionauth Docker container not running

### Description
I tried to install FusionAuth using Docker, following the steps provided in the [documentation](https://fusionauth.io/docs/v1/tech/installation-guide/docker). The problem is that the fusionauth container is not running at all.

The following errors pop up shortly after the containers are started:

**Database issue**
[code]

**Logging issu

[2019-05-25 15:53] nraibaud commented on #38
Hi,
We use the /api/passwordless/send API.
But it returns 403...
In fusionauth administration panel, i cannot see the field for activate password less,
but we have
<img width="917" alt="Capture d’écran 2019-05-25 à 17 52 26" src="https://user-images.githubusercontent.com/2615311/58371876-eedccf80-7f15-11e9-9529-2371ea100434.png">

https://fusionauth.io/blog/2019/03/28/fusionauth-passwordless

Wh

[2019-05-25 16:00] voidmain commented on #172
Can you attach the FusionAuth log files to this issue? I'm guessing that Docker isn't performing a silent mode setup properly. Since that creates the database and everything else that FusionAuth needs, if it fails then FusionAuth won't start up.

We will also try to reproduce this locally using your versions of Ubuntu, Docker and Compose.

[2019-05-25 16:13] voidmain commented on #38
Hi @nraibaud.

The error you are seeing when you try to save the System Configuration with new email settings is actually Chrome trying to prevent cross-site scripting. The reason for this is that under the "UI" tab, you can configure the login theme templates that control the OAuth login pages for FusionAuth. These textareas contain HTML, CSS, and JavaScript. When Chrome sees a form submit with J

[2019-05-25 16:34] nraibaud commented on #38
@voidmain ok works only over Firefox.
Now i can see passwordless, and when activated, no more 403 :)
But the 200, response is empty :(

[2019-05-25 16:40] robotdan commented on #38
@nraibaud can you open a new issue if you need assistance with the password less API?

Thanks!

[2019-05-25 17:29] nraibaud commented on #38
Finally this is not an issue for the 200 response!

The documentation return nothing because it is only for sending email.
But in our case we would like to have this code back, not from email.
So could i create a improvement to have a new API?
Our use case is to redirect user from an email into some page of our app with auto login passing the code and other parameter in the Route app.

[2019-05-26 13:24] Kovah commented on #172
Where can I find them? Probably not accessible via Docker if the container restarts every few seconds. :/

[2019-05-27 03:33] AlvMF1 commented on #171
Hey Brian. I'm working with Ark on this project and I have a couple of questions:

1 - In you last post you mentioned AJAX reqs. In our stack, after the login we have to start the user session on server side. Would the solution you posted work in this case?
2 - We're currently using the `/api/login` endpoint to authenticate users. Are you also suggesting we switch to `/oauth2` instead?

Thanks!

[2019-05-27 08:23] trollr commented on #169
Hi @robotdan,

I registered a new (not known) user with the registration form of the created application (company). Tried `user.registration.create` as well but nothing happend :(

Webhook config:

![Bildschirmfoto 2019-05-27 um 10 19 21](https://user-images.githubusercontent.com/2591138/58406062-198b6d00-8069-11e9-8862-8168e6b0b592.jpg)

Application config:

![Bildschirmfoto 2019-05-27 um 10 19 5

[2019-05-27 19:30] robotdan commented on #169
Can you also ensure the events are enabled globally?

See `Settings --> System --> Webhooks`

![image](https://user-images.githubusercontent.com/1148709/58436607-7bf16700-8083-11e9-9d27-b49d61efe995.png)

[2019-05-27 19:36] robotdan commented on #172
[code]

If you start up in silent mode you'll need to ensure the search engine is available. Is Elasticsearch running in another container or is it running as an external service?

[2019-05-28 07:23] trollr commented on #169
Yes the events are enabled globally

![Bildschirmfoto 2019-05-28 um 09 20 41](https://user-images.githubusercontent.com/2591138/58458605-ee1c8700-8129-11e9-8506-5bf6708778a8.jpg)

Should I see something in the event log or can I increase the log level to get some more informations?

[2019-05-28 08:11] Kovah commented on #172
Elasticsearch is already provided with the docker-compose file from the official repo so I used that. I did not change anything in the file. Probably a configuration issue?
The only thing that comes from the elasticsearch container is this:
[code]

I tried to start up the app again, the whole log can be found [here](https://pastebin.com/NVBAc81Y).

[2019-05-28 14:37] voidmain commented on #38
@nraibaud you can edit the email template that is used by FusionAuth for this login workflow. It allows you to customize the content, URL and look-and-feel. Would that cover your needs?

[2019-05-28 15:02] robotdan commented on #169
With the transaction setting you have, FusionAuth won't fail if the webhook isn't working. For a test, can you change the transaction setting to require each webhook to succeed and see if you get a different status code back on the API request? If we fail based upon the transaction setting, you should get a `504`.

[2019-05-29 02:32] voidmain commented on #171
If you are using the `/api/login` API, then you won't be creating a session inside FusionAuth. The only way to handle your use case with the `/api/login` API is via refresh tokens. That workflow is here:

https://fusionauth.io/articles/logins/spa/native-login-form-to-fusionauth-jwts-refresh-tokens-cookies

You can also use this workflow to pass the authentication requests through your backend:

ht

[2019-05-29 07:43] blanchonvincent opened #173 ""Days Since Last Login" stat"
It could be cool to have a new stats in our report (this stat is available in google analytics):

![image (1)](https://user-images.githubusercontent.com/1580512/58538686-b8010500-8206-11e9-840e-01f43de74d77.png)

Right now we only know how many user we have per day/month
But it could be cool to have the pattern of their usage and how often they come back in the app

[2019-05-29 07:59] trollr commented on #169
Ok, I'll use the applicationId workaround as long as this bug isn't fixed

[2019-05-29 14:38] voidmain commented on #169
Hi @trollr. One questions for you on this item:

We have been discussing removing the "Applications" tab on the Webhook configuration pages. This configuration seems to cause quite a bit of confusion and it doesn't make sense for all of the event types. Additionally, the events that are application specific will send the application id(s) in the JSON to the Webhook. This would allow you to handle

[2019-05-29 14:46] voidmain commented on #172
I looked through your logs. It looks like Elasticsearch is failing to start. Specifically, the `fusionauth_search_1` is existing with a status code of 137. I did a bit of searching and it could be that Elasticsearch is running out of memory and not able to start-up. Perhaps the host machine is out of RAM or the virtualization system you are using is not allocated enough memory for all of the piece

[2019-05-29 18:50] trollr commented on #169
I think it's a common feature to select events for a single application for multiple reasons especially to reduce the workload on my services. Your suggested solution will work, but it's more complicated for developers, because they need to inject the applicationId in their services (eg. staging, prod, dev, local etc).

I would suggest to split hooks into two scopes. The ones for global purposes w

[2019-05-29 18:51] Kovah commented on #172
Uhm okay. I thought that a VPS with 1GB would be enough to run the app, as I only have a dozen users using the service, not 500 or so.
Maybe a [hint about Elasticsearch's hardware requirements](https://www.elastic.co/guide/en/elasticsearch/guide/current/hardware.html) could be added to the docs. Or overall hardware requirements, at least I couldn't find some.

[2019-05-29 19:08] robotdan commented on #169
Thanks for that detail and feedback @trollr that is very helpful.

[2019-05-29 20:15] nraibaud commented on #38
@voidmain not really, we need to have several access from different emails that auto logged the user.
by the way for now we made a workaround using hash and uuid with guest access.

[2019-05-30 03:36] voidmain commented on #172
1 GB of RAM should be fine to run Elasticsearch. We run it with 256MB or so and it runs fine. My guess is that it is something else.

I did notice that your log file had two nodes in it. One was called `search_1` and the other was called `fusionauth_search_1`. Our stock configuration doesn't appear to have nodes with those names. Did you modify the stock compose file or are you using a different s

[2019-05-30 09:37] Kovah commented on #172
Nope. Just used the docker-compose.yml file from the repo on a plain VPS with nothing else than Docker installed. Started the containers with `docker-compose up`.

I now cloned the whole repo instead of copying from the docs and just changed the database password in the .env file. Additionally I added swap. **It is now running** but uses 400MB additional swap space. Overall resource usage is at ab

[2019-05-30 15:55] voidmain commented on #38
@nraibaud does that mean you need to have different email templates? Or different `from` email addresses? Or different URLs in the emails?

[2019-05-30 16:01] voidmain commented on #172
Interesting. I wonder if Elasticsearch requires more swap because it is using memory mapped files and those are translated to swap inside the Ubuntu Docker containers. I haven't had time yet to try this on a Ubuntu 18 instance, but I'd like to try and recreate it and figure out how to update the Compose to work out of the box. Or at least update the docs. :)

[2019-05-31 16:58] nraibaud commented on #38
@voidmain i am not using the fusion auth email system at all.
We just use a service that send a lot of mails after any actions.
And we just populate these mails with different urls...
So i would like to have a new fusion API to create and get magik link.

[2019-06-04 09:24] gorwell4891 opened #174 "Can a Webhook return JWT Token in the JSON Response Object?"
## Can Webhook return JWT Token in the JSON Response Object?

### After a successful login by a user that generates a user.login.success event that I trigger a webhook with, can the JSON Response Object include the JWT Token?

There are a lot of other information included, but can I custom include the JWT Token?

If not, then is there a way I can call by API to FusionAuth a request to get the JWT

[2019-06-04 20:40] colundrum commented on #38
Hello @voidmain ,
We use FusionAuth without email functionality because we have complex workflow and we just need to integrate the magic link in our workflow so the best will be to have the possibility to request the magic link through local network to FusionAuth and after to integrate it in our workflow.
We can use FusionAuth email templates because it's impossible to integrate it in actual workf

[2019-06-04 21:35] robotdan commented on #174
Hi @gorwell4891

We do not currently send the JWT in the login success event. If you can explain the end goal, perhaps I can recommend a better approach.

Are you just looking to add information to the JWT FusionAuth issues to the user during login?

[2019-06-04 22:20] gorwell4891 commented on #174
There are some use cases we're looking at accomplishing. I detail this current one we are working on.

We have a client application that when logging in to FusionAuth, gets a JWT token back during the login process. However, our server back end must also at the same time get this JWT token for use by several applications and must store the JWT token in another database. Thus, it would be useful fo

[2019-06-05 04:03] AlvMF1 commented on #171
Hey Brian, me again...

I'm implementing your recommended solution, but running into a CORS issue when I have to make an AJAX call from `another-domain.com` to `auth.domain.com`. Is there a config setting to allow that?

Thanks once more!

[2019-06-05 16:33] robotdan commented on #171
Hi @AlvMF1 can you show me the error you're seeing?

I am able to make a cross domain request to the Login API `/api/login` when I'm using the same HTTP scheme, in this case `https`.

We may still need some tweaks to our CORS configuration. If you want to test any changes yourself, you can modify the `cors-filter` configuration in the `web/WEB-INF/web.xml` file. (If you're familiar with servlet fi

[2019-06-05 16:38] robotdan commented on #174
Thanks @gorwell4891 for that detailed use case.

I'll have to think about this one further and review with the team to see if there would be any security risk of pushing this additional information out in a `user.login.success` event.

[2019-06-05 16:40] robotdan commented on #173
Thanks @blanchonvincent for this request.

Would you want to see this type of information on the Manage User page in FusionAuth for a single user, or just a report as you've shown?

[2019-06-05 17:21] voidmain commented on #173
I think this is across all users, correct?

[2019-06-05 18:21] AlvMF1 commented on #171
I apologize, I didn't mentioned: the endpoint is `/oauth2/authorize`.
But it might be my HTTP scheme. Lemme do some more investigation.

[2019-06-05 22:31] gorwell4891 commented on #174
@robotdan may I ask if it's a security reason why there is no regular API access to the JWT token of a user? My assumption is that this may be the case in the API design.

Even with administrator privilege only, does getting the JWT token via the API present a security risk?

We're considering another use case where we may implement FusionAuth entirely in the back-end. So it would not have any acc

[2019-06-05 22:48] robotdan commented on #174
If I understand the question, you're asking why we do not offer an API to retrieve a JWT issued to a user?

In FusionAuth, the JWT is a portable token, and not persisted. We issue a token as a result of an authentication event, which means it represents an authentication event.

We would have no way to send you a JWT that we have already issued, we don't have it. In this context, it wouldn't make

[2019-06-05 23:53] gorwell4891 commented on #174
Ok, that makes sense. Since the token is not persisted and issued only as an authentication event.

I see.

And since the JWT is digitally signed, we can trust the authenticity of the payload contained in the JWT. Changing the payload would invalidate the JWT. If we must have the entire JWT at our server-side, we must have a proxy server doing the initial authentication on behalf of the client app

[2019-06-06 01:23] robotdan commented on #174
Correct.

You're welcome.

[2019-06-06 04:31] gmpreussner commented on #88
I ran into the same problem using Apache as the reverse proxy, and I temporarily worked around it the same way @fabiosimeoni did. I think that adding an option to specify a public path, such as _http://example.com/mydir/_ would be great. So far, this has been the only gripe I have with FusionAuth. Everything else works amazing, and the setup was a breeze.

[2019-06-06 07:25] gmpreussner commented on #88
I almost have a reverse proxy configuration working that doesn't require any global routes. There are two problems remaining:

1. Some Ajax paths seem to be built in JavaScript, so they can't be reversed via mod_proxy_html, and I have to forward the route explicitly. This is probably not easily fixable in a reverse proxy without identifying the affected scripts and adding special replacement rules

[2019-06-06 07:58] gmpreussner commented on #88
I found https://github.com/FusionAuth/fusionauth-issues/issues/112 and added the following:

[code]

Unfortunately, it results in internal server errors when modifying FusionAuth resources.

I haven't tried to set the `Origin` header yet. Should that be the internal localhost URL?

[2019-06-06 10:36] davidb-e4s commented on #61
Thank you so much for rolling this feature out guys it's made my life a lot easier and reduced a bunch of complexity in our code. Simple to use and works perfectly. FA continues to impress!!

[2019-06-06 15:57] voidmain commented on #38
Thanks for the explanation. We will definitely look into adding that feature to the API so that you can integrate with external providers. I'll open a feature request for that now and if it gets upvoted, we can add it to an upcoming release.

[2019-06-06 15:59] voidmain opened #175 "Enhance passwordless login to support external email systems"
## Enhance passwordless login to support external email systems

### Problem
The current implementation of the passwordless login only supports FusionAuth sending the emails to the user. This does not work for applications that use external email systems.

### Solution
To fix this, the API needs to be capable of returning the OTP for passwordless login that can be sent in the email to the user. Ad

[2019-06-06 16:00] voidmain commented on #38
I created #175 to track this feature.

[2019-06-06 22:07] AlvMF1 commented on #171
<img width="510" alt="Screen Shot 2019-06-06 at 3 00 30 PM" src="https://user-images.githubusercontent.com/15204146/59069436-f2544d00-886b-11e9-87dd-cf8104142d4c.png">

Both `auth.bstock.io` and `almo.bstock.io` are docker containers running on my local...

[2019-06-07 13:42] ChakshuGautam commented on #30
I am using the following query `"queryString": "mobilePhone: some phone number"` but am unable to get any result. I am able to search using fullName, etc easily.

[2019-06-07 13:58] blanchonvincent commented on #173
@robotdan it was more as a report across all users yes (per application). Like this, our data team can now how our users are using our app if they come daily or more like every week, etc

[2019-06-07 14:09] robotdan commented on #30
Hi @ChakshuGautam the `mobilePhone` will indexed be available in the upcoming version.
See https://github.com/FusionAuth/fusionauth-issues/issues/165

[2019-06-07 14:18] ChakshuGautam commented on #30
Sorry for the duplicate comment. Really thankful for such an awesome product.

[2019-06-08 16:02] voidmain commented on #171
Sorry for the delay in responding.

Something definitely looks fishy. I tested an AJAX call from the console to a remote FusionAuth server and it worked fine. I also inspect the HTTP response headers that the remote FusionAuth server was sending back and they included `Access-Control-Allow-Origin: *`.

My AJAX code was really simple:

[code]

Can you share your JavaScript code so we can take a loo

[2019-06-08 18:12] AlvMF1 commented on #171
Tried your code with our URL: same thing. And you are right, we see the * in the config file...

This is our url, btw: `https://auth-eval.bstock.io/oauth2/authorize?redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fdist%2Falmo%2Fcustomer%2Faccount%2Fautologin%2F&scope=offline_access&response_type=code&client_id=b0afcda9-4798-4d88-8f1a-48d55a122494`

You think it's something else in our server config?

[2019-06-08 22:00] prabhakarreddy1234 opened #176 ""Managed Domains" entries are not being saved while creating a SAML Identity Provider"
"Managed Domains" entries are not being saved while creating a SAML Identity Provider

Steps to reproduce the behavior:
1. Go to Settings
2. Click on Identity Provider
3. Click on Add provider
4. Select SAML v2
5. Enter required fields and managed domains.
6. Click Save
7. Everything saves except Managed Domains

### Expected behavior
Managed Domains should also be saved along with other fields.

[2019-06-08 22:22] robotdan commented on #176
Hi @prabhakarreddy1234 thanks for letting us know.

I think I've recreated the issue, it looks like the domains are being saved, but not displayed properly. So if you edit the SAML IDP, you'll need to re-enter them.

I'll follow up once we have a fix, if it is easy to track down it should be available in the upcoming 1.7.0 release.

[2019-06-08 22:39] #176 closed

[2019-06-08 22:42] robotdan commented on #176
Fix will be available in `1.7.0`. For now the workaround is to add the domains you want and then if you have to edit the IDP configuration again, ensure you re-add them because they will not be displayed in the UI.

Thanks for finding this issue @prabhakarreddy1234 and taking the time to let us know.

[2019-06-09 20:36] prabhakarreddy1234 commented on #163
@robotdan  we have similar requirement to update `verified` status in our database through webhook. Also if webhook supports password change event that would be great.

[2019-06-09 20:40] robotdan commented on #163
Thanks for the feedback @prabhakarreddy1234, we'll review this request.

[2019-06-10 12:08] davidb-e4s opened #177 "Allow password reset with the userId"
## Allow password reset with the userId

### Problem
Currently we can only reset user passwords with either a passwordResetId or a LoginId which is username or email. I only pass userId between my services. We could add it as another param etc but I feel you should be able to reset password by unique userId

### Solution
Allow the reseting of passwords using userId, existing pass & new pass

### A

[2019-06-10 14:36] robotdan commented on #177
Thanks for the request @davidb-e4s.

I'm assuming you're referring to using the Change Password API with an API key

![image](https://user-images.githubusercontent.com/1148709/59202801-7b180500-8b5a-11e9-8d74-c67b977fea4e.png)
https://fusionauth.io/docs/v1/tech/apis/users#change-a-users-password

If so, this is something we could get into plan, it is an easy update.

Another option for you to woul

[2019-06-10 14:40] davidb-e4s commented on #177
Hi Dan,

Yes thats the one thanks.

I'm using the email as another parameter for now from our API gateway. Not a crucial feature but def a nice to have.

Thanks

David

[2019-06-10 16:42] voidmain commented on #171
I tried accessing your URL and it sends back a `403 Forbidden`. Probably a gateway or load-balancer config for that. I'm not sure where the problem could be, but if FusionAuth is returning the correct headers on the response, then it should just work. If you have a gateway or load-balancer in front of FusionAuth, just make sure that it isn't stripping off the headers.

Also, if you want to open up

[2019-06-10 16:52] prabhakarreddy1234 commented on #176
@robotdan I added a managed domain and saved. Expected screen with email entry field. But still taken to login page with SSO button in the bottom.  Looks like managed domain entries are not being considered when showing login page.

any ETA on `1.7.0` release with this fix ?

[2019-06-11 03:04] robotdan commented on #176
Hi @prabhakarreddy1234 - yes, you're correct. My workaround wasn't very good. :-)

1.7.0 should be out in the next day or two.

[2019-06-11 04:31] davidmw opened #178 "Filtering managed domains at login"
## Filtering managed domains at login

### Problem

Background:  https://github.com/FusionAuth/fusionauth-issues/issues/176#issuecomment-500492264

We are facing a use case that calls for creating many SAML Identity Providers for a single application. Each (or many) customers will have a managed domain configured with us.

When our list of registered Identity Providers exceeds a dozen or so it wil

[2019-06-11 07:02] Garogat commented on #126
I thought of something working like Auth0 Guardian https://auth0.com/multifactor-authentication. They are using an extra app for this. Wouldn't it be possible to use a webapp instead. You register your phone once, which would save a token to your localstorage. This lets your phone being signed in. Cookies could be copied, but why would that be a security issue. Maybe the token could be using webau

[2019-06-11 18:17] robotdan commented on #58
Thanks @davisusanibar for this example and feedback re: iOS. This is on the roadmap to fix. Can you give me a concrete example of the redirect URL you'd like to use?

Thanks!!

[2019-06-11 22:03] #58 closed

[2019-06-11 23:12] robotdan commented on #178
Thanks for the suggestion @davidmw  - this is a good idea. I'll have to take a look, but this sounds very doable in the near future.

[2019-06-11 23:31] AlvMF1 commented on #171
Hey Brian,

We were able to go around the CORS issue: we added `/oauth2/authorize` and `/oauth2/logout` to `cors-filter` in the `web/WEB-INF/web.xml` like Daniel mentioned.

However, now I always get the login form HTML in the response of the AJAX request, even when I'm logged in with FusionAuth. But if I open the URL in the browser, I'm redirected.

You can try [here](http://auth-eval.bstock.io:9

[2019-06-12 00:09] voidmain commented on #171
I finally had a bit of time to recreate the issue. AJAX by default does not send across Cookies during requests. You need to turn that on using this code:

[code]

This will tell the browser to send across the Cookie that FusionAuth uses to track sessions. Let me know if that works for you.

[2019-06-12 03:35] gmpreussner commented on #134
@robotdan Is this documented yet? I've tried to get it to work today with just a regular OpenID provider configured. It almost works all the way through, but fails in the end after GitHub redirects to FusionAuth, the latter of which shows a 404 not found.

How did you make this work with a lambda?

[2019-06-12 04:19] robotdan commented on #134
Hi @gmpreussner  - not documented yet... hopefully soon.

Here is my config (minus the client id and secret)

![image](https://user-images.githubusercontent.com/1148709/59323072-56c14300-8c96-11e9-8631-0d15b42faa5e.png)

You only need to use a lambda if you want to pull anything else out of the GitHub user than the email address.  https://developer.github.com/v3/users/

If you want help with that

[2019-06-12 04:51] gmpreussner commented on #134
@robotdan Thanks for the quick response! That is the same configuration I have. I'm actually getting a 404 in my application (Phabricator), not in FusionAuth - sorry for the confusion. Other OAuth2 providers I've tried work fine, but GitHub doesn't. I'll debug this some more. For now, let's assume that this is not a FusionAuth issue. I'll keep you posted.

[2019-06-12 05:07] robotdan commented on #134
Ok, sounds good. If you want a hand with any of it - feel free to join the FusionAuth Slack channel. (see link on https://fusionauth.io/ )

GitHub is a bit non-standard -so it could have something to do with how we build the user from the details returned by GitHub. If you can narrow it down to what is or isn't in the FusionAuth user that may be causing a problem in your application I can help you

[2019-06-12 13:58] robotdan opened #179 "Document Fast-Path Upgrade paths"
## Document Fast-Path Upgrade paths

There is an upgrade section in the doc, but if you used the fastpath - we should clarify or document if running the same fast-path command will upgrade correctly.

### Description
I think the RPM / Deb Fastpath will work correctly, the zip should also work as long we are not deleting the config directory.

Needs some testing and doc.

* [x] Upgrade via RPM usin

[2019-06-12 14:43] gmpreussner commented on #134
I resolved the issue on my end. As expected, it had nothing to do with FusionAuth.

My application had two problems: 1) it generated an incorrect callback URL, which caused the 404 in the application, 2) it requested user information by sending the auth token via an 'access_token' query parameter instead of an 'Authorization: Bearer xxxxx' HTTP parameter that FusionAuth expected. After fixing thes

[2019-06-12 17:55] voidmain commented on #178
One question on this, will you only have a single identity provider per domain? Or will you have multiple?

[2019-06-12 18:06] robotdan commented on #178
@davidmw to add to what @voidmain asked..  we aren't sure exactly what you're asking for, currently only a single IdP configuration can be assigned to a domain at a time.

If you can outline the workflow as such it will be helpful, for example:

Today:
1. Hit the FusionAuth login page
2. Type in `user@example.com` - where `example.com` is managed by `IdP A`.
3. FusionAuth forwards the user to `IdP

[2019-06-13 03:59] davidmw commented on #178
Yes the basic request is to support Enhancement option 1 (both scenarios).

First let me describe some edge cases:
1) in a school kids in grade 8+ are using Google sign on while younger kids are participating in a move to Microsoft
2) the domain could represent a larger organization and there are IdP configured at school or city level below that.
3) teaching staff may use different account types t

[2019-06-13 11:03] trollr commented on #170
@robotdan Is it predictable when this feature will be implemented? Or is there a possibility to contribute? It's difficult to me to accesses if it is possible via plugins

[2019-06-13 14:53] robotdan commented on #170
@trollr not really predictable.  We do offer professional services if you want us to write up a statement of work I could send that over. That would be one option to prioritize this effort.

In theory the importer plugin could work, that is not really a documented feature yet. When Stormpath went out of business a few years back we built an importer plugin to allow a Stormpath clients to point and

[2019-06-13 15:32] robotdan opened #180 "Feature: CORS Configuration in the UI / API"
## Expose a CORS configuration to the end user

### Problem
FusionAuth ships a CORS configuration, but there are many use cases and sometimes users bump into CORS issues that require support or modifications to our stock configuration.

### Solution
Expose a CORS configuration in the user interface to enable easy modification of our CORS configuration at runtime.

### Solution details

1. The user

[2019-06-13 15:33] robotdan commented on #180
@AlvMF1 feel free to add any comments or feedback on this proposed feature.

[2019-06-13 18:45] AlvMF1 commented on #171
That did the trick, thanks!
I'm testing (and running into some issues with redirects) and I'll let you guys know the results.
Cheers!

[2019-06-13 21:49] #165 closed

[2019-06-13 21:49] #149 closed

[2019-06-14 04:31] davidmw opened #181 "Trouble with SAML and OpenID logins"
## Trouble with SAML and OpenID logins

### Description
FusionAuth doesn't seem to be handling the response from the IdP.

### Steps to reproduce
We have multiple IdP configured. These appear on our FusionLogin screen and clicking one takes the user to the IdP. It authenticates and redirects back to FusionAuth with token.  FusionAuth doesn't seem to be handling that response. We've followed the do

[2019-06-14 08:52] prabhakarreddy1234 commented on #176
@robotdan Thanks. This is fixed in latest version.

[2019-06-14 08:58] prabhakarreddy1234 opened #182 "Can't see a use case for email entry page if managed domains are specified for an IdP"
If Managed domains are specified for an IdP (SAML or oAuth) then the user is being shown with email entry page. After entering the email user is being redirected to Idp Login page.

I see the email entry page here is redundant. UX would be great if user is automatically redirected to respective IdP login page if that IdP has any managed domains specified in fusionauth.

Possible Solution:
1. Redir

[2019-06-14 12:42] trollr commented on #170
You mean sql migration script? Would be nice if you could explain it a bit more. Otherwise you could tell me the location of the fusionauth sql migrations folder (cant find it). I could do a docker volume mount with customized (new) scripts

Edge question: Are there any considerations to make fusionauth open source? :)

[2019-06-14 13:21] robotdan commented on #181
We'll hopefully be adding a debug option for these IdP configurations to create events logs in the near future.

Currently any errors that occur during this step will be written to the FusionAuth log. If you have access to that you can attach the exception here.

`/usr/local/fusionauth/logs/fusionauth-app.log` if installed via RPM or Deb, or wherever you installed FusionAuth you'll find the `logs`

[2019-06-14 13:29] robotdan commented on #170
Not a migration script, we'll only execute those based upon the package version vs. the schema version.

But you could execute a SQL command as part of your deployment to insert an API key and the you could script these rest using the API.

For example

[code]

It is something we're always considering as it relates to how to make FusionAuth secure and flexible so that we can get into the hands of

[2019-06-14 13:35] robotdan commented on #182
Hi @prabhakarreddy1234,

The reason for this design is that until we know the user's email address we do not know if we need to collect the user's password or send them to another IdP.

If we did this, it would mean we would not allow users to login to FusionAuth, only through an external provider. At a minimum, an admin user will have to be able to login to FusionAuth.

The use case we usually se

[2019-06-14 14:57] robotdan commented on #88
As you mentioned in the latest comment, this is our CSRF protection - and it can be resolved by ensuring the proxy sets the `X-Forwarded-` headers.

When you were seeing the "You are not authorized" messages, did you see a warning on the dashboard about your configuration? If not, what version of FusionAuth are you running?

That isn't good.. can you share the exception you're seeing? There should

[2019-06-14 15:02] gmpreussner commented on #88
I'll check this weekend if I can still find it in the logs. I decided to move FusionAuth to a separate server earlier this week, which is probably much safer from a security standpoint anyway, so I won't be able to repro it anymore.

[2019-06-15 04:25] gmpreussner opened #183 "Exception when logging in 2FA user who is not yet associated with application"
## Exception when logging in 2FA user who is not yet associated with application

### Description
When trying to log into an application with a user who has 2FA enabled, but is not yet registered with the application, FusionAuth throws an exception and returns a HTTP 500 internal server error.

### Steps to reproduce
Steps to reproduce the behavior:
1. Create a user or use an existing one in Fusio

[2019-06-15 04:29] gmpreussner opened #184 "Cannot delete user with too many login attempts"
## Cannot delete user with too many login attempts

### Description
A user who had their account blocked due to too many login attempts cannot be deleted from FusionAuth. Even after removing the block-action, the user still cannot be deleted.

### Steps to reproduce
Steps to reproduce the behavior:
1. Log in a user with the incorrect password until the "too many incorrect logins" limit is reached

[2019-06-15 04:32] robotdan commented on #183
Thanks for the bug report @gmpreussner , we'll get this fixed in the next patch release.

[2019-06-15 04:34] robotdan commented on #184
Thanks for the bug report @gmpreussner - and the excellent details. We'll get this fixed in the upcoming patch release.

[2019-06-15 14:31] robotdan commented on #184
Code complete, fix is targeted for 1.8.0.

[2019-06-15 14:40] gmpreussner opened #185 "Add 'Email' and 'Username' to application's registration fields"
## Add 'Username' to registration fields

### Problem
I have some applications that require an email address for registration, others require a username. There is also one (Tuleap) that doesn't work without providing both email and username. Currently, FusionAuth requires only one or the other via the 'Login Type' setting.

### Solution
Add 'Email' and 'Username' to the 'Registration fields'. If e

[2019-06-17 06:20] davidmw commented on #181
This is an example entry from the log:

`Jun 14, 2019 9:08:12.364 AM WARN  org.primeframework.mvc.message.l10n.ResourceBundleMessageProvider - Message could not be found for the URI [/api/identity-provider/login] and key [[missing]SAMLResponse]
Jun 14, 2019 9:08:12.365 AM ERROR io.fusionauth.app.primeframework.error.ExceptionExceptionHandler - An unhandled exception was thrown
org.primeframework.m

[2019-06-17 12:22] priyolahiri commented on #170
Is it possible to create the first user after creation of the key with the SQL query? Or is it a pre-requisite to have the first user before the API key?

[2019-06-17 14:21] voidmain commented on #181
Hi @davidmw. This is an error with FusionAuth missing a localized message for an error it is encountering but that doesn't look to be the root cause of the SAML issue. The interesting part is that it looks like the external IdP is sending back an empty response. This is what the error `[missing]SAMLResponse` normally indicates. However, without the full logs, I can't determine where that error is

[2019-06-17 18:40] prabhakarreddy1234 commented on #181
@voidmain  I am working in the same team as the author. From the browser dev toolbar i see that there is a SAML Response posted to `/oauth2/callback` endpoint. But it's missing/not handled afterwards.
![saml-response](https://user-images.githubusercontent.com/1984707/59628064-a476f900-9137-11e9-8d2f-86fbc73475f8.png)

Attached logs:

[logs-from-fusionauth-in-fusionauth-fdb7976d6-g8rt4 (1).txt](htt

[2019-06-18 00:03] gmpreussner commented on #185
After playing around with lambdas and testing it with some of my friends, I think that the "username Derivation from first/last name" workaround is not going to work. The problem is that there is no mechanism to guarantee a unique username - if two users end up generating the same username (but using a different email address), FusionAuth will pass, but the target applications requiring unique use

[2019-06-18 13:01] emidiotorre opened #186 "ERROR 500 - Unhandled Exeption at DefaultSAMLv2Service.parseRequest when trying a SP initiated login"
## I am getting a 500 Error page when logging in from an auth0 service provider

Just to give a little bit of a context, i need my users to be able to move from app A (owned by me) to B (an external service) without any hassle, B is using SAML on auth0.com so we configured it. Now when from A i click on a link to B it prompts me a login page, and then redirects me to my fusionauth installation, wh

[2019-06-18 14:51] robotdan commented on #186
Hi @emidiotorre I can help you with this.

I don't know yet if this is a bug on our end or not, but the exception is being caused because FusionAuth is expecting a `NameIDPolicy` in the SAML request and it was not provided.

Taking a brief look at the Auth0 SAML docs... I see a few things regarding the name Id.

https://auth0.com/docs/protocols/saml/saml-configuration/saml-assertions

That default

[2019-06-18 14:56] robotdan commented on #185
This may be the same workaround you're describing, but did you try this?

This would not be using the first / last name, but instead always using the username field for either email or username.

Regarding the longer term fix here - I don't have an ETA, but we'll get this into the schedule assuming we do not uncover any technical reasons why this couldn't work.

[2019-06-18 15:02] robotdan commented on #170
There is not a pre-requisite, in theory you can create the API key first.  However, we do not expect this scenario, so there may be some side effects.

During startup, some final setup occurs - we determine if this is necessary based upon a user count of 0, so if you create the user first we will not perform this final setup.

You may be able to trigger this setup by making a `GET` request to `/se

[2019-06-18 15:19] gmpreussner commented on #185
Thanks @robotdan, I have not tried to use your suggested workaround. I think it's not workable in the general case, because the application may not allow non-alphanumeric characters in the user name. I know that some of my apps will not allow `@` in usernames, for example, although they will allow `.`

[2019-06-18 15:22] robotdan commented on #183
@gmpreussner are you on 1.6.1 or 1.7.1?

[2019-06-18 15:24] gmpreussner commented on #183
The exception happened 1.6.1. I am now on 1.7.1 and haven't tried to repro yet.

[2019-06-18 15:59] robotdan commented on #183
I think I've found the bug, looks like it was fixed in the latest version `1.7.1`. Let me know if you can still recreate.

[2019-06-18 16:02] #183 closed

[2019-06-18 16:30] tyduptyler13 opened #187 "ElasticSearch nested boolean search"
## ElasticSearch bested boolean searches

### Problem
It is not currently possible to differentiate between nested objects on the user when doing a search. For example: trying to find a user that is in application x and has role y. If the user belongs to application x but also application z and application z has role y, then the user gets returned which is not desired. The user should only be retu

[2019-06-18 16:41] robotdan commented on #187
This is a known issue. The current planned strategy is to modify the search index to be indexing the unique role Ids instead of , or in addition to the role names.

[2019-06-18 17:25] gmpreussner commented on #185
@robotdan I've thought about this some more more, and I think that this feature needs further consideration. Having the option to configure the username as a required field and giving the user the opportunity to specify one if the external IdP doesn't provide one seems useful.

However, it doesn't actually solve the underlying problem that I'm really trying to solve, which is Single Sign-On. OAuth

[2019-06-18 17:55] emidiotorre commented on #186
Thank you for the prompt response @robotdan !

I am trying to fix this with the help of the service provider,
I don't think i have any settings available to bypass this check, right?

Probably it is not a bug, but it would be nice to handle the exeption with a clear error message,
i saw other people opening issues for similar problems.

Again, thanks.

[2019-06-18 18:18] robotdan commented on #186
No way to bypass it on our end. Let us know what you find out, it is possible we need to be tolerant of this value missing in the request.

[2019-06-18 18:26] prabhakarreddy1234 commented on #181
@robotdan Any input on this issue or pointers on how to troubleshoot. Can't see much useful logs to make progress on it.

[2019-06-18 18:40] robotdan commented on #181
You could try adding the following like to `web/WEB-INF/messages/package.properties`.

`[missing]SAMLResponse=Missing response`

This should fix the exception so we can see the original cause. So if you can add that message, them recreate and attach the logs.

[2019-06-18 20:24] prabhakarreddy1234 commented on #181
I added the message as you said. Now i'm not seeing any error on fusionauth UI but also not seeing any logs. We hosted fusionauth on AKS.

I added a `SAML v2 reconcile Lambda` to print samlResponse on console. Still no trace of these logs in `event log` or `hosted fusionauth server`.

[2019-06-18 20:55] prabhakarreddy1234 commented on #163
@robotdan  Any ETA on this would be helpful in our planning. This is a bit of blocker for us in completing the user flow.

[2019-06-19 00:27] davidmw commented on #181
It might be more efficient to schedule a call and for us to provide SAML & OAuth (with login details) configurations for you to try from a local instance.  It is best to schedule something to fit @prabhakarreddy1234 availability (London) and I'll join from Sydney if possible.

[2019-06-19 06:31] davidmw opened #188 "Seeking OAuth Login flexibility"
## Seeking OAuth Login flexibility

### Problem
We believe we'd like to utilise the OAuth login UI generated by FusionAuth (including password reset, password change complete, etc) to avoid reinventing the wheel and to use the IdP integration that is already in place. The email templating system doesn't meet our needs so we are using SendGrid for related communications.

We have applications estab

[2019-06-19 15:28] robotdan commented on #188
We do have plans to update our theme capability to save, import, export, share etc - and then optionally assign a different theme per tenant.

Would this satisfy the requirement, or would you also need this to optionally be assigned per application?

No plans currently to replace our Freemarker templates with Vue or other JavaScript component. Can you expand on that idea and how it may enhance the

[2019-06-19 16:09] robotdan commented on #163
I can likely get it in the upcoming release, but no current ETA on that.

For anyone on this thread, do you have a preference for the `user.update` event, or a new event type of `user.email.verified`.

Leaning towards `user.email.verified` because it does not occur due to the Update User API, but because of a separate workflow.

[2019-06-19 16:10] prabhakarreddy1234 commented on #163
Thanks. I prefer `user.email.verified`

[2019-06-19 16:22] robotdan commented on #181
I won't be in the office until next week, we could try to set up a call then. If you want to jump on the Slack channel and DM me we may be able to try to recreate if you share some of your configuration details.

[2019-06-19 16:28] robotdan commented on #182
@prabhakarreddy1234 let me know if you have more comments on this, happy to discuss further if you have some ideas.

I'll plan to close out this issue if there are no further comments.

[2019-06-19 16:31] robotdan commented on #163
FYI, whatever we add here for a new event type, we'll likely mimic for the User Registration verification. This is a similar work flow to email verification.

For example, we'll likely then also add `user.registration.verified` for the Registration Verification event.

[2019-06-19 18:58] voidmain commented on #181
Hi everyone. Sorry everyone for the delay. I've been coding my face off, trying to get some things done before I head out for vacation. I can probably hop on a call this afternoon or tomorrow morning early to discuss this. You can send me your email here or fill out the contact form on the website.

Also, SAML parse errors will be logged to the Event Log in FusionAuth 1.6.0+. Therefore, if you do

[2019-06-19 19:02] voidmain commented on #181
Ignore most of my last comment. I think I found the error in the code that is causing this problem. I'm doing some investigation into how it got changed, but it looks like a naming issue. This fix should be simple and I can roll a release with the fix later today.

[2019-06-19 22:17] robotdan commented on #181
Fix is in 1.7.2 which is released.
https://fusionauth.io/docs/v1/tech/release-notes/

Let us know how it goes, this contains Brian's fix.

[2019-06-19 22:18] robotdan commented on #184
Fix is in 1.7.2 which is released.
https://fusionauth.io/docs/v1/tech/release-notes/

Re-open if you encounter any issues.

[2019-06-19 22:18] #184 closed

[2019-06-19 22:18] robotdan commented on #181
Was there still an OpenID Connect issue as well?

[2019-06-19 22:35] #181 closed

[2019-06-20 05:19] davidmw commented on #188
I’d probably use themes on per app basis (across tenants) but you may have more customers wanting it the other way.

I’m certainly not suggesting a FreeMarker replacement. Your planned enhancements plus a very flexible preview tool that shows rendered page (allowing us to exercise conditional logic on the templates) would be very helpful.

As for the Vue solution - this might be a npm Vue.js compo

[2019-06-20 08:57] prabhakarreddy1234 commented on #181
@robotdan  Thanks. Latest release fixed SAML issue. But still having trouble with Open Id Connect. Getting same error as earlier.

External Idp is returning `code` to fusionauth `/callback`.  Getting error while exchanging this `code` for `token`.

I see this in event log:

`Call to OpenIDConnect [https://edu.wonde.com/oauth/token] API failed. Status code [400]

Unable to parse OpenID Connect resp

[2019-06-20 13:37] voidmain commented on #188
The kicker with Vue (or any front-end framework) is that OAuth is a browser redirect based flow for the code and implicit grant types (password and client credential grants excluded). Therefore, the best integration is actually to navigate away from the Vue app, to FusionAuth and then back to the Vue app.

On the flip-side, you can use other flows for native UIs. We've built one of these out in An

[2019-06-20 14:27] robotdan commented on #186
@emidiotorre were you able to get this working with changes to the SAML SP? Let us know if we can be of assistance.

[2019-06-20 14:43] robotdan opened #189 "OpenID Connect fails when service provider does not support HTTP Basic Authorization"
## Unable to integrate with OpenID Connect IdP does not support HTTP Basic Auth

### Description
FusionAuth sends the client secret in the request body and in the HTTP Basic Authorization request header.

An IdP must support the HTTP Basic Authorization header for a secure request to the Token endpoint according to the OAuth2 specification.

If the IdP does not support this, FusionAuth fails to in

[2019-06-20 14:44] robotdan commented on #181
Moving the OpenID Connect issue that @prabhakarreddy1234 is encountering to a separate issue since this SAML issue has been resolved.

https://github.com/FusionAuth/fusionauth-issues/issues/189

[2019-06-20 18:51] emidiotorre commented on #186
No, it still doesnt work.
they say that i need to define this "claims" correctly:
"email" = "email"
"given_name" = "given_name"
"family_name" = "family_name"

as far as i know this values are already mapped correctly,
the information about the user are already encoded this way
when i check them on my application.

Do I have to change any settings like the issuer, the audience maybe??
Or could it b

[2019-06-20 20:46] AlvMF1 commented on #171
Hey, just letting you guys know this issue could be closed. We're all set! 😄

[2019-06-20 21:03] robotdan commented on #186
Thanks for the update @emidiotorre .

To clarify, are you configuring FusionAuth as a SAML Identity Provider, or the SAML v2 Service Provider? In other words, do you have FusionAuth users logging into a 3rd party SAML v2 IdP such as Auth0, or is your your third party IdP trying to log into FusionAuth using SAML v2?

My initial assumption was you're configuring FusionAuth as the service provider, b

[2019-06-20 22:01] robotdan commented on #171
Thanks for the update @AlvMF1 ! Glad to hear it. FYI, in case it will be of use to you - our next release will contain some additional CORS configuration through our UI.

[2019-06-20 22:01] #171 closed

[2019-06-21 01:33] emidiotorre commented on #186
I'm using Fusionauth as the IdP, so I tried using a lambda like the last one you provided me, but I'm still getting the same error..

[2019-06-21 01:36] robotdan commented on #186
Have you enabled debug on the SAML config? If so, there may be some event logs available.

System --> Event Log

Are there any errors in the log?

[2019-06-21 01:40] emidiotorre commented on #186
yes, debug is enabled, but no logs

[2019-06-21 02:03] robotdan commented on #186
Ok. SAML can be a pita and is very complex. This all makes it difficult to debug.

If you'd like to join the FusionAuth Slack channel and DM me to share some config perhaps I can recreate the issue to see if it is something we can do differently or if it is a configuration issue with the service provider.

[2019-06-21 07:31] emidiotorre commented on #186
Yes it would be nice, but I think I do need an invitation right?

[2019-06-21 10:41] prabhakarreddy1234 commented on #189
@robotdan  as per our external OpenIDConnect provider, code needs to be sent something like this :

[code]

[2019-06-21 12:55] robotdan commented on #189
It is possible this is a bug in their documentation, the OAuth2 spec requires the token request be made using a `Content-Type` value of `application/x-www-form-urlencoded`.
https://docs.wonde.com/docs/api/sso#oath2-request-access-token

https://tools.ietf.org/html/rfc6749#section-4.1.3

There is no plan to break spec and change how we encode the request body sent to the Token endpoint. Assuming th

[2019-06-21 12:59] robotdan commented on #186
Nope, just need to request access. Find the "chat with users" link on https://fusionauth.io/

[2019-06-21 13:11] prabhakarreddy1234 commented on #189
I think `-d` in the curl statement sets the `content-type : application/x-www-form-urlencoded`. So Token endpoint should be supporting   `application/x-www-form-urlencoded` request.

usually to post json data using curl we set `content-type:application/json` and followed by `-d` to encode it.

[2019-06-21 13:20] RameshAmzur commented on #158
Hi @Nosherwan

can you please share me the sample code on how to get token using resource owner password credentials.
i am getting an error  'invalid client id param value '
  let encoded_values=base64.encode('client id : client secret');
 axios({
        method: 'post',
        url: '<url>',
        headers: {
          'Content-type': 'application/x-www-form-urlencoded;charset=UTF-8',

[2019-06-21 13:50] prabhakarreddy1234 commented on #182
@robotdan  this is similar to #178 . Closing this one.

[2019-06-21 13:50] #182 closed

[2019-06-21 14:05] ericher4worximity opened #190 "Documentation error on passwordless api"
## (Error on the passwordless documentation)

### Description
According to the documentation - see https://fusionauth.io/docs/v1/tech/apis/passwordless#complete-a-passwordless-login - the api to complete a passwordless login is a `GET`. This is wrong, it's a `POST`. There client librairies use POST to perform the call and a GERT returns a http 404.

[2019-06-21 14:32] robotdan commented on #190
Thanks @ericher4worximity great catch.

[2019-06-21 14:34] #190 closed

[2019-06-21 16:36] jpcv19 opened #191 "The container of fusionauth-search, falls immediately trying to start"
## Fusionauth-search, falls immediately trying to start

### Description

When trying to start the "fusionauth-search" container, it drops immediately.

### Steps to reproduce
Steps to reproduce the behavior:
1. Pull docker image
docker pull fusionauth/fusionauth-search
REPOSITORY                             TAG                 IMAGE ID            SIZE
fusionauth/fusionauth-search  latest

[2019-06-21 18:23] robotdan commented on #191
Looks like some sort of filesystem permission issue, we'll have to try to recreate. What version of Docker are you running on Windows?

[2019-06-22 15:08] robotdan commented on #7
Thanks to @f0rever-johnson , there is a working version on his repo.
https://github.com/f0rever-johnson/fusionauth-swift-client

Next steps are to integrate this into our template and get the build working.
https://github.com/FusionAuth/fusionauth-client-builder
https://github.com/FusionAuth/fusionauth-client-builder/blob/master/src/main/client/swift.client.ftl

[2019-06-22 22:55] gmpreussner commented on #185
This is a great suggestion that I have not considered. I think this will solve my problem, and it will also integrate nicely with the rest of my web applications (I can redirect to a page on the homepage itself, using the same theme, branding, etc.).

Sorry for the confusion. I was gobbling together two things, namely identity management (with the goal to keep all users and their associated applic

[2019-06-23 09:57] Nosherwan commented on #158
@RameshAmzur the sample code is exactly as above with the only difference I encode the data before sending it via stringify function from a npm package called 'querystring'
[code]

[2019-06-24 10:35] ChakshuGautam opened #192 "Create a new admin user from API or maintenance mode."
## Create a new admin user from API or maintenance mode.

### Description
I have accidently deleted the admin user. I am able to use the api to add delete users. But am unable to login to the fusionauth dashboard. Is there a way to promote a user to admin or I will have to recreate the whole thing?

[2019-06-24 11:39] ChakshuGautam commented on #192
Was able to add the "admin" role through api and this got fixed.

[2019-06-24 11:39] #192 closed

[2019-06-24 13:30] gmpreussner commented on #185
So, the solution was actually quite simple: I modified the existing Registration template in FusionAuth's UI settings to always render both email and username input boxes and set the login type to Email. It turns out that FusionAuth - intentionally or not - is already enforcing uniqueness on both fields, and it is also storing both values in the database.

[2019-06-24 14:28] robotdan commented on #185
Thanks for the update @gmpreussner

Yes, FusionAuth allows a username or email address to be used during authentication. Because either may be used for authentication, they must be unique. I apologize if this was not clear from my earlier responses.

Agreed - I think the enhancement will be to be able to select email, username or "either" in the self service registration configuration. When select

[2019-06-24 14:34] gmpreussner commented on #185
Yep, that sounds great, thanks!

[2019-06-24 14:52] jpcv19 commented on #191
Hi my docker info
Windows PowerShell
Copyright (C) 2016 Microsoft Corporation. Todos los derechos reservados.

PS C:\Users\[user]> docker info
Containers: 5
 Running: 4
 Paused: 0
 Stopped: 1
Images: 18
Server Version: 18.09.2
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: loc

[2019-06-24 15:43] forenheith opened #193 "Oauth2 login page"
Hello all. I installed FusionAuth for Windows locally on my pc and trying to connect my application (WebApi) to the FusionAuth. I created the test application and register user for it. However I didnt find any solution how to create (open existing) oauth2 login page. Any ideas?
I find the tool for customization this page
![chrome_vM93s0CwL8](https://user-images.githubusercontent.com/7276744/600343

[2019-06-24 15:54] forenheith opened #194 "Users list"
Hi all, each time when I create a user, user info page opens, but if I exit it and return to the list of users by pressing at the link Users on the left side of the page, the users list will be empty. And I see the following dialog

![chrome_I6eCDbkfRc](https://user-images.githubusercontent.com/7276744/60033423-38edd800-96b1-11e9-847b-2c1e642cd9f2.png)

When I checking the database tables, created

[2019-06-24 16:08] forenheith commented on #193
I`ve just tryied URL http://localhost:9011/oauth2/authorize and faced next error
![chrome_xjF5qqthDP](https://user-images.githubusercontent.com/7276744/60034460-6176d180-96b3-11e9-83da-c40c76404b8e.png)

[2019-06-24 16:09] tyduptyler13 commented on #194
Hi, could you copy your FusionAuth log and post it here?

It is located at the root of the FusionAuth directory under `logs`.

[2019-06-24 16:11] tyduptyler13 commented on #193
Hi,

In order to call the authorize url, you need to specify `client_id`, `redirect_uri`, and `response_type`.

See https://fusionauth.io/docs/v1/tech/oauth/endpoints#authorize

[2019-06-24 16:28] forenheith commented on #193
Thanks, I`ve checked this url:
http://localhost:9011/oauth2/authorize?client_id=1e1a52bc-4d10-4413-81bd-c9496eee70d6&redirect_uri=http://fusionauth.io&response_type=code

Here is response
`{
  "error" : "invalid_request",
  "error_description" : "Invalid redirection uri http://fusionauth.io",
  "error_reason" : "invalid_redirect_uri"
}`

[2019-06-24 17:02] forenheith commented on #194
Hi, I only have this file at logs directory
![TOTALCMD_wakPhbQVEQ](https://user-images.githubusercontent.com/7276744/60037720-ffba6580-96ba-11e9-877c-67a707543d47.png)

[2019-06-24 18:20] robotdan commented on #194
@forenheith do you have any errors on the stdout of the console where you started FusionAuth?

It sounds like Elasticsearch is not running, or has an error. Can you confirm that the search service is also running? If so, navigate to `System --> Reindex` and request a reindex of the search engine.

[2019-06-24 18:24] robotdan commented on #193
Hi @forenheith can you confirm you have configured your redirect URI in FusionAuth?

https://fusionauth.io/docs/v1/tech/oauth/overview

The Redirect URI will be the URL of your application that will handle the response from the Authorization request. If the value you send in the `redirect_uri` parameter is not registered with FusionAuth you will receive the `invalid_redirect_uri` error as you're s

[2019-06-25 00:06] AlvMF1 opened #195 "OAuth two factor template JS issue"
## OAuth two factor template JS issue

### Description
Template head has the following script:
[code]

However, if for some reason you decide not to add an element with id `resend-2fa`, you get an JS error in the console. That's because the file `js/oauth2/TwoFactor.js` runs `Prime.Document.queryById('resend-2fa').addEventListener('click', this._handleResendClick)` regardless.

### Steps to reprod

[2019-06-25 00:35] AlvMF1 opened #196 "Ability to edit more (if not all) user interfaces (templates)"
## Ability to edit more (if not all) user interfaces (templates)

### Problem
I know most of the UI templates can be edited using the admin. However, I cannot find one in particular:

[code]

This piece comes after the error message: **Something doesn't seem right. You have been logged out of FusionAuth. If you were attempting to log in please click 'Return to Login' to retry.**

### Solution
Make

[2019-06-25 11:03] forenheith commented on #194
You are compeltely right. ElasticSearch service was stopped. I don`t know what wrong with it
Here is screenshot from my Event Viewer

![mmc_2cSyghnL7A](https://user-images.githubusercontent.com/7276744/60093356-ddbff200-9751-11e9-8e13-5253454cac17.png)

[2019-06-25 11:48] forenheith commented on #194
I uninstalled preinstalled ElasticSearch from my pc, after that I reinstalled FusionAuth from the zip archive and ElasicSearch service as well and currently fusionauth app can`t start at all and crushes  with several errors while starting.

[2019-06-25 14:00] forenheith commented on #194
I uninstalled ElasticSearch from my pc that was preinstalled, after that I extracted FusionAuth from the zip archive and ElasicSearch service as well and currently elasticsearch still doesnt work. Is there any user friendly way to deploy an application without magic and possible errors during the installation steps? I have to present FusionAuth at our company but I cant do this about two weeks.

[2019-06-25 14:09] forenheith commented on #194
`25-Jun-2019 15:04:14.278 SEVERE [main] org.apache.tomcat.util.net.SSLUtilBase.getStore Failed to load keystore type [JKS] with path [C:\fusionauth\fusionauth-app\apache-tomcat\..\..\config/keystore] due to [Illegal character in opaque part at index 2: C:\fusionauth\fusionauth-app\apache-tomcat\..\..\config/keystore]
 java.lang.IllegalArgumentException: Illegal character in opaque part at index 2:

[2019-06-25 14:10] robotdan commented on #194
This sounds like you're running an incompatible version of Elasticsearch. We ship with version 6.3.1, but you can install your own if it is an equivalent version.
https://fusionauth.io/docs/v1/tech/installation-guide/system-requirements

The simplest way to get running on Windows is to use the FastPath. https://fusionauth.io/docs/v1/tech/installation-guide/fast-path This will download both zip pac

[2019-06-25 14:40] robotdan commented on #196
Thanks @AlvMF1 for the request. Presumably you reached this panel and it didn't match your otherwise themed panels?

One option if we were to not expose this template as "theme-able" - would be for us to still use the themes header and footer here and only control the message.

You could try this on your installation by replacing the `WEB-INF/templates/login.ftl` with this content:

[code]

[2019-06-25 14:54] forenheith commented on #194
![cmd_wjMKo6ZpJg](https://user-images.githubusercontent.com/7276744/60109012-461ecb80-9772-11e9-9b79-96049f80f542.png)

[2019-06-25 15:07] forenheith commented on #194
Thanks it helped. Now list is working fine

[2019-06-25 15:08] robotdan commented on #194
Looks like you resolved your `iex` issue, as long as you meet the Windows min. requirements you should be ok.

https://fusionauth.io/docs/v1/tech/installation-guide/system-requirements

[2019-06-25 15:09] robotdan commented on #194
I'll close out this issue unless there are any remaining issues with getting the search service up and running.

[2019-06-25 15:38] #194 closed

[2019-06-25 15:42] robotdan commented on #195
Thanks for the report @AlvMF1  - this is a good point, because we allow anyone to modify the HTML in the login pages we should be more defensive in our JavaScript.

[2019-06-25 15:46] forenheith commented on #193
Yes, redirect_url is configured and works, however without authorization request

[2019-06-25 15:52] robotdan commented on #193
Thanks @forenheith , I'm a little confused.

The URL in that dialog screenshot looks correct, that is for display only and is used to help you build your Authorize request URI. When you make the Authorize request to FusionAuth, are you sending a `redirect_uri` value of `http://tut.by` URL encoded (as it is shown in the OAuth IdP login URL in the dialog?

The error you provided earlier looks like y

[2019-06-25 16:09] forenheith commented on #193
Correct, I used the redirect_url:  fusionaut.io only for test case when url is not in redirect urls list

[2019-06-25 16:15] forenheith commented on #193
As far as I understand OAuth IdP login URL field contains correct url to access to the authorization page. Am I right?

[2019-06-25 16:29] robotdan commented on #193
Yes, that is correct.

The error you showed earlier indicates you are not sending the correct `redirect_uri` as shown in the example OAuth IdP login URL.

[2019-06-25 16:34] forenheith commented on #193
Sorry, I didn’t quite understand what do you mean, using the current settings and following url:
`http://localhost:9011/oauth2/authorize?client_id=91edba61-e159-4177-a15c-b3e6ba58162a&response_type=code&redirect_uri=http%3A%2F%2Ftut.by`
 I don’t get to the login page, instead I’ll immediately go to the redirect url

[2019-06-25 16:39] robotdan commented on #193
This means that you are already logged in, this is the intended behavior for single sign on. Once you are logged out of FusionAuth, you will be presented with the login page before being redirected.

For example, if you're logging into your application at `http://tut.by` with the same browser as the one you're accessing FusionAuth UI with - then FusionAuth will recognize you're already logged in a

[2019-06-25 16:51] forenheith commented on #193
Ok, got it. What about users that has no registration to app specified? Why they have access to redirect url? Is it ok?

[2019-06-25 18:47] robotdan commented on #193
Yes, this is expected. The Authorization grant provides authentication. The user is authenticated if their credentials are verified or they already have an authenticated session in FusionAuth (SSO).

Authorization is a separate step, once you complete the Authorization Grant and receive an access token and optionally and Id token in the form of a JSON Web Token, that token will contain information

[2019-06-25 20:00] AlvMF1 opened #197 "Have a master 2FA enabled option and ask users to setup if haven't done so"
## Have a master 2FA enabled option and ask users to setup if haven't done so

### Problem
Let's say you wanted to have 2FA enabled for all your users. I believe that would extend #51, except it won't be up to the user to decide.

### Solution
An application config setting + an UI flow. When that's on, after login users would be prompted to complete the setup if they haven't done so.

### New conf

[2019-06-25 20:17] robotdan commented on #197
Thanks for the request @AlvMF1 this is on the roadmap for sure.

We've kicked around a few ideas, perhaps as a tenant level, or application level policy. However we envision a common scenario where employees are forced into 2FA but customers / users are not.

So perhaps it would make sense to use a group, or some other mechanism to decide who is required to 2FA. The other thought we've had - is th

[2019-06-26 03:06] micsoftvn opened #198 "Error 500 when install : http://ip:9011/maintenance-mode-database-configuration"
## Error 500 when install

### Description
I follow system Requirements 👍
OS : Centos 7
Mysql : mysql  Ver 15.1 Distrib 5.5.60-MariaDB, for Linux (x86_64) using readline 5.1
Elastic : {
  "name" : "dvSn5lf",
  "cluster_name" : "elasticsearch",
  "cluster_uuid" : "1OlIwonKTrOdvAQJBVTbPQ",
  "version" : {
    "number" : "6.3.2",
    "build_flavor" : "default",
    "build_type" : "rpm",
    "build_ha

[2019-06-26 03:19] robotdan commented on #198
It looks like `random_bytes` is not supported in MariaDB.

https://mariadb.com/kb/en/library/function-differences-between-mariadb-102-and-mysql-57/

We could look at using something else to be more compatible with MariaDB. For now you'll need to either use MySQL or PostgreSQL.

[2019-06-26 04:34] micsoftvn commented on #198
Thanks for support, i try now it working

[2019-06-26 04:34] #198 closed

[2019-06-26 08:48] diego1q2w opened #199 "Adding support for Elasticsearch 7"
## Adding support for Elasticsearch 7
### Problem
We are planning to move onto ES 7 among many reasons because of the security features that now have become free, but we've noticed some issues specifically upon the index creation.
### Solution
I don't know the implementation details, but from what I noticed looking at the logs it mainly has to do with the indexes luckily, together with the update,

[2019-06-26 09:41] botnyx commented on #180
The workaround works for me.

But a more finegrained control over CORS would be appreceated.
i've needed the workaround to make calls to the well-known/openid configuration.

`Access to XMLHttpRequest at 'https://fusionauth/.well-known/openid-configuration/jwks' from origin 'https://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested

[2019-06-26 09:43] forenheith commented on #193
Many thanks @robotdan

[2019-06-26 09:43] #193 closed

[2019-06-26 12:21] botnyx commented on #25
Bump...    for compatibility's sake..

https://tools.ietf.org/html/rfc7009

If your Token-Provider is at least an OAuth 2.0-Provider, it has to to implement the OAuth 2.0 Token Revocation.
The URL should be delivered by an OpenID Connect-Provider as "revocation_endpoint" in the /.well-known/openid-configuration.

openidConnect also supports 'Check session iframe'  -  that is something im missing i

[2019-06-26 13:16] forenheith opened #200 "Getting JWT token for authorized users"
Hello. How can I see my JWT token after successful login, let's say through Chrome? I tried to find it in the developer’s tools, but without success.

[2019-06-26 14:28] robotdan commented on #25
Thanks for the comment @botnyx there are many extensions and additions to the OAuth2 standard. I have been unable to find documentation that indicates it is required to be OAuth2 compliant.

I could be mistaken, let me know if you have a link for that.

That spec, if implemented says the Refresh Token revoke must be provided, and the Access Token revoke should be provided. In the OAuth2 world, the

[2019-06-26 14:33] robotdan opened #201 "Feature: Support for RFC 7009"
## Support for RFC 7009

### Problem
FusionAuth already supports Refresh Token revocation, but it would be helpful to also support this standard revoke endpoint.
https://fusionauth.io/docs/v1/tech/apis/jwt#revoke-refresh-tokens

### Solution
Support Refresh Token revoke as defined in RFC 7009 and publish the endpoint in the `/.well-known/openid-configuration` endpoint.

### Alternatives/workaround

[2019-06-26 14:36] robotdan commented on #200
Are you using the FusionAuth login page or your own application login? The Login API will return the JWT in the response body and set a cookie, but it will be secure HTTP only and domain locked, so it may not be visible unless you're view the Chrome dev tools on the correct domain.

[2019-06-26 14:42] prabhakarreddy1234 opened #202 "Support for multiple post logout redirect URIs per application"
### Support for Post logout redirect uri

### Problem
Having trouble redirecting users to a specific page after logout when dealing with multiple environments.  For e.g when logging out from localhost, redirecting user to test site since test site is registered as logout uri in fusionauth application registration.

### Solution
Support for multiple logout uris and user can choose which uri to be r

[2019-06-26 17:03] forenheith commented on #200
Got it. Thanks.

[2019-06-26 17:03] #200 closed

[2019-06-26 18:10] robotdan commented on #202
Thanks for the request @prabhakarreddy1234 - you can register a different logout URL per application.

If I understand correctly, you'd like to register more than one possible logout URL per application and then let the caller decide which one to use? (similar to how we support the redirect URI on the authorize request)

[2019-06-26 18:14] prabhakarreddy1234 commented on #202
yes @robotdan . I need to register more than one logout uri per application and user can pass redirect_uri to `logout` endpoint so that user will be redirected to that uri after logout.

[2019-06-26 18:15] robotdan commented on #180
This feature is planned for the upcoming release, nearing code completion. We will allow CORS to be disabled, or enabled and once enabled modify the default configuration.

The current shipped configuration does allow access to the JWKS endpoint via CORS. I wonder if your URL is incorrect?

These two URLs should be going through the CORS filter and adding the `Access-Control-Allow-Origin` header.

[2019-06-26 21:30] AlvMF1 opened #203 "Add code delivery via email to 2FA"
## Add code delivery via email to 2FA

### Problem
Text messaging and auth apps aside, a very common delivery of security codes is email. And apparently that's not an option.

### Solution
Present options to users on how to get the code (when enabled): text, app or email.

### Additional context
We have international users and sending text messages could not be an option. I understand that might n

[2019-06-26 22:25] robotdan commented on #203
Thanks for the request @AlvMF1 - this is on the road map for sure.

All we need to do is add an email template, and some configuration options, and this should be fairly easy to get put together.

[2019-06-27 07:04] RameshAmzur commented on #158
Thank you @Nosherwan.
It was working.
Can you please tell me how did you validated the token from back end.If you have any documentation please share with me.
We have downloaded the source  code from oracle with this link
http://cloudtest.khamsoft.com/ClientWebApp/index.html

But with this code we are getting 401 unauthorized error while validating the token.But the same class is working for valid

[2019-06-27 21:54] robotdan opened #204 "Help with custom MD5 password encryptor during import"
## Help with custom md5 hashing

### Description
Trying to import an MD5 hash, and the shipped FusionAuth one doesn't work.

See https://stackoverflow.com/questions/56761072/migrate-users-with-a-salted-hash-passwords/56762164

[2019-06-27 22:06] robotdan commented on #204
@AlvMF1 re: https://stackoverflow.com/questions/56761072/migrate-users-with-a-salted-hash-passwords/56762164

Here is a working encryptor, if you want I can get you a jar, or you can build it yourself using our instructions.

https://fusionauth.io/docs/v1/tech/plugins/password-encryptors

Test input provided by on SO:

Hash: `e0198a696980741ec49e2c56615fbc98`
Salt: `4MTVxbvk8swI0ys2Lf4saeR3swRvn0f

[2019-06-28 13:36] mikerees opened #205 "Invalid SAML v2.0 Name ID format on attempt to redirect SP to FusionAuth Login URL"
## Invalid SAML v2.0 Name ID format on attempt to redirect SP to FusionAuth Login URL

### Description
Attempts to redirect a user from a Service Provider to the relevant application's SAML v2 Login URL causes a 500 internal server error. Nothing gets logged to the event log, but fusionauth-app.log is saying that there is an invalid SAML v2.0 name ID format being passed. The metadata passed contai

[2019-06-28 14:42] forenheith opened #206 "JWT token issue"
Hello, I am trying to get JWT with the following end point in the Postman: http: // localhost: 9011 / api / jwt / issue? ApplicationId = 91edba61-e159-4177-a15c-b3e6ba58162a I also put the my API key as authorization header, but why I get 401 error code in the response. Could you help me solve this problem?

[2019-06-28 14:48] robotdan commented on #206
What is your exact URL?

It should be `http://localhost:9011/api/jwt/issue?applicationId=91edba61-e159-4177-a15c-b3e6ba58162a`

The curly brackets in the doc signify the notation.

If that is correct, then you may get a 401 if your JWT is expired.

[2019-06-28 14:54] forenheith commented on #206
![Postman_GCVWVvNTeC](https://user-images.githubusercontent.com/7276744/60351100-b412ff00-99cd-11e9-88aa-a0386d763372.png)

[2019-06-28 14:55] forenheith commented on #206
I'm using API key (not JWT) as authorization header (case 1 from documentation) to get my JWT

[2019-06-28 14:57] robotdan commented on #205
Thanks for opening this up @mikerees. It looks like the only `transient` name Id policy we are expecting is `urn:oasis:names:tc:SAML:1.1:nameid-format:transient`, and not `urn:oasis:names:tc:SAML:2.0:nameid-format:transient`. I'll need to dig in a bit further and discuss with our SAML expert to see why we have this limitation.

It may be as simple as adding it, I'll report back when I know more.

[2019-06-28 15:12] robotdan commented on #186
@emidiotorre any update on this, anything we can help with?

[2019-06-28 15:24] robotdan commented on #206
Ah, ok.

That API is not accessible with an API key.
https://fusionauth.io/docs/v1/tech/apis/jwt

![image](https://user-images.githubusercontent.com/1148709/60353018-54453580-9986-11e9-9a86-944776345562.png)

You'll see this only has the badge icon which means that is the only supported authenticated mechanism. This API is designed to take a JWT that is valid for one application and provide a JWT

[2019-06-28 15:24] #206 closed

[2019-06-28 15:33] robotdan commented on #205
This is looking like just a bug on our end, how are you running FusionAuth, docker, zip or linux package?

[2019-06-28 15:40] mikerees commented on #205
Linux package.

[2019-06-28 15:59] forenheith opened #207 "Ways to getting JWT"
Is there any way to get JWT in the authorization process? User login is done through the login form (not API)

[2019-06-28 17:08] robotdan commented on #205
Want to try a patched jar?

[2019-06-28 19:50] #180 closed

[2019-06-28 21:31] robotdan commented on #180
Coming soon!
https://fusionauth.io/docs/v1/tech/reference/cors

[2019-06-28 22:25] AlvMF1 commented on #204
That worked! I appreciate your time!

Two things that I've encountered:

- I didn't have to uppercase the hash
- When I login with my admin account (which doesn't use the custom encryptor), I get the following warning in the system logs: `WARN  org.primeframework.mvc.message.l10n.ResourceBundleMessageProvider - Message could not be found for the URI [/admin/system-configuration/edit] and key [my_e

[2019-06-28 22:38] robotdan commented on #204
That log is ok, we just can't translate the name of your custom scheme. I'll look to see if there is a way to define that in your plugin.

That error happens because when you view that page we load up all of the encryptors for use in the password panel where you can select a default scheme. You should see yours on that panel in the select box.

Glad to hear it worked!! Did you have any trouble bui

[2019-06-28 22:40] AlvMF1 commented on #204
Not really. Just some issues setting up my machine to compile Java. 😆

[2019-06-29 08:35] ChakshuGautam commented on #156
Hey. Sorry for bailing out earlier. I was the only android resource in the organisation so couldn't find much time then. Can I take it up again, now that we have hired a couple more resources?

[2019-06-29 13:23] robotdan commented on #156
Yes @ChakshuGautam that would be great!

[2019-06-30 10:12] coderafei opened #208 "SMS push login"
## (Put feature request title here)
support sms push login and change phone number etc...
### Problem
in china, sms push login is very popular way for user register and login

### Solution
maybe a webhook for push message, or a lambda function

### Alternatives/workarounds
no

### Additional context
no

### How to vote
Please give us a thumbs up or thumbs down as a reaction to help us prioritize t

[2019-06-30 19:56] colundrum opened #209 "Postgresql : SCRAM-SHA-256 => impossible to connect"
## Postgresql : SCRAM-SHA-256 => impossible to connect

After a security update of the PostgreSQL configuration to force usage of SCRAM-SHA-256 in place of MD5, I can't reconnect to PostgreSQL.

Can you update your lib to permit a full secure connection to postgresql database ?

Regards

[2019-06-30 21:33] robotdan commented on #209
Is it possible to connect if you modify the JDBC url in the config file?

https://fusionauth.io/docs/v1/tech/reference/configuration

[2019-06-30 21:35] colundrum commented on #209
No, it depends only of the lib if SCRAM-SHA-256 implemented or not

[2019-06-30 22:15] robotdan commented on #209
Ok, thanks for that info, we'll take a look.

[2019-07-01 05:01] colundrum opened #210 "Account Kit to verify phone number"
## Implement Account Kit to verify phone number

Hi, I just see that Account Kit has the possibility to send verification code via WhatsApp and also SMS.
This can be a good alternative to Twillio.

Can you investigate about this possibility ?

Regards

[2019-07-01 08:01] mikerees commented on #205
Whichever's easier for you

[2019-07-01 10:18] forenheith commented on #207
Any ideas?

[2019-07-01 13:13] forenheith opened #211 "Getting OAuth token (JWT)"
I'm trying to get a Oauth token with following way
![Postman_e84KqnH8eE](https://user-images.githubusercontent.com/7276744/60439118-dc436d80-9c1a-11e9-8b3b-3709b99a8903.png)

Require authentication flag at Application settigns is disabled. I got next error:
{"error":"invalid_request","error_description":"Invalid Authorization Code","error_reason":"auth_code_not_found"}
What's wrong with my request

[2019-07-01 13:56] trollr commented on #170
If anyone is interested: I build a helm chart for fusionauth to execute sql migrations with flyway after fusionauth is healthy. After the pr is merged you can use it with kubernetes. It's easy to port it to docker or docker-compose.

https://github.com/FusionAuth/fusionauth-containers/pull/13

[2019-07-01 14:22] forenheith commented on #211
This was because my code expired after 30 seconds. Thanks

[2019-07-01 14:22] #211 closed

[2019-07-01 15:25] robotdan commented on #170
Thanks @trollr for the contribution!

[2019-07-01 15:53] robotdan commented on #209
Looks like SCRAM was added in the connector version 42.2.0 (2018-01-17).
If you want to try a work-around, feel free to replace the PostgreSQL connector jar in the class path with a more recent one ( <= 42.2.0 and see what happens.

`web/WEB-INF/lib/postgresql-9.4.1212.jar`
https://jdbc.postgresql.org/download.html

[2019-07-01 16:10] robotdan commented on #210
Thanks for the request @colundrum - are you looking at Account Kit for login or just as a way to ensure the phone number provided is correct as an alternative to Twilio?

[2019-07-01 16:19] robotdan commented on #207
What OAuth2 grant are you using, if you're using our login form it will be the Authorization Grant.

This may be helpful as well.
https://fusionauth.io/articles/logins/types-of-logins-authentication-workflows

If using the Authorization Grant, then you will receive the JWT at the end of the grant when calling the Token endpoint.

[2019-07-01 16:20] robotdan commented on #204
Great, need anything on this one, or should we close it out?

In the upcoming release you will no longer se that warning message in the log regarding `my_encryptor`, I've fixed that.

[2019-07-01 16:27] robotdan commented on #205
Try this, replace the existing `fusionauth-samlv2` jar in the `web/WEB-INF/lib` directory.
https://drive.google.com/file/d/1ZEC3FVWEqiGQuLDfgqiCjJIC3BKiIpwQ/view?usp=sharing

[2019-07-01 16:44] robotdan commented on #208
Thanks for the request @coderafei , this feature is on the roadmap!

There is a related feature request open to allow the Passwordless login to work with external systems. https://github.com/FusionAuth/fusionauth-issues/issues/175

This feature will likely come first, and it may let you integrate with an SMS provider through our APIs.

[2019-07-01 18:06] AlvMF1 commented on #204
No, I'm all set. Ty!

[2019-07-01 19:09] #204 closed

[2019-07-01 22:53] jpcv19 commented on #191
Good afternoon.

Still have no answer on this issue?

[2019-07-01 22:55] robotdan commented on #191
Can verify you have permissions set correct?

[code]

[code]

[2019-07-02 12:30] #207 closed

[2019-07-02 12:36] forenheith opened #212 "C# FusionAuthClient ValidateJWT"
I'm trying to do something like this to check my JWT,

`var fusionAuthClient = new FusionAuthClient(ApiKey, "http://localhost:9011");`

`var result = fusionAuthClient.ValidateJWT(jwt);`

but I get 401 Unauthorized in return. ApiKey is valid and configured. What am I doing wrong?

[2019-07-02 13:44] mikerees commented on #205
I appear to still be getting the same error.

[code]

[2019-07-02 14:41] robotdan commented on #205
Strange, that exception shouldn't happen with the jar I sent, is it possible you have both the old and the new jar in the lib directory?

Can you provide the output (or equivalent) to this command?

[code]

[2019-07-02 15:11] mikerees commented on #205
Just this.

`-rw-rw-r-- 1 ec2-user ec2-user 167753 Jul  2 13:34 web/WEB-INF/lib/fusionauth-samlv2-0.2.1.jar`

I should clarify though that I did try renaming that file to -0.2.0.jar at one point due to some issues with FusionAuth picking it up but that is it in its current state. The checksum of that file is 4f05d5e08ea898d22b48796306ca4fa4 if that helps you confirm it's the correct version

[2019-07-02 15:19] mikerees commented on #205
I have tried reuploading and rebooting the service and I appear to have got past this issue. I'm now getting configuration issues that I should be able to resolve by myself. Thanks for the assistance!

[2019-07-02 15:40] robotdan commented on #205
Ah, ok, yes, I should have mentioned you would need to restart the web service. That checksum is correct.

Thanks for testing that out for us, we will get that fixed in the upcoming release.

If you have any other feedback on our SAML configuration or support that would make this easier for you, please pass it along!

Thanks @mikerees

[2019-07-02 18:11] robotdan commented on #212
Is it possible the JWT is expired? Also, the C# client will be deprecated in favor of our new .NET Core library. Have you tried this library?

https://www.nuget.org/packages/fusionauth-netcore-client/1.7.2

[2019-07-02 18:42] robotdan commented on #86
Beginning with version 1.7.2, the FusionAuth client will be using .NET Core
https://www.nuget.org/packages/FusionAuth.Client

[2019-07-02 18:42] #86 closed

[2019-07-03 04:49] colundrum commented on #210
Hello,
I'm thinking about alternative to Twilio but effectively, you permit signup via Google, Facebook, Twitter so why not via Account Kit.
After, it was just a suggestion and to know if you can see about integration.
I let you implement as you prefer but effectively, in LATAM (Latin America & Mexico), WhatsApp is more used than SMS (sometimes, an SMS arrives after 1 to 10 minutes … tested by a f

[2019-07-03 17:45] #179 closed

[2019-07-05 15:09] jpcv19 commented on #191
I have no idea how to validate that. If you orient me.

[2019-07-05 15:10] jpcv19 commented on #191
I have no idea how to validate that. If you orient me.

[2019-07-05 16:55] robotdan commented on #191
I am not a Docker expert by any means, but in our `Dockerfile`we create a user and group using `uid` and `gid` of `1000`. The user and group are both named `fusionauth`.

https://github.com/FusionAuth/fusionauth-containers/blob/master/docker/fusionauth/fusionauth-search/Dockerfile

Is it possible that the owner is not the `fusionauth` user or the permissions are restricting the owner to create the

[2019-07-06 18:04] RPSimon commented on #153
I think I found some more information about this issue. I searched the whole day for some more information, and this is what I found.

I did a setup similar to @stevenrombauts and got it to work. But only for Work Accounts who have an Office 365 License. Apparently the mail claim is mapped to the "primary_smtp_address" attribute on the Azure AD. And this attribute is filled by Exchange/Office365.

[2019-07-06 18:11] robotdan commented on #153
Thanks for that information @RPSimon that is great.

If there is a consistent way to get an email even if the claim name changed that can be mapped using a FusionAuth lambda.

[2019-07-08 02:49] davidmw commented on #163
@robotdan for our planning purposes it would really be very helpful to understand where this webhook / event will appear on your schedule.  Can you share anything on it?

[2019-07-08 06:31] RPSimon commented on #153
Hi @robotdan ,

Is there an option to do an external call in those lambda functions? I could fix it, if I could call there Graphs. An other option is not possible at the moment.

[2019-07-08 14:21] robotdan commented on #153
@RPSimon we do not currently support making external calls in a lambda. Unless an email address is available we cannot reconcile the user during login.

[2019-07-08 15:17] robotdan commented on #212
@forenheith let me know if you still need assistance with this one, thanks.

[2019-07-08 15:35] robotdan commented on #163
HI @davidmw it is possible we can get this into the upcoming 1.8.0 feature release. I would expect to have that out mid-to-late July.

Schedules may change since we provide preference clients purchasing support contracts or professional services, etc. This means it is possible for other work to come up that may take precedence.

Thanks!

[2019-07-09 16:55] sm-tradeboox opened #213 "Variables attached to Tenants and Applicacations"
## Attaching Data Fields/Variables To Tenants and Applications

### Problem
It's a feature request, you've already done a great job

### Solution
Hello.

We provide a simple, cheap software for small clinics to use to mange internal operations. We're in the process moving to Fusionauth to help us better manage employee, doctor, health care professionals, service providers and patient credentials,

[2019-07-09 18:35] robotdan commented on #213
Hi @sm-tradeboox thanks for the compliment! I'm glad you have found FusionAuth to be helpful!

This is not currently possible -as you've pointed out. If you have a need to share data between tenants, would it make more sense to think of each clinic as an application within the same tenant?

Our litmus test is if you want `joe@example.com` to (potentially) exist separately in Clinic A and Clinic B

[2019-07-10 16:44] forenheith opened #214 "Can't validate jwt token"
When I trying to validate my JWT I getting the following error message:

IDX10501: Signature validation failed. Unable to match keys:
kid: '6SvdDEUeP-fREZapjd8R_Rqpzfc',
token: '{"alg":"RS256","typ":"JWT","kid":"6SvdDEUeP-fREZapjd8R_Rqpzfc"}.{"aud":"de4b2435-a400-4343-87ee-ef3c99bea3e5","exp":1562264275,"iat":1562260675,"iss":"acme.com","sub":"78b1c80e-a1dc-4be9-a9be-34dde2996169","authenticationT

[2019-07-10 16:47] AlvMF1 opened #215 "OAuth2: Query params issue when redirect_uri has a # used on SPAs"
## OAuth2: Query params issue when `redirect_uri` has a `#` used on SPAs

### Description
When trying to do the oAuth2 flow with the redirect being a SPA URL that has a `#` in its route, the query params are returned with an `&` instead of `?`.

### Steps to reproduce
Steps to reproduce the behavior:
1. Run the OAuth2 with `redirect_uri` like `https://myapp.com/#/login`
2. Login
3. Redirection is

[2019-07-10 17:19] robotdan commented on #215
Thanks for letting us know @AlvMF1.

What does your request look like? Are you passing `response_type=code` or `response_type=token` ?

From your notes it looks like you're using the Authorization Code Grant (`response_type=code`)  - but then the response is for an implicit grant. (using `#`).

This may already be fixed, but I can verify.

[2019-07-10 17:59] forenheith commented on #214
For now I've deleted application specific JWT settings and got new error message: {"Invalid JWT - additional validation failed"}

[2019-07-10 18:05] AlvMF1 commented on #215
1. Disabled
2. 1.7.2
3. Authorization code

[2019-07-10 18:21] robotdan commented on #215
Thanks @AlvMF1 I've recreated. The `#` is causing us a problem.. should have it fixed for the upcoming 1.8.0 release. It sounds like you have a way to work around this bug for now?

[2019-07-10 21:07] robotdan commented on #215
So I'm waffling a bit on this fix, a lot of SPAs are moving away from using the fragment because it makes some things trickier, you don't get browser history, etc. Now that there is a browser history API, I believe this strategy is slowly becoming deprecated for SPAs.

 I think Angular now by default uses the Path Location routing strategy over the Hash Location, however the latter can still be en

[2019-07-10 21:17] AlvMF1 commented on #215
I understand your concern. We're using React and `react-router` and we might switch to `BrowserRouter` at some point...

[2019-07-10 22:05] robotdan commented on #215
Ok. Let me think on this a bit more, in theory I can ship this change, but once if I have to make assumptions about how to build the URL outside of the spec it may be dicey.

[2019-07-10 22:17] robotdan commented on #214
Can you provide me some additional detail? The `IDX10501` message is not ours, what library are you using, or technology stack?

[2019-07-10 22:26] #212 closed

[2019-07-10 23:51] robotdan commented on #186
Working with @emidiotorre offline, captured the SAML Authn request.

[code]

This is missing the `NameIdPolicy`

Here is an example `NameIdPolicy` attribute.

[code]

Need to identify if this is a required attribute in the Authn request, and the SP should be sending it, or if FusionAuth needs to be able to handle a request such as this one.

[2019-07-11 05:24] AlvMF1 opened #216 "Allow users to change passwords using the change password UI without needing to go through the forgot password flow"
## Allow users to change passwords using the change password UI without needing to go through the forgot password flow

### Problem
A user can change their password at anytime after login. However, there's no UI available do so on FusionAuth.

### Solution
How about making the `/password/change` form available without a reset code? Maybe pulling the username from the OAuth2 session and asking for

[2019-07-11 09:42] forenheith commented on #214
I'm using JwtSecurityTokenHandler by Microsioft. For now issue is solved. Thanks for your help.

[2019-07-11 09:42] #214 closed

[2019-07-11 11:16] xzessmedia commented on #172
i can confirm this.. the provided instructions results in a failing docker container as it can not connect to elastic search.. can be tested without any modifications..

`usionauth_1  | Jul 11, 2019 11:14:06.537 AM ERROR com.inversoft.maintenance.search.ElasticsearchMaintenanceModeSearchService - Failed to connect to Elasticsearch.
fusionauth_1  | org.apache.http.ConnectionClosedException: Connect

[2019-07-11 12:58] nadilas opened #217 "Unexpected error"
Hello,

I haven't logged in during the past couple of weeks into the system.
Now I get the following error message on login:
`A request to the search index has failed. This error is unexpected. Contact Support.`

Both fusionauth and fusionauth-search are running as windows services connected to a local postgresql.

Thanks

[2019-07-11 15:02] robotdan commented on #217
Is there anything in the logs? `/usr/local/fusionauth/logs/fusionauth-app.log` or `/usr/local/fusionauth/logs/fusionauth-search.log`

[2019-07-11 15:18] robotdan commented on #172
I was able to get everything up and running based on the provided `docker-compose.yml`.

I see `fusionauth_1` in your log which isn't in the example I don't think, can you provide your `.yml` file so I can look at it? Or if you found that in an example, can you point me at it make sure we're looking at the same configuration.

I'm running Docker on macOS, Engine 18.09.2, Compose 1.23.2, Machine 0.

[2019-07-11 15:30] robotdan commented on #216
Great suggestion @AlvMF1 we've kicked this idea around a bit as well.

[2019-07-11 19:52] nadilas commented on #217
Hi @robotdan, nothing particularly interesting or related to this message, just the startup. I tried to let the search settle first (~5 minutes) and then started fusionauth. Just to note: it was working before.

[2019-07-11 21:37] robotdan commented on #217
Are you able to recover by restarting search?

Whenever we throw that exception we will log an error to the FusionAuth log.

[2019-07-12 09:41] nadilas commented on #217
Recovering by restarting search doesn't work.
The last log entries from fusionauth-search are from Tuesday. Same for fusionauth (stderr, stdout) with the one exception:
`Jul 11, 2019 2:56:14.107 PM INFO  io.fusionauth.api.service.search.ElasticSearchClientProvider - Connecting to FusionAuth Search Engine at [http://localhost:9021]`

[2019-07-13 18:20] colundrum commented on #140
Hello,
Do you have an ETA for ppa or other ?
Thanks

[2019-07-13 19:38] robotdan commented on #140
No ETA, I'll do a little more research to identity the level of effort. Thanks for the reminder.

[2019-07-13 20:13] AlvMF1 commented on #171
One thing that came up: using the describe flow, we'll get a new `refresh_token` every time, right? Or there's a way to always get the same one on the same device?

I'm asking this b/c I'm trying to figure out what's the best approach to revoke refresh tokens when they sign out. Any suggestions?

[2019-07-14 03:52] isiah-lloyd opened #218 "I want to allow third party apps to access my users data via oAuth, is FusianAuth good for this?"
I'm trying to find a good IdM for my next project that requires third party applications to take actions on behalf of the user and read user data via oAuth. I'm really liking FusionAuth as a solution but I'm confused if it will work for what I need. My plan was to use the API to create a new application in FA when a developer wants to get oAuth client id and secret. Does this make sense? I'm confu

[2019-07-14 17:39] Lg0enga commented on #167
Thanks for help @robotdan!

I solved it with sub-domains. Works perfect for me this way.

[2019-07-14 17:39] #167 closed

[2019-07-14 22:30] JustSomeHack opened #219 "Authenticate against an LDAP server"
## Support authentication via an external LDAP connection

### Problem

We have users that exist in LDAP or AD and we want to use FusionAuth as a primary IdP but still authenticate some users against an existing LDAP server.

### Solution

Support an LDAP authenticator.

Proposed solution for the initial LDAP connector support:

#### Use Case 1

I want to authenticate some users based up on their

[2019-07-14 23:47] JustSomeHack opened #220 "Office 365 as SMTP"
## (Put bug title here)
Unable to send emails with Office 365 SMTP server

### Description
Email is setup to use smtp.office365.com on port 587 and TLS enabled for security.

Error occurs.

554 5.2.0 STOREDRV.Submission.Exception:SendAsDeniedException.MapiExceptionSendAsDenied; Failed to process message due to a permanent exception with message Cannot submit message. 0.35250:0A007C85, 1.36674:0A00

[2019-07-15 00:29] robotdan commented on #220
What is the from email address in your template , and does that match the domain on your SMTP account?

[2019-07-15 08:26] JustSomeHack commented on #220
It's no-reply@my-domain.com, it does match my domain.

[2019-07-15 14:14] johnmaia opened #221 "Unable to delete a tenant that has users"
## Unable to delete a tenant that has users

### Description
I'm currently using the `@fusionauth/node-client` version `1.7.3` and I'm unable to delete a `tenant` that has registered users.

When I call the following error is thrown when the `deleteTenant` method is called:

[code]

For more details I've took a look at the `database` (postgres-10.6) and `fusionauth-app` (1.7.2) docker services log

[2019-07-15 15:06] robotdan commented on #221
Strange, our UI uses the API as well via the Java client, so it is odd that the Node client is different.

Do you have the full log, or a larger portion of that exception?

[2019-07-15 15:12] johnmaia commented on #221
@robotdan Here's the full log:
[code]

[2019-07-15 15:21] robotdan commented on #219
Thanks @JustSomeHack - do you have any specific examples of when you cannot use AD (via federation with OAuth2 / OIDC) and what versions / vendors of LDAP you encounter in these scenarios?

[2019-07-15 15:24] robotdan commented on #220
Is this the issuer?
https://stackoverflow.com/questions/54784431/unable-to-send-smtp-mails-using-office365-settings

This indicates that your account (username and password used in the SMTP configuration) is not permitted to send emails for another user.

[2019-07-15 15:36] robotdan commented on #171
The intended workflow will be to prefer the use of the refresh token to login. Once you can no longer get an access token with your refresh token - it is expired, and you should prompt the user to login again.

For revoking the `refresh_token` on logout, you could use the Logout API. https://fusionauth.io/docs/v1/tech/apis/login#logout-a-user

[2019-07-15 15:37] JustSomeHack commented on #220
that was it.

[2019-07-15 15:37] #220 closed

[2019-07-15 15:39] JustSomeHack commented on #219
In general, clients offer us direct connections to the LDAP backend, most are AD and others are OpenLDAP.

[2019-07-15 15:42] robotdan commented on #218
Hi @isiah-lloyd thanks for the question.

Users are global (within a tenant) in FusionAuth. Applications represent something you can log into, and a User Registration is the link between a user and an Application.

How do you want to share data between applications?

We don't currently support custom scopes in this manner. This is something we've discussed adding in the future. We have others usin

[2019-07-15 15:57] robotdan commented on #221
I have one theory so far. When we delete a tenant, we leverage the Elasticsearch index to find all of the User Ids in the tenant, and then delete them by Id.

If you have a script (? not sure if you do) - and are doing this programmatically, perhaps the search index is not yet updated after creating the user so we hit a FK constraint.

To test this theory, prior to calling delete tenant, make a `P

[2019-07-15 16:01] AlvMF1 commented on #171
Yeah? I implemented the OAuth one b/c we have apps on different domains. So the cookies wouldn't be available everywhere.
If I use the logout API with `global`, will it revoke all tokens? Including from different devices?

[2019-07-15 16:11] johnmaia commented on #221
@robotdan Ironically I did exactly that on the test script that I'm developing. To workaround this issue, I developed an extra step where I flushed the search database before removing the `tenant` `users`.

[2019-07-15 16:18] robotdan commented on #221
Thanks @johnmaia  - great minds think alike. Great catch, I'll fix this in the upcoming release so you should not need that extra step once resolved.

Thanks for letting us know about this issue!

[2019-07-15 16:55] robotdan commented on #171
Using `global=true` will revoke all refresh tokens owned by the user.

If you omit the `global` parameter, default is `false` and only specify a single refresh token, only that one will be revoked.

The OAuth2 Logout endpoint `/oauth2/logout` is currently only intended to remove the SSO session.

OIDC does have a back channel logout endpoint defined - I think this is still in draft, but it defines

[2019-07-16 15:43] Clem- opened #222 "Oauth2 - AzureAD - Get User Picture"
## Oauth2 - AzureAD - Get User Picture

### Description
I successfully added **Azure AD** as an Identity Provider of FusionAuth and I'm getting the user profile in the JWT.
Howerver, the `picture` property of the profile is set to `https://graph.microsoft.com/v1.0/me/photo/$value`.

I would have to make a request in a Lambda in order to populate the user profile with the raw data buffer, but it do

[2019-07-16 15:45] robotdan commented on #219
@JustSomeHack  We do offer pro-serve as an option for this type of feature. DM me on the FusionAuth Slack channel if you want to discuss the project requirements, that will help me give you a better estimate on time and cost.

[2019-07-16 16:01] robotdan commented on #222
Hi @Clem- we don't currently support making external requests via AJAX in a lambda function.

If AzureAD does not have an option to return the picture as a URL to an image file then it may not be possible to retrieve the user's image.

We may explore adding AJAX support to the Lambda in the future.

[2019-07-17 02:44] davidmw commented on #163
@robotdan thanks and happy to see this assigned now!

[2019-07-17 06:40] Clem- commented on #222
Thank for your answer. I think that requests in Lambda is really something missing (that Auth0 have, btw).

So, is there a way to pass the access token from the IdentityProvider to my App throught FusionAuth in order to make the request to the microsoft API in the app?

Thanks

[2019-07-17 11:03] shubham-root commented on #175
Passwordless login using SMS based One Time Password seems like a very useful feature to have. Do we have a tentative timeline by when shall FusionAuth be releasing it?

[2019-07-17 13:16] leksa opened #223 "How to setup domain and HTTPS for Fusionauth dashboard"
## How to setup domain and HTTPS for Fusionauth dashboard

### Description
Hello all,
I have a simple question about domain setting and https/ssl configuration for FusionAuth. I've read in the documentation and security preference from the blog. FusionAuth is better if works as IAM backend system behind proxy or local network access for front-end apps.

But is it possible for development purpose,

[2019-07-17 14:42] botnyx opened #224 "Provide proxy-mail adress in JWT for external apps."
## Privacy-screen per application by setting proxy-email in JWT:email claim

### Problem
Lets say i wanna play 'authprovider' for a bunch of public sites.  but when i authorize for site A, i would like to pass a unique generated-email-adress for this user+ site A
If the user would authorize site B, it should give a new unique email-adress.

So a user has 'several' email-adresses, each for a specif

[2019-07-17 14:54] voidmain commented on #222
@Clem- you can technically make requests from the Lambda's, but just not using `XMLHttpRequest`. FusionAuth uses the Nashorn JavaScript engine, which runs on the JVM. You can use Java classes from Nashorn including URLConnection in order to make a request. This can get a bit verbose, but it is possible.

The key is that for FusionAuth to display the image properly, you must set the `imageUrl` prop

[2019-07-17 15:03] robotdan commented on #222
@voidmain is correct, however FusionAuth currently blocks all access to the JDK within a lambda.

If we were to support AJAX it would probably make sense for us to expose a helper class or perhaps upgrade the JavaScript engine to support `XMLHttpRequest`.

[2019-07-17 15:06] robotdan commented on #175
Thanks for the comment @shubham-root no current ETA.

We currently support a Twilio integration for SMS support, when we ship this feature - my guess is that will still be the primary integration. We have also discussed adding AWS messaging services for SMS.

Do you have any particular suggestion or requirement for SMS services  - if other than Twilio or AWS?

[2019-07-17 17:27] robotdan commented on #223
Thanks for the question @leksa - this is not something that is configured directly in FusionAuth.

Instead you will want to install an SSL certificate in Apache, nginx or your preferred web server to provide a secure connection to your system.  Then you can proxy `https` on port `443` to FusionAuth on port `9011`.

The easiest way to do this is with Let's Encrypt w/ Certbot.
https://letsencrypt.or

[2019-07-17 22:11] kitkan87 opened #225 "Missing State Wordpress error"
Missing State Wordpress Error

I am using OpenID Connect Client plugin for wordpress. The error I get is this.

I have no idea what is missing. All I can figure out is string(14) is missing a state.

[code]

![Screenshot (388)](https://user-images.githubusercontent.com/27042110/61415237-0ae26900-a8e8-11e9-83bb-aaac54a6d0b2.jpg)
![Screenshot (389)](https://user-images.githubusercontent.com/27042110

[2019-07-17 23:02] robotdan commented on #225
Which WP plugin are you using? We can try to recreate.

[2019-07-18 02:17] leksa commented on #223
Thank you for the respons @robotdan.
We will use this suggestion.

[2019-07-18 02:17] #223 closed

[2019-07-18 03:13] robotdan commented on #225
Same issue as https://github.com/daggerhart/openid-connect-generic/issues/90 ?

If this is the plugin you're using, I can try to debug.

[2019-07-18 07:04] kitkan87 commented on #225
Thanks for the tip. I can't believe I missed the thread in[ daggerhard/openid-connect-generic#90](https://github.com/daggerhart/openid-connect-generic/issues/90). I've managed to fix it. I'll post a writeup in #90 on how I fixed it.

[2019-07-18 07:04] #225 closed

[2019-07-18 10:37] botnyx commented on #224
For what its worth:  i did some quick research on mailservers which have an administration-api, and  'Apache James' seems a perfect candidate, as it has a complete crud-api + jwt auth.

[2019-07-18 13:14] robotdan commented on #225
Great, thanks for the update @kitkan87 glad you've got it working now.

For anyone else that encounters this issue @kitkan87 describes the fix in this comment https://github.com/daggerhart/openid-connect-generic/issues/90#issuecomment-512694947.

[2019-07-19 07:00] shubham-root commented on #175
@robotdan thank you for acknowledging the request.
We are currently using an India based service called MSG91 for SMS in our solution.
Though, I'd like to go out and suggest and would love to have a freedom to 'bring-your-own' SMS service too. It might take some work on the developers end to implement the service their solutions but this definitely will make FusionAuth a more inclusive passwordles

[2019-07-19 11:31] Tymek commented on #175
Can't it be solved by just adding a webhook when OTP is requested and an option to disable passwordless email? Correct me if I'm wrong. In the future I'd like to send confirmation codes using chat bots.

[2019-07-19 19:54] robotdan commented on #175
@shubham-root we could review building a plugin interface to allow you to use whatever transport you'd like to send the passwordless code or link. This is a good idea.

@Tymek this is a good idea  - we could just push a webhook that contains the code. This is certainly an option we will consider.

[2019-07-21 17:02] colundrum opened #226 "Email Template : IP of the requested forgot password with timestamp"
## How can I display IP used to request forgot password with timestamp

### Description
I need a markup similar at ${request_forget_email.IP} and ${request_forget_email.tz}

### Workaround
On reverse-proxy before proxy_pass to fusionauth
- inspect POST request to extract email address
- extract IP and timestamp from request on reverse proxy
- reformat a correct log line and Inject into log system

[2019-07-22 11:03] botnyx opened #227 "Retrieve a single Public Key by Key Identifier always returns list of all public keys."
## Retrieve a single Public Key by Key Identifier always returns list of all public keys.

### Description
According to the documentation (https://fusionauth.io/docs/v1/tech/apis/jwt#retrieve-public-keys)
'Retrieve a single Public Key by Key Identifier'  =>  GET /api/jwt/public-key?kid={kid}

Despite setting a kid in the url parameter,  the endpoint always returns all keys.

### Steps to reproduce

[2019-07-22 13:36] robotdan commented on #227
Thanks for letting us know @botnyx - there is a version flag on this API for 1.8.0 which is not yet released.

For now you can retrieve all of them and then select the key you want using a `kid`.

[2019-07-22 14:32] robotdan commented on #226
Thanks for the request @colundrum - if I understand correct you want the following workflow:

1. The user accesses FusionAuth at `/password/forgot` and fills out their email address
2. They receive an email that is generated from the Forgot Password email template

Within that email template you'd like the IP address and timezone (guessed from the browser) from the request so you can optionally re

[2019-07-22 14:48] colundrum commented on #226
Absolutely yes

Thanks a lot

[2019-07-22 18:29] ericher4worximity opened #228 "Documentation error on family APIs"
(Error on the family api documentation)

Description

According to the documentation - see https://fusionauth.io/docs/v1/tech/apis/families - the api paths to the 4 actions (add user to family, retrieve a family, update a family and remove a user from a family) is wrong. We should read `/api/user/family` instead of `/api/family`

[2019-07-22 18:53] ericher4worximity opened #229 "Access to more data from a Lambda?"
## (Access to more data from a Lambda)

### Description
I am actually testing FusionAuth and am currently using Lambda to augment the claims into a JWT. According to the documentation, we have access to the `user` and the `registration`. This is very limited and I'd like to know if there is a way to get access to more data.

To be more specific, it would be really useful to get the name of the use

[2019-07-22 19:20] robotdan commented on #229
Thanks for the request, you haven't missed it - currently the user and the registration the only two objects available to you in the lambda invocation.

[2019-07-22 19:22] robotdan commented on #228
Hi @ericher4worximity thanks for pointing out this error. It will be fixed shortly!

[2019-07-22 19:25] #228 closed

[2019-07-22 19:35] ericher4worximity opened #230 "Add a PATCH user's data"
## (PATCH user's data)

### Problem
Currently, there is only one method to update a user: `PUT`, which represents a full overlay of a user. Our system allows our end users, via our own api, to update a limited set of information about a user (first name, last name, birthdate). To achieve our goal, we are forced to perform a `GET`, merge the input and then `PUT` it. There is sensitive data we have

[2019-07-22 19:37] robotdan commented on #230
Thanks for the request @ericher4worximity - I completely agree, this is on the road map for sure!

Duplicate of https://github.com/FusionAuth/fusionauth-issues/issues/121

[2019-07-22 19:37] #230 closed

[2019-07-22 19:38] ericher4worximity commented on #229
Thanks for the quick response.
Would it complicated to add the group name to the user's membership object, along with its id?

[2019-07-22 19:40] ericher4worximity commented on #229
Concerning the family, what was the resining to not include them in the `user` object available in the lambda invocation? Wouldn't be useful to get the list of families a user belongs to in the lambda invocation? The ids wouldn't be enough tough, it would need a name per family.

[2019-07-22 19:41] ericher4worximity commented on #230
Thanks!

[2019-07-22 19:44] ericher4worximity commented on #228
I'm happy to help!

[2019-07-23 11:28] pentatonicfunk commented on #185
But its only one of them that marked as "required" you can register either without email or without password

[2019-07-23 16:50] robotdan opened #231 "Email subject may not be encoded properly when the OS is not using UTF-8"
## Multi-byte subjects may not be encoded correctly depending upon the OS configuration

### Description
If you specify a multi-byte subject and the underlying operating system that is running the Java VM is not set to a character encoding of UTF-8 or not set at all, it may default to an `ISO-8859_1` encoding.

This will cause the subject to be rendered in an email client as `???`.

[2019-07-24 17:13] robotdan commented on #229
Performance is always a consideration in everything we build, in most cases the family and groups will not be needed.

We can certainly use this feature request to make additional things available to you in the lambda. What we'll likely end up adding is a helper of some sort to ask for these types of things so it can be lazily retrieved so we do not make any additional database requests unless req

[2019-07-24 17:54] voidmain opened #232 "External authentication providers + migration"
## Add the ability to authenticate users via an external provider

### Problem
Currently, FusionAuth requires that all users be migrated from legacy systems into FusionAuth to provide authentication for those users. This isn't always possible or feasible.

### Solution
It would be useful if FusionAuth could determine that a user doesn't exist in its own database and then use an external authentica

[2019-07-25 15:57] joaonice commented on #175
Hi there! Can you return the passwordless `code` on the  `POST /api/passwordless/send` as a workaround?

[2019-07-25 16:07] robotdan commented on #175
Hi @joaonice - Returning the `code` in a response body is the currently planned strategy to resolve this issue. This would be consistent with our Change Password API.

In addition, we may review the two options suggested by @shubham-root  and @Tymek as mentioned above.

[2019-07-26 06:24] petechungtuyco opened #233 "Free Marker error when a slash is added in URL"
## Free Marker error when a slash is added in URL

### Description
As the title suggests, we get an error whenever we add an addition forward-slash in the URL. Is there any workaround we can do or even catch the error?

### Steps to reproduce
Steps to reproduce the behavior:
1. Go to Fusion Auth Login page
2. Add an additional forward-slash in the URL (e.g. /oauth2//authorize)

### Screenshots
htt

[2019-07-26 15:37] haterzlin opened #234 "Installation fails on ubuntu18 and mariadb due to utf8mb4"
## Installation fails on ubuntu18 and mariadb due to utf8mb4

### Description
When I try to install fusionauth on Ubuntu 18.04, installation fails with:
java.sql.SQLSyntaxErrorException: Specified key was too long; max key length is 767 bytes
while trying to create tables in DB. Issue persists despite following instructions on https://fusionauth.io/docs/v1/tech/installation-guide/database

### Ste

[2019-07-26 17:09] user1970869 opened #235 "SAML problems: invalid 'xs:ID', and missing 'protocolSupportEnumeration'"
## SAML problems: invalid 'xs:ID', and missing 'protocolSupportEnumeration'

### Description

Trouble getting FusionAuth as IDP to pass samltest.id. Identical problems encountered with separate Shibboleth SP.

### Steps to reproduce

Steps to reproduce the behavior:
1. Setup FusionAuth
2. Add application
3. Setup SAML with info from [1]
4. View application and copy SAML metadata URL to [2]
5. Get

[2019-07-26 19:23] robotdan commented on #234
There are some known issues with MariaDB, but in general it should work for you.

Do you have the rest of that SQL exception? It looks like there are several issues out there with MariaDB and INNODB.

Such as :
https://github.com/jhipster/generator-jhipster/issues/8604

But I believe this generally would happen when you index a column over 191 characters long. Any column that ends up being index i

[2019-07-26 19:29] robotdan commented on #233
I've been unable to recreate as of yet, do you have any other information that may help?

- FusionAuth version?
- Are you using a custom theme?
- Do you have self service registration enabled?

[2019-07-26 19:42] tyduptyler13 commented on #234
Reproduced the issue, unfortunately the exception is very non specific about which key/column is causing the exception.

[fusionauth-app.log](https://github.com/FusionAuth/fusionauth-issues/files/3437201/fusionauth-app.log)

[2019-07-26 19:52] robotdan commented on #234
The last insert looks to be into `integrations`

[code]

There is no primary key or indexes defined on this table, perhaps MariaDB assumes an index or builds a primary key on this `TEXT` column automatically?

@tyduptyler13 can you do a describe table?

Here is the output in MySQL version `5.7.19`

[code]

[2019-07-26 20:26] robotdan commented on #235
I've got a test fix, I'm going to do some more verification, and then if you're interested I can give you a test.

[2019-07-26 21:06] user1970869 commented on #235
Indeed interested. Thank you.

Aside, we got everything working by, as mentioned previously, by manually editing the metadata provided to the SP:

1. Prepending the ID with _ (underscore) to resolve the first error, and

2. adding in aline with

`<ns2:IDPSSODescriptor protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol">`

just after the ID section to resolve the second error.

Lookin

[2019-07-26 22:38] robotdan commented on #235
BTW - thanks for the great reproduce steps, always makes it easier to debug!

I was able use your steps and recreate the following errors as you've documented as well.

With a patch, I produced the following metadata which passed the validation w/out error.

[code]

I'll post a link to a patched jar shortly for you to test with if you'd like and then this fix will be in the upcoming release.

Than

[2019-07-26 23:35] robotdan commented on #235
To test with the patched jar:

1. Download the ` fusionauth-samlv2-0.2.1.jar`
https://drive.google.com/file/d/1B0V3Z3UL2b_g92C1_91eyA7KBB5hOCYS/view?usp=sharing
2. Replace the existing `fusionauth-samlv2-*.jar` in the `web/WEB-INF/lib` directory. (i.e. remove the existing one, or move it somewhere else, and then copy in the new one)
3. Restart FusionAuth app service

[2019-07-27 04:40] user1970869 commented on #235
Hi,

Would you please change the permission on the linked file in the G Drive to
"anyone with the link can..." or whatever allows download without
requesting access?

Thank you!

On Fri, Jul 26, 2019 at 7:35 PM Daniel DeGroff <notifications@github.com>
wrote:

[2019-07-27 05:00] robotdan commented on #235
Oops, sorry. Try again. I guess "view" access isn't enough for download, I added "edit" permissions.

[2019-07-27 15:03] botnyx commented on #141
Hey there...  i have been trying this too, and no succes with Saml2 or OpenID

But....   generic_oauth2 does work!

<pre>gitlab_rails['omniauth_providers'] = [
    {
     'name' => 'oauth2_generic',
     'app_id' => 'your_client_id',
     'app_secret' => 'your_client_secret',
     'label'=>  'fusionauth-OAUTH2', # display name for this strategy
     'args' => {
       client_options: {
        'si

[2019-07-27 16:59] robotdan commented on #141
Hmm..  looks like with that configuration we could do OpenID Connect, I'll try to set that up and see if I can get it ti work.

[2019-07-28 10:56] pitcons commented on #217
Hello, I have the same issue with docker.

The message on login: "A request to the search index has failed. This error is unexpected. Contact Support."

Symptoms: Space for Elasticsearch was low: "search_1      | [2019-07-28T08:38:33,345][WARN ][o.e.c.r.a.DiskThresholdMonitor] [UuDGgtF] high disk watermark [90%] exceeded on [UuDGgtFxSI2Bqevlo6rcJg][UuDGgtF][/usr/share/elasticsearch/data/nodes/0] f

[2019-07-28 11:13] pitcons commented on #217
So in my case, the problem was in "blocks.read_only" of ElasticSearch.
We disable read_only mode then Fusionauth work was restored.

[2019-07-28 21:13] picklit commented on #232
Since the password needs to be 'clear-text' for the login API, it would make sense to force an https endpoint, and maybe even allow for configuring mutual SSL authentication for improved security Additional assurances against man-in-the-middle attacks would be to support symmetric-key encryption of the password.  The shared secret key would need to be manually configured on both sides of the excha

[2019-07-28 21:56] picklit commented on #234
A workaround may be to enable large prefixes.

set global innodb_large_prefix=on;

[2019-07-29 04:57] haterzlin commented on #234
I tried that before unsuccesfully

[2019-07-29 05:23] petechungtuyco commented on #233
Hi @robotdan

- Fusion Auth version: 1.7.1
- Yes, I am using a custom theme (but even in admin page it does happen. Try **/admin//user**)
- Yes, my self-service registration is enabled

[2019-07-29 08:49] armanatz opened #236 "Allow users to create a new family even if age not provided (-1)"
## Allow users to create a new family even if age not provided (-1)

### Problem
Right now, when trying to create a family, if age is not provided during user creation, the system spits back the error `The user for the id [id] is not old enough to create a family. The minimum configured age is [21] and this user is [-1]`.

Since the application I am creating doesn't require us to know the `Adult`

[2019-07-29 09:12] whiskerch opened #237 "Error creating starting fusionauth in kubernetes"
## (Put bug title here)
ERROR: role already exists when starting kubernetes pods
### Description
A clear and concise description of what the bug is.
I'm attempting to run up an instance of the fusion auth containers (version 1.7.2) in kubernetes.
However, when the fusion auth pod starts, it fails to run the autoconfig with the following error:

[code]

This is a brand new set of pods so there is n

[2019-07-29 12:26] vladyslav2 opened #238 "app will not connect to database with empty root password"
## app will not connect to the database with an empty root password

### Description
I'm using postgres docker image with empty root password.
Apperently its not possible to run an app when root does not have a password.
Everytime I click next I'm getting an error:

<img width="756" alt="Знімок екрана 2019-07-29 о 5 20 45 дп" src="https://user-images.githubusercontent.com/704096/62048173-0c057700-

[2019-07-29 13:37] fabiosimeoni commented on #191
hi @robotdan, same problem when running in `Kubernetes`

yes, the current user is `fusionauth` bu the parent directory `user/local/fusionauth` belongs to `root` in group `staff`, and `other` userss have only `rx` permissions. The `Dockerfile` makes `fusionauth` the owner of other, statically known subdirectories.

[2019-07-29 14:21] vladyslav2 opened #239 "Docker Compose example goes to Silent Configuration Mode Failed. is it problem in elastic search?"
## Docker Compose example goes to Silent Configuration Mode Failed during an attempt to start fusionauth. is it a problem in elastic search?

### Description
Seems like default installation instruction is broken or some of the docker images are not assembled correctly

### Steps to reproduce
1. Start Macos 10.12.6
2. Start docker 2.0.0.3 + docker-compose 1.23.2
3. Use steps from instruction:
https

[2019-07-29 14:57] robotdan commented on #239
Perhaps related to https://github.com/FusionAuth/fusionauth-issues/issues/191

[2019-07-29 15:08] robotdan commented on #239
Because Elastic starts up and binds to a non localhost address, in this case `172.22.0.2` it goes into production mode and performs bootstrap checks.

[code]

One of the bootstrap checks fail and it shuts down.

[code]

In the `.env` file you downloaded it should contain `ES_JAVA_OPTS=-Xms256m -Xmx256m` which sets the min and max heap size to `256m`. This should allow this bootstrap check to pass.

[2019-07-29 15:15] robotdan commented on #238
It shouldn't matter if the root user has an empty password. Can you connect to the database with those credentials using `psql` and using the `-h` option to specify the host ( to test connecting over TCP instead of a local socket)?

Do you have any log output?

[2019-07-29 15:18] robotdan commented on #237
The maintenance mode should tolerate this type of error so that if you provide existing user credentials to the database we continue to use them.

What version of PostgreSQL are you using?

[2019-07-29 15:34] robotdan commented on #236
Thanks for the suggestion @armanatz, we'll review this issue and see what we can do to make this feature more flexible.

In theory we could see that a user does not have a birthdate defined (`-1`) and then allow them to create a family, however if a birthdate is added later we will have an inconsistent state.

Another option as you pointed out is a configuration option to disable age validation fo

[2019-07-29 15:35] robotdan commented on #235
@user1970869 were you able to download the jar and verify it worked as you expect?

[2019-07-29 15:36] robotdan commented on #234
@haterzlin can you do a describe on the `integrations` table as created in MariaDB?

[code]

[2019-07-29 15:41] robotdan commented on #233
Thanks @petechungtuyco that is helpful, I am able to recreate. I'll let you know what I find out.

[2019-07-29 15:55] whiskerch commented on #237
I am using postgreSQL 9.6

I changed the username back to `fusionauth` and this has resolved the issue. I had been using the username `taZdJ2cmDxgsjdT8` when I was having issues

Regards

Chris

[2019-07-29 16:20] vladyslav2 commented on #238
@robotdan
[code]

does work without any problem. And I used my regular postgres docker image which I'm using on other projects.

When I started using your docker compare file I actually pass the first step but got into other issues #172

I'm happy to do more specific tests if you need

[2019-07-29 16:27] vladyslav2 commented on #239
@robotdan, I'm pretty sure I have correct env file, please take a look:

env:
[code]

docker-compose.yml
[code]

Starting docker compose:
[code]

checking logs
[code]

[2019-07-29 16:40] robotdan commented on #233
So the RFC for the URI does indicate `/oauth2//authorize` and `/oauth2/authorize` are discrete URIs. Often times file system resolution will behave properly because most file systems will treat `/` the same as `//`.

In our case we are resolving the first template correctly `/oauth2//authorize` and then when that template attempts to include another one it uses a different resolution strategy that

[2019-07-29 16:45] robotdan commented on #232
Thanks @picklit that is a great suggestion. I agree, it would not be a good idea to implement this via an `http` endpoint.

However, as a general rule, we try not to enforce too many restrictions and instead document best practice. We find many test and integrate on a local workstation before moving to production and requiring https or local SSL certificates can be an additional hurdle for configu

[2019-07-29 17:00] robotdan commented on #239
Strange, it seems to be sort picking up two sets of Java args.

The startup of ES shows

[code]

The `-Xmx1g` I think is coming from your `jvm.options` file, not sure where that is, perhaps shipped with Elasticsearch? And `-Xms256m` is then set again from the `.env` file, I don't know why `-Xmx` isn't showing up twice as well.

So this then makes sense of the error from Elasticsearch, the `256m` a

[2019-07-29 17:07] robotdan commented on #238
I wonder if this is a SCRAM-SHA-256 issue as described here https://github.com/FusionAuth/fusionauth-issues/issues/209?

[2019-07-29 17:08] robotdan commented on #237
Got it thanks! Trying to figure out why the db fails during a statement execution can be tricky.

I've added some additional code to hopefully catch this exception properly, the expected behavior is to ignore users that already exist and continue on.

[2019-07-29 17:12] user1970869 commented on #235
Patch works. Metadata can now be successfully uploaded to samltest.id

However, I can't seem to pass the IdP test [1]. I'll open a separate issue.

Thank you for the quick fix on the metadata!

[2019-07-29 17:12] #235 closed

[2019-07-29 17:14] user1970869 opened #240 "Error testing IdP with samltest.id"
## Errors when testing IdP with smltest.id

### Description

When testing login with the samltest.id service [1], the following occur:

**1.** The url that has to be provided in the test page is not sub-domain.example.com/samlV2/login/###signing-key-id###  that is indicated in FusionAuth admin page under Application --> nameOfApplication --> view --> SAML v2 Integration details --> Login URL. Rath

[2019-07-29 17:17] fabiosimeoni opened #241 "Not enough entropy to generate random"
Hello, am trying to run FusionAuth 1.7..2 in Kubernetes (minikube distro), using also your templates as a guideline.
I'm noticing huge delays right at at the end of startup process, which seem to be the result of a blocking random generator (see `WARNING` below):

[code]

This seems to be a well-known problem, with `Tomcat` in particular. I've tried to set

[code]

on Tomcat's Pod, but it seems to

[2019-07-29 17:25] armanatz commented on #236
@robotdan Thanks for the reply.

The thing is, only a user with an `Adult` role should be able to create a family in theory. So that should mean that we can also do a check if the user creating has that role assigned. Therefore, the onus is on the integrator (i.e. us as developers and not FusionAuth) to ensure that only users with certain roles can create the family regardless of their birth date

[2019-07-29 17:33] kramaswamy7 opened #242 "Logout URL not working"
## Logout URL not working

### Description
Hi all,

In the FusionAuth config for my application, I have placed a URL in the Logout URL field. From my understanding (from https://fusionauth.io/docs/v1/tech/oauth/endpoints#logout), the precedence that is used is firstly the Logout URL from the application, and then from the main system settings.

However, when I try logging out from my application,

[2019-07-29 17:39] robotdan commented on #242
If I understand correctly, you have configured a logout URL for the application (Applications --> OAuth --> Logout URL) and a global Logout URL System Configurations --> OAuth --> Logout URL).

When you call the logout URL by redirecting the browser to `https://{MyServer}/oauth2/logout?client_id={MyClientId}` you are redirected to the global URL instead of the application specific one?

We will al

[2019-07-29 17:47] robotdan commented on #241
Are you running KVM in your k8s configuration?

[2019-07-29 17:49] robotdan commented on #240
What is the error you're getting?

[2019-07-29 17:58] fabiosimeoni commented on #241
running `minikube` on a `hyperkit` driver for macos.

logging in the `minikube` VM:

[code]

which I understand to be very low.

[2019-07-29 18:01] robotdan commented on #241
Not sure there is much I can do about this one, I'll leave it open - perhaps another FusionAuth user has a work around for this.

We hope to be moving to OpenJDK 11 or 12 in the not too distant future - I don't know if their implementation is better or if the cause is directly related to the random generator provided by the underlying OS / hypervisor.

[2019-07-29 18:06] user1970869 commented on #240
Accidentally submitted comment before actually writing anything. It's edited now.

Sorry about that.

[2019-07-29 18:38] kramaswamy7 commented on #242
Hi Dan,

Here's some screenshots with data removed -  let me know if this helps explain.

If I don't put the value in the system setting (despite having one in the app setting), I get directed to:

https://{MyAuthServer}/oauth2/authorize?client_id={ID}&response_type=code&redirect_uri=%2Flogin&state={State}

If I do put that value in the system setting, I get properly directed to the destination.
!

[2019-07-29 18:46] robotdan commented on #242
Can you tell me what the URLs are respectively? You can change any sensitive information - but it would be helpful for me to see the structure of each of the URLs.

For example just change your domain to `example.com` or something like that.

[2019-07-29 18:48] kramaswamy7 commented on #242
The URLs are the same for each - and sure, if we use example.com, they would be https://subdomain.example.com/en/

[2019-07-29 19:30] robotdan commented on #239
It looks like Elasticsearch does pick up both `jvm.options` and `ES_JAVA_OPTS` and this is working as designed. See  https://github.com/elastic/elasticsearch-docker/issues/22#issuecomment-270819028

But in theory the VM should be only accepting the right most defined value which is how Elasticsearch is expecting it to work.

So in theory we should be seeing `-Xms` and `-Xmx` twice, and I think I o

[2019-07-29 19:38] robotdan commented on #241
@fabiosimeoni I think your work around may be correct, how are you passing that to Java?

To get it into the VM running FusionAuth you'll need to either set it in the `fusionauth.properties` file or provide another environment variable.

https://fusionauth.io/docs/v1/tech/installation-guide/docker
https://fusionauth.io/docs/v1/tech/reference/configuration

To use the environment variable you could

[2019-07-29 20:17] fabiosimeoni commented on #241
@robotdan, excellent, this seems to have solved the problem. I should have dug deeper in your docs for that variable.

To give back something, I seem to be having some success also with a modified `fusionauth` image, where I install [Haveged](https://wiki.archlinux.org/index.php/Haveged) to increase the entropy of the container. This seems to be quite en vogue in cloud-native solutions, even thoug

[2019-07-29 21:02] user1970869 opened #243 "Mandatory '/' termination of Authorized redirect URLs for application's Oath configuration"
## Mandatory '/' termination of Authorized redirect URLs for application's Oath configuration

### Description

When configuring Oath for an application we are required to add an / (forward slash) to the "Authorized redirect URLs" in order for FusionAuth to recognize the URL and allow you to add it.

Some applications (e.g. miniOrange's "OAuth Single Sign On - SSO" plugin for WordPress) won't let

[2019-07-29 21:18] robotdan commented on #241
Great, thanks for the example Dockerfile, we'll take a look!

[2019-07-29 21:24] robotdan commented on #191
Per @fabiosimeoni suggestion, we may need to add another directory to the `chown` command?

https://github.com/FusionAuth/fusionauth-containers/blob/master/docker/fusionauth/fusionauth-search/Dockerfile

[code]

If we can figure out what needs to be modified from the example change `# fixes 191` and do it in the last section where we are calling `chown`, that may work. We'll just need to do some t

[2019-07-29 21:28] robotdan commented on #243
Not sure if I follow, are you getting a validation error when trying to save a URL in the UI configuration for authorized redirect depending upon if the URL ends with a `/` or not?

I am able to add URLs with and without an ending `/`.

![image](https://user-images.githubusercontent.com/1148709/62083980-5e708300-b215-11e9-80e5-2e8d2052b2e7.png)

Can you provide me a specific example to test with?

[2019-07-29 21:51] vladyslav2 commented on #239
@robotdan Daniel, honestly, I did not understand much from what you told to me ...

but I played with elastic search for a little bit and found docker image which works, (at least for me)

Please take a look on my pull request above

[2019-07-29 22:00] robotdan commented on #239
To summarize it means what I'm observing is the expected behavior and Java / Elasticsearch should handle the duplicate Java properties on the command line. So if it isn't working there may be an issue with our we are exporting the environment variable in the `docker-compose.yml` example.

I'll take a look at your PR.

[2019-07-29 22:03] user1970869 commented on #243
Entirely my bad. Very sorry. Ignore.

[2019-07-29 22:03] #243 closed

[2019-07-29 22:06] robotdan commented on #239
I'll have to test to verify, but perhaps just changing the way the environment variables are defined in the `search` service will be adequate to fix this issue.

For example, the existing way they are defined in the `docker-compose.yml` is as follows:

[code]

And the way you have it in the PR, the values are defined in YML as an array instead of an object as they are currently.

[code]

[2019-07-30 03:24] petechungtuyco opened #244 "Email Verification fails when using UI"
## Email Verification fails when using UI

### Description
My email verification page redirects to Error 500 page when entering an email.

### Steps to reproduce
Steps to reproduce the behavior:
1. Register to a user.
2. Wait for the email verification to expire and open the link from the email (you should have been asked for an email instead of the success message.
3. Enter a valid email.
4. See

[2019-07-30 05:21] petechungtuyco commented on #233
This error was found by our security team. It's because they don't like showing java stack trace in the frontend. Anyway, we solved this by handling the URL in our nginx. Thank you for your support @robotdan !

[2019-07-30 05:26] robotdan commented on #233
Thanks for the update @petechungtuyco, we should probably handle that error better and return a 404.

I'll keep this issue open to review how we handle this exception and see if we can fail a bit more gracefully.

Thank you for the feedback.

[2019-07-30 06:10] haterzlin commented on #234
@robotdan I suppose last table created was users and next in query was table user_external_ids where id is of type: VARCHAR(191) which is likely cause of error: "max key length is 767 bytes"

[code]

to compare with:

[code]

[2019-07-30 10:05] vladyslav2 commented on #239
@robotdan
yeap, you were right, we can just update the way we describe environments in docker-compose.yaml

and, my guess, if you are using zsh you will not face that problem
so probably its bash related

[2019-07-30 14:08] robotdan commented on #239
Yes, I am using `zsh`. Ok, I'll test it out and then if it looks make the update.

Thanks for the help debugging this issue!

[2019-07-30 15:30] robotdan commented on #234
Any column that ends up as a primary key or has an explicit index we define as `VARCHAR(191)`, the engine should be able to fit that value into the max key length of 767 bytes.  `191 * 4 = 764 bytes`.

I don't yet understand why MariaDB is failing, it is possible it is inferring an index that we did not intend or define. MySQL does this with FK implicitly, so perhaps something like that is going o

[2019-07-30 17:24] robotdan commented on #244
If you're using Docker the logs will be printed to standard out, so you may see it on the console, or via `docker logs`.

If you see a `500` there will be an exception in the log that should help us out.

[2019-07-30 17:26] #239 closed

[2019-07-30 19:44] fabiojvalente opened #245 "Adding or modifying new identity provider causes a 500 error when one application is deactivated"
## Adding or Modifying Identity providers with deactivated application causes error 500

### Description
When adding or modifying settings for identity providers with deactivated applications returns a 500
[code]

### Steps to reproduce
Steps to reproduce the behavior:
1. Add or modify an identity provider (Tested with Google, twitter oauth)
2. Click on submit (the error happens with or without a

[2019-07-30 21:03] robotdan commented on #245
Thanks for reporting @fabiojvalente this will be fixed in the upcoming release.

[2019-07-30 23:12] AlvMF1 opened #246 "Can't create an inactive user"
## Can't create an inactive user

### Description
I'm trying to create a user who's going to be inactive (or locked) at first, so we can run our own approval process. However, they're always active.

### Steps to reproduce
Steps to reproduce the behavior:
1. `POST /api/user` with `{ active: false }`
2. The response returns ` { active: true }`

### Expected behavior
An inactive user. Same problem h

[2019-07-30 23:21] AlvMF1 opened #247 "Password settings per application instead of global"
## Password settings per application instead of global

### Problem
We cannot have different password settings per application.

### Solution
Make password settings configurable per application.

### Alternatives/workarounds
Haven't found one...

### Additional context
We have systems that we'd like to authenticate with FusionAuth to get access tokens and make requests to private endpoints on our

[2019-07-30 23:26] robotdan commented on #247
In the upcoming release - 1.8.0, all of the password settings will be per tenant, but not per application.

In the FusionAuth architecture using password rules per application doesn't make sense because a user and their password are not scoped to an application. In other words a user has a password and it does not change per application.

[2019-07-30 23:28] AlvMF1 commented on #247
I see. So, with that, if instead of two applications under the same tenant I have two tenants, I'd be able to have different password settings?

[2019-07-30 23:38] robotdan commented on #247
That's correct, if you require different password rules you'll have to do that per tenant.

If you want to then create an application per tenant then you would have different password rules for each application.

Tenants separate users and applications into their own namespace.

[2019-07-30 23:45] AlvMF1 commented on #247
Awesome!

[2019-07-30 23:45] #247 closed

[2019-07-30 23:46] robotdan commented on #246
This behavior is expected and working as designed.

The `active` property is not a documented request parameter for the Create User API.
https://fusionauth.io/docs/v1/tech/apis/users#create-a-user

You could create the user and then immediately soft delete the user which will set `active` to `false`.

[2019-07-30 23:48] AlvMF1 commented on #246
You're right, it's not in `Request Body`, but it is in `Example Request JSON`...

[2019-07-30 23:48] #246 closed

[2019-07-30 23:54] robotdan commented on #246
Good catch, I'll fix that.

[2019-07-31 06:09] haterzlin commented on #234
This is nice document describing problem: http://mysql.rjweb.org/doc.php/limits#767_limit_in_innodb_indexes
version with issue: 10.1.40-MariaDB-0ubuntu0.18.04.1 Ubuntu 18.04
version where limit was raised: MariaDB 10.2.2

workaround is to install mysql db instead of mariadb, which version is sufficient in Ubuntu 18

[2019-07-31 11:20] sm-tradeboox opened #248 "Device Management Using Families"
## Managing Multiple Devices for Login

### Problem
Users have multiple devices to log in and use different applications. As the service providers, we need to be able to track and audit usage, and at the same time give users the ability to manage their own devices.

I don't currently see any mechanism that will allow us to do this. We've implemented a group called "Devices" and are considering eve

[2019-07-31 12:15] damienherve opened #249 "NullPointerException using the Google Identity-Provider API"
## NullPointerException using the Google Identity-Provider API

### Description
FusionAuth throws a NullPointerException when using [this request](https://fusionauth.io/docs/v1/tech/apis/identity-providers/google#complete-the-google-login)

### Steps to reproduce
Steps to reproduce the behavior:
1. Get an id_token using the Google API
2. Call the FusionAuth API to try to login with Google (giving

[2019-07-31 14:42] robotdan commented on #234
I don't think we're on the same page yet..  you are correct the InnoDB engine historically has a limit on the index size of `767` bytes.  (Which has been raised in more recent versions) This is why each column that we define in the FusionAuth schema that is a primary key, or has a unique constraint that will cause it to end up in an index is defined as `VARCHAR(191)`. This `191` character limit en

[2019-07-31 14:46] robotdan commented on #249
Thanks for reporting @damienherve this will be fixed in the upcoming release.

[2019-07-31 14:51] robotdan commented on #248
Thanks for the request @sm-tradeboox . This is an area we've been working on, and hope to deliver a feature that will help you with this.

We'll likely deliver it along with the Client Credentials grant and some other IoT related features we're working on. https://github.com/FusionAuth/fusionauth-issues/issues/155

The high level plan is to support a new CRUD on devices - similar to how you're des